openapi: 3.2.0
info:
  title: Salesforce Configuration API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Configuration
paths:
  /apexrest/SBQQ/ServiceRouter:
    parameters: []
    patch:
      tags:
      - Configuration
      summary: Salesforce Configuration Loader Api
      description: 'The Configuration Loader API returns all the data for the product, including its product options and configuration model. When configuring a nested bundle, set the parentProductproperty to the parent product to inherit configuration attributes on the nested bundle.

        Available in: Salesforce CPQ Spring ’17 and later


        https://developer.salesforce.com/docs/atlas.en-us.cpq_dev_api.meta/cpq_dev_api/cpq_api_config_loader.htm'
      operationId: ConfigurationLoaderAPI
      parameters:
      - name: loader
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - SBQQ.ConfigAPI.ConfigLoader
        example: example_value
      - name: uid
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/support/embeddedservice/configuration/{EMBEDDED_SERVICE_CONFIG_DEVELOPERNAME}:
    parameters: []
    get:
      tags:
      - Configuration
      summary: Salesforce Embedded Service Configuration Describe
      description: 'Retrieves the values for your Embedded Service deployment configuration, including the branding colors, font, and site URL.


        You must be logged in to the account that owns the EmbeddedServiceConfigDeveloperName you are querying.'
      operationId: EmbeddedServiceConfigurationDescribe
      parameters:
      - name: EMBEDDED_SERVICE_CONFIG_DEVELOPERNAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
