openapi: 3.2.0
info:
  title: Salesforce Child API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Child
paths:
  /data/v64.0/ui-api/records/{RECORD_ID}/child-relationships/{RELATIONSHIP_NAME}:
    parameters: []
    get:
      tags:
      - Child
      summary: Salesforce Get Child Records
      description: Get child records for a specified record and child relationship name. Relationships are connections between records. On a record detail page, each record in a related list has a child relationship to the parent record.
      operationId: GetChildRecords
      parameters:
      - name: RECORD_ID
        in: path
        description: Record ID
        required: true
        schema:
          type: string
        example: '500123'
      - name: RELATIONSHIP_NAME
        in: path
        description: API name of the relationship
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 27 Sep 2023 15:57:35 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/GetChildRecords'
                - examples:
                  - count: 1
                    currentPageToken: 1;5;001B000000UnQ2wIAF;Contacts;Contact.Id,Contact.Name;
                    currentPageUrl: /services/data/v58.0/ui-api/records/001B000000UnQ2wIAF/child-relationships/Contacts?fields=Contact.Id%2CContact.Name&page=1&pageSize=5
                    nextPageToken: null
                    nextPageUrl: null
                    previousPageToken: null
                    previousPageUrl: null
                    records:
                    - apiName: Contact
                      childRelationships: {}
                      eTag: c3d33add9008aed557a1efa68173aa9b
                      fields:
                        AccountId:
                          displayValue: null
                          value: 001B000000UnQ2wIAF
                        Id:
                          displayValue: null
                          value: 003B00000097MToIAM
                        Name:
                          displayValue: null
                          value: Jack Rogers
                      id: 003B00000097MToIAM
                      lastModifiedById: 005B0000003TOI6IAO
                      lastModifiedDate: '2017-08-18T14:46:22.000Z'
                      recordTypeId: 012000000000000AAA
                      recordTypeInfo: null
                      systemModstamp: '2017-08-18T14:46:22.000Z'
                      weakEtag: 1503067582000
                contentMediaType: application/json;charset=UTF-8
              example:
                count: 1
                currentPageToken: 1;5;001B000000UnQ2wIAF;Contacts;Contact.Id,Contact.Name;
                currentPageUrl: /services/data/v58.0/ui-api/records/001B000000UnQ2wIAF/child-relationships/Contacts?fields=Contact.Id%2CContact.Name&page=1&pageSize=5
                nextPageToken: null
                nextPageUrl: null
                previousPageToken: null
                previousPageUrl: null
                records:
                - apiName: Contact
                  childRelationships: {}
                  eTag: c3d33add9008aed557a1efa68173aa9b
                  fields:
                    AccountId:
                      displayValue: null
                      value: 001B000000UnQ2wIAF
                    Id:
                      displayValue: null
                      value: 003B00000097MToIAM
                    Name:
                      displayValue: null
                      value: Jack Rogers
                  id: 003B00000097MToIAM
                  lastModifiedById: 005B0000003TOI6IAO
                  lastModifiedDate: '2017-08-18T14:46:22.000Z'
                  recordTypeId: 012000000000000AAA
                  recordTypeInfo: null
                  systemModstamp: '2017-08-18T14:46:22.000Z'
                  weakEtag: 1503067582000
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Id8:
      title: Id8
      required:
      - displayValue
      - value
      type: object
      properties:
        displayValue:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type: string
          example: example_value
      examples:
      - displayValue: null
        value: 005B0000003TOI6IAO
    Name21:
      title: Name21
      required:
      - displayValue
      - value
      type: object
      properties:
        displayValue:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type: string
          example: example_value
      examples:
      - displayValue: null
        value: Philippe Ozil
    Fields16:
      title: Fields16
      required:
      - AccountId
      - Id
      - Name
      type: object
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId2'
        Id:
          $ref: '#/components/schemas/Id8'
        Name:
          $ref: '#/components/schemas/Name21'
      examples:
      - AccountId:
          displayValue: null
          value: 001B000000UnQ2wIAF
        Id:
          displayValue: null
          value: 003B00000097MToIAM
        Name:
          displayValue: null
          value: Jack Rogers
    GetChildRecords:
      title: GetChildRecords
      required:
      - count
      - currentPageToken
      - currentPageUrl
      - nextPageToken
      - nextPageUrl
      - previousPageToken
      - previousPageUrl
      - records
      type: object
      properties:
        count:
          type: integer
          contentEncoding: int32
          example: 42
        currentPageToken:
          type: string
          example: CAUQAA
        currentPageUrl:
          type: string
          example: https://www.example.com
        nextPageToken:
          type:
          - string
          - 'null'
          example: CAUQAA
        nextPageUrl:
          type:
          - string
          - 'null'
          example: https://www.example.com
        previousPageToken:
          type:
          - string
          - 'null'
          example: CAUQAA
        previousPageUrl:
          type:
          - string
          - 'null'
          example: https://www.example.com
        records:
          type: array
          items:
            $ref: '#/components/schemas/Records1'
          description: ''
          example: []
      examples:
      - count: 1
        currentPageToken: 1;5;001B000000UnQ2wIAF;Contacts;Contact.Id,Contact.Name;
        currentPageUrl: /services/data/v58.0/ui-api/records/001B000000UnQ2wIAF/child-relationships/Contacts?fields=Contact.Id%2CContact.Name&page=1&pageSize=5
        nextPageToken: null
        nextPageUrl: null
        previousPageToken: null
        previousPageUrl: null
        records:
        - apiName: Contact
          childRelationships: {}
          eTag: c3d33add9008aed557a1efa68173aa9b
          fields:
            AccountId:
              displayValue: null
              value: 001B000000UnQ2wIAF
            Id:
              displayValue: null
              value: 003B00000097MToIAM
            Name:
              displayValue: null
              value: Jack Rogers
          id: 003B00000097MToIAM
          lastModifiedById: 005B0000003TOI6IAO
          lastModifiedDate: '2017-08-18T14:46:22.000Z'
          recordTypeId: 012000000000000AAA
          recordTypeInfo: null
          systemModstamp: '2017-08-18T14:46:22.000Z'
          weakEtag: 1503067582000
    AccountId2:
      title: AccountId2
      required:
      - displayValue
      - value
      type: object
      properties:
        displayValue:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type: string
          example: example_value
      examples:
      - displayValue: null
        value: 001B000000UnQ2wIAF
    Records1:
      title: Records1
      required:
      - apiName
      - childRelationships
      - eTag
      - fields
      - id
      - lastModifiedById
      - lastModifiedDate
      - recordTypeId
      - recordTypeInfo
      - systemModstamp
      - weakEtag
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        childRelationships:
          type: object
          example: example_value
        eTag:
          type: string
          example: example_value
        fields:
          $ref: '#/components/schemas/Fields16'
        id:
          type: string
          example: abc123
        lastModifiedById:
          type: string
          example: '500123'
        lastModifiedDate:
          type: string
          example: example_value
        recordTypeId:
          type: string
          example: '500123'
        recordTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        systemModstamp:
          type: string
          example: example_value
        weakEtag:
          type: integer
          contentEncoding: int64
          example: 10
      examples:
      - apiName: Contact
        childRelationships: {}
        eTag: c3d33add9008aed557a1efa68173aa9b
        fields:
          AccountId:
            displayValue: null
            value: 001B000000UnQ2wIAF
          Id:
            displayValue: null
            value: 003B00000097MToIAM
          Name:
            displayValue: null
            value: Jack Rogers
        id: 003B00000097MToIAM
        lastModifiedById: 005B0000003TOI6IAO
        lastModifiedDate: '2017-08-18T14:46:22.000Z'
        recordTypeId: 012000000000000AAA
        recordTypeInfo: null
        systemModstamp: '2017-08-18T14:46:22.000Z'
        weakEtag: 1503067582000
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
