openapi: 3.2.0
info:
  title: Salesforce Benefits API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Benefits
paths:
  /data/v64.0/connect/loyalty/member/{memberId}/memberbenefits:
    parameters: []
    get:
      tags:
      - Benefits
      summary: Salesforce Member Benefits
      description: 'Standard Documentation:


        [https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_member_benefits.htm](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_member_benefits.htm)'
      operationId: MemberBenefits
      parameters:
      - name: memberId
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 May 2024 16:11:06 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/MemberBenefits'
                - examples:
                  - memberBenefits:
                    - benefitId: 0jiJ80000008OIFIA2
                      benefitName: Free Shipping
                      benefitTypeId: 0jhJ80000008OI5IAM
                      benefitTypeName: Shipping
                      createdRecordId: null
                      createdRecordName: null
                      description: null
                      endDate: null
                      isActive: true
                      memberBenefitStatus: null
                      startDate: null
                    - benefitId: 0jiJ80000008OI5IAM
                      benefitName: 5% of Discount
                      benefitTypeId: 0jhJ80000008OIAIA2
                      benefitTypeName: Discount Percentage
                      createdRecordId: null
                      createdRecordName: null
                      description: null
                      endDate: null
                      isActive: true
                      memberBenefitStatus: null
                      startDate: null
                contentMediaType: application/json;charset=UTF-8
              example:
                memberBenefits:
                - benefitId: 0jiJ80000008OIFIA2
                  benefitName: Free Shipping
                  benefitTypeId: 0jhJ80000008OI5IAM
                  benefitTypeName: Shipping
                  createdRecordId: null
                  createdRecordName: null
                  description: null
                  endDate: null
                  isActive: true
                  memberBenefitStatus: null
                  startDate: null
                - benefitId: 0jiJ80000008OI5IAM
                  benefitName: 5% of Discount
                  benefitTypeId: 0jhJ80000008OIAIA2
                  benefitTypeName: Discount Percentage
                  createdRecordId: null
                  createdRecordName: null
                  description: null
                  endDate: null
                  isActive: true
                  memberBenefitStatus: null
                  startDate: null
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MemberBenefits:
      title: MemberBenefits
      required:
      - memberBenefits
      type: object
      properties:
        memberBenefits:
          type: array
          items:
            $ref: '#/components/schemas/MemberBenefits1'
          description: ''
          example: []
      examples:
      - memberBenefits:
        - benefitId: 0jiJ80000008OIFIA2
          benefitName: Free Shipping
          benefitTypeId: 0jhJ80000008OI5IAM
          benefitTypeName: Shipping
          createdRecordId: null
          createdRecordName: null
          description: null
          endDate: null
          isActive: true
          memberBenefitStatus: null
          startDate: null
        - benefitId: 0jiJ80000008OI5IAM
          benefitName: 5% of Discount
          benefitTypeId: 0jhJ80000008OIAIA2
          benefitTypeName: Discount Percentage
          createdRecordId: null
          createdRecordName: null
          description: null
          endDate: null
          isActive: true
          memberBenefitStatus: null
          startDate: null
    MemberBenefits1:
      title: MemberBenefits1
      required:
      - benefitId
      - benefitName
      - benefitTypeId
      - benefitTypeName
      - createdRecordId
      - createdRecordName
      - description
      - endDate
      - isActive
      - memberBenefitStatus
      - startDate
      type: object
      properties:
        benefitId:
          type: string
          example: '500123'
        benefitName:
          type: string
          example: example_value
        benefitTypeId:
          type: string
          example: '500123'
        benefitTypeName:
          type: string
          example: example_value
        createdRecordId:
          type:
          - string
          - 'null'
          example: '500123'
        createdRecordName:
          type:
          - string
          - 'null'
          example: example_value
        description:
          type:
          - string
          - 'null'
          example: A sample description.
        endDate:
          type:
          - string
          - 'null'
          example: example_value
        isActive:
          type: boolean
          example: true
        memberBenefitStatus:
          type:
          - string
          - 'null'
          example: example_value
        startDate:
          type:
          - string
          - 'null'
          example: example_value
      examples:
      - benefitId: 0jiJ80000008OIFIA2
        benefitName: Free Shipping
        benefitTypeId: 0jhJ80000008OI5IAM
        benefitTypeName: Shipping
        createdRecordId: null
        createdRecordName: null
        description: null
        endDate: null
        isActive: true
        memberBenefitStatus: null
        startDate: null
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
