openapi: 3.2.0
info:
  title: Salesforce Rows API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Rows
paths:
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/{RECORD_ID}:
    parameters: []
    get:
      tags:
      - Rows
      summary: Salesforce Sobject Rows
      description: Accesses records based on the specified object ID. Retrieves, updates, or deletes records. This resource can also be used to retrieve field values. Use the GET method to retrieve records or fields, the DELETE method to delete records, and the PATCH method to update records.
      operationId: SObjectRows
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: RECORD_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Rows
      summary: Salesforce Sobject Rows Update
      description: Accesses records based on the specified object ID. Retrieves, updates, or deletes records. This resource can also be used to retrieve field values. Use the GET method to retrieve records or fields, the DELETE method to delete records, and the PATCH method to update records.
      operationId: SObjectRowsUpdate
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: RECORD_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SObjectRowsUpdateRequest'
              - examples:
                - field API name: value
              contentMediaType: application/json
            example:
              field API name: value
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SObjectRowsUpdateRequest:
      title: SObjectRowsUpdateRequest
      required:
      - field API name
      type: object
      properties:
        field API name:
          type: string
          example: example_value
      examples:
      - field API name: value
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
