openapi: 3.2.0
info:
  title: Salesforce Change API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Change
paths:
  /data/v64.0/tooling/sobjects/EventRelayConfig/{EVENT_RELAY_CONFIG_ID}:
    parameters: []
    patch:
      tags:
      - Change
      summary: Salesforce Change Event Relay State
      operationId: Changeeventrelaystate
      parameters:
      - name: EVENT_RELAY_CONFIG_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: SOAPAction
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - '""'
        example: example_value
      - name: Authorization
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 'Bearer '
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ChangeeventrelaystateRequest'
              - examples:
                - Metadata:
                    state: RUN
              contentMediaType: application/json
            example:
              Metadata:
                state: RUN
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ChangeeventrelaystateRequest:
      title: ChangeeventrelaystateRequest
      required:
      - Metadata
      type: object
      properties:
        Metadata:
          $ref: '#/components/schemas/Metadata13'
      examples:
      - Metadata:
          state: RUN
    Metadata13:
      title: Metadata13
      required:
      - state
      type: object
      properties:
        state:
          type: string
          example: example_value
      examples:
      - state: RUN
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
