openapi: 3.2.0
info:
  title: Salesforce Post API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Post
paths:
  /data/v64.0/tooling/sobjects/{SOBJECT_API_NAME}:
    parameters: []
    post:
      tags:
      - Post
      summary: Salesforce Post Tooling Sobject
      operationId: PostToolingSObject
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PostToolingSObjectRequest'
              - examples:
                - Name: test
              contentMediaType: application/json
            example:
              Name: test
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostToolingSObjectRequest:
      title: PostToolingSObjectRequest
      required:
      - Name
      type: object
      properties:
        Name:
          type: string
          example: Example Title
      examples:
      - Name: test
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
