openapi: 3.2.0
info:
  title: Salesforce Flow API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Flow
paths:
  /data/v64.0/actions/custom/flow/{flowApiName}:
    parameters: []
    post:
      tags:
      - Flow
      summary: Salesforce Launch Flow
      description: Launches an Autolaunched Flow with the supplied input parameters.
      operationId: LaunchFlow
      parameters:
      - name: flowApiName
        in: path
        description: Flow API Name
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/LaunchFlowRequest'
              - examples:
                - inputs:
                  - {}
              contentMediaType: application/json
            example:
              inputs:
              - {}
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LaunchFlowRequest:
      title: LaunchFlowRequest
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          items:
            type: object
          description: ''
          example: []
      examples:
      - inputs:
        - {}
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
