openapi: 3.2.0
info:
  title: Salesforce Sandbox API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Sandbox
  description: Manage sandboxes
paths:
  /data/v64.0/tooling/sobjects/SandboxInfo:
    parameters: []
    post:
      tags:
      - Sandbox
      summary: Salesforce Create/clone Sandbox
      description: Creates or clones a sandbox. If you wish to clone, fill the SourceId body field with the org Id of the source sandbox.
      operationId: Create/CloneSandbox
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateCloneSandboxRequest'
              - examples:
                - SandboxName: devSandbox
                  LicenseType: DEVELOPER
                  TemplateId: null
                  HistoryDays: 0
                  CopyChatter: false
                  AutoActivate: false
                  ApexClassId: null
                  Description: My new fresh sandbox
                  SourceId: null
              contentMediaType: application/json
            example:
              SandboxName: devSandbox
              LicenseType: DEVELOPER
              TemplateId: null
              HistoryDays: 0
              CopyChatter: false
              AutoActivate: false
              ApexClassId: null
              Description: My new fresh sandbox
              SourceId: null
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 11 Dec 2023 10:44:57 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=312/15000
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: /services/data/v59.0/tooling/sobjects/SandboxInfo/0GQ4H000000CxSzWAK
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/CreateSandbox'
                - examples:
                  - id: 0GQ4H000000CxSzWAK
                    success: true
                    errors: []
                    warnings: []
                    infos: []
                contentMediaType: application/json;charset=UTF-8
              example:
                id: 0GQ4H000000CxSzWAK
                success: true
                errors: []
                warnings: []
                infos: []
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateSandbox:
      title: CreateSandbox
      required:
      - id
      - success
      - errors
      - warnings
      - infos
      type: object
      properties:
        id:
          type: string
          example: abc123
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: string
          description: ''
          example: []
        warnings:
          type: array
          items:
            type: string
          description: ''
          example: []
        infos:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - id: 0GQ4H000000CxSzWAK
        success: true
        errors: []
        warnings: []
        infos: []
    CreateCloneSandboxRequest:
      title: CreateCloneSandboxRequest
      required:
      - SandboxName
      - LicenseType
      - TemplateId
      - HistoryDays
      - CopyChatter
      - AutoActivate
      - ApexClassId
      - Description
      - SourceId
      type: object
      properties:
        SandboxName:
          type: string
          example: example_value
        LicenseType:
          type: string
          example: example_value
        TemplateId:
          type:
          - string
          - 'null'
          example: '500123'
        HistoryDays:
          type: integer
          contentEncoding: int32
          example: 10
        CopyChatter:
          type: boolean
          example: true
        AutoActivate:
          type: boolean
          example: true
        ApexClassId:
          type:
          - string
          - 'null'
          example: '500123'
        Description:
          type: string
          example: A sample description.
        SourceId:
          type:
          - string
          - 'null'
          example: '500123'
      examples:
      - SandboxName: devSandbox
        LicenseType: DEVELOPER
        TemplateId: null
        HistoryDays: 0
        CopyChatter: false
        AutoActivate: false
        ApexClassId: null
        Description: My new fresh sandbox
        SourceId: null
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
