openapi: 3.2.0
info:
  title: Salesforce Update API
  description: Find the resources you need to start building.
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Update
paths:
  /data/v64.0/connect/fundraising/commitments/{commitmentId}:
    parameters: []
    patch:
      tags:
      - Update
      summary: Salesforce Update Commitments
      description: 'Modify the schedule or payment instrument metadata on an existing active gift commitment.


        ## Required Attributes:


        - {commitmentId}


        - amount


        - transactionPeriod (Monthly, Weekly, Yearly, etc.)


        - startDate


        - paymentInstrument.type


        All other attributes are optional can be left as an empty string or just removed from the request body entirely. The only exceptions to this are:


        - CustomFields collections - These cannot be left in the request body as an empty collection or with an empty string for the FieldName.


        ## Validated Property Formats (an empty string is considered valid)


        - DateTime - YYYY-MM-DDTHH:MM:SSZ


        - Date - YYYY-MM-DD


        - Email - a valid formatted email address


        ### Other Attributes


        - OutreachSource -- This is optional. Be sure to create the OutreachSourceCode record in the system if passing a value


        - Will accept either an OutreachSourceCode.id (SalesforceId) or an OutreachSourceCode.Code.


        ### Custom Fields


        - The field_value can be a text string (inc. for a date data-type) or a numeric value (without quotes)


        - Do not include an empty collection or an empty fieldName in the request body'
      operationId: UpdateCommitments
      parameters:
      - name: commitmentId
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateCommitmentsRequest'
              - examples:
                - amount: 150.25
                  transactionPeriod: monthly
                  transactionInterval: 3
                  transactionDay: '5'
                  startDate: '2024-07-06T00:00:00.000Z'
                  endDate: '2024-07-06T00:00:00.000Z'
                  campaign:
                    id: <CAMPAIGN_ID>
                  outreachSourceCode:
                    id: <SOURCE_CODE_ID>
                    sourceCode: AnimalEmailCampaign2023
                  donor:
                    donorType: individual
                    organizationName: mini cat town
                    firstName: David
                    lastName: Taylor
                    phone: 510-434-8920
                    email: davidtaylor@salesforce.com
                    address:
                    - addressType: mailing
                      street: 123 Main Street
                      city: Oakland
                      state: CA
                      postalCode: '94610'
                      country: US
                    accountCustomFields:
                    - fieldName: string
                      fieldValue: string
                  paymentInstrument:
                    type: credit card
                    accountHolderName: david taylor
                    expiryMonth: '10'
                    expiryYear: '2026'
                    last4: '4585'
                    cardBrand: visa
                    bankName: chase
                    digitalWalletProvider: apple pay
                    bankAccountHolderType: primary
                    bankAccountType: checking
                    bankAccountNumber: '123456'
                    bankCode: HBUK
                    gatewayName: stripe
                    processorName: classy
                    processorPaymentReference: string
                    gatewayReference: string
                  giftCommitmentCustomFields:
                  - fieldName: string
                    fieldValue: string
                  giftCommitmentScheduleCustomFields:
                  - fieldName: string
                    fieldValue: string
              contentMediaType: application/json
            example:
              amount: 150.25
              transactionPeriod: monthly
              transactionInterval: 3
              transactionDay: '5'
              startDate: '2024-07-06T00:00:00.000Z'
              endDate: '2024-07-06T00:00:00.000Z'
              campaign:
                id: <CAMPAIGN_ID>
              outreachSourceCode:
                id: <SOURCE_CODE_ID>
                sourceCode: AnimalEmailCampaign2023
              donor:
                donorType: individual
                organizationName: mini cat town
                firstName: David
                lastName: Taylor
                phone: 510-434-8920
                email: davidtaylor@salesforce.com
                address:
                - addressType: mailing
                  street: 123 Main Street
                  city: Oakland
                  state: CA
                  postalCode: '94610'
                  country: US
                accountCustomFields:
                - fieldName: string
                  fieldValue: string
              paymentInstrument:
                type: credit card
                accountHolderName: david taylor
                expiryMonth: '10'
                expiryYear: '2026'
                last4: '4585'
                cardBrand: visa
                bankName: chase
                digitalWalletProvider: apple pay
                bankAccountHolderType: primary
                bankAccountType: checking
                bankAccountNumber: '123456'
                bankCode: HBUK
                gatewayName: stripe
                processorName: classy
                processorPaymentReference: string
                gatewayReference: string
              giftCommitmentCustomFields:
              - fieldName: string
                fieldValue: string
              giftCommitmentScheduleCustomFields:
              - fieldName: string
                fieldValue: string
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-UpdateCommitmentSuccess'
                - examples:
                  - success: true
                    links:
                      giftcommitment:
                        href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                        id: <SFDC_GIFT_COMMITMENT_ID>
                      giftcommitmentschedule:
                        href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
                        id: <SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
                contentMediaType: application/json
              example:
                success: true
                links:
                  giftcommitment:
                    href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                    id: <SFDC_GIFT_COMMITMENT_ID>
                  giftcommitmentschedule:
                    href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
                    id: <SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                type: string
                examples:
                - "    // Even if the JSON request is valid, this is an example of a 400 error code that will be returned if duplicate matching rules are not active. Any non 200 error code would have a similar response structure.\n    {\n        \"errorCode\": \"UNKNOWN_EXCEPTION\",\n        \"message\": \"Provide active duplicate matching rules on Account and Person Account for donor matching. -- industries.fundraisingops.connect.impl.validator.ValidatorUtil.validateMatchingMethod(ValidatorUtil.java:103)\"\n    }"
                contentMediaType: application/json
              example: "    // Even if the JSON request is valid, this is an example of a 400 error code that will be returned if duplicate matching rules are not active. Any non 200 error code would have a similar response structure.\n    {\n        \"errorCode\": \"UNKNOWN_EXCEPTION\",\n        \"message\": \"Provide active duplicate matching rules on Account and Person Account for donor matching. -- industries.fundraisingops.connect.impl.validator.ValidatorUtil.validateMatchingMethod(ValidatorUtil.java:103)\"\n    }"
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AccountCustomField:
      title: AccountCustomField
      required:
      - fieldName
      - fieldValue
      type: object
      properties:
        fieldName:
          type: string
          example: example_value
        fieldValue:
          type: string
          example: example_value
      examples:
      - fieldName: string
        fieldValue: string
    GiftCommitmentScheduleCustomField:
      title: GiftCommitmentScheduleCustomField
      required:
      - fieldName
      - fieldValue
      type: object
      properties:
        fieldName:
          type: string
          example: example_value
        fieldValue:
          type: string
          example: example_value
      examples:
      - fieldName: <VALID_CUSTOM_FIELD_API_NAME>
        fieldValue: string
    UpdateCommitmentsRequest:
      title: UpdateCommitmentsRequest
      required:
      - amount
      - transactionPeriod
      - transactionInterval
      - transactionDay
      - startDate
      - endDate
      - campaign
      - outreachSourceCode
      - donor
      - paymentInstrument
      - giftCommitmentCustomFields
      - giftCommitmentScheduleCustomFields
      type: object
      properties:
        amount:
          type: number
          example: 42.5
        transactionPeriod:
          type: string
          example: example_value
        transactionInterval:
          type: integer
          contentEncoding: int32
          example: 10
        transactionDay:
          type: string
          example: example_value
        startDate:
          type: string
          example: example_value
        endDate:
          type: string
          example: example_value
        campaign:
          $ref: '#/components/schemas/Campaign'
        outreachSourceCode:
          $ref: '#/components/schemas/OutreachSourceCode'
        donor:
          $ref: '#/components/schemas/Donor3'
        paymentInstrument:
          $ref: '#/components/schemas/PaymentInstrument'
        giftCommitmentCustomFields:
          type: array
          items:
            $ref: '#/components/schemas/GiftCommitmentCustomField'
          description: ''
          example: []
        giftCommitmentScheduleCustomFields:
          type: array
          items:
            $ref: '#/components/schemas/GiftCommitmentScheduleCustomField'
          description: ''
          example: []
      examples:
      - amount: 150.25
        transactionPeriod: monthly
        transactionInterval: 3
        transactionDay: '5'
        startDate: '2024-07-06T00:00:00.000Z'
        endDate: '2024-07-06T00:00:00.000Z'
        campaign:
          id: <CAMPAIGN_ID>
        outreachSourceCode:
          id: <SOURCE_CODE_ID>
          sourceCode: AnimalEmailCampaign2023
        donor:
          donorType: individual
          organizationName: mini cat town
          firstName: David
          lastName: Taylor
          phone: 510-434-8920
          email: davidtaylor@salesforce.com
          address:
          - addressType: mailing
            street: 123 Main Street
            city: Oakland
            state: CA
            postalCode: '94610'
            country: US
          accountCustomFields:
          - fieldName: string
            fieldValue: string
        paymentInstrument:
          type: credit card
          accountHolderName: david taylor
          expiryMonth: '10'
          expiryYear: '2026'
          last4: '4585'
          cardBrand: visa
          bankName: chase
          digitalWalletProvider: apple pay
          bankAccountHolderType: primary
          bankAccountType: checking
          bankAccountNumber: '123456'
          bankCode: HBUK
          gatewayName: stripe
          processorName: classy
          processorPaymentReference: string
          gatewayReference: string
        giftCommitmentCustomFields:
        - fieldName: string
          fieldValue: string
        giftCommitmentScheduleCustomFields:
        - fieldName: string
          fieldValue: string
    GiftCommitmentCustomField:
      title: GiftCommitmentCustomField
      required:
      - fieldName
      - fieldValue
      type: object
      properties:
        fieldName:
          type: string
          example: example_value
        fieldValue:
          type: string
          example: example_value
      examples:
      - fieldName: <VALID_CUSTOM_FIELD_API_NAME>
        fieldValue: string
    Donor3:
      title: Donor3
      required:
      - donorType
      - organizationName
      - firstName
      - lastName
      - phone
      - email
      - address
      - accountCustomFields
      type: object
      properties:
        donorType:
          type: string
          example: example_value
        organizationName:
          type: string
          example: example_value
        firstName:
          type: string
          example: example_value
        lastName:
          type: string
          example: example_value
        phone:
          type: string
          example: example_value
        email:
          type: string
          example: user@example.com
        address:
          type: array
          items:
            $ref: '#/components/schemas/Address1'
          description: ''
          example: []
        accountCustomFields:
          type: array
          items:
            $ref: '#/components/schemas/AccountCustomField'
          description: ''
          example: 42
      examples:
      - donorType: individual
        organizationName: mini cat town
        firstName: David
        lastName: Taylor
        phone: 510-434-8920
        email: davidtaylor@salesforce.com
        address:
        - addressType: mailing
          street: 123 Main Street
          city: Oakland
          state: CA
          postalCode: '94610'
          country: US
        accountCustomFields:
        - fieldName: string
          fieldValue: string
    OutreachSourceCode:
      title: OutreachSourceCode
      required:
      - id
      - sourceCode
      type: object
      properties:
        id:
          type: string
          example: abc123
        sourceCode:
          type: string
          example: example_value
      examples:
      - id: <SFDC_OUTREACH_SOURCE_CODE_ID>
        sourceCode: AnimalEmailCampaign2023
    Giftcommitmentschedule:
      title: Giftcommitmentschedule
      required:
      - href
      - id
      type: object
      properties:
        href:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
      examples:
      - href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
        id: <SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
    Links11:
      title: Links11
      required:
      - giftcommitment
      - giftcommitmentschedule
      type: object
      properties:
        giftcommitment:
          $ref: '#/components/schemas/Giftcommitment'
        giftcommitmentschedule:
          $ref: '#/components/schemas/Giftcommitmentschedule'
      examples:
      - giftcommitment:
          href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
          id: <SFDC_GIFT_COMMITMENT_ID>
        giftcommitmentschedule:
          href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
          id: <SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
    Address1:
      title: Address1
      required:
      - addressType
      - street
      - city
      - state
      - postalCode
      - country
      type: object
      properties:
        addressType:
          type: string
          example: example_value
        street:
          type: string
          example: example_value
        city:
          type: string
          example: example_value
        state:
          type: string
          example: example_value
        postalCode:
          type: string
          example: example_value
        country:
          type: string
          example: 42
      examples:
      - addressType: mailing
        street: 123 Main Street
        city: Oakland
        state: CA
        postalCode: '94610'
        country: US
    Status200-UpdateCommitmentSuccess:
      title: Status200-UpdateCommitmentSuccess
      required:
      - success
      - links
      type: object
      properties:
        success:
          type: boolean
          example: true
        links:
          $ref: '#/components/schemas/Links11'
      examples:
      - success: true
        links:
          giftcommitment:
            href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
            id: <SFDC_GIFT_COMMITMENT_ID>
          giftcommitmentschedule:
            href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
            id: <SFDC_GIFT_COMMITMENT_SCHEDULE_ID>
    Giftcommitment:
      title: Giftcommitment
      required:
      - href
      - id
      type: object
      properties:
        href:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
      examples:
      - href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
        id: <SFDC_GIFT_COMMITMENT_ID>
    Campaign:
      title: Campaign
      required:
      - id
      type: object
      properties:
        id:
          type: string
          example: abc123
      examples:
      - id: <SFDC_CAMPAIGN_ID>
    PaymentInstrument:
      title: PaymentInstrument
      required:
      - type
      - accountHolderName
      - expiryMonth
      - expiryYear
      - last4
      - cardBrand
      - bankName
      - digitalWalletProvider
      - bankAccountHolderType
      - bankAccountType
      - bankAccountNumber
      - bankCode
      - gatewayName
      - processorName
      - processorPaymentReference
      - gatewayReference
      type: object
      properties:
        type:
          type: string
          example: example_value
        accountHolderName:
          type: string
          example: 42
        expiryMonth:
          type: string
          example: example_value
        expiryYear:
          type: string
          example: example_value
        last4:
          type: string
          example: example_value
        cardBrand:
          type: string
          example: example_value
        bankName:
          type: string
          example: example_value
        digitalWalletProvider:
          type: string
          example: example_value
        bankAccountHolderType:
          type: string
          example: 42
        bankAccountType:
          type: string
          example: 42
        bankAccountNumber:
          type: string
          example: 42
        bankCode:
          type: string
          example: example_value
        gatewayName:
          type: string
          example: example_value
        processorName:
          type: string
          example: example_value
        processorPaymentReference:
          type: string
          example: example_value
        gatewayReference:
          type: string
          example: example_value
      examples:
      - type: credit card
        accountHolderName: test donor
        expiryMonth: '10'
        expiryYear: '2027'
        last4: '4585'
        cardBrand: visa
        bankName: chase
        digitalWalletProvider: apple pay
        bankAccountHolderType: primary
        bankAccountType: checking
        bankAccountNumber: '123456'
        bankCode: HBUK
        gatewayName: stripe
        processorName: test processor
        processorPaymentReference: string
        gatewayReference: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
