openapi: 3.2.0
info:
  title: Salesforce Deletes API
  description: Find the resources you need to start building.
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Deletes
paths:
  /data/v64.0/jobs/query/:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete Job Query
      operationId: DeleteJobQuery
      parameters: []
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 15:08:40 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=23/15000
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/ingest/:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete Job
      operationId: DeleteJob
      parameters: []
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 15:01:36 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=4/15000
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/files/{FILE_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce File Information - Delete
      description: 'Get information about a specified file, including references to external files. Upload a new version of an existing file, including references to external files. Rename a file, move a file to a different folder, and delete a file.

        To upload a new version of an existing file, make a POST request. Upload the new version as a binary part in a multipart/form-data request. See Uploading Binary Files. To upload a new file to the Files home, use /connect/files/users/me.Get information about a specified file, including references to external files.

        https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_files_information.htm'
      operationId: FileInformation-Delete
      parameters:
      - name: FILE_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 16:39:05 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/chatter/feed-elements/{FEED_ELEMENT_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Feed Element - Delete
      description: 'Access, edit, or delete a feed element. Feed items are the only type of feed element that can be edited.


        https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_feed_element_specific.htm'
      operationId: FeedElement-Delete
      parameters:
      - name: FEED_ELEMENT_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Nov 2023 11:13:51 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/chatter/subscriptions/{SUBSCRIPTION_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete Subscription
      description: 'Information about the specified subscription. Also used to delete a subscription, for example, to unfollow a record or a topic.

        A subscription ID is returned as part of the response body for follower and following resources, for example, /records/recordId/followers. In addition, subscriptions IDs are also returned in many summary response bodies, such as group summary or user summary.


        https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_subscriptions.htm'
      operationId: DeleteSubscription
      parameters:
      - name: SUBSCRIPTION_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 0E8...
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Nov 2023 11:34:47 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/business-rules/expression-set/{expressionSetId}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Expression Set Delete
      description: '# Expression Set Retrieve and Delete (DELETE, GET)


        Endpoints to read, and delete expression set.Resource


        ```

        /connect/business-rules/expression-set/${expressionSetId}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/v59.0/connect

        /business-rules/expressionSet/$11Oxx0000006PcLEAU


        ```


        Available version


        58.0


        Requires Chatter


        No


        HTTP methods


        DELETE, GET


        Request body for GET


        Root XML tag


        JSON example


        ```

        {

        "name": "CTX Mapping ES",

        "apiName": "CTX_Mapping_ES_1",

        "description": "...",

        "usageType": "Bre",

        "contextDefinitions": [

        {

        "id": "11Oxx0000006PcLEAU"

        }

        ],

        "versions": [

        {

        "name": "CTX_Mapping_ES_1 V1",

        "apiName": "CTX_Mapping_ES_1_V1",

        "description": "Sample CTX Mapping",

        "startDate": "2022-11-14T20:31:47.000+0000",

        "endDate": "2022-11-14T20:31:47.000+0000",

        "versionNumber": 1,

        "rank": 1,

        "enabled": true,

        "showExplExternally": false,

        "steps": [

        {

        "name": "Condition1",

        "description": "Condition step for conditions w.r.t product",

        "sequenceNumber": 1,

        "resultIncluded": true,

        "stepType": "Condition",

        "conditionExpression": {

        "expression": "productName == ''iPhone'' && productColor == ''Red''",

        "resultParameter": "condition_output__1"

        }

        }

        ],

        "variables": [

        {

        "name": "productName",

        "collection": false,

        "dataType": "Text",

        "description": "productName",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "productColor",

        "collection": false,

        "dataType": "Text",

        "description": "productColor",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "condition_output__1",

        "dataType": "Boolean",

        "description": "condition_output__1",

        "input": false,

        "output": true,

        "resultStep": "Condition1",

        "type": "Variable"

        }

        ]

        }

        ]

        }


        ```


        Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | apiName | String | Unique name of the expression set. | Required | 58.0 |

        | context​Definitions | Context Definition Input | List of context definitions in an expression set. | Optional | 58.0 |

        | description | String | Description of the expression set. | Optional | 58.0 |

        | name | String | Name of the expression set. | Required | 58.0 |

        | usage​Type | String | Usage type of the expression set.


        Valid values are:


        \- AiAccelerator​SubscriberChurn​Prediction—Used for Industries Einstein


        \- Bre—Used for Business Rules Engine


        \- CustomLoyalty—Used for Loyalty Management


        \- DefaultPricing—Used for Pricing Plans in Enterprise Product Catalog (EPC) by Communications Cloud


        \- Qualification—Used for Industries Communications, Media, and Energy (CME)


        \- RecordAlert—Used for Financial Services Cloud


        \- ShipAndDebit—Used for Manufacturing Cloud


        \- TierProcessing—Used for Loyalty Management


        \- TransactionJournal—Used for Loyalty Management


        \- WarrantyClaim—Used for Manufacturing Cloud | Required | 58.0 |

        | versions | Expression Set Version Input\[\] | List of the expression set versions. | Optional | 58.0 |


        Response body for GET


        Expression Set Output'
      operationId: ExpressionSetDelete
      parameters:
      - name: expressionSetId
        in: path
        description: 'Expression Set Id: For Example 9QLHo000000LBjEOAW'
        required: true
        schema:
          type: string
          examples:
          - 9QLHo000000LBjEOA
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:27:12 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:23:24 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-ActiveExpressionCanNotBeDeleted1'
                description: ''
                examples:
                - - errorCode: INVALID_INPUT
                    message: An enabled Expression Set Version cannot be updated/deleted.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_INPUT
                message: An enabled Expression Set Version cannot be updated/deleted.
        '404':
          description: Not Found
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 09:56:59 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status404-RecordNotFound1'
                description: ''
                examples:
                - - errorCode: NOT_FOUND
                    message: The requested resource does not exist
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: NOT_FOUND
                message: The requested resource does not exist
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/business-rules/decision-table/definitions/{decisionTableId}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete Table
      description: '# Decision Table Definitions ( DELETE)


        Delete a decision table definition associated with a decision table.


        Resource


        ```

        /connect/business-rules/decision-table/definitions/${decisionTableId}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/v59.0/connect/business-rules/decision-table/definitions/0lDxx00000002Ur


        ```


        Available version


        58.0


        Requires Chatter


        No


        HTTP methods


        DELETE


        Response body for DELETE


        Decision Table Output


        # Decision Table Output


        Output representation of the decision table details.JSON example for GET, POST, and PATCH


        ```

        {

        "code":"200",

        "decisionTable":{

        "collectOperator":"Count",

        "conditionCriteria":"1 OR 2 OR 3",

        "conditionType":"Any",

        "decisionResultPolicy":"UniqueValues",

        "description":"Eligiblity of Products using Qualification Rules",

        "id":"0lDxx00000000BJ",

        "parameters":[

        {

        "fieldName":"IsDeleted",

        "isGroupByField":false,

        "isPriority":false,

        "operator":"Equals",

        "sequence":1,

        "usage":"Input"

        },

        {

        "fieldName":"CreatedById",

        "isGroupByField":false,

        "isPriority":false,

        "usage":"Output"

        },

        {

        "fieldName":"Title",

        "isGroupByField":false,

        "isPriority":false,

        "operator":"Equals",

        "sequence":3,

        "usage":"Input"

        },

        {

        "fieldName":"Id",

        "isGroupByField":false,

        "isPriority":false,

        "operator":"Equals",

        "sequence":2,

        "usage":"Input"

        }

        ],

        "setupName":"Product Qualificiation eligibility3",

        "sourceCriteria":[


        ],

        "sourceObject":"AccountFeed",

        "sourceType":"SingleSobject",

        "sourceconditionLogic":"1 AND 2 AND 3",

        "status":"Draft"

        },

        "isSuccess":true,

        "message":""

        }


        ```


        JSON example for DELETE


        ```

        {

        "code":"200",

        "isSuccess":true,

        "message":""

        }


        ```


        | Property Name | Type | Description | Filter Group and Version | Available Version |

        | --- | --- | --- | --- | --- |

        | code | String | Response code from the API request. | Small, 58.0 | 58.0 |

        | decisionTable | Decision Table Definition Output | Details of the decision table definition associated with the decision table. | Small, 58.0 | 58.0 |

        | isSuccess | Boolean | Indicates whether the API request is successful (true) or not (false). | Small, 58.0 | 58.0 |

        | message | String | Error message when the API request fails. | Small, 58.0 | 58.0 |'
      operationId: DeleteTable
      parameters:
      - name: decisionTableId
        in: path
        description: Decision Table Id
        required: true
        schema:
          type: string
          examples:
          - 0lDHo0000008Pny
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 13:36:22 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/EventRelayConfig/{EVENT_RELAY_CONFIG_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete Event Relay
      operationId: Deleteeventrelay
      parameters:
      - name: EVENT_RELAY_CONFIG_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 'null'
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/ManagedEventSubscription/{managedEventSubscriptionId}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete Managed Event Subscription
      operationId: Deletemanagedeventsubscription
      parameters:
      - name: managedEventSubscriptionId
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/{RECORD_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Sobject Rows Delete
      description: Accesses records based on the specified object ID. Retrieves, updates, or deletes records. This resource can also be used to retrieve field values. Use the GET method to retrieve records or fields, the DELETE method to delete records, and the PATCH method to update records.
      operationId: SObjectRowsDelete
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: RECORD_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/SandboxInfo/{SANDBOX_INFO_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete Sandbox
      description: Deletes a sandbox.
      operationId: DeleteSandbox
      parameters:
      - name: SANDBOX_INFO_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 15 Dec 2023 13:34:29 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=2/15000
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/ui-api/records/{RECORD_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete a Record
      description: 'Update a record''s data.

        User Interface API enforces Salesforce validation rules. If a validation rule fails, the response is an Error with Output.


        When you make a PATCH request to update a record, make sure that the record hasn’t changed since the user started editing it. To find out whether it’s safe to save a record, pass the If-Modified-Since HTTP header in the request.


        As of API version 43.0, if you pass read-only fields in a request body, the response is an Error with Output.'
      operationId: DeleteaRecord
      parameters:
      - name: RECORD_ID
        in: path
        description: Record ID
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 27 Sep 2023 16:05:14 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/ui-api/favorites/{FAVORITE_ID}:
    parameters: []
    delete:
      tags:
      - Deletes
      summary: Salesforce Delete a Favorite
      description: Get a favorite.
      operationId: DeleteaFavorite
      parameters:
      - name: FAVORITE_ID
        in: path
        description: The ID of a favorite
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 06 Oct 2023 10:09:14 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Status404-RecordNotFound1:
      title: Status404-RecordNotFound1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: NOT_FOUND
        message: The requested resource does not exist
    Status400-ActiveExpressionCanNotBeDeleted1:
      title: Status400-ActiveExpressionCanNotBeDeleted1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_INPUT
        message: An enabled Expression Set Version cannot be updated/deleted.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
