openapi: 3.2.0
info:
  title: Salesforce Compact API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Compact
paths:
  /data/v64.0/compactLayouts:
    parameters: []
    get:
      tags:
      - Compact
      summary: Salesforce Compact Layouts
      description: Returns a list of compact layouts for multiple objects. This resource is available in REST API version 31.0 and later.
      operationId: CompactLayouts
      parameters:
      - name: q
        in: query
        description: object list
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - Account,Contact
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
