openapi: 3.2.0
info:
  title: Salesforce OAUTH API
  description: Find the resources you need to start building.
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: OAuth
paths:
  /services/data/v64.0/apps/oauth/usage:
    parameters: []
    get:
      tags:
      - OAuth
      summary: Salesforce Oauth Usage
      description: Lists all the external client apps for the current org. See OAuth Usage.
      operationId: OAuthUsage
      parameters:
      - name: page
        in: query
        description: Number of the page you want returned. Starts at 0. If you don’t specify a value or if you specify 0, the first page is returned.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 0
        example: 10
      - name: pageSize
        in: query
        description: Number of usage entries per page. Defaults to 100.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 100
        example: 10
      - name: Authorization
        in: header
        description: Replace <token> with your access token
        required: true
        schema:
          type: string
          examples:
          - Bearer <token>
        example: example_value
      responses:
        default:
          description: ''
          headers: {}
          content:
            text/plain:
              schema:
                type: string
                examples:
                - "{\n  \"apps\": [\n    {\n      \"accessTokenFormat\": \"<accessTokenFormat>\",\n      \"availableActions\": \"disable, enable\",\n      \"description\": \"<description>\",\n      \"developerName\": \"<developerName>\",\n      \"identifier\": \"<identifier>\",\n      \"isFromPackage\": bool,\n      \"usageDetailsUrl\": \"/services/data/<version>/apps/oauth/usage/<identifier>/users\"\n    }\n  ],\n  \"currentPageUrl\": \"/services/data/<version>/apps/oauth/usage?page=0&pageSize=100\",\n  \"nextPageUrl\": \"/services/data/<version>/apps/oauth/usage?page=1&pageSize=100\"\n}"
                contentMediaType: text/plain
              example: "{\n  \"apps\": [\n    {\n      \"accessTokenFormat\": \"<accessTokenFormat>\",\n      \"availableActions\": \"disable, enable\",\n      \"description\": \"<description>\",\n      \"developerName\": \"<developerName>\",\n      \"identifier\": \"<identifier>\",\n      \"isFromPackage\": bool,\n      \"usageDetailsUrl\": \"/services/data/<version>/apps/oauth/usage/<identifier>/users\"\n    }\n  ],\n  \"currentPageUrl\": \"/services/data/<version>/apps/oauth/usage?page=0&pageSize=100\",\n  \"nextPageUrl\": \"/services/data/<version>/apps/oauth/usage?page=1&pageSize=100\"\n}"
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /services/data/v64.0/apps/oauth/usage///tokens:
    parameters: []
    delete:
      tags:
      - OAuth
      summary: Salesforce Oauth User Tokens Revoke
      description: Revokes all tokens for a user of the external client app. See Refresh Token by User and App.
      operationId: OAuthUserTokensRevoke
      parameters:
      - name: Authorization
        in: header
        description: Replace <token> with your access token
        required: true
        schema:
          type: string
          examples:
          - Bearer <token>
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /services/data/v64.0/apps/oauth/usage//tokens:
    parameters: []
    delete:
      tags:
      - OAuth
      summary: Salesforce Oauth Tokens Revoke
      description: Revokes all tokens available for the external client app. See Refresh Token by App ID.
      operationId: OAuthTokensRevoke
      parameters:
      - name: Authorization
        in: header
        description: Replace <token> with your access token
        required: true
        schema:
          type: string
          examples:
          - Bearer <token>
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /services/data/v64.0/apps/oauth/usage/tokens/:
    parameters: []
    delete:
      tags:
      - OAuth
      summary: Salesforce Oauth Token Revoke
      description: Revokes one token. See OAuth Refresh Token.
      operationId: OAuthTokenRevoke
      parameters:
      - name: Authorization
        in: header
        description: Replace <token> with your access token
        required: true
        schema:
          type: string
          examples:
          - Bearer <token>
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
