openapi: 3.2.0
info:
  title: Salesforce Events API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Events
paths:
  /data/v64.0/sobjects/{EventApiName}:
    parameters: []
    post:
      tags:
      - Events
      summary: Salesforce Publish Single Event
      operationId: Publishsingleevent
      parameters:
      - name: EventApiName
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - Carbon_Comparison__e
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PublishsingleeventRequest'
              - examples:
                - Annual_Mileage__c: 12000
                  Current_Vehicle__c: Fast car
                  Model_Year__c: 2019
              contentMediaType: application/json
            example:
              Annual_Mileage__c: 12000
              Current_Vehicle__c: Fast car
              Model_Year__c: 2019
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 03 Jul 2023 13:18:20 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=16/15000
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: /services/data/v58.0/sobjects/Sample__e/e00xx0000000001AAA
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Publishsingleevent'
                - examples:
                  - id: e00xx0000000001AAA
                    success: true
                    errors:
                    - statusCode: OPERATION_ENQUEUED
                      message: 234995b6-53b6-4887-93fc-ecd0fac8b36c
                      fields: []
                contentMediaType: application/json;charset=UTF-8
              example:
                id: e00xx0000000001AAA
                success: true
                errors:
                - statusCode: OPERATION_ENQUEUED
                  message: 234995b6-53b6-4887-93fc-ecd0fac8b36c
                  fields: []
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/EventRelayConfig/{EVENT_RELAY_CONFIG_ID}:
    parameters: []
    get:
      tags:
      - Events
      summary: Salesforce Get Event Relay
      operationId: Geteventrelay
      parameters:
      - name: EVENT_RELAY_CONFIG_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 7k2RM000000008ZYAQ
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/query:
    parameters: []
    get:
      tags:
      - Events
      summary: Salesforce List Event Relay Feedback Items
      operationId: Listeventrelayfeedbackitems
      parameters:
      - name: q
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - SELECT FIELDS(ALL) FROM EventRelayFeedback LIMIT 200
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/EventRelayFeedback/{EVENT_RELAY_FEEDBACK_ID}:
    parameters: []
    get:
      tags:
      - Events
      summary: Salesforce Get Event Relay Feedback
      operationId: Geteventrelayfeedback
      parameters:
      - name: EVENT_RELAY_FEEDBACK_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 7k4RM000000008AYAQ
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/event/eventSchema/{SCHEMA_ID}:
    parameters: []
    get:
      tags:
      - Events
      summary: Salesforce Platform Event Schema by Schema Id
      description: Set, reset, or get information about a user password. This resource is available in REST API version 24.0 and later.
      operationId: PlatformEventSchemabySchemaID
      parameters:
      - name: SCHEMA_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/{EVENT_NAME}/eventSchema:
    parameters: []
    get:
      tags:
      - Events
      summary: Salesforce Platform Event Schema by Event Name
      description: Set, reset, or get information about a user password. This resource is available in REST API version 24.0 and later.
      operationId: PlatformEventSchemabyEventName
      parameters:
      - name: EVENT_NAME
        in: path
        description: API Name of the event
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 03 Jul 2023 13:06:08 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=2/15000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PlatformEventSchemabyEventName'
              examples:
                Platformeventschemabyeventname200Example:
                  summary: Default PlatformEventSchemabyEventName 200 response
                  x-microcks-default: true
                  value:
                    name: Example Title
                    namespace: example_value
                    type: example_value
                    fields:
                    - name: Example Title
                      type: example_value
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/ManagedEventSubscription/{managedEventSubscriptionId}:
    parameters: []
    get:
      tags:
      - Events
      summary: Salesforce Get Managed Event Subscription by Id
      operationId: GetmanagedeventsubscriptionbyID
      parameters:
      - name: managedEventSubscriptionId
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Events
      summary: Salesforce Update Managed Event Subscription
      operationId: Updatemanagedeventsubscription
      parameters:
      - name: managedEventSubscriptionId
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdatemanagedeventsubscriptionRequest'
              - examples:
                - FullName: Managed_Sub_OpportunityChangeEvent
                  Metadata:
                    state: STOP
              contentMediaType: application/json
            example:
              FullName: Managed_Sub_OpportunityChangeEvent
              Metadata:
                state: STOP
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/EventLogFile/{id}/LogFile:
    parameters: []
    get:
      tags:
      - Events
      summary: Salesforce Get Event Log File
      operationId: Geteventlogfile
      parameters:
      - name: id
        in: path
        description: Log event Id
        required: true
        schema:
          type: string
          examples:
          - 'null'
        example: abc123
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PublishsingleeventRequest:
      title: PublishsingleeventRequest
      required:
      - Annual_Mileage__c
      - Current_Vehicle__c
      - Model_Year__c
      type: object
      properties:
        Annual_Mileage__c:
          type: integer
          contentEncoding: int32
          example: 10
        Current_Vehicle__c:
          type: string
          example: example_value
        Model_Year__c:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - Annual_Mileage__c: 12000
        Current_Vehicle__c: Fast car
        Model_Year__c: 2019
    UpdatemanagedeventsubscriptionRequest:
      title: UpdatemanagedeventsubscriptionRequest
      required:
      - FullName
      - Metadata
      type: object
      properties:
        FullName:
          type: string
          example: example_value
        Metadata:
          $ref: '#/components/schemas/Metadata13'
      examples:
      - FullName: Managed_Sub_OpportunityChangeEvent
        Metadata:
          state: STOP
    Field5:
      title: Field5
      required:
      - name
      - type
      type: object
      properties:
        name:
          type: string
          example: Example Title
        type:
          oneOf:
          - type: array
            items:
              type: string
          - type: array
            items:
              type: string
          example: example_value
        doc:
          type: string
          example: example_value
        default:
          type:
          - string
          - 'null'
          example: example_value
    Metadata13:
      title: Metadata13
      required:
      - state
      type: object
      properties:
        state:
          type: string
          example: example_value
      examples:
      - state: RUN
    Field4:
      title: Field4
      required:
      - name
      - type
      - doc
      type: object
      properties:
        name:
          type: string
          example: Example Title
        type:
          oneOf:
          - type: array
            items:
              type: string
          - type: array
            items:
              type: string
          example: example_value
        doc:
          type: string
          example: example_value
        default:
          type:
          - string
          - 'null'
          example: example_value
    Field2:
      title: Field2
      required:
      - name
      - type
      type: object
      properties:
        name:
          type: string
          example: Example Title
        type:
          oneOf:
          - $ref: '#/components/schemas/Type'
          - type: string
          example: example_value
    Type1:
      title: Type1
      type: object
      properties:
        type:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        doc:
          type: string
          example: example_value
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field4'
          description: ''
          example: []
    Errors7:
      title: Errors7
      required:
      - statusCode
      - message
      - fields
      type: object
      properties:
        statusCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
        fields:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - statusCode: OPERATION_ENQUEUED
        message: 234995b6-53b6-4887-93fc-ecd0fac8b36c
        fields: []
    PlatformEventSchemabyEventName:
      title: PlatformEventSchemabyEventName
      required:
      - name
      - namespace
      - type
      - fields
      type: object
      properties:
        name:
          type: string
          example: Example Title
        namespace:
          type: string
          example: example_value
        type:
          type: string
          example: example_value
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field2'
          description: ''
          example: []
    Type11:
      title: Type11
      required:
      - type
      - name
      - doc
      - fields
      type: object
      properties:
        type:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        doc:
          type: string
          example: example_value
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field5'
          description: ''
          example: []
    Type:
      title: Type
      type: object
      properties:
        type:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        namespace:
          type: string
          example: example_value
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field3'
          description: ''
          example: []
    Field3:
      title: Field3
      required:
      - name
      - type
      type: object
      properties:
        name:
          type: string
          example: Example Title
        type:
          oneOf:
          - $ref: '#/components/schemas/Type1'
          - $ref: '#/components/schemas/Type11'
          example: example_value
    Publishsingleevent:
      title: Publishsingleevent
      required:
      - id
      - success
      - errors
      type: object
      properties:
        id:
          type: string
          example: abc123
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Errors7'
          description: ''
          example: []
      examples:
      - id: e00xx0000000001AAA
        success: true
        errors:
        - statusCode: OPERATION_ENQUEUED
          message: 234995b6-53b6-4887-93fc-ecd0fac8b36c
          fields: []
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
