openapi: 3.2.0
info:
  title: Salesforce Exchange API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Exchange
paths:
  /services/oauth2/token:
    parameters: []
    post:
      tags:
      - Exchange
      summary: Salesforce Registration - Token Exchange
      description: This exchanges the auth code returned in the Authorize Request for an access token and refresh token. This follows the standard Auth Code flow/Webserver Code Flow pattern. The Code is the return form the Authorization call.
      operationId: Registration-TokenExchange
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - code
              - grant_type
              - client_id
              - redirect_uri
              type: object
              properties:
                code:
                  type: string
                  description: Auth Code from the Authorize response
                  examples:
                  - <code>
                grant_type:
                  type: string
                  examples:
                  - authorization_code
                client_id:
                  type: string
                  examples:
                  - '{{vault:salesforce-consumer-key}}'
                redirect_uri:
                  type: string
              contentMediaType: application/x-www-form-urlencoded
            examples:
              RegistrationTokenexchangeRequestExample:
                summary: Default Registration-TokenExchange request
                x-microcks-default: true
                value:
                  code: example_value
                  grant_type: example_value
                  client_id: '500123'
                  redirect_uri: example_value
        required: false
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
