openapi: 3.2.0
info:
  title: Salesforce Predict API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Predict
paths:
  /data/v64.0/smartdatadiscovery/predict:
    parameters: []
    post:
      tags:
      - Predict
      summary: Salesforce Predict
      description: Get available prediction definitions.
      operationId: Predict
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PredictRequest'
              - examples:
                - predictionDefinition: <PREDICTION_DEFINITION_ID>
                  type: RawData
                  columnNames:
                  - Quantity
                  - Category
                  - Sub_Category
                  - Sales
                  - Profit_per_Order
                  rows:
                  - - '2'
                    - Furniture
                    - Chairs
                    - '300'
                    - '10'
              contentMediaType: application/json
            example:
              predictionDefinition: <PREDICTION_DEFINITION_ID>
              type: RawData
              columnNames:
              - Quantity
              - Category
              - Sub_Category
              - Sales
              - Profit_per_Order
              rows:
              - - '2'
                - Furniture
                - Chairs
                - '300'
                - '10'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 04 Mar 2021 13:53:39 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=31536002; includeSubDomains
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=86400, report-uri="https://a.forcesslreports.com/Expect-CT-report/00D5Y000001crJvm"
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Predict'
                - examples:
                  - predictionDefinition: 1OR5Y0000010ws8
                    predictions:
                    - model:
                        id: 1Ot5Y0000010wzNSAQ
                      prediction:
                        middleValues: []
                        total: 88.5249425554759
                      prescriptions: []
                      status: Success
                    settings:
                      maxMiddleValues: 0
                      maxPrescriptions: 0
                      prescriptionImpactPercentage: 0
                contentMediaType: application/json;charset=UTF-8
              example:
                predictionDefinition: 1OR5Y0000010ws8
                predictions:
                - model:
                    id: 1Ot5Y0000010wzNSAQ
                  prediction:
                    middleValues: []
                    total: 88.5249425554759
                  prescriptions: []
                  status: Success
                settings:
                  maxMiddleValues: 0
                  maxPrescriptions: 0
                  prescriptionImpactPercentage: 0
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Model:
      title: Model
      required:
      - id
      type: object
      properties:
        id:
          type: string
          example: abc123
      examples:
      - id: 1Ot5Y0000010wzNSAQ
    Settings:
      title: Settings
      required:
      - maxMiddleValues
      - maxPrescriptions
      - prescriptionImpactPercentage
      type: object
      properties:
        maxMiddleValues:
          type: integer
          contentEncoding: int32
          example: 10
        maxPrescriptions:
          type: integer
          contentEncoding: int32
          example: 10
        prescriptionImpactPercentage:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - maxMiddleValues: 0
        maxPrescriptions: 0
        prescriptionImpactPercentage: 0
    Prediction1:
      title: Prediction1
      required:
      - middleValues
      - total
      type: object
      properties:
        middleValues:
          type: array
          items:
            type: string
          description: ''
          example: []
        total:
          type: number
          example: 42
      examples:
      - middleValues: []
        total: 88.5249425554759
    PredictRequest:
      title: PredictRequest
      required:
      - predictionDefinition
      - type
      - columnNames
      - rows
      type: object
      properties:
        predictionDefinition:
          type: string
          example: example_value
        type:
          type: string
          example: example_value
        columnNames:
          type: array
          items:
            type: string
          description: ''
          example: []
        rows:
          type: array
          items:
            type: array
            items:
              type: string
          example: []
      examples:
      - predictionDefinition: <PREDICTION_DEFINITION_ID>
        type: RawData
        columnNames:
        - Quantity
        - Category
        - Sub_Category
        - Sales
        - Profit_per_Order
        rows:
        - - '2'
          - Furniture
          - Chairs
          - '300'
          - '10'
    Prediction:
      title: Prediction
      required:
      - model
      - prediction
      - prescriptions
      - status
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Model'
        prediction:
          $ref: '#/components/schemas/Prediction1'
        prescriptions:
          type: array
          items:
            type: string
          description: ''
          example: []
        status:
          type: string
          example: example_value
      examples:
      - model:
          id: 1Ot5Y0000010wzNSAQ
        prediction:
          middleValues: []
          total: 88.5249425554759
        prescriptions: []
        status: Success
    Predict:
      title: Predict
      required:
      - predictionDefinition
      - predictions
      - settings
      type: object
      properties:
        predictionDefinition:
          type: string
          example: example_value
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          description: ''
          example: []
        settings:
          $ref: '#/components/schemas/Settings'
      examples:
      - predictionDefinition: 1OR5Y0000010ws8
        predictions:
        - model:
            id: 1Ot5Y0000010wzNSAQ
          prediction:
            middleValues: []
            total: 88.5249425554759
          prescriptions: []
          status: Success
        settings:
          maxMiddleValues: 0
          maxPrescriptions: 0
          prescriptionImpactPercentage: 0
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
