openapi: 3.2.0
info:
  title: Salesforce Integration API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Integration
paths:
  /apexrest/{NAMESPACE}/v1/integrationprocedure/{TYPE_SUBTYPE}:
    parameters: []
    post:
      tags:
      - Integration
      summary: Salesforce Integration Procedure Invocation Using Post
      operationId: IntegrationProcedureInvocationUsingPOST
      parameters:
      - name: NAMESPACE
        in: path
        description: The namespace is `omnistudio`, `vlocity_ins`, `vlocity_cmt`, or `vlocity_ps`
        required: true
        schema:
          type: string
        example: example_value
      - name: TYPE_SUBTYPE
        in: path
        description: Type and SubType of the Integration Procedure separated by an underscore.
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
