openapi: 3.2.0
info:
  title: Salesforce Add API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Add
paths:
  /data/v64.0/commerce/webstores//carts/{webCartId}/cart-items:
    parameters: []
    post:
      tags:
      - Add
      summary: Salesforce Add an Item to a Cart
      operationId: Addanitemtoacart
      parameters:
      - name: effectiveAccountId
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - <EFFECTiVE_ACCOUNT_ID>
        example: '500123'
      - name: webCartId
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 'null'
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddanitemtoacartRequest'
              - examples:
                - productId: <PRODUCT-ID>
                  quantity: 3
                  type: Product
              contentMediaType: application/json
            example:
              productId: <PRODUCT-ID>
              quantity: 3
              type: Product
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/PlatformEventChannelMember/{PLATFORM_EVENT_CHANNEL_MEMBER_ID}:
    parameters: []
    patch:
      tags:
      - Add
      summary: Salesforce Add Enriched Fields to Channel Member
      operationId: Addenrichedfieldstochannelmember
      parameters:
      - name: PLATFORM_EVENT_CHANNEL_MEMBER_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddenrichedfieldstochannelmemberRequest'
              - examples:
                - FullName: Account_Channel_chn_AccountChangeEvent
                  Metadata:
                    enrichedFields:
                    - name: External_Account_ID__c
                    eventChannel: Account_Channel__chn
                    selectedEntity: AccountChangeEvent
              contentMediaType: application/json
            example:
              FullName: Account_Channel_chn_AccountChangeEvent
              Metadata:
                enrichedFields:
                - name: External_Account_ID__c
                eventChannel: Account_Channel__chn
                selectedEntity: AccountChangeEvent
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AddanitemtoacartRequest:
      title: AddanitemtoacartRequest
      required:
      - productId
      - quantity
      - type
      type: object
      properties:
        productId:
          type: string
          example: '500123'
        quantity:
          type: integer
          contentEncoding: int32
          example: 10
        type:
          type: string
          example: example_value
      examples:
      - productId: <PRODUCT-ID>
        quantity: 3
        type: Product
    Metadata2:
      title: Metadata2
      required:
      - enrichedFields
      - eventChannel
      - selectedEntity
      type: object
      properties:
        enrichedFields:
          type: array
          items:
            $ref: '#/components/schemas/EnrichedField'
          description: ''
          example: []
        eventChannel:
          type: string
          example: example_value
        selectedEntity:
          type: string
          example: example_value
      examples:
      - enrichedFields:
        - name: External_Account_ID__c
        eventChannel: Account_Channel__chn
        selectedEntity: AccountChangeEvent
    EnrichedField:
      title: EnrichedField
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: Example Title
      examples:
      - name: External_Account_ID__c
    AddenrichedfieldstochannelmemberRequest:
      title: AddenrichedfieldstochannelmemberRequest
      required:
      - FullName
      - Metadata
      type: object
      properties:
        FullName:
          type: string
          example: example_value
        Metadata:
          $ref: '#/components/schemas/Metadata2'
      examples:
      - FullName: Account_Channel_chn_AccountChangeEvent
        Metadata:
          enrichedFields:
          - name: External_Account_ID__c
          eventChannel: Account_Channel__chn
          selectedEntity: AccountChangeEvent
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
