openapi: 3.2.0
info:
  title: Salesforce Appointment API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Appointment
paths:
  /data/v64.0/scheduling/getAppointmentSlots:
    parameters: []
    post:
      tags:
      - Appointment
      summary: Salesforce Get Appointment Slots
      description: 'Returns a list of available appointment time slots for a resource based on given work type group and territories.


        https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/requests_ls_getappointmentslots.htm'
      operationId: GetAppointmentSlots
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAppointmentSlotsRequest'
              - examples:
                - startTime: string
                  endTime: string
                  workTypeGroupId: string
                  workType: Work Type
                  accountId: string
                  territoryIds: string[]
                  requiredResourceIds: string[]
                  schedulingPolicyId: string
                  allowConcurrentScheduling: boolean
              contentMediaType: application/json
            example:
              startTime: string
              endTime: string
              workTypeGroupId: string
              workType: Work Type
              accountId: string
              territoryIds: string[]
              requiredResourceIds: string[]
              schedulingPolicyId: string
              allowConcurrentScheduling: boolean
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/scheduling/getAppointmentCandidates:
    parameters: []
    post:
      tags:
      - Appointment
      summary: Salesforce Get Appointment Candidates
      description: 'Returns a list of available service resources (appointment candidates) based on work type group and service territories.


        https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/requests_ls_getappointmentcandidates.htm'
      operationId: GetAppointmentCandidates
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAppointmentCandidatesRequest'
              - examples:
                - startTime: string
                  endTime: string
                  workTypeGroupId: string
                  workType: Work Type
                  accountId: string
                  territoryIds: string[]
                  requiredResourceIds: string[]
                  schedulingPolicyId: string
                  allowConcurrentScheduling: boolean
              contentMediaType: application/json
            example:
              startTime: string
              endTime: string
              workTypeGroupId: string
              workType: Work Type
              accountId: string
              territoryIds: string[]
              requiredResourceIds: string[]
              schedulingPolicyId: string
              allowConcurrentScheduling: boolean
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GetAppointmentSlotsRequest:
      title: GetAppointmentSlotsRequest
      required:
      - startTime
      - endTime
      - workTypeGroupId
      - workType
      - accountId
      - territoryIds
      - requiredResourceIds
      - schedulingPolicyId
      - allowConcurrentScheduling
      type: object
      properties:
        startTime:
          type: string
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          example: '2026-01-15T10:30:00Z'
        workTypeGroupId:
          type: string
          example: '500123'
        workType:
          type: string
          example: example_value
        accountId:
          type: string
          example: '500123'
        territoryIds:
          type: string
          example: example_value
        requiredResourceIds:
          type: string
          example: example_value
        schedulingPolicyId:
          type: string
          example: '500123'
        allowConcurrentScheduling:
          type: string
          example: example_value
      examples:
      - startTime: string
        endTime: string
        workTypeGroupId: string
        workType: Work Type
        accountId: string
        territoryIds: string[]
        requiredResourceIds: string[]
        schedulingPolicyId: string
        allowConcurrentScheduling: boolean
    GetAppointmentCandidatesRequest:
      title: GetAppointmentCandidatesRequest
      required:
      - startTime
      - endTime
      - workTypeGroupId
      - workType
      - accountId
      - territoryIds
      - requiredResourceIds
      - schedulingPolicyId
      - allowConcurrentScheduling
      type: object
      properties:
        startTime:
          type: string
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          example: '2026-01-15T10:30:00Z'
        workTypeGroupId:
          type: string
          example: '500123'
        workType:
          type: string
          example: example_value
        accountId:
          type: string
          example: '500123'
        territoryIds:
          type: string
          example: example_value
        requiredResourceIds:
          type: string
          example: example_value
        schedulingPolicyId:
          type: string
          example: '500123'
        allowConcurrentScheduling:
          type: string
          example: example_value
      examples:
      - startTime: string
        endTime: string
        workTypeGroupId: string
        workType: Work Type
        accountId: string
        territoryIds: string[]
        requiredResourceIds: string[]
        schedulingPolicyId: string
        allowConcurrentScheduling: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
