openapi: 3.2.0
info:
  title: Salesforce Table API
  description: Find the resources you need to start building.
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Table
paths:
  /data/v64.0/connect/business-rules/decision-matrices/{matrixUniqueName}:
    parameters: []
    post:
      tags:
      - Table
      summary: Salesforce Lookup Table
      description: '# Decision Matrix (Lookup Table)


        Performs a lookup on decision matrix rows based on the input values provided, and returns the row’s output.Resource


        ```

        /connect/business-rules/decision-matrices/${matrixName}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/vXX.X/connect

        /business-rules/decision-matrices/InsurancePremium


        ```


        Available version


        55.0


        Requires Chatter


        No


        HTTP methods


        POST


        Request body for POST


        JSON example


        ```

        {

        "inputs": [

        {

        "input": [

        {

        "name": "premium",

        "value": "2400"

        }

        ]

        }

        ],

        "options": {

        "effectiveDate": "2022-12-03T10:15:30Z"

        }

        }


        ```


        Here, premium is a column header in the matrix, and 2400 is a value of a cell in the column.Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | inputs | Decision Matrix Input | List of inputs passed to a decision matrix. An input may contain multiple variables. | Required | 55.0 |

        | options | Decision Matrix Options Input | The lookup options for a decision matrix. | Optional | 55.0 |


        Response body for POST


        Decision Matrix Lookup Result'
      operationId: LookupTable
      parameters:
      - name: matrixUniqueName
        in: path
        description: The value of Unique Name is the unique identifier of the record, which is sourced from the name of a decision matrix.
        required: true
        schema:
          type: string
          examples:
          - myDecisionMatrix
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/LookupTableRequest'
              - examples:
                - inputs:
                  - input:
                    - name: myColumnInput
                      value: One
                  options: {}
              contentMediaType: application/json
            example:
              inputs:
              - input:
                - name: myColumnInput
                  value: One
              options: {}
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 12:12:26 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status201-AcceptedButWarning'
                - examples:
                  - outputs:
                    - error: Looks like there isn’t any output for the specified input parameters in the lookup table.
                      results: []
                contentMediaType: application/json;charset=UTF-8
              example:
                outputs:
                - error: Looks like there isn’t any output for the specified input parameters in the lookup table.
                  results: []
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 11:50:19 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-MatrixNotFound1'
                description: ''
                examples:
                - - errorCode: INVALID_INPUT
                    message: Specify a valid matrixName and try again.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_INPUT
                message: Specify a valid matrixName and try again.
        '401':
          description: Unauthorized
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 11:49:04 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            WWW-Authenticate:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Token
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status401-Unauthorized1'
                description: ''
                examples:
                - - message: Session expired or invalid
                    errorCode: INVALID_SESSION_ID
                contentMediaType: application/json;charset=UTF-8
              example:
              - message: Session expired or invalid
                errorCode: INVALID_SESSION_ID
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/business-rules/decision-table/definitions/{decisionTableId}:
    parameters: []
    patch:
      tags:
      - Table
      summary: Salesforce Update Table
      description: '# Decision Table Definitions ( DELETE)


        Delete a decision table definition associated with a decision table.


        Resource


        ```

        /connect/business-rules/decision-table/definitions/${decisionTableId}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/v59.0/connect/business-rules/decision-table/definitions/0lDxx00000002Ur


        ```


        Available version


        58.0


        Requires Chatter


        No


        HTTP methods


        DELETE


        Response body for DELETE


        Decision Table Output


        # Decision Table Output


        Output representation of the decision table details.JSON example for GET, POST, and PATCH


        ```

        {

        "code":"200",

        "decisionTable":{

        "collectOperator":"Count",

        "conditionCriteria":"1 OR 2 OR 3",

        "conditionType":"Any",

        "decisionResultPolicy":"UniqueValues",

        "description":"Eligiblity of Products using Qualification Rules",

        "id":"0lDxx00000000BJ",

        "parameters":[

        {

        "fieldName":"IsDeleted",

        "isGroupByField":false,

        "isPriority":false,

        "operator":"Equals",

        "sequence":1,

        "usage":"Input"

        },

        {

        "fieldName":"CreatedById",

        "isGroupByField":false,

        "isPriority":false,

        "usage":"Output"

        },

        {

        "fieldName":"Title",

        "isGroupByField":false,

        "isPriority":false,

        "operator":"Equals",

        "sequence":3,

        "usage":"Input"

        },

        {

        "fieldName":"Id",

        "isGroupByField":false,

        "isPriority":false,

        "operator":"Equals",

        "sequence":2,

        "usage":"Input"

        }

        ],

        "setupName":"Product Qualificiation eligibility3",

        "sourceCriteria":[


        ],

        "sourceObject":"AccountFeed",

        "sourceType":"SingleSobject",

        "sourceconditionLogic":"1 AND 2 AND 3",

        "status":"Draft"

        },

        "isSuccess":true,

        "message":""

        }


        ```


        JSON example for DELETE


        ```

        {

        "code":"200",

        "isSuccess":true,

        "message":""

        }


        ```


        | Property Name | Type | Description | Filter Group and Version | Available Version |

        | --- | --- | --- | --- | --- |

        | code | String | Response code from the API request. | Small, 58.0 | 58.0 |

        | decisionTable | Decision Table Definition Output | Details of the decision table definition associated with the decision table. | Small, 58.0 | 58.0 |

        | isSuccess | Boolean | Indicates whether the API request is successful (true) or not (false). | Small, 58.0 | 58.0 |

        | message | String | Error message when the API request fails. | Small, 58.0 | 58.0 |'
      operationId: UpdateTable
      parameters:
      - name: decisionTableId
        in: path
        description: Decision Table Id
        required: true
        schema:
          type: string
          examples:
          - 0lDHo0000008Po3
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateTableRequest'
              - examples:
                - setupName: Product Qualificiation eligibility
                  fullName: ProductQualificationEligibility
                  description: Eligiblity of Products using Qualification Rules
                  usageType: ProductEligibility
                  sourceType: SingleSobject
                  sourceObject: AccountFeed
                  status: Draft
                  decisionResultPolicy: UniqueValues
                  collectOperator: Count
                  conditionType: Any
                  conditionCriteria: 1 OR 2 OR 3
                  parameters:
                  - fieldName: IsDeleted
                    usage: INPUT
                    operator: Equals
                    sequence: '1'
                  - fieldName: Id
                    usage: INPUT
                    operator: Equals
                    sequence: '2'
                  - fieldName: Title
                    usage: INPUT
                    operator: Equals
                    sequence: '3'
                  - fieldName: CreatedById
                    usage: OUTPUT
              contentMediaType: application/json
            example:
              setupName: Product Qualificiation eligibility
              fullName: ProductQualificationEligibility
              description: Eligiblity of Products using Qualification Rules
              usageType: ProductEligibility
              sourceType: SingleSobject
              sourceObject: AccountFeed
              status: Draft
              decisionResultPolicy: UniqueValues
              collectOperator: Count
              conditionType: Any
              conditionCriteria: 1 OR 2 OR 3
              parameters:
              - fieldName: IsDeleted
                usage: INPUT
                operator: Equals
                sequence: '1'
              - fieldName: Id
                usage: INPUT
                operator: Equals
                sequence: '2'
              - fieldName: Title
                usage: INPUT
                operator: Equals
                sequence: '3'
              - fieldName: CreatedById
                usage: OUTPUT
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 14:02:00 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-Success2'
                - examples:
                  - code: '200'
                    isSuccess: true
                    message: ''
                contentMediaType: application/json;charset=UTF-8
              example:
                code: '200'
                isSuccess: true
                message: ''
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/business-rules/decision-table/{decisionTableId}:
    parameters: []
    post:
      tags:
      - Table
      summary: Salesforce Lookup Table
      description: '# Decision Table (Lookup Table)


        Performs a lookup on a decision table.Resource


        ```

        /connect/business-rules/decision-table/${decisionTableId}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/v55.0/connect

        /decision-table/0lDB0000000TNQzMAO


        ```


        Available version


        55.0


        Requires Chatter


        No


        HTTP methods


        POST


        Request body for POST


        JSON example


        ```

        {

        "conditions" : {

        "conditionsList" : [

        {

        "fieldName": "state__c",

        "value": "MH"

        },

        {

        "fieldName": "validity__c",

        "value": 30

        }

        ]

        }

        }


        ```


        Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | conditions | Decision Table Condition\[\] | The list of decision table conditions on which the decision table executes and provides outcomes. | Required | 55.0 |

        | datasetLinkName | String | The API name of the dataset link provided as an input for the decision table execution. | Optional | 55.0 |


        Response body for POST


        Decision Table Outcome


        # Decision Table Outcome


        Output representation of the decision table execution.JSON example


        ```

        {

        "errorCode" : null,

        "errorMessage" : null,

        "outcomeList" : [ {

        "values" : {

        "amount__c" : "399",

        "Name" : "MH 005"

        }

        }, {

        "values" : {

        "amount__c" : "499",

        "Name" : "MH 006"

        }

        }, {

        "values" : {

        "amount__c" : "379",

        "Name" : "MH 007"

        }

        }, {

        "values" : {

        "amount__c" : "1498",

        "Name" : "MH 008"

        }

        }, {

        "values" : {

        "amount__c" : "98",

        "Name" : "MH 009"

        }

        }, {

        "values" : {

        "amount__c" : "251",

        "Name" : "MH 010"

        }

        } ],

        "outcomeType" : "Multiple Matches",

        "successStatus" : true

        }


        ```


        | Property Name | Type | Description | Filter Group and Version | Available Version |

        | --- | --- | --- | --- | --- |

        | errorCode | Integer | The error code if transaction fails for any reason. | Small, 55.0 | 55.0 |

        | errorMessage | String | The error message if transaction fails for any reason. | Small, 55.0 | 55.0 |

        | outcomeList | Decision Table Outcome Item\[\] | Outcome list that stores two or more outcomes provided by the decision table. | Small, 55.0 | 55.0 |

        | outcomeType | String | The outcome type after the request is successful. | Small, 55.0 | 55.0 |

        | successStatus | Boolean | Indicates the status of the decision table execution. | Small, 55.0 | 55.0 |'
      operationId: PostLookupTable
      parameters:
      - name: decisionTableId
        in: path
        description: Decision Table Id
        required: true
        schema:
          type: string
          examples:
          - 0lDHo0000008Pnt
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/LookupTableRequest1'
              - examples:
                - conditions:
                    conditionsList:
                    - fieldName: IsDeleted
                      value: true
              contentMediaType: application/json
            example:
              conditions:
                conditionsList:
                - fieldName: IsDeleted
                  value: true
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 13:22:05 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status201-Success5'
                - examples:
                  - errorCode: null
                    errorMessage: null
                    outcomeList: []
                    outcomeType: No Match
                    successStatus: true
                contentMediaType: application/json;charset=UTF-8
              example:
                errorCode: null
                errorMessage: null
                outcomeList: []
                outcomeType: No Match
                successStatus: true
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 12:16:33 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-BadRequest1'
                description: ''
                examples:
                - - errorCode: INVALID_ID_FIELD
                    message: 'Invalid identifier: 0lIHo000000LFC6MAO'
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_ID_FIELD
                message: 'Invalid identifier: 0lIHo000000LFC6MAO'
        '500':
          description: Server Error
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 12:31:01 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status500-UnknownException1'
                description: ''
                examples:
                - - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 1716762391-743375 (1633993601)'
                    errorCode: UNKNOWN_EXCEPTION
                contentMediaType: application/json;charset=UTF-8
              example:
              - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 1716762391-743375 (1633993601)'
                errorCode: UNKNOWN_EXCEPTION
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Status200-Success2:
      title: Status200-Success2
      required:
      - code
      - isSuccess
      - message
      type: object
      properties:
        code:
          type: string
          example: example_value
        isSuccess:
          type: boolean
          example: true
        message:
          type: string
          example: example_value
      examples:
      - code: '200'
        isSuccess: true
        message: ''
    Status400-BadRequest1:
      title: Status400-BadRequest1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_ID_FIELD
        message: 'Invalid identifier: 9QLHo000000LBjJOAW'
    UpdateTableRequest:
      title: UpdateTableRequest
      required:
      - setupName
      - fullName
      - description
      - usageType
      - sourceType
      - sourceObject
      - status
      - decisionResultPolicy
      - collectOperator
      - conditionType
      - conditionCriteria
      - parameters
      type: object
      properties:
        setupName:
          type: string
          example: example_value
        fullName:
          type: string
          example: example_value
        description:
          type: string
          example: A sample description.
        usageType:
          type: string
          example: example_value
        sourceType:
          type: string
          example: example_value
        sourceObject:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
        decisionResultPolicy:
          type: string
          example: example_value
        collectOperator:
          type: string
          example: example_value
        conditionType:
          type: string
          example: example_value
        conditionCriteria:
          type: string
          example: example_value
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/Parameter'
          description: ''
          example: []
      examples:
      - setupName: Product Qualificiation eligibility
        fullName: ProductQualificationEligibility
        description: Eligiblity of Products using Qualification Rules
        usageType: ProductEligibility
        sourceType: SingleSobject
        sourceObject: AccountFeed
        status: Draft
        decisionResultPolicy: UniqueValues
        collectOperator: Count
        conditionType: Any
        conditionCriteria: 1 OR 2 OR 3
        parameters:
        - fieldName: IsDeleted
          usage: INPUT
          operator: Equals
          sequence: '1'
        - fieldName: Id
          usage: INPUT
          operator: Equals
          sequence: '2'
        - fieldName: Title
          usage: INPUT
          operator: Equals
          sequence: '3'
        - fieldName: CreatedById
          usage: OUTPUT
    Input2:
      title: Input2
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: string
          example: example_value
      examples:
      - name: myColumnInput
        value: One
    Status500-UnknownException1:
      title: Status500-UnknownException1
      required:
      - message
      - errorCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        errorCode:
          type: string
          example: example_value
      examples:
      - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 1716762391-743375 (1633993601)'
        errorCode: UNKNOWN_EXCEPTION
    Status201-AcceptedButWarning:
      title: Status201-AcceptedButWarning
      required:
      - outputs
      type: object
      properties:
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output1'
          description: ''
          example: []
      examples:
      - outputs:
        - error: Looks like there isn’t any output for the specified input parameters in the lookup table.
          results: []
    Status400-MatrixNotFound1:
      title: Status400-MatrixNotFound1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_INPUT
        message: Specify a valid matrixName and try again.
    Output1:
      title: Output1
      required:
      - error
      - results
      type: object
      properties:
        error:
          type: string
          example: example_value
        results:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - error: Looks like there isn’t any output for the specified input parameters in the lookup table.
        results: []
    Status401-Unauthorized1:
      title: Status401-Unauthorized1
      required:
      - message
      - errorCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        errorCode:
          type: string
          example: example_value
      examples:
      - message: Session expired or invalid
        errorCode: INVALID_SESSION_ID
    Parameter:
      title: Parameter
      required:
      - fieldName
      - usage
      type: object
      properties:
        fieldName:
          type: string
          example: example_value
        usage:
          type: string
          example: example_value
        operator:
          type: string
          example: example_value
        sequence:
          type: string
          example: example_value
      examples:
      - fieldName: IsDeleted
        usage: INPUT
        operator: Equals
        sequence: '1'
    LookupTableRequest:
      title: LookupTableRequest
      required:
      - inputs
      - options
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/Input1'
          description: ''
          example: []
        options:
          type: object
          example: example_value
      examples:
      - inputs:
        - input:
          - name: myColumnInput
            value: One
        options: {}
    LookupTableRequest1:
      title: LookupTableRequest1
      required:
      - conditions
      type: object
      properties:
        conditions:
          $ref: '#/components/schemas/Conditions'
      examples:
      - conditions:
          conditionsList:
          - fieldName: IsDeleted
            value: true
    Status201-Success5:
      title: Status201-Success5
      required:
      - errorCode
      - errorMessage
      - outcomeList
      - outcomeType
      - successStatus
      type: object
      properties:
        errorCode:
          type:
          - string
          - 'null'
          example: example_value
        errorMessage:
          type:
          - string
          - 'null'
          example: example_value
        outcomeList:
          type: array
          items:
            type: string
          description: ''
          example: []
        outcomeType:
          type: string
          example: example_value
        successStatus:
          type: boolean
          example: true
      examples:
      - errorCode: null
        errorMessage: null
        outcomeList: []
        outcomeType: No Match
        successStatus: true
    Conditions:
      title: Conditions
      required:
      - conditionsList
      type: object
      properties:
        conditionsList:
          type: array
          items:
            $ref: '#/components/schemas/ConditionsList1'
          description: ''
          example: []
      examples:
      - conditionsList:
        - fieldName: IsDeleted
          value: true
    Input1:
      title: Input1
      required:
      - input
      type: object
      properties:
        input:
          type: array
          items:
            $ref: '#/components/schemas/Input2'
          description: ''
          example: []
      examples:
      - input:
        - name: myColumnInput
          value: One
    ConditionsList1:
      title: ConditionsList1
      required:
      - fieldName
      - value
      type: object
      properties:
        fieldName:
          type: string
          example: example_value
        value:
          type: boolean
          example: true
      examples:
      - fieldName: IsDeleted
        value: true
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
