openapi: 3.2.0
info:
  title: Salesforce Definition API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Definition
paths:
  /data/v64.0/smartdatadiscovery/predictionDefinitions/{PREDICTION_DEFINITION_ID}:
    parameters: []
    get:
      tags:
      - Definition
      summary: Salesforce Prediction Definition Metadata
      description: Get available prediction definitions.
      operationId: Predictiondefinitionmetadata
      parameters:
      - name: PREDICTION_DEFINITION_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 04 Mar 2021 13:45:58 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=31536002; includeSubDomains
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=86400, report-uri="https://a.forcesslreports.com/Expect-CT-report/00D5Y000001crJvm"
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Predictiondefinitionmetadata'
                - examples:
                  - countOfActiveModels: 1
                    countOfModels: 1
                    createdBy:
                      id: 0055Y00000DWwAIQA1
                      name: Philippe Ozil
                      profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                    createdDate: '2021-03-04T13:37:02.000Z'
                    id: 1OR5Y0000010ws8WAA
                    label: Sales_per_Customer
                    lastModifiedBy:
                      id: 0055Y00000DWwAIQA1
                      name: Philippe Ozil
                      profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                    lastModifiedDate: '2021-03-04T13:37:02.000Z'
                    modelsUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models
                    name: Sales_per_Customer
                    outcome:
                      goal: Maximize
                      label: Sales per Customer
                      name: Sales_per_Customer
                    predictionType: Regression
                    status: Enabled
                    url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA
                contentMediaType: application/json;charset=UTF-8
              example:
                countOfActiveModels: 1
                countOfModels: 1
                createdBy:
                  id: 0055Y00000DWwAIQA1
                  name: Philippe Ozil
                  profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                createdDate: '2021-03-04T13:37:02.000Z'
                id: 1OR5Y0000010ws8WAA
                label: Sales_per_Customer
                lastModifiedBy:
                  id: 0055Y00000DWwAIQA1
                  name: Philippe Ozil
                  profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                lastModifiedDate: '2021-03-04T13:37:02.000Z'
                modelsUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models
                name: Sales_per_Customer
                outcome:
                  goal: Maximize
                  label: Sales per Customer
                  name: Sales_per_Customer
                predictionType: Regression
                status: Enabled
                url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreatedBy:
      title: CreatedBy
      required:
      - id
      - name
      - profilePhotoUrl
      type: object
      properties:
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        profilePhotoUrl:
          type: string
          example: https://www.example.com
      examples:
      - id: 0055Y00000DWwAIQA1
        name: Philippe Ozil
        profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
    Predictiondefinitionmetadata:
      title: Predictiondefinitionmetadata
      required:
      - countOfActiveModels
      - countOfModels
      - createdBy
      - createdDate
      - id
      - label
      - lastModifiedBy
      - lastModifiedDate
      - modelsUrl
      - name
      - outcome
      - predictionType
      - status
      - url
      type: object
      properties:
        countOfActiveModels:
          type: integer
          contentEncoding: int32
          example: 42
        countOfModels:
          type: integer
          contentEncoding: int32
          example: 42
        createdBy:
          $ref: '#/components/schemas/CreatedBy'
        createdDate:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        label:
          type: string
          example: Example Title
        lastModifiedBy:
          $ref: '#/components/schemas/LastModifiedBy'
        lastModifiedDate:
          type: string
          example: example_value
        modelsUrl:
          type: string
          example: https://www.example.com
        name:
          type: string
          example: Example Title
        outcome:
          $ref: '#/components/schemas/Outcome'
        predictionType:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - countOfActiveModels: 1
        countOfModels: 1
        createdBy:
          id: 0055Y00000DWwAIQA1
          name: Philippe Ozil
          profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
        createdDate: '2021-03-04T13:37:02.000Z'
        id: 1OR5Y0000010ws8WAA
        label: Sales_per_Customer
        lastModifiedBy:
          id: 0055Y00000DWwAIQA1
          name: Philippe Ozil
          profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
        lastModifiedDate: '2021-03-04T13:37:02.000Z'
        modelsUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models
        name: Sales_per_Customer
        outcome:
          goal: Maximize
          label: Sales per Customer
          name: Sales_per_Customer
        predictionType: Regression
        status: Enabled
        url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA
    Outcome:
      title: Outcome
      required:
      - goal
      - label
      - name
      type: object
      properties:
        goal:
          type: string
          example: example_value
        label:
          type: string
          example: Example Title
        name:
          type: string
          example: Example Title
      examples:
      - goal: Maximize
        label: Sales per Customer
        name: Sales_per_Customer
    LastModifiedBy:
      title: LastModifiedBy
      required:
      - id
      - name
      - profilePhotoUrl
      type: object
      properties:
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        profilePhotoUrl:
          type: string
          example: https://www.example.com
      examples:
      - id: 0055Y00000DWwAIQA1
        name: Philippe Ozil
        profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
