openapi: 3.2.0
info:
  title: Salesforce Cancel API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Cancel
paths:
  /data/v64.0/connect/loyalty/programs/{loyaltyProgramName}/program-processes/{processName}:
    parameters: []
    post:
      tags:
      - Cancel
      summary: Salesforce Cancel a Voucher
      description: 'Standard Documentation:


        [https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_cancel_voucher.htm](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_cancel_voucher.htm)


        In the Pre-request. Script Tab, make changes in the variables value accordingly with the real Process Name to invoke.'
      operationId: CancelaVoucher
      parameters:
      - name: loyaltyProgramName
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - NTO Insider
        example: example_value
      - name: processName
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CancelaVoucherRequest'
              - examples:
                - processParameters:
                  - MemberId: 0lMxx00000000BJEAY
                    VoucherId: 0kdxx000000000B245
              contentMediaType: application/json
            example:
              processParameters:
              - MemberId: 0lMxx00000000BJEAY
                VoucherId: 0kdxx000000000B245
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProcessParameter:
      title: ProcessParameter
      required:
      - MemberId
      - VoucherId
      type: object
      properties:
        MemberId:
          type: string
          example: '500123'
        VoucherId:
          type: string
          example: '500123'
      examples:
      - MemberId: 0lMxx00000000BJEAY
        VoucherId: 0kdxx000000000B245
    CancelaVoucherRequest:
      title: CancelaVoucherRequest
      required:
      - processParameters
      type: object
      properties:
        processParameters:
          type: array
          items:
            $ref: '#/components/schemas/ProcessParameter'
          description: ''
          example: []
      examples:
      - processParameters:
        - MemberId: 0lMxx00000000BJEAY
          VoucherId: 0kdxx000000000B245
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
