openapi: 3.2.0
info:
  title: Salesforce Keys API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Keys
paths:
  /id/keys:
    parameters: []
    get:
      tags:
      - Keys
      summary: Salesforce Keys
      operationId: SalesforceKeys
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 15:55:30 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Access-Control-Allow-Credentials:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 'false'
            Access-Control-Allow-Origin:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '*'
            Expires:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 01 Jan 1970 00:00:00 GMT
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulSalesforceKeys'
                - examples:
                  - keys:
                    - kty: RSA
                      n: <token>
                      e: AQAB
                      alg: RS256
                      use: sig
                      kid: '248'
                    - kty: RSA
                      n: <token>
                      e: AQAB
                      alg: RS256
                      use: sig
                      kid: '244'
                    - kty: RSA
                      n: <token>
                      e: AQAB
                      alg: RS256
                      use: sig
                      kid: '246'
                    - kty: RSA
                      n: <token>
                      e: AQAB
                      alg: RS256
                      use: sig
                      kid: asset
                contentMediaType: application/json;charset=UTF-8
              example:
                keys:
                - kty: RSA
                  n: <token>
                  e: AQAB
                  alg: RS256
                  use: sig
                  kid: '248'
                - kty: RSA
                  n: <token>
                  e: AQAB
                  alg: RS256
                  use: sig
                  kid: '244'
                - kty: RSA
                  n: <token>
                  e: AQAB
                  alg: RS256
                  use: sig
                  kid: '246'
                - kty: RSA
                  n: <token>
                  e: AQAB
                  alg: RS256
                  use: sig
                  kid: asset
      deprecated: false
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SuccessfulSalesforceKeys:
      title: SuccessfulSalesforceKeys
      required:
      - keys
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Key'
          description: ''
          example: []
      examples:
      - keys:
        - kty: RSA
          n: <token>
          e: AQAB
          alg: RS256
          use: sig
          kid: '248'
        - kty: RSA
          n: <token>
          e: AQAB
          alg: RS256
          use: sig
          kid: '244'
        - kty: RSA
          n: <token>
          e: AQAB
          alg: RS256
          use: sig
          kid: '246'
        - kty: RSA
          n: <token>
          e: AQAB
          alg: RS256
          use: sig
          kid: asset
    Key:
      title: Key
      required:
      - kty
      - n
      - e
      - alg
      - use
      - kid
      type: object
      properties:
        kty:
          type: string
          example: example_value
        n:
          type: string
          example: example_value
        e:
          type: string
          example: example_value
        alg:
          type: string
          example: example_value
        use:
          type: string
          example: example_value
        kid:
          type: string
          example: '500123'
      examples:
      - kty: RSA
        n: <token>
        e: AQAB
        alg: RS256
        use: sig
        kid: '248'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
