openapi: 3.2.0
info:
  title: Salesforce Comments API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Comments
  description: Get, edit, and delete comments.
paths:
  /data/v64.0/chatter/comments/{COMMENT_ID}:
    parameters: []
    get:
      tags:
      - Comments
      summary: Salesforce Comment
      description: 'Get information about, edit, or delete a comment.

        To post a comment, use Feed Elements Capability, Comments Items.


        https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_comments_specific.htm#connect_resources_comments_specific'
      operationId: Comment
      parameters:
      - name: COMMENT_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 0D7...
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Nov 2023 11:20:42 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulComment'
                - examples:
                  - body:
                      isRichText: true
                      messageSegments:
                      - altText: null
                        htmlTag: p
                        markupType: Paragraph
                        text: ''
                        type: MarkupBegin
                        url: null
                      - text: Comment
                        type: Text
                      - htmlTag: p
                        markupType: Paragraph
                        text: ''
                        type: MarkupEnd
                      text: 'Comment

                        '
                    capabilities:
                      edit:
                        isEditRestricted: false
                        isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
                        lastEditedBy: null
                        lastEditedDate: null
                        latestRevision: 1
                        relativeLastEditedDate: null
                      status:
                        feedEntityStatus: Published
                        isApprovableByMe: true
                      upDownVote:
                        downVoteCount: 0
                        myVote: None
                        upVoteCount: 0
                      verified:
                        isVerifiableByMe: false
                        isVerified: false
                        isVerifiedByAnonymized: null
                        lastVerifiedByUser: null
                        lastVerifiedDate: null
                    clientInfo: null
                    createdDate: '2023-11-22T11:19:50.000Z'
                    feedElement:
                      id: 0D5...
                      url: /services/data/v58.0/chatter/feed-elements/0D5...
                    id: 0D7...
                    isDeleteRestricted: false
                    likes:
                      currentPageToken: null
                      currentPageUrl: /services/data/v58.0/chatter/comments/0D7.../likes
                      items: []
                      nextPageToken: null
                      nextPageUrl: null
                      previousPageToken: null
                      previousPageUrl: null
                      total: 0
                    likesMessage: null
                    moderationFlags: null
                    myLike: null
                    parent:
                      id: 005...
                      url: /services/data/v58.0/chatter/users/005...
                    relativeCreatedDate: Just now
                    threadLevel: 0
                    threadParentId: null
                    type: TextComment
                    url: /services/data/v58.0/chatter/comments/0D7...
                    user:
                      additionalLabel: null
                      communityNickname: User1696423780773910041
                      companyName: Salesforce
                      displayName: Name
                      firstName: Firstname
                      id: 005...
                      isActive: true
                      isInThisCommunity: true
                      lastName: Name
                      motif:
                        color: 1B96FF
                        largeIconUrl: /img/icon/profile64.png
                        mediumIconUrl: /img/icon/profile32.png
                        smallIconUrl: /img/icon/profile16.png
                        svgIconUrl: null
                      mySubscription: null
                      name: Name
                      outOfOffice:
                        message: ''
                      photo:
                        fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
                        largePhotoUrl: https://<my_domain>/profilephoto/729.../F
                        mediumPhotoUrl: https://<my_domain>/profilephoto/729.../M
                        photoVersionId: 729...
                        smallPhotoUrl: https://<my_domain>/profilephoto/729.../T
                        standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
                        url: /services/data/v58.0/connect/user-profiles/005.../photo
                      reputation: null
                      title: null
                      type: User
                      url: /services/data/v58.0/chatter/users/005...
                      userType: Internal
                contentMediaType: application/json;charset=UTF-8
              example:
                body:
                  isRichText: true
                  messageSegments:
                  - altText: null
                    htmlTag: p
                    markupType: Paragraph
                    text: ''
                    type: MarkupBegin
                    url: null
                  - text: Comment
                    type: Text
                  - htmlTag: p
                    markupType: Paragraph
                    text: ''
                    type: MarkupEnd
                  text: 'Comment

                    '
                capabilities:
                  edit:
                    isEditRestricted: false
                    isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
                    lastEditedBy: null
                    lastEditedDate: null
                    latestRevision: 1
                    relativeLastEditedDate: null
                  status:
                    feedEntityStatus: Published
                    isApprovableByMe: true
                  upDownVote:
                    downVoteCount: 0
                    myVote: None
                    upVoteCount: 0
                  verified:
                    isVerifiableByMe: false
                    isVerified: false
                    isVerifiedByAnonymized: null
                    lastVerifiedByUser: null
                    lastVerifiedDate: null
                clientInfo: null
                createdDate: '2023-11-22T11:19:50.000Z'
                feedElement:
                  id: 0D5...
                  url: /services/data/v58.0/chatter/feed-elements/0D5...
                id: 0D7...
                isDeleteRestricted: false
                likes:
                  currentPageToken: null
                  currentPageUrl: /services/data/v58.0/chatter/comments/0D7.../likes
                  items: []
                  nextPageToken: null
                  nextPageUrl: null
                  previousPageToken: null
                  previousPageUrl: null
                  total: 0
                likesMessage: null
                moderationFlags: null
                myLike: null
                parent:
                  id: 005...
                  url: /services/data/v58.0/chatter/users/005...
                relativeCreatedDate: Just now
                threadLevel: 0
                threadParentId: null
                type: TextComment
                url: /services/data/v58.0/chatter/comments/0D7...
                user:
                  additionalLabel: null
                  communityNickname: User1696423780773910041
                  companyName: Salesforce
                  displayName: Name
                  firstName: Firstname
                  id: 005...
                  isActive: true
                  isInThisCommunity: true
                  lastName: Name
                  motif:
                    color: 1B96FF
                    largeIconUrl: /img/icon/profile64.png
                    mediumIconUrl: /img/icon/profile32.png
                    smallIconUrl: /img/icon/profile16.png
                    svgIconUrl: null
                  mySubscription: null
                  name: Name
                  outOfOffice:
                    message: ''
                  photo:
                    fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
                    largePhotoUrl: https://<my_domain>/profilephoto/729.../F
                    mediumPhotoUrl: https://<my_domain>/profilephoto/729.../M
                    photoVersionId: 729...
                    smallPhotoUrl: https://<my_domain>/profilephoto/729.../T
                    standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
                    url: /services/data/v58.0/connect/user-profiles/005.../photo
                  reputation: null
                  title: null
                  type: User
                  url: /services/data/v58.0/chatter/users/005...
                  userType: Internal
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Comments
      summary: Salesforce Comment - Edit
      description: 'Get information about, edit, or delete a comment.

        To post a comment, use Feed Elements Capability, Comments Items.


        https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_comments_specific.htm#connect_resources_comments_specific'
      operationId: Comment-Edit
      parameters:
      - name: COMMENT_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 0D7...
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/Comment-EditRequest'
              - examples:
                - body:
                    messageSegments:
                    - type: Text
                      text: Editing a comment
              contentMediaType: application/json
            example:
              body:
                messageSegments:
                - type: Text
                  text: Editing a comment
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Nov 2023 11:22:36 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulComment-Edit'
                - examples:
                  - body:
                      isRichText: false
                      messageSegments:
                      - text: Editing a comment
                        type: Text
                      text: Editing a comment
                    capabilities:
                      edit:
                        isEditRestricted: false
                        isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
                        lastEditedBy:
                          additionalLabel: null
                          communityNickname: User1696423780773910041
                          companyName: Salesforce
                          displayName: Name
                          firstName: Firstname
                          id: 005...
                          isActive: true
                          isInThisCommunity: true
                          lastName: Name
                          motif:
                            color: 1B96FF
                            largeIconUrl: /img/icon/profile64.png
                            mediumIconUrl: /img/icon/profile32.png
                            smallIconUrl: /img/icon/profile16.png
                            svgIconUrl: null
                          mySubscription: null
                          name: Name
                          outOfOffice:
                            message: ''
                          photo:
                            fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
                            largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
                            mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
                            photoVersionId: 729...
                            smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
                            standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
                            url: /services/data/v58.0/connect/user-profiles/005.../photo
                          reputation: null
                          title: null
                          type: User
                          url: /services/data/v58.0/chatter/users/005...
                          userType: Internal
                        lastEditedDate: '2023-11-22T11:22:36.000Z'
                        latestRevision: 2
                        relativeLastEditedDate: Just now
                      status:
                        feedEntityStatus: Published
                        isApprovableByMe: true
                      upDownVote:
                        downVoteCount: 0
                        myVote: None
                        upVoteCount: 0
                      verified:
                        isVerifiableByMe: false
                        isVerified: false
                        isVerifiedByAnonymized: null
                        lastVerifiedByUser: null
                        lastVerifiedDate: null
                    clientInfo: null
                    createdDate: '2023-11-22T11:19:50.000Z'
                    feedElement:
                      id: 0D5...
                      url: /services/data/v58.0/chatter/feed-elements/0D5...
                    id: 0D7...
                    isDeleteRestricted: false
                    likes:
                      currentPageToken: null
                      currentPageUrl: /services/data/v58.0/chatter/comments/0D7.../likes
                      items: []
                      nextPageToken: null
                      nextPageUrl: null
                      previousPageToken: null
                      previousPageUrl: null
                      total: 0
                    likesMessage: null
                    moderationFlags: null
                    myLike: null
                    parent:
                      id: 005...
                      url: /services/data/v58.0/chatter/users/005...
                    relativeCreatedDate: 2m ago
                    threadLevel: 0
                    threadParentId: null
                    type: TextComment
                    url: /services/data/v58.0/chatter/comments/0D7...
                    user:
                      additionalLabel: null
                      communityNickname: User1696423780773910041
                      companyName: Salesforce
                      displayName: Name
                      firstName: Firstname
                      id: 005...
                      isActive: true
                      isInThisCommunity: true
                      lastName: Name
                      motif:
                        color: 1B96FF
                        largeIconUrl: /img/icon/profile64.png
                        mediumIconUrl: /img/icon/profile32.png
                        smallIconUrl: /img/icon/profile16.png
                        svgIconUrl: null
                      mySubscription: null
                      name: Name
                      outOfOffice:
                        message: ''
                      photo:
                        fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
                        largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
                        mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
                        photoVersionId: 729...
                        smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
                        standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
                        url: /services/data/v58.0/connect/user-profiles/005.../photo
                      reputation: null
                      title: null
                      type: User
                      url: /services/data/v58.0/chatter/users/005...
                      userType: Internal
                contentMediaType: application/json;charset=UTF-8
              example:
                body:
                  isRichText: false
                  messageSegments:
                  - text: Editing a comment
                    type: Text
                  text: Editing a comment
                capabilities:
                  edit:
                    isEditRestricted: false
                    isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
                    lastEditedBy:
                      additionalLabel: null
                      communityNickname: User1696423780773910041
                      companyName: Salesforce
                      displayName: Name
                      firstName: Firstname
                      id: 005...
                      isActive: true
                      isInThisCommunity: true
                      lastName: Name
                      motif:
                        color: 1B96FF
                        largeIconUrl: /img/icon/profile64.png
                        mediumIconUrl: /img/icon/profile32.png
                        smallIconUrl: /img/icon/profile16.png
                        svgIconUrl: null
                      mySubscription: null
                      name: Name
                      outOfOffice:
                        message: ''
                      photo:
                        fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
                        largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
                        mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
                        photoVersionId: 729...
                        smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
                        standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
                        url: /services/data/v58.0/connect/user-profiles/005.../photo
                      reputation: null
                      title: null
                      type: User
                      url: /services/data/v58.0/chatter/users/005...
                      userType: Internal
                    lastEditedDate: '2023-11-22T11:22:36.000Z'
                    latestRevision: 2
                    relativeLastEditedDate: Just now
                  status:
                    feedEntityStatus: Published
                    isApprovableByMe: true
                  upDownVote:
                    downVoteCount: 0
                    myVote: None
                    upVoteCount: 0
                  verified:
                    isVerifiableByMe: false
                    isVerified: false
                    isVerifiedByAnonymized: null
                    lastVerifiedByUser: null
                    lastVerifiedDate: null
                clientInfo: null
                createdDate: '2023-11-22T11:19:50.000Z'
                feedElement:
                  id: 0D5...
                  url: /services/data/v58.0/chatter/feed-elements/0D5...
                id: 0D7...
                isDeleteRestricted: false
                likes:
                  currentPageToken: null
                  currentPageUrl: /services/data/v58.0/chatter/comments/0D7.../likes
                  items: []
                  nextPageToken: null
                  nextPageUrl: null
                  previousPageToken: null
                  previousPageUrl: null
                  total: 0
                likesMessage: null
                moderationFlags: null
                myLike: null
                parent:
                  id: 005...
                  url: /services/data/v58.0/chatter/users/005...
                relativeCreatedDate: 2m ago
                threadLevel: 0
                threadParentId: null
                type: TextComment
                url: /services/data/v58.0/chatter/comments/0D7...
                user:
                  additionalLabel: null
                  communityNickname: User1696423780773910041
                  companyName: Salesforce
                  displayName: Name
                  firstName: Firstname
                  id: 005...
                  isActive: true
                  isInThisCommunity: true
                  lastName: Name
                  motif:
                    color: 1B96FF
                    largeIconUrl: /img/icon/profile64.png
                    mediumIconUrl: /img/icon/profile32.png
                    smallIconUrl: /img/icon/profile16.png
                    svgIconUrl: null
                  mySubscription: null
                  name: Name
                  outOfOffice:
                    message: ''
                  photo:
                    fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
                    largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
                    mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
                    photoVersionId: 729...
                    smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
                    standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
                    url: /services/data/v58.0/connect/user-profiles/005.../photo
                  reputation: null
                  title: null
                  type: User
                  url: /services/data/v58.0/chatter/users/005...
                  userType: Internal
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Comments
      summary: Salesforce Comment - Delete
      description: 'Get information about, edit, or delete a comment.


        https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_comments_specific.htm#connect_resources_comments_specific'
      operationId: Comment-Delete
      parameters:
      - name: COMMENT_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Nov 2023 11:24:36 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Verified:
      title: Verified
      required:
      - isVerifiableByMe
      - isVerified
      - isVerifiedByAnonymized
      - lastVerifiedByUser
      - lastVerifiedDate
      type: object
      properties:
        isVerifiableByMe:
          type: boolean
          example: true
        isVerified:
          type: boolean
          example: true
        isVerifiedByAnonymized:
          type:
          - string
          - 'null'
          example: example_value
        lastVerifiedByUser:
          type:
          - string
          - 'null'
          example: example_value
        lastVerifiedDate:
          type:
          - string
          - 'null'
          example: example_value
      examples:
      - isVerifiableByMe: false
        isVerified: false
        isVerifiedByAnonymized: null
        lastVerifiedByUser: null
        lastVerifiedDate: null
    MessageSegment11:
      title: MessageSegment11
      required:
      - text
      - type
      type: object
      properties:
        altText:
          type:
          - string
          - 'null'
          example: example_value
        htmlTag:
          type: string
          example: example_value
        markupType:
          type: string
          example: example_value
        text:
          type: string
          example: example_value
        type:
          type: string
          example: example_value
        url:
          type:
          - string
          - 'null'
          example: https://www.example.com
      examples:
      - altText: null
        htmlTag: p
        markupType: Paragraph
        text: ''
        type: MarkupBegin
        url: null
    Capabilities8:
      title: Capabilities8
      required:
      - edit
      - status
      - upDownVote
      - verified
      type: object
      properties:
        edit:
          $ref: '#/components/schemas/Edit6'
        status:
          $ref: '#/components/schemas/Status1'
        upDownVote:
          $ref: '#/components/schemas/UpDownVote'
        verified:
          $ref: '#/components/schemas/Verified'
      examples:
      - edit:
          isEditRestricted: false
          isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
          lastEditedBy:
            additionalLabel: null
            communityNickname: User1696423780773910041
            companyName: Salesforce
            displayName: Name
            firstName: Firstname
            id: 005...
            isActive: true
            isInThisCommunity: true
            lastName: Name
            motif:
              color: 1B96FF
              largeIconUrl: /img/icon/profile64.png
              mediumIconUrl: /img/icon/profile32.png
              smallIconUrl: /img/icon/profile16.png
              svgIconUrl: null
            mySubscription: null
            name: Name
            outOfOffice:
              message: ''
            photo:
              fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
              largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
              mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
              photoVersionId: 729...
              smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
              standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
              url: /services/data/v58.0/connect/user-profiles/005.../photo
            reputation: null
            title: null
            type: User
            url: /services/data/v58.0/chatter/users/005...
            userType: Internal
          lastEditedDate: '2023-11-22T11:22:36.000Z'
          latestRevision: 2
          relativeLastEditedDate: Just now
        status:
          feedEntityStatus: Published
          isApprovableByMe: true
        upDownVote:
          downVoteCount: 0
          myVote: None
          upVoteCount: 0
        verified:
          isVerifiableByMe: false
          isVerified: false
          isVerifiedByAnonymized: null
          lastVerifiedByUser: null
          lastVerifiedDate: null
    Photo:
      title: Photo
      required:
      - fullEmailPhotoUrl
      - largePhotoUrl
      - mediumPhotoUrl
      - photoVersionId
      - smallPhotoUrl
      - standardEmailPhotoUrl
      - url
      type: object
      properties:
        fullEmailPhotoUrl:
          type: string
          example: user@example.com
        largePhotoUrl:
          type: string
          example: https://www.example.com
        mediumPhotoUrl:
          type: string
          example: https://www.example.com
        photoVersionId:
          type: string
          example: '500123'
        smallPhotoUrl:
          type: string
          example: https://www.example.com
        standardEmailPhotoUrl:
          type: string
          example: user@example.com
        url:
          type: string
          example: https://www.example.com
      examples:
      - fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
        largePhotoUrl: https://<my_domain>/profilephoto/729.../F
        mediumPhotoUrl: https://<my_domain>/profilephoto/729.../M
        photoVersionId: 729...
        smallPhotoUrl: https://<my_domain>/profilephoto/729.../T
        standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
        url: /services/data/v58.0/connect/user-profiles/005.../photo
    Parent4:
      title: Parent4
      required:
      - id
      - url
      type: object
      properties:
        id:
          type: string
          example: abc123
        url:
          type: string
          example: https://www.example.com
      examples:
      - id: 001...
        url: /services/data/v58.0/chatter/records/001...
    Status1:
      title: Status1
      required:
      - feedEntityStatus
      - isApprovableByMe
      type: object
      properties:
        feedEntityStatus:
          type: string
          example: example_value
        isApprovableByMe:
          type: boolean
          example: true
      examples:
      - feedEntityStatus: Published
        isApprovableByMe: true
    OutOfOffice:
      title: OutOfOffice
      required:
      - message
      type: object
      properties:
        message:
          type: string
          example: example_value
      examples:
      - message: ''
    Edit6:
      title: Edit6
      required:
      - isEditRestricted
      - isEditableByMeUrl
      - lastEditedBy
      - lastEditedDate
      - latestRevision
      - relativeLastEditedDate
      type: object
      properties:
        isEditRestricted:
          type: boolean
          example: true
        isEditableByMeUrl:
          type: string
          example: https://www.example.com
        lastEditedBy:
          $ref: '#/components/schemas/LastEditedBy'
        lastEditedDate:
          type: string
          example: example_value
        latestRevision:
          type: integer
          contentEncoding: int32
          example: 10
        relativeLastEditedDate:
          type: string
          example: example_value
      examples:
      - isEditRestricted: false
        isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
        lastEditedBy:
          additionalLabel: null
          communityNickname: User1696423780773910041
          companyName: Salesforce
          displayName: Name
          firstName: Firstname
          id: 005...
          isActive: true
          isInThisCommunity: true
          lastName: Name
          motif:
            color: 1B96FF
            largeIconUrl: /img/icon/profile64.png
            mediumIconUrl: /img/icon/profile32.png
            smallIconUrl: /img/icon/profile16.png
            svgIconUrl: null
          mySubscription: null
          name: Name
          outOfOffice:
            message: ''
          photo:
            fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
            largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
            mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
            photoVersionId: 729...
            smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
            standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
            url: /services/data/v58.0/connect/user-profiles/005.../photo
          reputation: null
          title: null
          type: User
          url: /services/data/v58.0/chatter/users/005...
          userType: Internal
        lastEditedDate: '2023-11-22T11:22:36.000Z'
        latestRevision: 2
        relativeLastEditedDate: Just now
    Comment-EditRequest:
      title: Comment-EditRequest
      required:
      - body
      type: object
      properties:
        body:
          $ref: '#/components/schemas/Body12'
      examples:
      - body:
          messageSegments:
          - type: Text
            text: Editing a comment
    Edit:
      title: Edit
      required:
      - isEditRestricted
      - isEditableByMeUrl
      - lastEditedBy
      - lastEditedDate
      - latestRevision
      - relativeLastEditedDate
      type: object
      properties:
        isEditRestricted:
          type: boolean
          example: true
        isEditableByMeUrl:
          type: string
          example: https://www.example.com
        lastEditedBy:
          type:
          - string
          - 'null'
          example: example_value
        lastEditedDate:
          type:
          - string
          - 'null'
          example: example_value
        latestRevision:
          type: integer
          contentEncoding: int32
          example: 10
        relativeLastEditedDate:
          type:
          - string
          - 'null'
          example: example_value
      examples:
      - isEditRestricted: false
        isEditableByMeUrl: /services/data/v58.0/chatter/feed-elements/0D5.../capabilities/edit/is-editable-by-me
        lastEditedBy: null
        lastEditedDate: null
        latestRevision: 1
        relativeLastEditedDate: null
    FeedElement:
      title: FeedElement
      required:
      - id
      - url
      type: object
      properties:
        id:
          type: string
          example: abc123
        url:
          type: string
          example: https://www.example.com
      examples:
      - id: 0D5...
        url: /services/data/v58.0/chatter/feed-elements/0D5...
    SuccessfulComment-Edit:
      title: SuccessfulComment-Edit
      required:
      - body
      - capabilities
      - clientInfo
      - createdDate
      - feedElement
      - id
      - isDeleteRestricted
      - likes
      - likesMessage
      - moderationFlags
      - myLike
      - parent
      - relativeCreatedDate
      - threadLevel
      - threadParentId
      - type
      - url
      - user
      type: object
      properties:
        body:
          $ref: '#/components/schemas/Body4'
        capabilities:
          $ref: '#/components/schemas/Capabilities8'
        clientInfo:
          type:
          - string
          - 'null'
          example: example_value
        createdDate:
          type: string
          example: example_value
        feedElement:
          $ref: '#/components/schemas/FeedElement'
        id:
          type: string
          example: abc123
        isDeleteRestricted:
          type: boolean
          example: true
        likes:
          $ref: '#/components/schemas/Likes'
        likesMessage:
          type:
          - string
          - 'null'
          example: example_value
        moderationFlags:
          type:
          - string
          - 'null'
          example: example_value
        myLike:
          type:
          - string
          - 'null'
          example: example_value
        parent:
          $ref: '#/components/schemas/Parent4'
        relativeCreatedDate:
          type: string
          example: example_value
        threadLevel:
          type: integer
          contentEncoding: int32
          example: 10
        threadParentId:
          type:
          - string
          - 'null'
          example: '500123'
        type:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
        user:
          $ref: '#/components/schemas/User'
      examples:
      - body:
          isRichText: false
          messageSegments:
          - text: Editing a comment
            type: Text
          text: Editing a comment
        capabilities:
          edit:
            isEditRestricted: false
            isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
            lastEditedBy:
              additionalLabel: null
              communityNickname: User1696423780773910041
              companyName: Salesforce
              displayName: Name
              firstName: Firstname
              id: 005...
              isActive: true
              isInThisCommunity: true
              lastName: Name
              motif:
                color: 1B96FF
                largeIconUrl: /img/icon/profile64.png
                mediumIconUrl: /img/icon/profile32.png
                smallIconUrl: /img/icon/profile16.png
                svgIconUrl: null
              mySubscription: null
              name: Name
              outOfOffice:
                message: ''
              photo:
                fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
                largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
                mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
                photoVersionId: 729...
                smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
                standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
                url: /services/data/v58.0/connect/user-profiles/005.../photo
              reputation: null
              title: null
              type: User
              url: /services/data/v58.0/chatter/users/005...
              userType: Internal
            lastEditedDate: '2023-11-22T11:22:36.000Z'
            latestRevision: 2
            relativeLastEditedDate: Just now
          status:
            feedEntityStatus: Published
            isApprovableByMe: true
          upDownVote:
            downVoteCount: 0
            myVote: None
            upVoteCount: 0
          verified:
            isVerifiableByMe: false
            isVerified: false
            isVerifiedByAnonymized: null
            lastVerifiedByUser: null
            lastVerifiedDate: null
        clientInfo: null
        createdDate: '2023-11-22T11:19:50.000Z'
        feedElement:
          id: 0D5...
          url: /services/data/v58.0/chatter/feed-elements/0D5...
        id: 0D7...
        isDeleteRestricted: false
        likes:
          currentPageToken: null
          currentPageUrl: /services/data/v58.0/chatter/comments/0D7.../likes
          items: []
          nextPageToken: null
          nextPageUrl: null
          previousPageToken: null
          previousPageUrl: null
          total: 0
        likesMessage: null
        moderationFlags: null
        myLike: null
        parent:
          id: 005...
          url: /services/data/v58.0/chatter/users/005...
        relativeCreatedDate: 2m ago
        threadLevel: 0
        threadParentId: null
        type: TextComment
        url: /services/data/v58.0/chatter/comments/0D7...
        user:
          additionalLabel: null
          communityNickname: User1696423780773910041
          companyName: Salesforce
          displayName: Name
          firstName: Firstname
          id: 005...
          isActive: true
          isInThisCommunity: true
          lastName: Name
          motif:
            color: 1B96FF
            largeIconUrl: /img/icon/profile64.png
            mediumIconUrl: /img/icon/profile32.png
            smallIconUrl: /img/icon/profile16.png
            svgIconUrl: null
          mySubscription: null
          name: Name
          outOfOffice:
            message: ''
          photo:
            fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
            largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
            mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
            photoVersionId: 729...
            smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
            standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
            url: /services/data/v58.0/connect/user-profiles/005.../photo
          reputation: null
          title: null
          type: User
          url: /services/data/v58.0/chatter/users/005...
          userType: Internal
    Motif:
      title: Motif
      required:
      - color
      - largeIconUrl
      - mediumIconUrl
      - smallIconUrl
      - svgIconUrl
      type: object
      properties:
        color:
          type: string
          example: example_value
        largeIconUrl:
          type: string
          example: https://www.example.com
        mediumIconUrl:
          type: string
          example: https://www.example.com
        smallIconUrl:
          type: string
          example: https://www.example.com
        svgIconUrl:
          type:
          - string
          - 'null'
          example: https://www.example.com
      examples:
      - color: '939393'
        largeIconUrl: /img/content/content64.png
        mediumIconUrl: /img/content/content32.png
        smallIconUrl: /img/icon/files16.png
        svgIconUrl: null
    Capabilities6:
      title: Capabilities6
      required:
      - edit
      - status
      - upDownVote
      - verified
      type: object
      properties:
        edit:
          $ref: '#/components/schemas/Edit'
        status:
          $ref: '#/components/schemas/Status1'
        upDownVote:
          $ref: '#/components/schemas/UpDownVote'
        verified:
          $ref: '#/components/schemas/Verified'
      examples:
      - edit:
          isEditRestricted: false
          isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
          lastEditedBy: null
          lastEditedDate: null
          latestRevision: 1
          relativeLastEditedDate: null
        status:
          feedEntityStatus: Published
          isApprovableByMe: true
        upDownVote:
          downVoteCount: 0
          myVote: None
          upVoteCount: 0
        verified:
          isVerifiableByMe: false
          isVerified: false
          isVerifiedByAnonymized: null
          lastVerifiedByUser: null
          lastVerifiedDate: null
    User:
      title: User
      required:
      - additionalLabel
      - communityNickname
      - companyName
      - displayName
      - firstName
      - id
      - isActive
      - isInThisCommunity
      - lastName
      - motif
      - mySubscription
      - name
      - outOfOffice
      - photo
      - reputation
      - title
      - type
      - url
      - userType
      type: object
      properties:
        additionalLabel:
          type:
          - string
          - 'null'
          example: example_value
        communityNickname:
          type: string
          example: example_value
        companyName:
          type: string
          example: example_value
        displayName:
          type: string
          example: example_value
        firstName:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        isActive:
          type: boolean
          example: true
        isInThisCommunity:
          type: boolean
          example: true
        lastName:
          type: string
          example: example_value
        motif:
          $ref: '#/components/schemas/Motif'
        mySubscription:
          type:
          - string
          - 'null'
          example: example_value
        name:
          type: string
          example: Example Title
        outOfOffice:
          $ref: '#/components/schemas/OutOfOffice'
        photo:
          $ref: '#/components/schemas/Photo'
        reputation:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        type:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
        userType:
          type: string
          example: example_value
      examples:
      - additionalLabel: null
        communityNickname: User1696423780773910041
        companyName: Salesforce
        displayName: Name
        firstName: Firstname
        id: 005...
        isActive: true
        isInThisCommunity: true
        lastName: Name
        motif:
          color: 1B96FF
          largeIconUrl: /img/icon/profile64.png
          mediumIconUrl: /img/icon/profile32.png
          smallIconUrl: /img/icon/profile16.png
          svgIconUrl: null
        mySubscription: null
        name: Name
        outOfOffice:
          message: ''
        photo:
          fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
          largePhotoUrl: https://<my_domain>/profilephoto/729.../F
          mediumPhotoUrl: https://<my_domain>/profilephoto/729.../M
          photoVersionId: 729...
          smallPhotoUrl: https://<my_domain>/profilephoto/729.../T
          standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
          url: /services/data/v58.0/connect/user-profiles/005.../photo
        reputation: null
        title: null
        type: User
        url: /services/data/v58.0/chatter/users/005...
        userType: Internal
    Likes:
      title: Likes
      required:
      - currentPageToken
      - currentPageUrl
      - items
      - nextPageToken
      - nextPageUrl
      - previousPageToken
      - previousPageUrl
      - total
      type: object
      properties:
        currentPageToken:
          type:
          - string
          - 'null'
          example: CAUQAA
        currentPageUrl:
          type: string
          example: https://www.example.com
        items:
          type: array
          items:
            type: string
          description: ''
          example: []
        nextPageToken:
          type:
          - string
          - 'null'
          example: CAUQAA
        nextPageUrl:
          type:
          - string
          - 'null'
          example: https://www.example.com
        previousPageToken:
          type:
          - string
          - 'null'
          example: CAUQAA
        previousPageUrl:
          type:
          - string
          - 'null'
          example: https://www.example.com
        total:
          type: integer
          contentEncoding: int32
          example: 42
      examples:
      - currentPageToken: null
        currentPageUrl: /services/data/v58.0/chatter/comments/0D7.../likes
        items: []
        nextPageToken: null
        nextPageUrl: null
        previousPageToken: null
        previousPageUrl: null
        total: 0
    LastEditedBy:
      title: LastEditedBy
      required:
      - additionalLabel
      - communityNickname
      - companyName
      - displayName
      - firstName
      - id
      - isActive
      - isInThisCommunity
      - lastName
      - motif
      - mySubscription
      - name
      - outOfOffice
      - photo
      - reputation
      - title
      - type
      - url
      - userType
      type: object
      properties:
        additionalLabel:
          type:
          - string
          - 'null'
          example: example_value
        communityNickname:
          type: string
          example: example_value
        companyName:
          type: string
          example: example_value
        displayName:
          type: string
          example: example_value
        firstName:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        isActive:
          type: boolean
          example: true
        isInThisCommunity:
          type: boolean
          example: true
        lastName:
          type: string
          example: example_value
        motif:
          $ref: '#/components/schemas/Motif'
        mySubscription:
          type:
          - string
          - 'null'
          example: example_value
        name:
          type: string
          example: Example Title
        outOfOffice:
          $ref: '#/components/schemas/OutOfOffice'
        photo:
          $ref: '#/components/schemas/Photo'
        reputation:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        type:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
        userType:
          type: string
          example: example_value
      examples:
      - additionalLabel: null
        communityNickname: User1696423780773910041
        companyName: Salesforce
        displayName: Name
        firstName: Firstname
        id: 005...
        isActive: true
        isInThisCommunity: true
        lastName: Name
        motif:
          color: 1B96FF
          largeIconUrl: /img/icon/profile64.png
          mediumIconUrl: /img/icon/profile32.png
          smallIconUrl: /img/icon/profile16.png
          svgIconUrl: null
        mySubscription: null
        name: Name
        outOfOffice:
          message: ''
        photo:
          fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
          largePhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/F
          mediumPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/M
          photoVersionId: 729...
          smallPhotoUrl: https://<my_domain>/profilephoto/7292o000000oAgZ/T
          standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
          url: /services/data/v58.0/connect/user-profiles/005.../photo
        reputation: null
        title: null
        type: User
        url: /services/data/v58.0/chatter/users/005...
        userType: Internal
    Body12:
      title: Body12
      required:
      - messageSegments
      type: object
      properties:
        messageSegments:
          type: array
          items:
            $ref: '#/components/schemas/MessageSegment'
          description: ''
          example: []
      examples:
      - messageSegments:
        - type: Text
          text: Editing a comment
    UpDownVote:
      title: UpDownVote
      required:
      - downVoteCount
      - myVote
      - upVoteCount
      type: object
      properties:
        downVoteCount:
          type: integer
          contentEncoding: int32
          example: 42
        myVote:
          type: string
          example: example_value
        upVoteCount:
          type: integer
          contentEncoding: int32
          example: 42
      examples:
      - downVoteCount: 0
        myVote: None
        upVoteCount: 0
    SuccessfulComment:
      title: SuccessfulComment
      required:
      - body
      - capabilities
      - clientInfo
      - createdDate
      - feedElement
      - id
      - isDeleteRestricted
      - likes
      - likesMessage
      - moderationFlags
      - myLike
      - parent
      - relativeCreatedDate
      - threadLevel
      - threadParentId
      - type
      - url
      - user
      type: object
      properties:
        body:
          $ref: '#/components/schemas/Body11'
        capabilities:
          $ref: '#/components/schemas/Capabilities6'
        clientInfo:
          type:
          - string
          - 'null'
          example: example_value
        createdDate:
          type: string
          example: example_value
        feedElement:
          $ref: '#/components/schemas/FeedElement'
        id:
          type: string
          example: abc123
        isDeleteRestricted:
          type: boolean
          example: true
        likes:
          $ref: '#/components/schemas/Likes'
        likesMessage:
          type:
          - string
          - 'null'
          example: example_value
        moderationFlags:
          type:
          - string
          - 'null'
          example: example_value
        myLike:
          type:
          - string
          - 'null'
          example: example_value
        parent:
          $ref: '#/components/schemas/Parent4'
        relativeCreatedDate:
          type: string
          example: example_value
        threadLevel:
          type: integer
          contentEncoding: int32
          example: 10
        threadParentId:
          type:
          - string
          - 'null'
          example: '500123'
        type:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
        user:
          $ref: '#/components/schemas/User'
      examples:
      - body:
          isRichText: true
          messageSegments:
          - altText: null
            htmlTag: p
            markupType: Paragraph
            text: ''
            type: MarkupBegin
            url: null
          - text: Comment
            type: Text
          - htmlTag: p
            markupType: Paragraph
            text: ''
            type: MarkupEnd
          text: 'Comment

            '
        capabilities:
          edit:
            isEditRestricted: false
            isEditableByMeUrl: /services/data/v58.0/chatter/comments/0D7.../capabilities/edit/is-editable-by-me
            lastEditedBy: null
            lastEditedDate: null
            latestRevision: 1
            relativeLastEditedDate: null
          status:
            feedEntityStatus: Published
            isApprovableByMe: true
          upDownVote:
            downVoteCount: 0
            myVote: None
            upVoteCount: 0
          verified:
            isVerifiableByMe: false
            isVerified: false
            isVerifiedByAnonymized: null
            lastVerifiedByUser: null
            lastVerifiedDate: null
        clientInfo: null
        createdDate: '2023-11-22T11:19:50.000Z'
        feedElement:
          id: 0D5...
          url: /services/data/v58.0/chatter/feed-elements/0D5...
        id: 0D7...
        isDeleteRestricted: false
        likes:
          currentPageToken: null
          currentPageUrl: /services/data/v58.0/chatter/comments/0D7.../likes
          items: []
          nextPageToken: null
          nextPageUrl: null
          previousPageToken: null
          previousPageUrl: null
          total: 0
        likesMessage: null
        moderationFlags: null
        myLike: null
        parent:
          id: 005...
          url: /services/data/v58.0/chatter/users/005...
        relativeCreatedDate: Just now
        threadLevel: 0
        threadParentId: null
        type: TextComment
        url: /services/data/v58.0/chatter/comments/0D7...
        user:
          additionalLabel: null
          communityNickname: User1696423780773910041
          companyName: Salesforce
          displayName: Name
          firstName: Firstname
          id: 005...
          isActive: true
          isInThisCommunity: true
          lastName: Name
          motif:
            color: 1B96FF
            largeIconUrl: /img/icon/profile64.png
            mediumIconUrl: /img/icon/profile32.png
            smallIconUrl: /img/icon/profile16.png
            svgIconUrl: null
          mySubscription: null
          name: Name
          outOfOffice:
            message: ''
          photo:
            fullEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0IogXzXAXaYKJnuWCNQmXymRq?fromEmail=1
            largePhotoUrl: https://<my_domain>/profilephoto/729.../F
            mediumPhotoUrl: https://<my_domain>/profilephoto/729.../M
            photoVersionId: 729...
            smallPhotoUrl: https://<my_domain>/profilephoto/729.../T
            standardEmailPhotoUrl: https://<my_domain>/ncsphoto/1wsMlOd3tVC7boygqBO8wMT9KzA0D6tqzpbs-Uw0Ioi-dtynkoFWsl46as__TDFU?fromEmail=1
            url: /services/data/v58.0/connect/user-profiles/005.../photo
          reputation: null
          title: null
          type: User
          url: /services/data/v58.0/chatter/users/005...
          userType: Internal
    Body11:
      title: Body11
      required:
      - isRichText
      - messageSegments
      - text
      type: object
      properties:
        isRichText:
          type: boolean
          example: true
        messageSegments:
          type: array
          items:
            $ref: '#/components/schemas/MessageSegment11'
          description: ''
          example: []
        text:
          type: string
          example: example_value
      examples:
      - isRichText: true
        messageSegments:
        - altText: null
          htmlTag: p
          markupType: Paragraph
          text: ''
          type: MarkupBegin
          url: null
        - text: Comment
          type: Text
        - htmlTag: p
          markupType: Paragraph
          text: ''
          type: MarkupEnd
        text: 'Comment

          '
    MessageSegment:
      title: MessageSegment
      required:
      - text
      - type
      type: object
      properties:
        text:
          type: string
          example: example_value
        type:
          type: string
          example: example_value
      examples:
      - text: New Feed Item
        type: Text
    Body4:
      title: Body4
      required:
      - isRichText
      - messageSegments
      - text
      type: object
      properties:
        isRichText:
          type: boolean
          example: true
        messageSegments:
          type: array
          items:
            $ref: '#/components/schemas/MessageSegment'
          description: ''
          example: []
        text:
          type: string
          example: example_value
      examples:
      - isRichText: false
        messageSegments:
        - text: New Feed Item
          type: Text
        text: New Feed Item
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
