openapi: 3.2.0
info:
  title: Salesforce Password API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Password
paths:
  /data/v64.0/sobjects/User/{USER_ID}/password:
    parameters: []
    get:
      tags:
      - Password
      summary: Salesforce Sobject User Password
      description: Set, reset, or get information about a user password. This resource is available in REST API version 24.0 and later.
      operationId: SObjectUserPassword
      parameters:
      - name: USER_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/SelfServiceUser/{USER_ID}/password:
    parameters: []
    get:
      tags:
      - Password
      summary: Salesforce Sobject Self Service User Password
      description: Set, reset, or get information about a user password. This resource is available in REST API version 24.0 and later.
      operationId: SObjectSelfServiceUserPassword
      parameters:
      - name: USER_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
