openapi: 3.2.0
info:
  title: Salesforce Refresh API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Refresh
paths:
  /data/v64.0/tooling/sobjects/SandboxInfo/{SANDBOX_INFO_ID}:
    parameters: []
    patch:
      tags:
      - Refresh
      summary: Salesforce Refresh Sandbox
      description: Refreshes a sandbox.
      operationId: RefreshSandbox
      parameters:
      - name: SANDBOX_INFO_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshSandboxRequest'
              - examples:
                - LicenseType: DEVELOPER
                  AutoActivate: true
              contentMediaType: application/json
            example:
              LicenseType: DEVELOPER
              AutoActivate: true
        required: true
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 13 Dec 2023 12:33:55 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=2/15000
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RefreshSandboxRequest:
      title: RefreshSandboxRequest
      required:
      - LicenseType
      - AutoActivate
      type: object
      properties:
        LicenseType:
          type: string
          example: example_value
        AutoActivate:
          type: boolean
          example: true
      examples:
      - LicenseType: DEVELOPER
        AutoActivate: true
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
