openapi: 3.2.0
info:
  title: Salesforce Revoke API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Revoke
paths:
  /services/oauth2/revoke:
    parameters: []
    post:
      tags:
      - Revoke
      summary: Salesforce Revoke Token
      description: 'This calls the standard revoke endpoint, passing in your access token. This endpoint should be called as part of your logout process to invalidate the access and refresh token. '
      operationId: RevokeToken
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - token
              type: object
              properties:
                token:
                  type: string
                  description: Replace with a valid access token or refresh token.
              contentMediaType: application/x-www-form-urlencoded
            examples:
              RevoketokenRequestExample:
                summary: Default RevokeToken request
                x-microcks-default: true
                value:
                  token: CAUQAA
        required: false
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
