openapi: 3.2.0
info:
  title: Salesforce Commitment API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Commitment
paths:
  /data/v64.0/connect/fundraising/commitments/payment-updates:
    parameters: []
    post:
      tags:
      - Commitment
      summary: Salesforce Update Commitment Payments
      description: "Update the future payment instrument metadata for active gift commitments.\n\n## Required Attributes:\n\n- giftCommitmentId\n    \n- paymentInstrument.type"
      operationId: UpdateCommitmentPayments
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateCommitmentPaymentsRequest'
              - examples:
                - updates:
                  - giftCommitmentId: <SFDC_GIFT_COMMITMENT_ID>
                    paymentInstrument:
                      type: credit card
                      accountHolderName: test donor 1
                      expiryMonth: '10'
                      expiryYear: '2026'
                      last4: '4585'
                      cardBrand: visa
                      bankName: chase
                      digitalWalletProvider: apple pay
                      bankAccountHolderType: primary
                      bankAccountType: checking
                      bankAccountNumber: '123456'
                      bankCode: HBUK
                      gatewayName: stripe
                      processorName: classy
                      processorPaymentReference: string
                      gatewayReference: string
                  - giftCommitmentId: <SFDC_GIFT_COMMITMENT_ID>
                    paymentInstrument:
                      type: credit card
                      accountHolderName: test donor 2
                      expiryMonth: '10'
                      expiryYear: '2026'
                      last4: '4585'
                      cardBrand: visa
                      bankName: chase
                      digitalWalletProvider: apple pay
                      bankAccountHolderType: primary
                      bankAccountType: checking
                      bankAccountNumber: '123456'
                      bankCode: HBUK
                      gatewayName: stripe
                      processorName: test processor
                      processorPaymentReference: string
                      gatewayReference: string
              contentMediaType: application/json
            example:
              updates:
              - giftCommitmentId: <SFDC_GIFT_COMMITMENT_ID>
                paymentInstrument:
                  type: credit card
                  accountHolderName: test donor 1
                  expiryMonth: '10'
                  expiryYear: '2026'
                  last4: '4585'
                  cardBrand: visa
                  bankName: chase
                  digitalWalletProvider: apple pay
                  bankAccountHolderType: primary
                  bankAccountType: checking
                  bankAccountNumber: '123456'
                  bankCode: HBUK
                  gatewayName: stripe
                  processorName: classy
                  processorPaymentReference: string
                  gatewayReference: string
              - giftCommitmentId: <SFDC_GIFT_COMMITMENT_ID>
                paymentInstrument:
                  type: credit card
                  accountHolderName: test donor 2
                  expiryMonth: '10'
                  expiryYear: '2026'
                  last4: '4585'
                  cardBrand: visa
                  bankName: chase
                  digitalWalletProvider: apple pay
                  bankAccountHolderType: primary
                  bankAccountType: checking
                  bankAccountNumber: '123456'
                  bankCode: HBUK
                  gatewayName: stripe
                  processorName: test processor
                  processorPaymentReference: string
                  gatewayReference: string
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status201-UpdateCommitmentSuccess'
                - examples:
                  - successes: 2
                    failures: 0
                    notProcessed: 0
                    details:
                    - success: true
                      links:
                        giftcommitment:
                          href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                          id: <SFDC_GIFT_COMMITMENT_ID>
                        paymentinstrument:
                          href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
                          id: <SFDC_PAYMENT_INSTRUMENT_ID>
                    - success: true
                      links:
                        giftcommitment:
                          href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                          id: <SFDC_GIFT_COMMITMENT_ID>
                        paymentinstrument:
                          href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
                          id: <SFDC_PAYMENT_INSTRUMENT_ID>
                contentMediaType: application/json
              example:
                successes: 2
                failures: 0
                notProcessed: 0
                details:
                - success: true
                  links:
                    giftcommitment:
                      href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                      id: <SFDC_GIFT_COMMITMENT_ID>
                    paymentinstrument:
                      href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
                      id: <SFDC_PAYMENT_INSTRUMENT_ID>
                - success: true
                  links:
                    giftcommitment:
                      href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                      id: <SFDC_GIFT_COMMITMENT_ID>
                    paymentinstrument:
                      href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
                      id: <SFDC_PAYMENT_INSTRUMENT_ID>
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-UpdateCommitmentRequestValidationFailure1'
                - examples:
                  - successes: 1
                    failures: 1
                    notProcessed: 0
                    details:
                    - success: false
                      errors:
                        field: id
                        message: <invalid id message>
                    - success: true
                      links:
                        giftcommitment:
                          href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                          id: <SFDC_GIFT_COMMITMENT_ID>
                        paymentinstrument:
                          href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
                          id: <SFDC_PAYMENT_INSTRUMENT_ID>
                contentMediaType: application/json
              example:
                successes: 1
                failures: 1
                notProcessed: 0
                details:
                - success: false
                  errors:
                    field: id
                    message: <invalid id message>
                - success: true
                  links:
                    giftcommitment:
                      href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
                      id: <SFDC_GIFT_COMMITMENT_ID>
                    paymentinstrument:
                      href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
                      id: <SFDC_PAYMENT_INSTRUMENT_ID>
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                type: string
                examples:
                - "    // Even if the JSON request is valid, this is an example of a 400 error code that will be returned if duplicate matching rules are not active. Any non 200 error code would have a similar response structure.\n    {\n        \"errorCode\": \"UNKNOWN_EXCEPTION\",\n        \"message\": \"Provide active duplicate matching rules on Account and Person Account for donor matching. -- industries.fundraisingops.connect.impl.validator.ValidatorUtil.validateMatchingMethod(ValidatorUtil.java:103)\"\n    }"
                contentMediaType: application/json
              example: "    // Even if the JSON request is valid, this is an example of a 400 error code that will be returned if duplicate matching rules are not active. Any non 200 error code would have a similar response structure.\n    {\n        \"errorCode\": \"UNKNOWN_EXCEPTION\",\n        \"message\": \"Provide active duplicate matching rules on Account and Person Account for donor matching. -- industries.fundraisingops.connect.impl.validator.ValidatorUtil.validateMatchingMethod(ValidatorUtil.java:103)\"\n    }"
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Update1:
      title: Update1
      required:
      - giftCommitmentId
      - paymentInstrument
      type: object
      properties:
        giftCommitmentId:
          type: string
          example: '500123'
        paymentInstrument:
          $ref: '#/components/schemas/PaymentInstrument'
      examples:
      - giftCommitmentId: <SFDC_GIFT_COMMITMENT_ID>
        paymentInstrument:
          type: credit card
          accountHolderName: test donor 1
          expiryMonth: '10'
          expiryYear: '2026'
          last4: '4585'
          cardBrand: visa
          bankName: chase
          digitalWalletProvider: apple pay
          bankAccountHolderType: primary
          bankAccountType: checking
          bankAccountNumber: '123456'
          bankCode: HBUK
          gatewayName: stripe
          processorName: classy
          processorPaymentReference: string
          gatewayReference: string
    Status201-UpdateCommitmentSuccess:
      title: Status201-UpdateCommitmentSuccess
      required:
      - successes
      - failures
      - notProcessed
      - details
      type: object
      properties:
        successes:
          type: integer
          contentEncoding: int32
          example: 10
        failures:
          type: integer
          contentEncoding: int32
          example: 10
        notProcessed:
          type: integer
          contentEncoding: int32
          example: 10
        details:
          type: array
          items:
            $ref: '#/components/schemas/Detail13'
          description: ''
          example: []
      examples:
      - successes: 2
        failures: 0
        notProcessed: 0
        details:
        - success: true
          links:
            giftcommitment:
              href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
              id: <SFDC_GIFT_COMMITMENT_ID>
            paymentinstrument:
              href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
              id: <SFDC_PAYMENT_INSTRUMENT_ID>
        - success: true
          links:
            giftcommitment:
              href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
              id: <SFDC_GIFT_COMMITMENT_ID>
            paymentinstrument:
              href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
              id: <SFDC_PAYMENT_INSTRUMENT_ID>
    Errors:
      title: Errors
      required:
      - field
      - message
      type: object
      properties:
        field:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - field: id
        message: <invalid id message>
    PaymentInstrument:
      title: PaymentInstrument
      required:
      - type
      - accountHolderName
      - expiryMonth
      - expiryYear
      - last4
      - cardBrand
      - bankName
      - digitalWalletProvider
      - bankAccountHolderType
      - bankAccountType
      - bankAccountNumber
      - bankCode
      - gatewayName
      - processorName
      - processorPaymentReference
      - gatewayReference
      type: object
      properties:
        type:
          type: string
          example: example_value
        accountHolderName:
          type: string
          example: 42
        expiryMonth:
          type: string
          example: example_value
        expiryYear:
          type: string
          example: example_value
        last4:
          type: string
          example: example_value
        cardBrand:
          type: string
          example: example_value
        bankName:
          type: string
          example: example_value
        digitalWalletProvider:
          type: string
          example: example_value
        bankAccountHolderType:
          type: string
          example: 42
        bankAccountType:
          type: string
          example: 42
        bankAccountNumber:
          type: string
          example: 42
        bankCode:
          type: string
          example: example_value
        gatewayName:
          type: string
          example: example_value
        processorName:
          type: string
          example: example_value
        processorPaymentReference:
          type: string
          example: example_value
        gatewayReference:
          type: string
          example: example_value
      examples:
      - type: credit card
        accountHolderName: test donor
        expiryMonth: '10'
        expiryYear: '2027'
        last4: '4585'
        cardBrand: visa
        bankName: chase
        digitalWalletProvider: apple pay
        bankAccountHolderType: primary
        bankAccountType: checking
        bankAccountNumber: '123456'
        bankCode: HBUK
        gatewayName: stripe
        processorName: test processor
        processorPaymentReference: string
        gatewayReference: string
    Paymentinstrument1:
      title: Paymentinstrument1
      required:
      - href
      - id
      type: object
      properties:
        href:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
      examples:
      - href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
        id: <SFDC_PAYMENT_INSTRUMENT_ID>
    UpdateCommitmentPaymentsRequest:
      title: UpdateCommitmentPaymentsRequest
      required:
      - updates
      type: object
      properties:
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update1'
          description: ''
          example: []
      examples:
      - updates:
        - giftCommitmentId: <SFDC_GIFT_COMMITMENT_ID>
          paymentInstrument:
            type: credit card
            accountHolderName: test donor 1
            expiryMonth: '10'
            expiryYear: '2026'
            last4: '4585'
            cardBrand: visa
            bankName: chase
            digitalWalletProvider: apple pay
            bankAccountHolderType: primary
            bankAccountType: checking
            bankAccountNumber: '123456'
            bankCode: HBUK
            gatewayName: stripe
            processorName: classy
            processorPaymentReference: string
            gatewayReference: string
        - giftCommitmentId: <SFDC_GIFT_COMMITMENT_ID>
          paymentInstrument:
            type: credit card
            accountHolderName: test donor 2
            expiryMonth: '10'
            expiryYear: '2026'
            last4: '4585'
            cardBrand: visa
            bankName: chase
            digitalWalletProvider: apple pay
            bankAccountHolderType: primary
            bankAccountType: checking
            bankAccountNumber: '123456'
            bankCode: HBUK
            gatewayName: stripe
            processorName: test processor
            processorPaymentReference: string
            gatewayReference: string
    Detail14:
      title: Detail14
      required:
      - success
      type: object
      properties:
        success:
          type: boolean
          example: true
        errors:
          $ref: '#/components/schemas/Errors'
        links:
          $ref: '#/components/schemas/Links13'
      examples:
      - success: false
        errors:
          field: id
          message: <invalid id message>
    Giftcommitment:
      title: Giftcommitment
      required:
      - href
      - id
      type: object
      properties:
        href:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
      examples:
      - href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
        id: <SFDC_GIFT_COMMITMENT_ID>
    Links13:
      title: Links13
      required:
      - giftcommitment
      - paymentinstrument
      type: object
      properties:
        giftcommitment:
          $ref: '#/components/schemas/Giftcommitment'
        paymentinstrument:
          $ref: '#/components/schemas/Paymentinstrument1'
      examples:
      - giftcommitment:
          href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
          id: <SFDC_GIFT_COMMITMENT_ID>
        paymentinstrument:
          href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
          id: <SFDC_PAYMENT_INSTRUMENT_ID>
    Detail13:
      title: Detail13
      required:
      - success
      - links
      type: object
      properties:
        success:
          type: boolean
          example: true
        links:
          $ref: '#/components/schemas/Links13'
      examples:
      - success: true
        links:
          giftcommitment:
            href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
            id: <SFDC_GIFT_COMMITMENT_ID>
          paymentinstrument:
            href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
            id: <SFDC_PAYMENT_INSTRUMENT_ID>
    Status200-UpdateCommitmentRequestValidationFailure1:
      title: Status200-UpdateCommitmentRequestValidationFailure1
      required:
      - successes
      - failures
      - notProcessed
      - details
      type: object
      properties:
        successes:
          type: integer
          contentEncoding: int32
          example: 10
        failures:
          type: integer
          contentEncoding: int32
          example: 10
        notProcessed:
          type: integer
          contentEncoding: int32
          example: 10
        details:
          type: array
          items:
            $ref: '#/components/schemas/Detail14'
          description: ''
          example: []
      examples:
      - successes: 1
        failures: 1
        notProcessed: 0
        details:
        - success: false
          errors:
            field: id
            message: <invalid id message>
        - success: true
          links:
            giftcommitment:
              href: /services/data/vXX.X/sobjects/sObject/<SFDC_GIFT_COMMITMENT_ID>
              id: <SFDC_GIFT_COMMITMENT_ID>
            paymentinstrument:
              href: /services/data/vXX.X/sobjects/sObject/<SFDC_PAYMENT_INSTRUMENT_ID>
              id: <SFDC_PAYMENT_INSTRUMENT_ID>
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
