openapi: 3.2.0
info:
  title: Salesforce Active API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Active
paths:
  /data/v64.0/ui-api/themes/active:
    parameters: []
    get:
      tags:
      - Active
      summary: Salesforce Get Active Theme
      description: Get a Salesforce org’s active theme. A theme uses colors, images, and banners to change the overall appearance of Salesforce. Administrators can define themes and switch themes to provide a different look. The User Interface API response matches the Admin’s selection.
      operationId: GetActiveTheme
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 06 Oct 2023 09:24:07 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/GetActiveTheme'
                - examples:
                  - brandColor: '#0176D3'
                    brandImage:
                      largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_3x.png
                      mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_2x.png
                      smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_1x.png
                    defaultGroupBanner:
                      fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group.png
                    defaultGroupImage:
                      largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_200.png
                      mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_160.png
                      smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_96.png
                    defaultPageBanner:
                      fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_background.png
                    defaultUserBanner:
                      fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile.png
                    defaultUserImage:
                      largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_200.png
                      mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_160.png
                      smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_96.png
                    density: ViewOne
                    headerColor: '#FFFFFF'
                    linkColor: '#0176D3'
                    pageColor: '#B0C4DF'
                contentMediaType: application/json;charset=UTF-8
              example:
                brandColor: '#0176D3'
                brandImage:
                  largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_3x.png
                  mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_2x.png
                  smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_1x.png
                defaultGroupBanner:
                  fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group.png
                defaultGroupImage:
                  largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_200.png
                  mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_160.png
                  smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_96.png
                defaultPageBanner:
                  fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_background.png
                defaultUserBanner:
                  fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile.png
                defaultUserImage:
                  largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_200.png
                  mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_160.png
                  smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_96.png
                density: ViewOne
                headerColor: '#FFFFFF'
                linkColor: '#0176D3'
                pageColor: '#B0C4DF'
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DefaultPageBanner:
      title: DefaultPageBanner
      required:
      - fullSizeUrl
      type: object
      properties:
        fullSizeUrl:
          type: string
          example: https://www.example.com
      examples:
      - fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_background.png
    BrandImage:
      title: BrandImage
      required:
      - largeUrl
      - mediumUrl
      - smallUrl
      type: object
      properties:
        largeUrl:
          type: string
          example: https://www.example.com
        mediumUrl:
          type: string
          example: https://www.example.com
        smallUrl:
          type: string
          example: https://www.example.com
      examples:
      - largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_3x.png
        mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_2x.png
        smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_1x.png
    DefaultUserBanner:
      title: DefaultUserBanner
      required:
      - fullSizeUrl
      type: object
      properties:
        fullSizeUrl:
          type: string
          example: https://www.example.com
      examples:
      - fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile.png
    GetActiveTheme:
      title: GetActiveTheme
      required:
      - brandColor
      - brandImage
      - defaultGroupBanner
      - defaultGroupImage
      - defaultPageBanner
      - defaultUserBanner
      - defaultUserImage
      - density
      - headerColor
      - linkColor
      - pageColor
      type: object
      properties:
        brandColor:
          type: string
          example: example_value
        brandImage:
          $ref: '#/components/schemas/BrandImage'
        defaultGroupBanner:
          $ref: '#/components/schemas/DefaultGroupBanner'
        defaultGroupImage:
          $ref: '#/components/schemas/DefaultGroupImage'
        defaultPageBanner:
          $ref: '#/components/schemas/DefaultPageBanner'
        defaultUserBanner:
          $ref: '#/components/schemas/DefaultUserBanner'
        defaultUserImage:
          $ref: '#/components/schemas/DefaultUserImage'
        density:
          type: string
          example: example_value
        headerColor:
          type: string
          example: example_value
        linkColor:
          type: string
          example: example_value
        pageColor:
          type: string
          example: example_value
      examples:
      - brandColor: '#0176D3'
        brandImage:
          largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_3x.png
          mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_2x.png
          smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_logo_1x.png
        defaultGroupBanner:
          fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group.png
        defaultGroupImage:
          largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_200.png
          mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_160.png
          smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_96.png
        defaultPageBanner:
          fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_background.png
        defaultUserBanner:
          fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile.png
        defaultUserImage:
          largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_200.png
          mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_160.png
          smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_96.png
        density: ViewOne
        headerColor: '#FFFFFF'
        linkColor: '#0176D3'
        pageColor: '#B0C4DF'
    DefaultGroupBanner:
      title: DefaultGroupBanner
      required:
      - fullSizeUrl
      type: object
      properties:
        fullSizeUrl:
          type: string
          example: https://www.example.com
      examples:
      - fullSizeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group.png
    DefaultGroupImage:
      title: DefaultGroupImage
      required:
      - largeUrl
      - mediumUrl
      - smallUrl
      type: object
      properties:
        largeUrl:
          type: string
          example: https://www.example.com
        mediumUrl:
          type: string
          example: https://www.example.com
        smallUrl:
          type: string
          example: https://www.example.com
      examples:
      - largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_200.png
        mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_160.png
        smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_group_icon_96.png
    DefaultUserImage:
      title: DefaultUserImage
      required:
      - largeUrl
      - mediumUrl
      - smallUrl
      type: object
      properties:
        largeUrl:
          type: string
          example: https://www.example.com
        mediumUrl:
          type: string
          example: https://www.example.com
        smallUrl:
          type: string
          example: https://www.example.com
      examples:
      - largeUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_200.png
        mediumUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_160.png
        smallUrl: /_slds/images/themes/lightning_blue/lightning_blue_profile_avatar_96.png
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
