openapi: 3.2.0
info:
  title: Salesforce External API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: External
paths:
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/{FIELD_NAME}/{FIELD_VALUE}:
    parameters: []
    get:
      tags:
      - External
      summary: Salesforce Sobject Rows by External Id
      description: 'Creates new records or updates existing records (upserts records) based on the value of a specified external ID field.


        If the specified value doesn''t exist, a new record is created.

        If a record does exist with that value, the field values specified in the request body are updated.

        If the value is not unique, the REST API returns a 300 response with the list of matching records.


        HEAD, GET, PATCH, DELETE, POST'
      operationId: SObjectRowsbyExternalID
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: FIELD_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: FIELD_VALUE
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
