openapi: 3.2.0
info:
  title: Salesforce Bundles API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Bundles
paths:
  /data/v64.0/commerce/catalog-products/actions/get-products:
    parameters: []
    post:
      tags:
      - Bundles
      summary: Salesforce Request Product Information (no Bundles)
      description: 'Request information for two products that aren''t bundles. For the first product, request only the information about the specified product selling model. For the second product, request information about all related product selling models.


        See [Request Product Information](https://desktop.postman.com/?desktopVersion=10.13.6&webVersion=10.13.7-ui-230522-1730&userId=10709048&teamId=0).'
      operationId: RequestProductInformation(NoBundles)
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RequestProductInformationNoBundlesRequest'
              - examples:
                - productContexts:
                  - product2Id: '{{ClassTrainingProduct}}'
                    productSellingModelId: '{{OneTimePSM}}'
                  - product2Id: '{{VirtualRouterProduct}}'
                  fields:
                  - id
                  - name
                  - IsActive
                  - ProductCode
                  retrievalType: ExcludeChildComponents
              contentMediaType: application/json
            example:
              productContexts:
              - product2Id: '{{ClassTrainingProduct}}'
                productSellingModelId: '{{OneTimePSM}}'
              - product2Id: '{{VirtualRouterProduct}}'
              fields:
              - id
              - name
              - IsActive
              - ProductCode
              retrievalType: ExcludeChildComponents
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProductContext:
      title: ProductContext
      required:
      - product2Id
      type: object
      properties:
        product2Id:
          type: string
          example: '500123'
        productSellingModelId:
          type: string
          example: '500123'
      examples:
      - product2Id: '{{ClassTrainingProduct}}'
        productSellingModelId: '{{OneTimePSM}}'
    RequestProductInformationNoBundlesRequest:
      title: RequestProductInformationNoBundlesRequest
      required:
      - productContexts
      - fields
      - retrievalType
      type: object
      properties:
        productContexts:
          type: array
          items:
            $ref: '#/components/schemas/ProductContext'
          description: ''
          example: []
        fields:
          type: array
          items:
            type: string
          description: ''
          example: []
        retrievalType:
          type: string
          example: example_value
      examples:
      - productContexts:
        - product2Id: '{{ClassTrainingProduct}}'
          productSellingModelId: '{{OneTimePSM}}'
        - product2Id: '{{VirtualRouterProduct}}'
        fields:
        - id
        - name
        - IsActive
        - ProductCode
        retrievalType: ExcludeChildComponents
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
