openapi: 3.2.0
info:
  title: Salesforce Describe API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Describe
paths:
  /data/v64.0/tooling/sobjects/EventRelayConfig/describe:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Describe Event Relay
      operationId: Describeeventrelay
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/EventRelayFeedback/describe:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Describe Event Felay Feedback
      operationId: Describeeventfelayfeedback
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/ManagedEventSubscription/describe:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Describe Managed Event Subscription
      operationId: Describemanagedeventsubscription
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Describe Global
      description: 'Lists the available objects and their metadata for your organization’s data. In addition, it provides the organization encoding, as well as the maximum batch size permitted in queries.


        You can use the If-Modified-Since header with this resource, with the date format EEE, dd MMM yyyy HH:mm:ss z. When using this header, if no available object’s metadata has changed since the provided date, a 304 Not Modified status code is returned with no response body.'
      operationId: DescribeGlobal
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/describe:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Sobject Describe
      description: Describes the individual metadata for the specified object. Can also be used to create a new record for a given object. For example, this can be used to retrieve the metadata for the Account object using the GET method, or create a new Account object using the POST method.
      operationId: SObjectDescribe
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: Object API name
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 06 Oct 2023 09:03:07 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=54/15000
            ETag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '"dd40d18c--gzip"'
            Last-Modified:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 04 Oct 2023 18:33:03 GMT
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SObjectDescribe'
              examples:
                Sobjectdescribe200Example:
                  summary: Default SObjectDescribe 200 response
                  x-microcks-default: true
                  value:
                    actionOverrides:
                    - formFactor: example_value
                      isAvailableInTouch: true
                      name: Example Title
                      pageId: '500123'
                      url: https://www.example.com
                    activateable: true
                    associateEntityType: example_value
                    associateParentEntity: example_value
                    childRelationships:
                    - cascadeDelete: true
                      childSObject: example_value
                      deprecatedAndHidden: true
                      field: example_value
                      junctionIdListNames: {}
                      junctionReferenceTo: {}
                      relationshipName: example_value
                      restrictedDelete: true
                    compactLayoutable: true
                    createable: true
                    custom: true
                    customSetting: true
                    deepCloneable: true
                    defaultImplementation: example_value
                    deletable: true
                    deprecatedAndHidden: true
                    extendedBy: example_value
                    extendsInterfaces: example_value
                    feedEnabled: true
                    fields:
                    - aggregatable: true
                      aiPredictionField: true
                      autoNumber: true
                      byteLength: 10
                      calculated: true
                      calculatedFormula: example_value
                      cascadeDelete: true
                      caseSensitive: true
                      compoundFieldName: example_value
                      controllerName: example_value
                      createable: true
                      custom: true
                      defaultValue: example_value
                      defaultValueFormula: example_value
                      defaultedOnCreate: true
                      dependentPicklist: true
                      deprecatedAndHidden: true
                      digits: 10
                      displayLocationInDecimal: true
                      encrypted: true
                      externalId: '500123'
                      extraTypeInfo: example_value
                      filterable: true
                      filteredLookupInfo: example_value
                      formulaTreatNullNumberAsZero: true
                      groupable: true
                      highScaleNumber: true
                      htmlFormatted: true
                      idLookup: true
                      inlineHelpText: example_value
                      label: Example Title
                      length: 10
                      mask: example_value
                      maskType: example_value
                      name: Example Title
                      nameField: true
                      namePointing: true
                      nillable: true
                      permissionable: true
                      picklistValues: {}
                      polymorphicForeignKey: true
                      precision: 10
                      queryByDistance: true
                      referenceTargetField: example_value
                      referenceTo: {}
                      relationshipName: example_value
                      relationshipOrder: example_value
                      restrictedDelete: true
                      restrictedPicklist: true
                      scale: 10
                      searchPrefilterable: true
                      soapType: example_value
                      sortable: true
                      type: example_value
                      unique: true
                      updateable: true
                      writeRequiresMasterRead: true
                    hasSubtypes: true
                    implementedBy: example_value
                    implementsInterfaces: example_value
                    isInterface: true
                    isSubtype: true
                    keyPrefix: example_value
                    label: Example Title
                    labelPlural: example_value
                    layoutable: true
                    listviewable: example_value
                    lookupLayoutable: example_value
                    mergeable: true
                    mruEnabled: true
                    name: Example Title
                    namedLayoutInfos:
                    - example_value
                    networkScopeFieldName: example_value
                    queryable: true
                    recordTypeInfos:
                    - active: true
                      available: true
                      defaultRecordTypeMapping: true
                      developerName: example_value
                      master: true
                      name: Example Title
                      recordTypeId: '500123'
                    replicateable: true
                    retrieveable: true
                    searchLayoutable: true
                    searchable: true
                    sobjectDescribeOption: example_value
                    supportedScopes:
                    - label: Example Title
                      name: Example Title
                    triggerable: true
                    undeletable: true
                    updateable: true
                    urls:
                      compactLayouts: example_value
                      rowTemplate: example_value
                      approvalLayouts: example_value
                      uiDetailTemplate: example_value
                      uiEditTemplate: example_value
                      listviews: example_value
                      describe: example_value
                      uiNewRecord: example_value
                      quickActions: example_value
                      layouts: example_value
                      sobject: example_value
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/Global/describe/layouts:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Describe Global Layouts
      description: Returns a list of layouts and descriptions. The list of fields and the layout name are returned.
      operationId: DescribeGlobalLayouts
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/describe/layouts:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Describe Sobject Layouts
      description: Returns a list of layouts and descriptions. The list of fields and the layout name are returned.
      operationId: DescribeSObjectLayouts
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/describe/layouts/{RECORD_TYPE_ID}:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Describe Sobject Layouts Per Record Type
      description: Returns a list of layouts and descriptions. The list of fields and the layout name are returned.
      operationId: DescribeSObjectLayoutsPerRecordType
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: RECORD_TYPE_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/listviews/{QUERY_LOCATOR}/describe:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce List View Describe
      description: Returns detailed information about a list view, including the ID, the columns, and the SOQL query.
      operationId: ListViewDescribe
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: QUERY_LOCATOR
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Get Tooling Describe
      description: Lists the available Tooling API objects and their metadata.
      operationId: GetToolingDescribe
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 11 Dec 2023 10:35:19 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=298/15000
            ETag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '"b0436952--gzip"'
            Last-Modified:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 11 Dec 2023 09:28:13 GMT
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/GetToolingDescribe'
                - examples:
                  - encoding: UTF-8
                    maxBatchSize: 200
                    sobjects:
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 0Pp
                      label: AI Application
                      labelPlural: AI Applications
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: AIApplication
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/AIApplication/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/AIApplication/describe
                        sobject: /services/data/v59.0/tooling/sobjects/AIApplication
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 6S9
                      label: AI Application config
                      labelPlural: AI Application configs
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: AIApplicationConfig
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/AIApplicationConfig/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/AIApplicationConfig/describe
                        sobject: /services/data/v59.0/tooling/sobjects/AIApplicationConfig
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 0HE
                      label: Entity
                      labelPlural: Entity
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: AIReplyRecommendationsSettings
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings/describe
                        sobject: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: false
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: false
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 0Dx
                      label: Access Control Policy
                      labelPlural: Access Control Policies
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: AccessControlPolicy
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: true
                      undeletable: false
                      updateable: false
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/AccessControlPolicy/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/AccessControlPolicy/describe
                        sobject: /services/data/v59.0/tooling/sobjects/AccessControlPolicy
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 0HE
                      label: Entity
                      labelPlural: Entity
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: AccountIntelligenceSettings
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings/describe
                        sobject: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 0HE
                      label: Entity
                      labelPlural: Entity
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: AccountSettings
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/AccountSettings/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/AccountSettings/describe
                        sobject: /services/data/v59.0/tooling/sobjects/AccountSettings
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 11i
                      label: ActionLauncherItemDef
                      labelPlural: ActionLauncherItemDefs
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: ActionLauncherItemDef
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef/describe
                        sobject: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 0HE
                      label: Entity
                      labelPlural: Entity
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: ActionsSettings
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/ActionsSettings/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/ActionsSettings/describe
                        sobject: /services/data/v59.0/tooling/sobjects/ActionsSettings
                    - activateable: false
                      associateEntityType: null
                      associateParentEntity: null
                      createable: true
                      custom: false
                      customSetting: false
                      deepCloneable: false
                      deletable: true
                      deprecatedAndHidden: false
                      feedEnabled: false
                      hasSubtypes: false
                      isInterface: false
                      isSubtype: false
                      keyPrefix: 0HE
                      label: Entity
                      labelPlural: Entity
                      layoutable: false
                      mergeable: false
                      mruEnabled: false
                      name: ActivitiesSettings
                      queryable: true
                      replicateable: false
                      retrieveable: true
                      searchable: false
                      triggerable: false
                      undeletable: false
                      updateable: true
                      urls:
                        rowTemplate: /services/data/v59.0/tooling/sobjects/ActivitiesSettings/{ID}
                        describe: /services/data/v59.0/tooling/sobjects/ActivitiesSettings/describe
                        sobject: /services/data/v59.0/tooling/sobjects/ActivitiesSettings
                contentMediaType: application/json;charset=UTF-8
              example:
                encoding: UTF-8
                maxBatchSize: 200
                sobjects:
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 0Pp
                  label: AI Application
                  labelPlural: AI Applications
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: AIApplication
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/AIApplication/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/AIApplication/describe
                    sobject: /services/data/v59.0/tooling/sobjects/AIApplication
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 6S9
                  label: AI Application config
                  labelPlural: AI Application configs
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: AIApplicationConfig
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/AIApplicationConfig/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/AIApplicationConfig/describe
                    sobject: /services/data/v59.0/tooling/sobjects/AIApplicationConfig
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 0HE
                  label: Entity
                  labelPlural: Entity
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: AIReplyRecommendationsSettings
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings/describe
                    sobject: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: false
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: false
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 0Dx
                  label: Access Control Policy
                  labelPlural: Access Control Policies
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: AccessControlPolicy
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: true
                  undeletable: false
                  updateable: false
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/AccessControlPolicy/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/AccessControlPolicy/describe
                    sobject: /services/data/v59.0/tooling/sobjects/AccessControlPolicy
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 0HE
                  label: Entity
                  labelPlural: Entity
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: AccountIntelligenceSettings
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings/describe
                    sobject: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 0HE
                  label: Entity
                  labelPlural: Entity
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: AccountSettings
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/AccountSettings/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/AccountSettings/describe
                    sobject: /services/data/v59.0/tooling/sobjects/AccountSettings
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 11i
                  label: ActionLauncherItemDef
                  labelPlural: ActionLauncherItemDefs
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: ActionLauncherItemDef
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef/describe
                    sobject: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 0HE
                  label: Entity
                  labelPlural: Entity
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: ActionsSettings
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/ActionsSettings/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/ActionsSettings/describe
                    sobject: /services/data/v59.0/tooling/sobjects/ActionsSettings
                - activateable: false
                  associateEntityType: null
                  associateParentEntity: null
                  createable: true
                  custom: false
                  customSetting: false
                  deepCloneable: false
                  deletable: true
                  deprecatedAndHidden: false
                  feedEnabled: false
                  hasSubtypes: false
                  isInterface: false
                  isSubtype: false
                  keyPrefix: 0HE
                  label: Entity
                  labelPlural: Entity
                  layoutable: false
                  mergeable: false
                  mruEnabled: false
                  name: ActivitiesSettings
                  queryable: true
                  replicateable: false
                  retrieveable: true
                  searchable: false
                  triggerable: false
                  undeletable: false
                  updateable: true
                  urls:
                    rowTemplate: /services/data/v59.0/tooling/sobjects/ActivitiesSettings/{ID}
                    describe: /services/data/v59.0/tooling/sobjects/ActivitiesSettings/describe
                    sobject: /services/data/v59.0/tooling/sobjects/ActivitiesSettings
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/{SOBJECT_API_NAME}/describe:
    parameters: []
    get:
      tags:
      - Describe
      summary: Salesforce Get Tooling Describe Sobject
      operationId: GetToolingDescribeSObject
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 11 Dec 2023 10:36:38 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=300/15000
            ETag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '"df3a089a--gzip"'
            Last-Modified:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 11 Dec 2023 09:11:58 GMT
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GetToolingDescribeSObject'
              examples:
                Gettoolingdescribesobject200Example:
                  summary: Default GetToolingDescribeSObject 200 response
                  x-microcks-default: true
                  value:
                    actionOverrides:
                    - example_value
                    activateable: true
                    associateEntityType: example_value
                    associateParentEntity: example_value
                    childRelationships:
                    - cascadeDelete: true
                      childSObject: example_value
                      deprecatedAndHidden: true
                      field: example_value
                      junctionIdListNames: {}
                      junctionReferenceTo: {}
                      relationshipName: example_value
                      restrictedDelete: true
                    compactLayoutable: true
                    createable: true
                    custom: true
                    customSetting: true
                    deepCloneable: true
                    defaultImplementation: example_value
                    deletable: true
                    deprecatedAndHidden: true
                    extendedBy: example_value
                    extendsInterfaces: example_value
                    feedEnabled: true
                    fields:
                    - aggregatable: true
                      aiPredictionField: true
                      autoNumber: true
                      byteLength: 10
                      calculated: true
                      calculatedFormula: example_value
                      cascadeDelete: true
                      caseSensitive: true
                      compoundFieldName: example_value
                      controllerName: example_value
                      createable: true
                      custom: true
                      defaultValue: example_value
                      defaultValueFormula: example_value
                      defaultedOnCreate: true
                      dependentPicklist: true
                      deprecatedAndHidden: true
                      digits: 10
                      displayLocationInDecimal: true
                      encrypted: true
                      externalId: '500123'
                      extraTypeInfo: example_value
                      filterable: true
                      filteredLookupInfo: example_value
                      formulaTreatNullNumberAsZero: true
                      groupable: true
                      highScaleNumber: true
                      htmlFormatted: true
                      idLookup: true
                      inlineHelpText: example_value
                      label: Example Title
                      length: 10
                      mask: example_value
                      maskType: example_value
                      name: Example Title
                      nameField: true
                      namePointing: true
                      nillable: true
                      permissionable: true
                      picklistValues: {}
                      polymorphicForeignKey: true
                      precision: 10
                      queryByDistance: true
                      referenceTargetField: example_value
                      referenceTo: {}
                      relationshipName: example_value
                      relationshipOrder: example_value
                      restrictedDelete: true
                      restrictedPicklist: true
                      scale: 10
                      searchPrefilterable: true
                      soapType: example_value
                      sortable: true
                      type: example_value
                      unique: true
                      updateable: true
                      writeRequiresMasterRead: true
                    hasSubtypes: true
                    implementedBy: example_value
                    implementsInterfaces: example_value
                    isInterface: true
                    isSubtype: true
                    keyPrefix: example_value
                    label: Example Title
                    labelPlural: example_value
                    layoutable: true
                    listviewable: example_value
                    lookupLayoutable: example_value
                    mergeable: true
                    mruEnabled: true
                    name: Example Title
                    namedLayoutInfos:
                    - example_value
                    networkScopeFieldName: example_value
                    queryable: true
                    recordTypeInfos:
                    - example_value
                    replicateable: true
                    retrieveable: true
                    searchLayoutable: true
                    searchable: true
                    sobjectDescribeOption: example_value
                    supportedScopes:
                    - label: Example Title
                      name: Example Title
                    triggerable: true
                    undeletable: true
                    updateable: true
                    urls:
                      compactLayouts: example_value
                      rowTemplate: example_value
                      uiDetailTemplate: example_value
                      uiEditTemplate: example_value
                      describe: example_value
                      uiNewRecord: example_value
                      layouts: example_value
                      sobject: example_value
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Urls4:
      title: Urls4
      required:
      - compactLayouts
      - rowTemplate
      - approvalLayouts
      - uiDetailTemplate
      - uiEditTemplate
      - listviews
      - describe
      - uiNewRecord
      - quickActions
      - layouts
      - sobject
      type: object
      properties:
        compactLayouts:
          type: string
          example: example_value
        rowTemplate:
          type: string
          example: example_value
        approvalLayouts:
          type: string
          example: example_value
        uiDetailTemplate:
          type: string
          example: example_value
        uiEditTemplate:
          type: string
          example: example_value
        listviews:
          type: string
          example: example_value
        describe:
          type: string
          example: example_value
        uiNewRecord:
          type: string
          example: example_value
        quickActions:
          type: string
          example: example_value
        layouts:
          type: string
          example: example_value
        sobject:
          type: string
          example: example_value
      examples:
      - compactLayouts: /services/data/v58.0/sobjects/Lead/describe/compactLayouts
        rowTemplate: /services/data/v58.0/sobjects/Lead/{ID}
        approvalLayouts: /services/data/v58.0/sobjects/Lead/describe/approvalLayouts
        uiDetailTemplate: https://pozil-dev-ed.my.salesforce.com/{ID}
        uiEditTemplate: https://pozil-dev-ed.my.salesforce.com/{ID}/e
        listviews: /services/data/v58.0/sobjects/Lead/listviews
        describe: /services/data/v58.0/sobjects/Lead/describe
        uiNewRecord: https://pozil-dev-ed.my.salesforce.com/00Q/e
        quickActions: /services/data/v58.0/sobjects/Lead/quickActions
        layouts: /services/data/v58.0/sobjects/Lead/describe/layouts
        sobject: /services/data/v58.0/sobjects/Lead
    SObjectDescribe:
      title: SObjectDescribe
      required:
      - actionOverrides
      - activateable
      - associateEntityType
      - associateParentEntity
      - childRelationships
      - compactLayoutable
      - createable
      - custom
      - customSetting
      - deepCloneable
      - defaultImplementation
      - deletable
      - deprecatedAndHidden
      - extendedBy
      - extendsInterfaces
      - feedEnabled
      - fields
      - hasSubtypes
      - implementedBy
      - implementsInterfaces
      - isInterface
      - isSubtype
      - keyPrefix
      - label
      - labelPlural
      - layoutable
      - listviewable
      - lookupLayoutable
      - mergeable
      - mruEnabled
      - name
      - namedLayoutInfos
      - networkScopeFieldName
      - queryable
      - recordTypeInfos
      - replicateable
      - retrieveable
      - searchLayoutable
      - searchable
      - sobjectDescribeOption
      - supportedScopes
      - triggerable
      - undeletable
      - updateable
      - urls
      type: object
      properties:
        actionOverrides:
          type: array
          items:
            $ref: '#/components/schemas/ActionOverride'
          description: ''
          example: []
        activateable:
          type: boolean
          example: true
        associateEntityType:
          type:
          - string
          - 'null'
          example: example_value
        associateParentEntity:
          type:
          - string
          - 'null'
          example: example_value
        childRelationships:
          type: array
          items:
            $ref: '#/components/schemas/ChildRelationship'
          description: ''
          example: []
        compactLayoutable:
          type: boolean
          example: true
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        customSetting:
          type: boolean
          example: true
        deepCloneable:
          type: boolean
          example: true
        defaultImplementation:
          type:
          - string
          - 'null'
          example: example_value
        deletable:
          type: boolean
          example: true
        deprecatedAndHidden:
          type: boolean
          example: true
        extendedBy:
          type:
          - string
          - 'null'
          example: example_value
        extendsInterfaces:
          type:
          - string
          - 'null'
          example: example_value
        feedEnabled:
          type: boolean
          example: true
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field9'
          description: ''
          example: []
        hasSubtypes:
          type: boolean
          example: true
        implementedBy:
          type:
          - string
          - 'null'
          example: example_value
        implementsInterfaces:
          type:
          - string
          - 'null'
          example: example_value
        isInterface:
          type: boolean
          example: true
        isSubtype:
          type: boolean
          example: true
        keyPrefix:
          type: string
          example: example_value
        label:
          type: string
          example: Example Title
        labelPlural:
          type: string
          example: example_value
        layoutable:
          type: boolean
          example: true
        listviewable:
          type:
          - string
          - 'null'
          example: example_value
        lookupLayoutable:
          type:
          - string
          - 'null'
          example: example_value
        mergeable:
          type: boolean
          example: true
        mruEnabled:
          type: boolean
          example: true
        name:
          type: string
          example: Example Title
        namedLayoutInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        networkScopeFieldName:
          type:
          - string
          - 'null'
          example: example_value
        queryable:
          type: boolean
          example: true
        recordTypeInfos:
          type: array
          items:
            $ref: '#/components/schemas/RecordTypeInfo'
          description: ''
          example: []
        replicateable:
          type: boolean
          example: true
        retrieveable:
          type: boolean
          example: true
        searchLayoutable:
          type: boolean
          example: true
        searchable:
          type: boolean
          example: true
        sobjectDescribeOption:
          type: string
          example: example_value
        supportedScopes:
          type: array
          items:
            $ref: '#/components/schemas/SupportedScope'
          description: ''
          example: []
        triggerable:
          type: boolean
          example: true
        undeletable:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
        urls:
          $ref: '#/components/schemas/Urls4'
    Urls8:
      title: Urls8
      required:
      - compactLayouts
      - rowTemplate
      - uiDetailTemplate
      - uiEditTemplate
      - describe
      - uiNewRecord
      - layouts
      - sobject
      type: object
      properties:
        compactLayouts:
          type: string
          example: example_value
        rowTemplate:
          type: string
          example: example_value
        uiDetailTemplate:
          type: string
          example: example_value
        uiEditTemplate:
          type: string
          example: example_value
        describe:
          type: string
          example: example_value
        uiNewRecord:
          type: string
          example: example_value
        layouts:
          type: string
          example: example_value
        sobject:
          type: string
          example: example_value
      examples:
      - compactLayouts: /services/data/v59.0/tooling/sobjects/ApexClass/describe/compactLayouts
        rowTemplate: /services/data/v59.0/tooling/sobjects/ApexClass/{ID}
        uiDetailTemplate: https://pozil-dev-ed.my.salesforce.com/{ID}
        uiEditTemplate: https://pozil-dev-ed.my.salesforce.com/{ID}/e
        describe: /services/data/v59.0/tooling/sobjects/ApexClass/describe
        uiNewRecord: https://pozil-dev-ed.my.salesforce.com/01p/e
        layouts: /services/data/v59.0/tooling/sobjects/ApexClass/describe/layouts
        sobject: /services/data/v59.0/tooling/sobjects/ApexClass
    Fields2:
      title: Fields2
      required:
      - aggregatable
      - aiPredictionField
      - autoNumber
      - byteLength
      - calculated
      - calculatedFormula
      - cascadeDelete
      - caseSensitive
      - compoundFieldName
      - controllerName
      - createable
      - custom
      - defaultValue
      - defaultValueFormula
      - defaultedOnCreate
      - dependentPicklist
      - deprecatedAndHidden
      - digits
      - displayLocationInDecimal
      - encrypted
      - externalId
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - formulaTreatNullNumberAsZero
      - groupable
      - highScaleNumber
      - htmlFormatted
      - idLookup
      - inlineHelpText
      - label
      - length
      - mask
      - maskType
      - name
      - nameField
      - namePointing
      - nillable
      - permissionable
      - picklistValues
      - polymorphicForeignKey
      - precision
      - queryByDistance
      - referenceTargetField
      - referenceTo
      - relationshipName
      - relationshipOrder
      - restrictedDelete
      - restrictedPicklist
      - scale
      - searchPrefilterable
      - soapType
      - sortable
      - type
      - unique
      - updateable
      - writeRequiresMasterRead
      type: object
      properties:
        aggregatable:
          type: boolean
          example: true
        aiPredictionField:
          type: boolean
          example: true
        autoNumber:
          type: boolean
          example: true
        byteLength:
          type: integer
          contentEncoding: int32
          example: 10
        calculated:
          type: boolean
          example: true
        calculatedFormula:
          type:
          - string
          - 'null'
          example: example_value
        cascadeDelete:
          type: boolean
          example: true
        caseSensitive:
          type: boolean
          example: true
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        defaultValue:
          oneOf:
          - type:
            - string
            - 'null'
          - type: boolean
          - {}
          example: example_value
        defaultValueFormula:
          type:
          - string
          - 'null'
          example: example_value
        defaultedOnCreate:
          type: boolean
          example: true
        dependentPicklist:
          type: boolean
          example: true
        deprecatedAndHidden:
          type: boolean
          example: true
        digits:
          type: integer
          contentEncoding: int32
          example: 10
        displayLocationInDecimal:
          type: boolean
          example: true
        encrypted:
          type: boolean
          example: true
        externalId:
          type: boolean
          example: '500123'
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        formulaTreatNullNumberAsZero:
          type: boolean
          example: true
        groupable:
          type: boolean
          example: true
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        idLookup:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        mask:
          type:
          - string
          - 'null'
          example: example_value
        maskType:
          type:
          - string
          - 'null'
          example: example_value
        name:
          type: string
          example: Example Title
        nameField:
          type: boolean
          example: true
        namePointing:
          type: boolean
          example: true
        nillable:
          type: boolean
          example: true
        permissionable:
          type: boolean
          example: true
        picklistValues:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PicklistValue'
            - allOf:
              - $ref: '#/components/schemas/PicklistValue31'
              - examples:
                - active: true
                  defaultValue: false
                  label: Inactive
                  validFor: null
                  value: Inactive
          description: ''
          example: []
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        queryByDistance:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceTo:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        relationshipOrder:
          type:
          - string
          - 'null'
          example: example_value
        restrictedDelete:
          type: boolean
          example: true
        restrictedPicklist:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        soapType:
          type: string
          example: example_value
        sortable:
          type: boolean
          example: true
        type:
          type: string
          example: example_value
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
        writeRequiresMasterRead:
          type: boolean
          example: true
    Sobjects2:
      title: Sobjects2
      required:
      - activateable
      - associateEntityType
      - associateParentEntity
      - createable
      - custom
      - customSetting
      - deepCloneable
      - deletable
      - deprecatedAndHidden
      - feedEnabled
      - hasSubtypes
      - isInterface
      - isSubtype
      - keyPrefix
      - label
      - labelPlural
      - layoutable
      - mergeable
      - mruEnabled
      - name
      - queryable
      - replicateable
      - retrieveable
      - searchable
      - triggerable
      - undeletable
      - updateable
      - urls
      type: object
      properties:
        activateable:
          type: boolean
          example: true
        associateEntityType:
          type:
          - string
          - 'null'
          example: example_value
        associateParentEntity:
          type:
          - string
          - 'null'
          example: example_value
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        customSetting:
          type: boolean
          example: true
        deepCloneable:
          type: boolean
          example: true
        deletable:
          type: boolean
          example: true
        deprecatedAndHidden:
          type: boolean
          example: true
        feedEnabled:
          type: boolean
          example: true
        hasSubtypes:
          type: boolean
          example: true
        isInterface:
          type: boolean
          example: true
        isSubtype:
          type: boolean
          example: true
        keyPrefix:
          type: string
          example: example_value
        label:
          type: string
          example: Example Title
        labelPlural:
          type: string
          example: example_value
        layoutable:
          type: boolean
          example: true
        mergeable:
          type: boolean
          example: true
        mruEnabled:
          type: boolean
          example: true
        name:
          type: string
          example: Example Title
        queryable:
          type: boolean
          example: true
        replicateable:
          type: boolean
          example: true
        retrieveable:
          type: boolean
          example: true
        searchable:
          type: boolean
          example: true
        triggerable:
          type: boolean
          example: true
        undeletable:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
        urls:
          $ref: '#/components/schemas/Urls2'
      examples:
      - activateable: false
        associateEntityType: null
        associateParentEntity: null
        createable: true
        custom: false
        customSetting: false
        deepCloneable: false
        deletable: true
        deprecatedAndHidden: false
        feedEnabled: false
        hasSubtypes: false
        isInterface: false
        isSubtype: false
        keyPrefix: 0Pp
        label: AI Application
        labelPlural: AI Applications
        layoutable: false
        mergeable: false
        mruEnabled: false
        name: AIApplication
        queryable: true
        replicateable: false
        retrieveable: true
        searchable: false
        triggerable: false
        undeletable: false
        updateable: true
        urls:
          rowTemplate: /services/data/v59.0/tooling/sobjects/AIApplication/{ID}
          describe: /services/data/v59.0/tooling/sobjects/AIApplication/describe
          sobject: /services/data/v59.0/tooling/sobjects/AIApplication
    Urls2:
      title: Urls2
      required:
      - rowTemplate
      - describe
      - sobject
      type: object
      properties:
        rowTemplate:
          type: string
          example: example_value
        describe:
          type: string
          example: example_value
        sobject:
          type: string
          example: example_value
      examples:
      - rowTemplate: /services/data/v58.0/tooling/sobjects/PlatformEventChannel/{ID}
        describe: /services/data/v58.0/tooling/sobjects/PlatformEventChannel/describe
        sobject: /services/data/v58.0/tooling/sobjects/PlatformEventChannel
    PicklistValue:
      title: PicklistValue
      type: object
      properties:
        active:
          type: boolean
          example: true
        defaultValue:
          type: boolean
          example: true
        label:
          type: string
          example: Example Title
        validFor:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type: string
          example: example_value
    RecordTypeInfo:
      title: RecordTypeInfo
      required:
      - active
      - available
      - defaultRecordTypeMapping
      - developerName
      - master
      - name
      - recordTypeId
      - urls
      type: object
      properties:
        active:
          type: boolean
          example: true
        available:
          type: boolean
          example: true
        defaultRecordTypeMapping:
          type: boolean
          example: true
        developerName:
          type: string
          example: example_value
        master:
          type: boolean
          example: true
        name:
          type: string
          example: Example Title
        recordTypeId:
          type: string
          example: '500123'
        urls:
          $ref: '#/components/schemas/Urls3'
      examples:
      - active: true
        available: true
        defaultRecordTypeMapping: true
        developerName: Master
        master: true
        name: Master
        recordTypeId: 012000000000000AAA
        urls:
          layout: /services/data/v58.0/sobjects/Lead/describe/layouts/012000000000000AAA
    Urls3:
      title: Urls3
      required:
      - layout
      type: object
      properties:
        layout:
          type: string
          example: example_value
      examples:
      - layout: /services/data/v58.0/sobjects/Lead/describe/layouts/012000000000000AAA
    ActionOverride:
      title: ActionOverride
      required:
      - formFactor
      - isAvailableInTouch
      - name
      - pageId
      - url
      type: object
      properties:
        formFactor:
          type: string
          example: example_value
        isAvailableInTouch:
          type: boolean
          example: true
        name:
          type: string
          example: Example Title
        pageId:
          type: string
          example: '500123'
        url:
          type:
          - string
          - 'null'
          example: https://www.example.com
      examples:
      - formFactor: LARGE
        isAvailableInTouch: false
        name: View
        pageId: 0M0580000008YfXCAU
        url: null
    GetToolingDescribe:
      title: GetToolingDescribe
      required:
      - encoding
      - maxBatchSize
      - sobjects
      type: object
      properties:
        encoding:
          type: string
          example: example_value
        maxBatchSize:
          type: integer
          contentEncoding: int32
          example: 10
        sobjects:
          type: array
          items:
            $ref: '#/components/schemas/Sobjects2'
          description: ''
          example: []
      examples:
      - encoding: UTF-8
        maxBatchSize: 200
        sobjects:
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 0Pp
          label: AI Application
          labelPlural: AI Applications
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: AIApplication
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/AIApplication/{ID}
            describe: /services/data/v59.0/tooling/sobjects/AIApplication/describe
            sobject: /services/data/v59.0/tooling/sobjects/AIApplication
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 6S9
          label: AI Application config
          labelPlural: AI Application configs
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: AIApplicationConfig
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/AIApplicationConfig/{ID}
            describe: /services/data/v59.0/tooling/sobjects/AIApplicationConfig/describe
            sobject: /services/data/v59.0/tooling/sobjects/AIApplicationConfig
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 0HE
          label: Entity
          labelPlural: Entity
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: AIReplyRecommendationsSettings
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings/{ID}
            describe: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings/describe
            sobject: /services/data/v59.0/tooling/sobjects/AIReplyRecommendationsSettings
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: false
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: false
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 0Dx
          label: Access Control Policy
          labelPlural: Access Control Policies
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: AccessControlPolicy
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: true
          undeletable: false
          updateable: false
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/AccessControlPolicy/{ID}
            describe: /services/data/v59.0/tooling/sobjects/AccessControlPolicy/describe
            sobject: /services/data/v59.0/tooling/sobjects/AccessControlPolicy
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 0HE
          label: Entity
          labelPlural: Entity
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: AccountIntelligenceSettings
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings/{ID}
            describe: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings/describe
            sobject: /services/data/v59.0/tooling/sobjects/AccountIntelligenceSettings
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 0HE
          label: Entity
          labelPlural: Entity
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: AccountSettings
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/AccountSettings/{ID}
            describe: /services/data/v59.0/tooling/sobjects/AccountSettings/describe
            sobject: /services/data/v59.0/tooling/sobjects/AccountSettings
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 11i
          label: ActionLauncherItemDef
          labelPlural: ActionLauncherItemDefs
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: ActionLauncherItemDef
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef/{ID}
            describe: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef/describe
            sobject: /services/data/v59.0/tooling/sobjects/ActionLauncherItemDef
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 0HE
          label: Entity
          labelPlural: Entity
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: ActionsSettings
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/ActionsSettings/{ID}
            describe: /services/data/v59.0/tooling/sobjects/ActionsSettings/describe
            sobject: /services/data/v59.0/tooling/sobjects/ActionsSettings
        - activateable: false
          associateEntityType: null
          associateParentEntity: null
          createable: true
          custom: false
          customSetting: false
          deepCloneable: false
          deletable: true
          deprecatedAndHidden: false
          feedEnabled: false
          hasSubtypes: false
          isInterface: false
          isSubtype: false
          keyPrefix: 0HE
          label: Entity
          labelPlural: Entity
          layoutable: false
          mergeable: false
          mruEnabled: false
          name: ActivitiesSettings
          queryable: true
          replicateable: false
          retrieveable: true
          searchable: false
          triggerable: false
          undeletable: false
          updateable: true
          urls:
            rowTemplate: /services/data/v59.0/tooling/sobjects/ActivitiesSettings/{ID}
            describe: /services/data/v59.0/tooling/sobjects/ActivitiesSettings/describe
            sobject: /services/data/v59.0/tooling/sobjects/ActivitiesSettings
    ChildRelationship:
      title: ChildRelationship
      required:
      - cascadeDelete
      - childSObject
      - deprecatedAndHidden
      - field
      - junctionIdListNames
      - junctionReferenceTo
      - relationshipName
      - restrictedDelete
      type: object
      properties:
        cascadeDelete:
          type: boolean
          example: true
        childSObject:
          type: string
          example: example_value
        deprecatedAndHidden:
          type: boolean
          example: true
        field:
          type: string
          example: example_value
        junctionIdListNames:
          type: array
          items:
            type: string
          description: ''
          example: []
        junctionReferenceTo:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        restrictedDelete:
          type: boolean
          example: true
      examples:
      - cascadeDelete: true
        childSObject: AIInsightValue
        deprecatedAndHidden: false
        field: SobjectLookupValueId
        junctionIdListNames: []
        junctionReferenceTo: []
        relationshipName: null
        restrictedDelete: false
    GetToolingDescribeSObject:
      title: GetToolingDescribeSObject
      required:
      - actionOverrides
      - activateable
      - associateEntityType
      - associateParentEntity
      - childRelationships
      - compactLayoutable
      - createable
      - custom
      - customSetting
      - deepCloneable
      - defaultImplementation
      - deletable
      - deprecatedAndHidden
      - extendedBy
      - extendsInterfaces
      - feedEnabled
      - fields
      - hasSubtypes
      - implementedBy
      - implementsInterfaces
      - isInterface
      - isSubtype
      - keyPrefix
      - label
      - labelPlural
      - layoutable
      - listviewable
      - lookupLayoutable
      - mergeable
      - mruEnabled
      - name
      - namedLayoutInfos
      - networkScopeFieldName
      - queryable
      - recordTypeInfos
      - replicateable
      - retrieveable
      - searchLayoutable
      - searchable
      - sobjectDescribeOption
      - supportedScopes
      - triggerable
      - undeletable
      - updateable
      - urls
      type: object
      properties:
        actionOverrides:
          type: array
          items:
            type: string
          description: ''
          example: []
        activateable:
          type: boolean
          example: true
        associateEntityType:
          type:
          - string
          - 'null'
          example: example_value
        associateParentEntity:
          type:
          - string
          - 'null'
          example: example_value
        childRelationships:
          type: array
          items:
            $ref: '#/components/schemas/ChildRelationship'
          description: ''
          example: []
        compactLayoutable:
          type: boolean
          example: true
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        customSetting:
          type: boolean
          example: true
        deepCloneable:
          type: boolean
          example: true
        defaultImplementation:
          type:
          - string
          - 'null'
          example: example_value
        deletable:
          type: boolean
          example: true
        deprecatedAndHidden:
          type: boolean
          example: true
        extendedBy:
          type:
          - string
          - 'null'
          example: example_value
        extendsInterfaces:
          type:
          - string
          - 'null'
          example: example_value
        feedEnabled:
          type: boolean
          example: true
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Fields2'
          description: ''
          example: []
        hasSubtypes:
          type: boolean
          example: true
        implementedBy:
          type:
          - string
          - 'null'
          example: example_value
        implementsInterfaces:
          type:
          - string
          - 'null'
          example: example_value
        isInterface:
          type: boolean
          example: true
        isSubtype:
          type: boolean
          example: true
        keyPrefix:
          type: string
          example: example_value
        label:
          type: string
          example: Example Title
        labelPlural:
          type: string
          example: example_value
        layoutable:
          type: boolean
          example: true
        listviewable:
          type:
          - string
          - 'null'
          example: example_value
        lookupLayoutable:
          type:
          - string
          - 'null'
          example: example_value
        mergeable:
          type: boolean
          example: true
        mruEnabled:
          type: boolean
          example: true
        name:
          type: string
          example: Example Title
        namedLayoutInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        networkScopeFieldName:
          type:
          - string
          - 'null'
          example: example_value
        queryable:
          type: boolean
          example: true
        recordTypeInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        replicateable:
          type: boolean
          example: true
        retrieveable:
          type: boolean
          example: true
        searchLayoutable:
          type: boolean
          example: true
        searchable:
          type: boolean
          example: true
        sobjectDescribeOption:
          type: string
          example: example_value
        supportedScopes:
          type: array
          items:
            $ref: '#/components/schemas/SupportedScope'
          description: ''
          example: []
        triggerable:
          type: boolean
          example: true
        undeletable:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
        urls:
          $ref: '#/components/schemas/Urls8'
    PicklistValue31:
      title: PicklistValue31
      required:
      - active
      - defaultValue
      - label
      - validFor
      - value
      type: object
      properties:
        active:
          type: boolean
          example: true
        defaultValue:
          type: boolean
          example: true
        label:
          type: string
          example: Example Title
        validFor:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type: string
          example: example_value
      examples:
      - active: true
        defaultValue: false
        label: Mr.
        validFor: null
        value: Mr.
    SupportedScope:
      title: SupportedScope
      required:
      - label
      - name
      type: object
      properties:
        label:
          type: string
          example: Example Title
        name:
          type: string
          example: Example Title
      examples:
      - label: All platform event channels
        name: everything
    Field9:
      title: Field9
      required:
      - aggregatable
      - aiPredictionField
      - autoNumber
      - byteLength
      - calculated
      - calculatedFormula
      - cascadeDelete
      - caseSensitive
      - compoundFieldName
      - controllerName
      - createable
      - custom
      - defaultValue
      - defaultValueFormula
      - defaultedOnCreate
      - dependentPicklist
      - deprecatedAndHidden
      - digits
      - displayLocationInDecimal
      - encrypted
      - externalId
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - formulaTreatNullNumberAsZero
      - groupable
      - highScaleNumber
      - htmlFormatted
      - idLookup
      - inlineHelpText
      - label
      - length
      - mask
      - maskType
      - name
      - nameField
      - namePointing
      - nillable
      - permissionable
      - picklistValues
      - polymorphicForeignKey
      - precision
      - queryByDistance
      - referenceTargetField
      - referenceTo
      - relationshipName
      - relationshipOrder
      - restrictedDelete
      - restrictedPicklist
      - scale
      - searchPrefilterable
      - soapType
      - sortable
      - type
      - unique
      - updateable
      - writeRequiresMasterRead
      type: object
      properties:
        aggregatable:
          type: boolean
          example: true
        aiPredictionField:
          type: boolean
          example: true
        autoNumber:
          type: boolean
          example: true
        byteLength:
          type: integer
          contentEncoding: int32
          example: 10
        calculated:
          type: boolean
          example: true
        calculatedFormula:
          type:
          - string
          - 'null'
          example: example_value
        cascadeDelete:
          type: boolean
          example: true
        caseSensitive:
          type: boolean
          example: true
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        defaultValue:
          oneOf:
          - type:
            - string
            - 'null'
          - type: boolean
          - {}
          example: example_value
        defaultValueFormula:
          type:
          - string
          - 'null'
          example: example_value
        defaultedOnCreate:
          type: boolean
          example: true
        dependentPicklist:
          type: boolean
          example: true
        deprecatedAndHidden:
          type: boolean
          example: true
        digits:
          type: integer
          contentEncoding: int32
          example: 10
        displayLocationInDecimal:
          type: boolean
          example: true
        encrypted:
          type: boolean
          example: true
        externalId:
          type: boolean
          example: '500123'
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        formulaTreatNullNumberAsZero:
          type: boolean
          example: true
        groupable:
          type: boolean
          example: true
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        idLookup:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
[...]
