openapi: 3.2.0
info:
  title: Salesforce Initiate API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Initiate
paths:
  /data/v64.0/asset-management/assets/collection/actions/initiate-cancellation:
    parameters: []
    post:
      tags:
      - Initiate
      summary: Salesforce Initiate Cancellation
      operationId: InitiateCancellation
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InitiateCancellationRequest'
              - examples:
                - assetIds:
                    assetIdArray:
                    - '{{assetID}}'
                  cancellationDate: '2023-08-21T00:00:00.000Z'
                  cancellationOutputType: order
              contentMediaType: application/json
            example:
              assetIds:
                assetIdArray:
                - '{{assetID}}'
              cancellationDate: '2023-08-21T00:00:00.000Z'
              cancellationOutputType: order
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/asset-management/assets/collection/actions/initiate-renewal:
    parameters: []
    post:
      tags:
      - Initiate
      summary: Salesforce Initiate Renewal
      operationId: InitiateRenewal
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InitiateRenewalRequest'
              - examples:
                - assetIds:
                    assetIdArray:
                    - '{{assetID}}'
              contentMediaType: application/json
            example:
              assetIds:
                assetIdArray:
                - '{{assetID}}'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AssetIds:
      title: AssetIds
      required:
      - assetIdArray
      type: object
      properties:
        assetIdArray:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - assetIdArray:
        - '{{assetID}}'
    InitiateCancellationRequest:
      title: InitiateCancellationRequest
      required:
      - assetIds
      - cancellationDate
      - cancellationOutputType
      type: object
      properties:
        assetIds:
          $ref: '#/components/schemas/AssetIds'
        cancellationDate:
          type: string
          example: example_value
        cancellationOutputType:
          type: string
          example: example_value
      examples:
      - assetIds:
          assetIdArray:
          - '{{assetID}}'
        cancellationDate: '2023-08-21T00:00:00.000Z'
        cancellationOutputType: order
    InitiateRenewalRequest:
      title: InitiateRenewalRequest
      required:
      - assetIds
      type: object
      properties:
        assetIds:
          $ref: '#/components/schemas/AssetIds'
      examples:
      - assetIds:
          assetIdArray:
          - '{{assetID}}'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
