openapi: 3.2.0
info:
  title: Salesforce Expression API
  description: Find the resources you need to start building.
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Expression
paths:
  /data/v64.0/connect/business-rules/expression-set/{expressionSetId}:
    parameters: []
    get:
      tags:
      - Expression
      summary: Salesforce Expression Set Retrieve
      description: '# Expression Set Retrieve and Delete (DELETE, GET)


        Endpoints to read, and delete expression set.Resource


        ```

        /connect/business-rules/expression-set/${expressionSetId}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/v59.0/connect

        /business-rules/expressionSet/$11Oxx0000006PcLEAU


        ```


        Available version


        58.0


        Requires Chatter


        No


        HTTP methods


        DELETE, GET


        Request body for GET


        Root XML tag


        JSON example


        ```

        {

        "name": "CTX Mapping ES",

        "apiName": "CTX_Mapping_ES_1",

        "description": "...",

        "usageType": "Bre",

        "contextDefinitions": [

        {

        "id": "11Oxx0000006PcLEAU"

        }

        ],

        "versions": [

        {

        "name": "CTX_Mapping_ES_1 V1",

        "apiName": "CTX_Mapping_ES_1_V1",

        "description": "Sample CTX Mapping",

        "startDate": "2022-11-14T20:31:47.000+0000",

        "endDate": "2022-11-14T20:31:47.000+0000",

        "versionNumber": 1,

        "rank": 1,

        "enabled": true,

        "showExplExternally": false,

        "steps": [

        {

        "name": "Condition1",

        "description": "Condition step for conditions w.r.t product",

        "sequenceNumber": 1,

        "resultIncluded": true,

        "stepType": "Condition",

        "conditionExpression": {

        "expression": "productName == ''iPhone'' && productColor == ''Red''",

        "resultParameter": "condition_output__1"

        }

        }

        ],

        "variables": [

        {

        "name": "productName",

        "collection": false,

        "dataType": "Text",

        "description": "productName",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "productColor",

        "collection": false,

        "dataType": "Text",

        "description": "productColor",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "condition_output__1",

        "dataType": "Boolean",

        "description": "condition_output__1",

        "input": false,

        "output": true,

        "resultStep": "Condition1",

        "type": "Variable"

        }

        ]

        }

        ]

        }


        ```


        Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | apiName | String | Unique name of the expression set. | Required | 58.0 |

        | context​Definitions | Context Definition Input | List of context definitions in an expression set. | Optional | 58.0 |

        | description | String | Description of the expression set. | Optional | 58.0 |

        | name | String | Name of the expression set. | Required | 58.0 |

        | usage​Type | String | Usage type of the expression set.


        Valid values are:


        \- AiAccelerator​SubscriberChurn​Prediction—Used for Industries Einstein


        \- Bre—Used for Business Rules Engine


        \- CustomLoyalty—Used for Loyalty Management


        \- DefaultPricing—Used for Pricing Plans in Enterprise Product Catalog (EPC) by Communications Cloud


        \- Qualification—Used for Industries Communications, Media, and Energy (CME)


        \- RecordAlert—Used for Financial Services Cloud


        \- ShipAndDebit—Used for Manufacturing Cloud


        \- TierProcessing—Used for Loyalty Management


        \- TransactionJournal—Used for Loyalty Management


        \- WarrantyClaim—Used for Manufacturing Cloud | Required | 58.0 |

        | versions | Expression Set Version Input\[\] | List of the expression set versions. | Optional | 58.0 |


        Response body for GETExpression Set Output'
      operationId: ExpressionSetRetrieve
      parameters:
      - name: expressionSetId
        in: path
        description: 'Expression Set Id: For Example 9QLHo000000LBjEOAW'
        required: true
        schema:
          type: string
          examples:
          - 9QLHo000000LBngOAG
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 09:34:42 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-RecordFound'
                - examples:
                  - apiName: myExpressionSet
                    contextDefinitions: []
                    id: 9QLHo000000LBjEOAW
                    name: myExpressionSet
                    usageType: Bre
                    versions:
                    - apiName: myExpressionSet_V1
                      description: myExpressionSet V1 Description
                      enabled: true
                      id: 9QMHo000000LBjJOAW
                      name: myExpressionSet V1
                      rank: 1
                      showExplExternally: true
                      startDate: '2023-09-06T09:27:06.000Z'
                      steps:
                      - actionType: AssignParameterValues
                        assignment:
                          assignedParameter: condition_output__1
                          expression: 'true'
                        description: my Description
                        name: myCalculation
                        resultIncluded: true
                        sequenceNumber: 1
                        shouldExposeConditionDetails: false
                        shouldExposeExecPathMsgOnly: true
                        shouldShowExplExternally: false
                        stepType: BusinessKnowledgeModel
                      variables:
                      - collection: false
                        dataType: Boolean
                        description: condition_output__1
                        input: false
                        name: condition_output__1
                        output: true
                        type: Variable
                        value: 'False'
                      - collection: false
                        dataType: Boolean
                        description: condition_output__2
                        input: false
                        name: condition_output__2
                        output: false
                        type: Variable
                        value: 'False'
                      versionNumber: 1
                contentMediaType: application/json;charset=UTF-8
              example:
                apiName: myExpressionSet
                contextDefinitions: []
                id: 9QLHo000000LBjEOAW
                name: myExpressionSet
                usageType: Bre
                versions:
                - apiName: myExpressionSet_V1
                  description: myExpressionSet V1 Description
                  enabled: true
                  id: 9QMHo000000LBjJOAW
                  name: myExpressionSet V1
                  rank: 1
                  showExplExternally: true
                  startDate: '2023-09-06T09:27:06.000Z'
                  steps:
                  - actionType: AssignParameterValues
                    assignment:
                      assignedParameter: condition_output__1
                      expression: 'true'
                    description: my Description
                    name: myCalculation
                    resultIncluded: true
                    sequenceNumber: 1
                    shouldExposeConditionDetails: false
                    shouldExposeExecPathMsgOnly: true
                    shouldShowExplExternally: false
                    stepType: BusinessKnowledgeModel
                  variables:
                  - collection: false
                    dataType: Boolean
                    description: condition_output__1
                    input: false
                    name: condition_output__1
                    output: true
                    type: Variable
                    value: 'False'
                  - collection: false
                    dataType: Boolean
                    description: condition_output__2
                    input: false
                    name: condition_output__2
                    output: false
                    type: Variable
                    value: 'False'
                  versionNumber: 1
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:29:39 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-PreviouslyDeletedRecord1'
                description: ''
                examples:
                - - errorCode: INVALID_INPUT
                    message: The expression set id is not available.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_INPUT
                message: The expression set id is not available.
        '404':
          description: Not Found
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 09:56:59 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status404-RecordNotFound1'
                description: ''
                examples:
                - - errorCode: NOT_FOUND
                    message: The requested resource does not exist
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: NOT_FOUND
                message: The requested resource does not exist
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Expression
      summary: Salesforce Expression Set Update
      description: '# Expression Set Update (PATCH)


        Endpoints to read, and update expression set.Resource


        ```

        /connect/business-rules/expression-set/${expressionSetId}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/v59.0/connect

        /business-rules/expressionSet/$11Oxx0000006PcLEAU


        ```


        Available version


        58.0


        Requires Chatter


        No


        HTTP methods


        DELETE, GET, PATCH


        Response body for GET


        Expression Set Output


        Request body for PATCH


        Root XML tag


        JSON example


        ```

        {

        "name": "CTX Mapping ES",

        "apiName": "CTX_Mapping_ES_1",

        "description": "...",

        "usageType": "Bre",

        "contextDefinitions": [

        {

        "id": "11Oxx0000006PcLEAU"

        }

        ],

        "versions": [

        {

        "name": "CTX_Mapping_ES_1 V1",

        "apiName": "CTX_Mapping_ES_1_V1",

        "description": "Sample CTX Mapping",

        "startDate": "2022-11-14T20:31:47.000+0000",

        "endDate": "2022-11-14T20:31:47.000+0000",

        "versionNumber": 1,

        "rank": 1,

        "enabled": true,

        "showExplExternally": false,

        "steps": [

        {

        "name": "Condition1",

        "description": "Condition step for conditions w.r.t product",

        "sequenceNumber": 1,

        "resultIncluded": true,

        "stepType": "Condition",

        "conditionExpression": {

        "expression": "productName == ''iPhone'' && productColor == ''Red''",

        "resultParameter": "condition_output__1"

        }

        }

        ],

        "variables": [

        {

        "name": "productName",

        "collection": false,

        "dataType": "Text",

        "description": "productName",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "productColor",

        "collection": false,

        "dataType": "Text",

        "description": "productColor",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "condition_output__1",

        "dataType": "Boolean",

        "description": "condition_output__1",

        "input": false,

        "output": true,

        "resultStep": "Condition1",

        "type": "Variable"

        }

        ]

        }

        ]

        }


        ```


        Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | apiName | String | Unique name of the expression set. | Required | 58.0 |

        | context​Definitions | Context Definition Input | List of context definitions in an expression set. | Optional | 58.0 |

        | description | String | Description of the expression set. | Optional | 58.0 |

        | name | String | Name of the expression set. | Required | 58.0 |

        | usage​Type | String | Usage type of the expression set.


        Valid values are:


        - AiAccelerator​SubscriberChurn​Prediction—Used for Industries Einstein


        - Bre—Used for Business Rules Engine


        - CustomLoyalty—Used for Loyalty Management


        - DefaultPricing—Used for Pricing Plans in Enterprise Product Catalog (EPC) by Communications Cloud


        - Qualification—Used for Industries Communications, Media, and Energy (CME)


        - RecordAlert—Used for Financial Services Cloud


        - ShipAndDebit—Used for Manufacturing Cloud


        - TierProcessing—Used for Loyalty Management


        - TransactionJournal—Used for Loyalty Management


        - WarrantyClaim—Used for Manufacturing Cloud | Required | 58.0 |

        | versions | Expression Set Version Input\[\] | List of the expression set versions. | Optional | 58.0 |


        Response body for PATCH


        Expression Set Output'
      operationId: ExpressionSetUpdate
      parameters:
      - name: expressionSetId
        in: path
        description: 'Expression Set Id: For Example 9QLHo000000LBjEOAW'
        required: true
        schema:
          type: string
          examples:
          - 9QLHo000000LBjJOAW
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExpressionSetUpdateRequest'
              - examples:
                - apiName: myExpressionSet
                  contextDefinitions: []
                  name: myExpressionSet2
                  usageType: Bre
                  versions:
                  - apiName: myExpressionSet_V1
                    enabled: false
                    id: 9QMHo000000LBjOOAW
                    name: myExpressionSet V1
                    showExplExternally: false
                    startDate: '2023-09-06T10:35:11.000Z'
                    steps: []
                    variables: []
                    versionNumber: 1
              contentMediaType: application/json
            example:
              apiName: myExpressionSet
              contextDefinitions: []
              name: myExpressionSet2
              usageType: Bre
              versions:
              - apiName: myExpressionSet_V1
                enabled: false
                id: 9QMHo000000LBjOOAW
                name: myExpressionSet V1
                showExplExternally: false
                startDate: '2023-09-06T10:35:11.000Z'
                steps: []
                variables: []
                versionNumber: 1
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:48:19 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-SuccessfullyUpdated'
                - examples:
                  - apiName: myExpressionSet
                    contextDefinitions: []
                    id: 9QLHo000000LBjJOAW
                    name: myExpressionSet2
                    usageType: Bre
                    versions:
                    - apiName: myExpressionSet_V1
                      enabled: false
                      id: 9QMHo000000LBjOOAW
                      name: myExpressionSet V1
                      showExplExternally: false
                      startDate: '2023-09-06T10:35:11.000Z'
                      steps: []
                      variables: []
                      versionNumber: 1
                contentMediaType: application/json;charset=UTF-8
              example:
                apiName: myExpressionSet
                contextDefinitions: []
                id: 9QLHo000000LBjJOAW
                name: myExpressionSet2
                usageType: Bre
                versions:
                - apiName: myExpressionSet_V1
                  enabled: false
                  id: 9QMHo000000LBjOOAW
                  name: myExpressionSet V1
                  showExplExternally: false
                  startDate: '2023-09-06T10:35:11.000Z'
                  steps: []
                  variables: []
                  versionNumber: 1
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:44:53 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-UnrecognizedBodyField1'
                description: ''
                examples:
                - - errorCode: JSON_PARSER_ERROR
                    message: Unrecognized field "id" at [line:4, column:12]
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: JSON_PARSER_ERROR
                message: Unrecognized field "id" at [line:4, column:12]
        '404':
          description: Not Found
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:46:00 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status404-RecordNotFound1'
                description: ''
                examples:
                - - errorCode: NOT_FOUND
                    message: The requested resource does not exist
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: NOT_FOUND
                message: The requested resource does not exist
        '500':
          description: Server Error
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:43:16 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status500-ErrorNoBody1'
                description: ''
                examples:
                - - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 1895340064-166877 (-1526419893)'
                    errorCode: UNKNOWN_EXCEPTION
                contentMediaType: application/json;charset=UTF-8
              example:
              - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 1895340064-166877 (-1526419893)'
                errorCode: UNKNOWN_EXCEPTION
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/business-rules/expressionset/{expressionSetAPIName}:
    parameters: []
    post:
      tags:
      - Expression
      summary: Salesforce Expression Set Invocation
      description: 'https://developer.salesforce.com/docs/atlas.en-us.246.0.industries_reference.meta/industries_reference/connect_resources_bre_expression_set.htm


        **WATCH OUT**: path **expressionSet** has no dash gjeffcock@salesforce.com


        # Expression Set Invocation (POST)


        Invokes expression sets in Business Rule Engine.Resource


        ```

        /connect/business-rules/expressionSet/${expressionSetName}


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/vXX.X/connect

        /business-rules/expressionSet/${expressionSetName}


        ```


        Available version


        55.0


        Requires Chatter


        No


        HTTP methods


        POST


        Request body for POST


        JSON example 1


        ```

        {

        "inputs": [

        {

        "age": "25",

        "state": "CA"

        "PatientId":"001xx000003GYjnAAG"

        }


        ],

        "options": {

        "effectiveDate": "2022-12-03T10:15:30Z",

        "useDatesOnly": "true"

        }

        }


        ```


        JSON example 2


        ```

        {

        "inputs": [

        {

        "age": "25",

        "state": "CA"

        "PatientId":"001xx000003GYjnAAG"

        "__actionContextCode":"001xx000003GYjnAAG" }


        ],

        "options": {

        "effectiveDate": "2022-12-03T10:15:30Z",

        "useDatesOnly": "true"

        }

        }


        ```


        Note


        You can use more than one actionContextCode for multiple sets of inputs, passed in a single API call.


        Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | inputs | Map\[\] | List of inputs passed to an expression set. An input may contain multiple variables.


        Note


        If the expression set uses a field alias as a variable, append Id to the object alias to which the field alias belongs, and pass the ID of the source object linked to the object alias. | Required | 55.0 |

        | options | Expression Set Options Input | The options for executing an expression set. | Optional | 55.0 |


        Response body for POST


        Business Rules Result'
      operationId: ExpressionSetInvocation
      parameters:
      - name: expressionSetAPIName
        in: path
        description: The API name of an expression set is unique within your Salesforce instance.
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExpressionSetInvocationRequest'
              - examples:
                - inputs:
                  - {}
                  options: {}
              contentMediaType: application/json
            example:
              inputs:
              - {}
              options: {}
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 08:05:45 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status201-Success'
                - examples:
                  - aggregationResults:
                      results: {}
                    executionId: 33045b23-8970-4fbe-a80c-8f4302592566
                    outputs:
                    - results:
                        output: 1
                contentMediaType: application/json;charset=UTF-8
              example:
                aggregationResults:
                  results: {}
                executionId: 33045b23-8970-4fbe-a80c-8f4302592566
                outputs:
                - results:
                    output: 1
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 08:03:38 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-InvalidExpressionSetName1'
                description: ''
                examples:
                - - errorCode: INVALID_INPUT
                    message: Specify a valid expressionSetName and try again.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_INPUT
                message: Specify a valid expressionSetName and try again.
        '500':
          description: Server Error
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 07:48:43 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status500-EmptyBodyButRecordExist1'
                description: ''
                examples:
                - - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 597330588-4312 (-1669188241)'
                    errorCode: UNKNOWN_EXCEPTION
                contentMediaType: application/json;charset=UTF-8
              example:
              - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 597330588-4312 (-1669188241)'
                errorCode: UNKNOWN_EXCEPTION
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Results:
      title: Results
      required:
      - output
      type: object
      properties:
        output:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - output: 1
    Status500-EmptyBodyButRecordExist1:
      title: Status500-EmptyBodyButRecordExist1
      required:
      - message
      - errorCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        errorCode:
          type: string
          example: example_value
      examples:
      - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 597330588-4312 (-1669188241)'
        errorCode: UNKNOWN_EXCEPTION
    Version:
      title: Version
      required:
      - apiName
      - enabled
      - id
      - name
      - showExplExternally
      - startDate
      - steps
      - variables
      - versionNumber
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        enabled:
          type: boolean
          example: true
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        showExplExternally:
          type: boolean
          example: true
        startDate:
          type: string
          example: example_value
        steps:
          type: array
          items:
            type: string
          description: ''
          example: []
        variables:
          type: array
          items:
            type: string
          description: ''
          example: []
        versionNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - apiName: myExpressionSet_V1
        enabled: false
        id: 9QMHo000000LBjOOAW
        name: myExpressionSet V1
        showExplExternally: false
        startDate: '2023-09-06T10:35:11.000Z'
        steps: []
        variables: []
        versionNumber: 1
    Status201-Success:
      title: Status201-Success
      required:
      - aggregationResults
      - executionId
      - outputs
      type: object
      properties:
        aggregationResults:
          $ref: '#/components/schemas/AggregationResults'
        executionId:
          type: string
          example: '500123'
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output'
          description: ''
          example: []
      examples:
      - aggregationResults:
          results: {}
        executionId: 33045b23-8970-4fbe-a80c-8f4302592566
        outputs:
        - results:
            output: 1
    Status400-PreviouslyDeletedRecord1:
      title: Status400-PreviouslyDeletedRecord1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_INPUT
        message: The expression set id is not available.
    Status500-ErrorNoBody1:
      title: Status500-ErrorNoBody1
      required:
      - message
      - errorCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        errorCode:
          type: string
          example: example_value
      examples:
      - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 675649159-184801 (-177293139)'
        errorCode: UNKNOWN_EXCEPTION
    Assignment:
      title: Assignment
      required:
      - assignedParameter
      - expression
      type: object
      properties:
        assignedParameter:
          type: string
          example: example_value
        expression:
          type: string
          example: example_value
      examples:
      - assignedParameter: condition_output__1
        expression: 'true'
    ExpressionSetUpdateRequest:
      title: ExpressionSetUpdateRequest
      required:
      - apiName
      - contextDefinitions
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet
        contextDefinitions: []
        name: myExpressionSet2
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          enabled: false
          id: 9QMHo000000LBjOOAW
          name: myExpressionSet V1
          showExplExternally: false
          startDate: '2023-09-06T10:35:11.000Z'
          steps: []
          variables: []
          versionNumber: 1
    Variable:
      title: Variable
      required:
      - collection
      - dataType
      - description
      - input
      - name
      - output
      - type
      - value
      type: object
      properties:
        collection:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        description:
          type: string
          example: A sample description.
        input:
          type: boolean
          example: true
        name:
          type: string
          example: Example Title
        output:
          type: boolean
          example: true
        type:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
      examples:
      - collection: false
        dataType: Boolean
        description: condition_output__1
        input: false
        name: condition_output__1
        output: true
        type: Variable
        value: 'False'
    ExpressionSetInvocationRequest:
      title: ExpressionSetInvocationRequest
      required:
      - inputs
      - options
      type: object
      properties:
        inputs:
          type: array
          items:
            type: object
          description: ''
          example: []
        options:
          type: object
          example: example_value
      examples:
      - inputs:
        - {}
        options: {}
    Status400-InvalidExpressionSetName1:
      title: Status400-InvalidExpressionSetName1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_INPUT
        message: Specify a valid expressionSetName and try again.
    Status400-UnrecognizedBodyField1:
      title: Status400-UnrecognizedBodyField1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: JSON_PARSER_ERROR
        message: Unrecognized field "id" at [line:4, column:12]
    Status404-RecordNotFound1:
      title: Status404-RecordNotFound1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: NOT_FOUND
        message: The requested resource does not exist
    Status200-RecordFound:
      title: Status200-RecordFound
      required:
      - apiName
      - contextDefinitions
      - id
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version2'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet
        contextDefinitions: []
        id: 9QLHo000000LBjEOAW
        name: myExpressionSet
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          description: myExpressionSet V1 Description
          enabled: true
          id: 9QMHo000000LBjJOAW
          name: myExpressionSet V1
          rank: 1
          showExplExternally: true
          startDate: '2023-09-06T09:27:06.000Z'
          steps:
          - actionType: AssignParameterValues
            assignment:
              assignedParameter: condition_output__1
              expression: 'true'
            description: my Description
            name: myCalculation
            resultIncluded: true
            sequenceNumber: 1
            shouldExposeConditionDetails: false
            shouldExposeExecPathMsgOnly: true
            shouldShowExplExternally: false
            stepType: BusinessKnowledgeModel
          variables:
          - collection: false
            dataType: Boolean
            description: condition_output__1
            input: false
            name: condition_output__1
            output: true
            type: Variable
            value: 'False'
          - collection: false
            dataType: Boolean
            description: condition_output__2
            input: false
            name: condition_output__2
            output: false
            type: Variable
            value: 'False'
          versionNumber: 1
    Status200-SuccessfullyUpdated:
      title: Status200-SuccessfullyUpdated
      required:
      - apiName
      - contextDefinitions
      - id
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet
        contextDefinitions: []
        id: 9QLHo000000LBjJOAW
        name: myExpressionSet2
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          enabled: false
          id: 9QMHo000000LBjOOAW
          name: myExpressionSet V1
          showExplExternally: false
          startDate: '2023-09-06T10:35:11.000Z'
          steps: []
          variables: []
          versionNumber: 1
    Version2:
      title: Version2
      required:
      - apiName
      - description
      - enabled
      - id
      - name
      - rank
      - showExplExternally
      - startDate
      - steps
      - variables
      - versionNumber
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        description:
          type: string
          example: A sample description.
        enabled:
          type: boolean
          example: true
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        rank:
          type: integer
          contentEncoding: int32
          example: 10
        showExplExternally:
          type: boolean
          example: true
        startDate:
          type: string
          example: example_value
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
          description: ''
          example: []
        variables:
          type: array
          items:
            $ref: '#/components/schemas/Variable'
          description: ''
          example: []
        versionNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - apiName: myExpressionSet_V1
        description: myExpressionSet V1 Description
        enabled: true
        id: 9QMHo000000LBjJOAW
        name: myExpressionSet V1
        rank: 1
        showExplExternally: true
        startDate: '2023-09-06T09:27:06.000Z'
        steps:
        - actionType: AssignParameterValues
          assignment:
            assignedParameter: condition_output__1
            expression: 'true'
          description: my Description
          name: myCalculation
          resultIncluded: true
          sequenceNumber: 1
          shouldExposeConditionDetails: false
          shouldExposeExecPathMsgOnly: true
          shouldShowExplExternally: false
          stepType: BusinessKnowledgeModel
        variables:
        - collection: false
          dataType: Boolean
          description: condition_output__1
          input: false
          name: condition_output__1
          output: true
          type: Variable
          value: 'False'
        - collection: false
          dataType: Boolean
          description: condition_output__2
          input: false
          name: condition_output__2
          output: false
          type: Variable
          value: 'False'
        versionNumber: 1
    Step:
      title: Step
      required:
      - actionType
      - assignment
      - description
      - name
      - resultIncluded
      - sequenceNumber
      - shouldExposeConditionDetails
      - shouldExposeExecPathMsgOnly
      - shouldShowExplExternally
      - stepType
      type: object
      properties:
        actionType:
          type: string
          example: example_value
        assignment:
          $ref: '#/components/schemas/Assignment'
        description:
          type: string
          example: A sample description.
        name:
          type: string
          example: Example Title
        resultIncluded:
          type: boolean
          example: true
        sequenceNumber:
          type: integer
          contentEncoding: int32
          example: 10
        shouldExposeConditionDetails:
          type: boolean
          example: true
        shouldExposeExecPathMsgOnly:
          type: boolean
          example: true
        shouldShowExplExternally:
          type: boolean
          example: true
        stepType:
          type: string
          example: example_value
      examples:
      - actionType: AssignParameterValues
        assignment:
          assignedParameter: condition_output__1
          expression: 'true'
        description: my Description
        name: myCalculation
        resultIncluded: true
        sequenceNumber: 1
        shouldExposeConditionDetails: false
        shouldExposeExecPathMsgOnly: true
        shouldShowExplExternally: false
        stepType: BusinessKnowledgeModel
    AggregationResults:
      title: AggregationResults
      required:
      - results
      type: object
      properties:
        results:
          type: object
          example: example_value
      examples:
      - results: {}
    Output:
      title: Output
      required:
      - results
      type: object
      properties:
        results:
          $ref: '#/components/schemas/Results'
      examples:
      - results:
          output: 1
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
