openapi: 3.2.0
info:
  title: Salesforce Bulk API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Bulk
paths:
  /async/64.0/job:
    parameters: []
    post:
      tags:
      - Bulk
      summary: Salesforce Bulk Create Job
      operationId: BulkCreateJob
      parameters:
      - name: X-SFDC-Session
        in: header
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: charset
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - UTF-8
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BulkCreateJobRequest'
              - examples:
                - operation: insert
                  object: Account
                  contentType: CSV
              contentMediaType: application/json
            example:
              operation: insert
              object: Account
              contentType: CSV
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 16:07:11 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: /services/async/58.0/job/7502o00000kjNCsAAM
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulBulkCreateJob'
                - examples:
                  - apexProcessingTime: 0
                    apiActiveProcessingTime: 0
                    apiVersion: 58
                    assignmentRuleId: null
                    concurrencyMode: Parallel
                    contentType: CSV
                    createdById: 005...
                    createdDate: <date_time>
                    externalIdFieldName: null
                    fastPathEnabled: false
                    id: 750...
                    numberBatchesCompleted: 0
                    numberBatchesFailed: 0
                    numberBatchesInProgress: 0
                    numberBatchesQueued: 0
                    numberBatchesTotal: 0
                    numberRecordsFailed: 0
                    numberRecordsProcessed: 0
                    numberRetries: 0
                    object: <Object>
                    operation: insert
                    state: Open
                    systemModstamp: <date_time>
                    totalProcessingTime: 0
                contentMediaType: application/json
              example:
                apexProcessingTime: 0
                apiActiveProcessingTime: 0
                apiVersion: 58
                assignmentRuleId: null
                concurrencyMode: Parallel
                contentType: CSV
                createdById: 005...
                createdDate: <date_time>
                externalIdFieldName: null
                fastPathEnabled: false
                id: 750...
                numberBatchesCompleted: 0
                numberBatchesFailed: 0
                numberBatchesInProgress: 0
                numberBatchesQueued: 0
                numberBatchesTotal: 0
                numberRecordsFailed: 0
                numberRecordsProcessed: 0
                numberRetries: 0
                object: <Object>
                operation: insert
                state: Open
                systemModstamp: <date_time>
                totalProcessingTime: 0
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /async/64.0/job//spec:
    parameters: []
    post:
      tags:
      - Bulk
      summary: Salesforce Bulk Spec
      operationId: BulkSpec
      parameters:
      - name: X-SFDC-Session
        in: header
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: charset
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - UTF-8
        example: example_value
      - name: Accept-Encoding
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - gzip
        example: example_value
      - name: Content-Encoding
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - gzip
        example: example_value
      requestBody:
        description: ''
        content:
          text/csv:
            schema:
              type: string
              examples:
              - 'Salesforce Field,Csv Header,Value,Hint

                Name,Full Name,,'
              contentMediaType: text/csv
            example: 'Salesforce Field,Csv Header,Value,Hint

              Name,Full Name,,'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 16:12:34 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: /services/async/58.0/job/7502o00000kjNCsAAM/spec/0Aj2o000000PbakCAC
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /async/64.0/job/:
    parameters: []
    post:
      tags:
      - Bulk
      summary: Salesforce Bulk Close Job
      operationId: BulkCloseJob
      parameters:
      - name: X-SFDC-Session
        in: header
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: charset
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - UTF-8
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BulkCloseJobRequest'
              - examples:
                - state: Closed
              contentMediaType: application/json
            example:
              state: Closed
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 16:23:52 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulBulkCloseJob'
                - examples:
                  - apexProcessingTime: 64
                    apiActiveProcessingTime: 225
                    apiVersion: 58
                    assignmentRuleId: null
                    concurrencyMode: Parallel
                    contentType: CSV
                    createdById: 005...
                    createdDate: <date_time>
                    externalIdFieldName: null
                    fastPathEnabled: false
                    id: 750...
                    numberBatchesCompleted: 1
                    numberBatchesFailed: 0
                    numberBatchesInProgress: 0
                    numberBatchesQueued: 0
                    numberBatchesTotal: 1
                    numberRecordsFailed: 0
                    numberRecordsProcessed: 1
                    numberRetries: 0
                    object: <Object>
                    operation: insert
                    state: Closed
                    systemModstamp: <date_time>
                    totalProcessingTime: 403
                contentMediaType: application/json
              example:
                apexProcessingTime: 64
                apiActiveProcessingTime: 225
                apiVersion: 58
                assignmentRuleId: null
                concurrencyMode: Parallel
                contentType: CSV
                createdById: 005...
                createdDate: <date_time>
                externalIdFieldName: null
                fastPathEnabled: false
                id: 750...
                numberBatchesCompleted: 1
                numberBatchesFailed: 0
                numberBatchesInProgress: 0
                numberBatchesQueued: 0
                numberBatchesTotal: 1
                numberRecordsFailed: 0
                numberRecordsProcessed: 1
                numberRetries: 0
                object: <Object>
                operation: insert
                state: Closed
                systemModstamp: <date_time>
                totalProcessingTime: 403
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SuccessfulBulkCloseJob:
      title: SuccessfulBulkCloseJob
      required:
      - apexProcessingTime
      - apiActiveProcessingTime
      - apiVersion
      - assignmentRuleId
      - concurrencyMode
      - contentType
      - createdById
      - createdDate
      - externalIdFieldName
      - fastPathEnabled
      - id
      - numberBatchesCompleted
      - numberBatchesFailed
      - numberBatchesInProgress
      - numberBatchesQueued
      - numberBatchesTotal
      - numberRecordsFailed
      - numberRecordsProcessed
      - numberRetries
      - object
      - operation
      - state
      - systemModstamp
      - totalProcessingTime
      type: object
      properties:
        apexProcessingTime:
          type: integer
          contentEncoding: int32
          example: 1700000000000
        apiActiveProcessingTime:
          type: integer
          contentEncoding: int32
          example: 1700000000000
        apiVersion:
          type: integer
          contentEncoding: int32
          example: 10
        assignmentRuleId:
          type:
          - string
          - 'null'
          example: '500123'
        concurrencyMode:
          type: string
          example: example_value
        contentType:
          type: string
          example: example_value
        createdById:
          type: string
          example: '500123'
        createdDate:
          type: string
          example: example_value
        externalIdFieldName:
          type:
          - string
          - 'null'
          example: example_value
        fastPathEnabled:
          type: boolean
          example: true
        id:
          type: string
          example: abc123
        numberBatchesCompleted:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesFailed:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesInProgress:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesQueued:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesTotal:
          type: integer
          contentEncoding: int32
          example: 42
        numberRecordsFailed:
          type: integer
          contentEncoding: int32
          example: 10
        numberRecordsProcessed:
          type: integer
          contentEncoding: int32
          example: 10
        numberRetries:
          type: integer
          contentEncoding: int32
          example: 10
        object:
          type: string
          example: example_value
        operation:
          type: string
          example: example_value
        state:
          type: string
          example: example_value
        systemModstamp:
          type: string
          example: example_value
        totalProcessingTime:
          type: integer
          contentEncoding: int32
          example: 1700000000000
      examples:
      - apexProcessingTime: 64
        apiActiveProcessingTime: 225
        apiVersion: 58
        assignmentRuleId: null
        concurrencyMode: Parallel
        contentType: CSV
        createdById: 005...
        createdDate: <date_time>
        externalIdFieldName: null
        fastPathEnabled: false
        id: 750...
        numberBatchesCompleted: 1
        numberBatchesFailed: 0
        numberBatchesInProgress: 0
        numberBatchesQueued: 0
        numberBatchesTotal: 1
        numberRecordsFailed: 0
        numberRecordsProcessed: 1
        numberRetries: 0
        object: <Object>
        operation: insert
        state: Closed
        systemModstamp: <date_time>
        totalProcessingTime: 403
    BulkCloseJobRequest:
      title: BulkCloseJobRequest
      required:
      - state
      type: object
      properties:
        state:
          type: string
          example: example_value
      examples:
      - state: Closed
    BulkCreateJobRequest:
      title: BulkCreateJobRequest
      required:
      - operation
      - object
      - contentType
      type: object
      properties:
        operation:
          type: string
          example: example_value
        object:
          type: string
          example: example_value
        contentType:
          type: string
          example: example_value
      examples:
      - operation: insert
        object: Account
        contentType: CSV
    SuccessfulBulkCreateJob:
      title: SuccessfulBulkCreateJob
      required:
      - apexProcessingTime
      - apiActiveProcessingTime
      - apiVersion
      - assignmentRuleId
      - concurrencyMode
      - contentType
      - createdById
      - createdDate
      - externalIdFieldName
      - fastPathEnabled
      - id
      - numberBatchesCompleted
      - numberBatchesFailed
      - numberBatchesInProgress
      - numberBatchesQueued
      - numberBatchesTotal
      - numberRecordsFailed
      - numberRecordsProcessed
      - numberRetries
      - object
      - operation
      - state
      - systemModstamp
      - totalProcessingTime
      type: object
      properties:
        apexProcessingTime:
          type: integer
          contentEncoding: int32
          example: 1700000000000
        apiActiveProcessingTime:
          type: integer
          contentEncoding: int32
          example: 1700000000000
        apiVersion:
          type: integer
          contentEncoding: int32
          example: 10
        assignmentRuleId:
          type:
          - string
          - 'null'
          example: '500123'
        concurrencyMode:
          type: string
          example: example_value
        contentType:
          type: string
          example: example_value
        createdById:
          type: string
          example: '500123'
        createdDate:
          type: string
          example: example_value
        externalIdFieldName:
          type:
          - string
          - 'null'
          example: example_value
        fastPathEnabled:
          type: boolean
          example: true
        id:
          type: string
          example: abc123
        numberBatchesCompleted:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesFailed:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesInProgress:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesQueued:
          type: integer
          contentEncoding: int32
          example: 10
        numberBatchesTotal:
          type: integer
          contentEncoding: int32
          example: 42
        numberRecordsFailed:
          type: integer
          contentEncoding: int32
          example: 10
        numberRecordsProcessed:
          type: integer
          contentEncoding: int32
          example: 10
        numberRetries:
          type: integer
          contentEncoding: int32
          example: 10
        object:
          type: string
          example: example_value
        operation:
          type: string
          example: example_value
        state:
          type: string
          example: example_value
        systemModstamp:
          type: string
          example: example_value
        totalProcessingTime:
          type: integer
          contentEncoding: int32
          example: 1700000000000
      examples:
      - apexProcessingTime: 0
        apiActiveProcessingTime: 0
        apiVersion: 58
        assignmentRuleId: null
        concurrencyMode: Parallel
        contentType: CSV
        createdById: 005...
        createdDate: <date_time>
        externalIdFieldName: null
        fastPathEnabled: false
        id: 750...
        numberBatchesCompleted: 0
        numberBatchesFailed: 0
        numberBatchesInProgress: 0
        numberBatchesQueued: 0
        numberBatchesTotal: 0
        numberRecordsFailed: 0
        numberRecordsProcessed: 0
        numberRetries: 0
        object: <Object>
        operation: insert
        state: Open
        systemModstamp: <date_time>
        totalProcessingTime: 0
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
