openapi: 3.2.0
info:
  title: Salesforce Authorize API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Authorize
paths:
  /services/oauth2/authorize:
    parameters: []
    post:
      tags:
      - Authorize
      summary: Salesforce Registration - Authorize
      description: 'After you send your registration data to initialize, this request allows you to process that registration data, and as a part of this request you also verify the users email or sms number. The request itself is a authorization call for the Code and Credential flow. It includes 3 specific headers: `Auth-Request-Type` which is set to `user-registration`, `Auth-Verification-Type` which is set to email or sms, and an Authorization Basic header, which is the base 64 encoded result of `identifier:otp` where `identifier` is the value returned in your initialize registration call, and `otp` is the value sent to the end user via email or sms.


        The response from this API is the Auth Code, which is then exchanged for the Access Token.'
      operationId: Registration-Authorize
      parameters:
      - name: Auth-Request-Type
        in: header
        description: Required for User Registration
        required: true
        schema:
          type: string
          examples:
          - user-registration
        example: example_value
      - name: Auth-Verification-Type
        in: header
        description: Must match init/registration, email or sms
        required: true
        schema:
          type: string
          examples:
          - email
        example: example_value
      - name: Authorization
        in: header
        description: Base64 encoded <Identifier:OTP>
        required: true
        schema:
          type: string
          examples:
          - Basic <base64Encoded identifier:otp>
        example: example_value
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - response_type
              - client_id
              - redirect_uri
              - scope
              type: object
              properties:
                response_type:
                  type: string
                  examples:
                  - code_credentials
                client_id:
                  type: string
                  examples:
                  - '{{vault:salesforce-consumer-key}}'
                redirect_uri:
                  type: string
                scope:
                  type: string
                  description: Comma seperated list of scopes, optional
              contentMediaType: application/x-www-form-urlencoded
            examples:
              RegistrationAuthorizeRequestExample:
                summary: Default Registration-Authorize request
                x-microcks-default: true
                value:
                  response_type: example_value
                  client_id: '500123'
                  redirect_uri: example_value
                  scope: example_value
        required: false
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
