openapi: 3.2.0
info:
  title: Salesforce Credential API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Credential
paths:
  /data/v64.0/named-credentials/credential:
    parameters: []
    get:
      tags:
      - Credential
      summary: Salesforce Get Credential
      description: Get a credential.
      operationId: GetCredential
      parameters:
      - name: externalCredential
        in: query
        description: Fully qualified developer name of the external credential.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: principalName
        in: query
        description: Name of the external credential named principal.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: principalType
        in: query
        description: 'Type of credential principal. Values are:

          * AwsStsPrincipal

          * NamedPrincipal

          * PerUserPrincipal'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Nov 2023 12:01:04 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulGetCredential'
                - examples:
                  - authenticationProtocol: Custom
                    authenticationProtocolVariant: NoAuthentication
                    authenticationStatus: Configured
                    credentials: {}
                    externalCredential: Test
                    principalName: Test
                    principalType: NamedPrincipal
                contentMediaType: application/json;charset=UTF-8
              example:
                authenticationProtocol: Custom
                authenticationProtocolVariant: NoAuthentication
                authenticationStatus: Configured
                credentials: {}
                externalCredential: Test
                principalName: Test
                principalType: NamedPrincipal
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Credential
      summary: Salesforce Update Credential
      description: Update a credential.
      operationId: UpdateCredential
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateCredentialRequest'
              - examples:
                - externalCredential: test
                  authenticationProtocol: Custom
                  principalName: test
                  principalType: NamedPrincipal
                  credentials:
                    testCredential:
                      value: '000000'
                      encrypted: true
              contentMediaType: application/json
            example:
              externalCredential: test
              authenticationProtocol: Custom
              principalName: test
              principalType: NamedPrincipal
              credentials:
                testCredential:
                  value: '000000'
                  encrypted: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Credential
      summary: Salesforce Delete Credential
      description: Delete a credential.
      operationId: DeleteCredential
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteCredentialRequest'
              - examples:
                - externalCredential: SampleExternalCredential
                  principalType: NamedPrincipal
                  principalName: SamplePrincipal
              contentMediaType: application/json
            example:
              externalCredential: SampleExternalCredential
              principalType: NamedPrincipal
              principalName: SamplePrincipal
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/named-credentials/external-credentials/{DEVELOPER_NAME}:
    parameters: []
    put:
      tags:
      - Credential
      summary: Salesforce Update External Credential
      description: Update an external credential.
      operationId: UpdateExternalCredential
      parameters:
      - name: DEVELOPER_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateExternalCredentialRequest'
              - examples:
                - masterLabel: Sample External Credential
                  authenticationProtocol: Custom
                  principals:
                  - principalName: SamplePrincipal
                    principalType: NamedPrincipal
                    sequenceNumber: 1
                  customHeaders:
                  - headerName: SampleHeader
                    headerValue: SampleHeaderValue
                    sequenceNumber: 1
              contentMediaType: application/json
            example:
              masterLabel: Sample External Credential
              authenticationProtocol: Custom
              principals:
              - principalName: SamplePrincipal
                principalType: NamedPrincipal
                sequenceNumber: 1
              customHeaders:
              - headerName: SampleHeader
                headerValue: SampleHeaderValue
                sequenceNumber: 1
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 16:55:19 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulUpdateExternalCredential'
                - examples:
                  - authenticationProtocol: Custom
                    authenticationStatus: Unknown
                    customHeaders:
                    - headerName: SampleHeader
                      headerValue: SampleHeaderValue
                      id: 0pu2o000000KymkAAC
                      sequenceNumber: 1
                    developerName: SampleExternalCredential
                    id: 0pt2o000000CaU0AAK
                    masterLabel: Sample External Credential
                    parameters: []
                    principals:
                    - authenticationStatus: Unknown
                      id: 0pu2o000000KymjAAC
                      parameters: []
                      principalAccess: []
                      principalName: SamplePrincipal
                      principalType: NamedPrincipal
                      sequenceNumber: 1
                    relatedNamedCredentials:
                    - developerName: SamplePrivate
                      id: 0XA2o000000XaAQGA0
                      masterLabel: SamplePrivateLabel
                      url: /services/data/v58.0/named-credentials/named-credential-setup/SamplePrivate
                    url: /services/data/v58.0/named-credentials/external-credentials/SampleExternalCredential
                contentMediaType: application/json;charset=UTF-8
              example:
                authenticationProtocol: Custom
                authenticationStatus: Unknown
                customHeaders:
                - headerName: SampleHeader
                  headerValue: SampleHeaderValue
                  id: 0pu2o000000KymkAAC
                  sequenceNumber: 1
                developerName: SampleExternalCredential
                id: 0pt2o000000CaU0AAK
                masterLabel: Sample External Credential
                parameters: []
                principals:
                - authenticationStatus: Unknown
                  id: 0pu2o000000KymjAAC
                  parameters: []
                  principalAccess: []
                  principalName: SamplePrincipal
                  principalType: NamedPrincipal
                  sequenceNumber: 1
                relatedNamedCredentials:
                - developerName: SamplePrivate
                  id: 0XA2o000000XaAQGA0
                  masterLabel: SamplePrivateLabel
                  url: /services/data/v58.0/named-credentials/named-credential-setup/SamplePrivate
                url: /services/data/v58.0/named-credentials/external-credentials/SampleExternalCredential
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Credential
      summary: Salesforce Delete External Credential
      description: Delete an external credential.
      operationId: DeleteExternalCredential
      parameters:
      - name: DEVELOPER_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '204':
          description: No Content
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 Nov 2023 12:09:23 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: upgrade-insecure-requests
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/named-credentials/named-credential-setup/{DEVELOPER_NAME}:
    parameters: []
    get:
      tags:
      - Credential
      summary: Salesforce Get Named Credential by Developer Name
      description: Get a named credential.
      operationId: GetNamedCredentialbyDeveloperName
      parameters:
      - name: DEVELOPER_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 'null'
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 16:50:01 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulGetNamedCredentialbyDeveloperName'
                - examples:
                  - calloutOptions:
                      allowMergeFieldsInBody: false
                      allowMergeFieldsInHeader: false
                      generateAuthorizationHeader: true
                    calloutUrl: https://my.example.com
                    customHeaders: []
                    developerName: Test
                    externalCredentials:
                    - developerName: Test
                      id: 0pt...
                      masterLabel: Test
                      url: /services/data/v58.0/named-credentials/external-credentials/Test
                    id: 0XA...
                    masterLabel: Test
                    parameters: []
                    type: SecuredEndpoint
                    url: /services/data/v58.0/named-credentials/named-credential-setup/Test
                contentMediaType: application/json;charset=UTF-8
              example:
                calloutOptions:
                  allowMergeFieldsInBody: false
                  allowMergeFieldsInHeader: false
                  generateAuthorizationHeader: true
                calloutUrl: https://my.example.com
                customHeaders: []
                developerName: Test
                externalCredentials:
                - developerName: Test
                  id: 0pt...
                  masterLabel: Test
                  url: /services/data/v58.0/named-credentials/external-credentials/Test
                id: 0XA...
                masterLabel: Test
                parameters: []
                type: SecuredEndpoint
                url: /services/data/v58.0/named-credentials/named-credential-setup/Test
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Credential
      summary: Salesforce Update Named Credential
      description: Update a named credential.
      operationId: UpdateNamedCredential
      parameters:
      - name: DEVELOPER_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateNamedCredentialRequest'
              - examples:
                - masterLabel: SamplePrivateLabel
                  type: SecuredEndpoint
                  calloutUrl: https://api.example.com
                  externalCredentials:
                  - developerName: SampleExternalCredential
                  customHeaders:
                  - headerName: SampleHeader
                    headerValue: SampleValue
                    sequenceNumber: 1
                  calloutOptions:
                    allowMergeFieldsInBody: false
                    allowMergeFieldsInHeader: true
                    generateAuthorizationHeader: true
              contentMediaType: application/json
            example:
              masterLabel: SamplePrivateLabel
              type: SecuredEndpoint
              calloutUrl: https://api.example.com
              externalCredentials:
              - developerName: SampleExternalCredential
              customHeaders:
              - headerName: SampleHeader
                headerValue: SampleValue
                sequenceNumber: 1
              calloutOptions:
                allowMergeFieldsInBody: false
                allowMergeFieldsInHeader: true
                generateAuthorizationHeader: true
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 16:54:57 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulUpdateNamedCredential'
                - examples:
                  - calloutOptions:
                      allowMergeFieldsInBody: false
                      allowMergeFieldsInHeader: true
                      generateAuthorizationHeader: true
                    calloutUrl: https://api.example.com
                    customHeaders:
                    - headerName: SampleHeader
                      headerValue: SampleValue
                      id: 0pv2o000000PAv6AAG
                      sequenceNumber: 1
                    developerName: SamplePrivate
                    externalCredentials:
                    - developerName: SampleExternalCredential
                      id: 0pt2o000000CaU0AAK
                      masterLabel: Sample External Credential
                      url: /services/data/v58.0/named-credentials/external-credentials/SampleExternalCredential
                    id: 0XA2o000000XaAQGA0
                    masterLabel: SamplePrivateLabel
                    parameters: []
                    type: SecuredEndpoint
                    url: /services/data/v58.0/named-credentials/named-credential-setup/SamplePrivate
                contentMediaType: application/json;charset=UTF-8
              example:
                calloutOptions:
                  allowMergeFieldsInBody: false
                  allowMergeFieldsInHeader: true
                  generateAuthorizationHeader: true
                calloutUrl: https://api.example.com
                customHeaders:
                - headerName: SampleHeader
                  headerValue: SampleValue
                  id: 0pv2o000000PAv6AAG
                  sequenceNumber: 1
                developerName: SamplePrivate
                externalCredentials:
                - developerName: SampleExternalCredential
                  id: 0pt2o000000CaU0AAK
                  masterLabel: Sample External Credential
                  url: /services/data/v58.0/named-credentials/external-credentials/SampleExternalCredential
                id: 0XA2o000000XaAQGA0
                masterLabel: SamplePrivateLabel
                parameters: []
                type: SecuredEndpoint
                url: /services/data/v58.0/named-credentials/named-credential-setup/SamplePrivate
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/sobjects/NamedCredential/{NAMED_CREDENTIAL_ID}:
    parameters: []
    get:
      tags:
      - Credential
      summary: Salesforce Get Named Credential
      operationId: Getnamedcredential
      parameters:
      - name: NAMED_CREDENTIAL_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 0XA4H000000TNRhWAO
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Credential
      summary: Salesforce Delete Named Credential
      operationId: Deletenamedcredential
      parameters:
      - name: NAMED_CREDENTIAL_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 'null'
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Credential
      summary: Salesforce Update Named Credential
      operationId: Updatenamedcredential
      parameters:
      - name: NAMED_CREDENTIAL_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
          examples:
          - 'null'
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdatenamedcredentialRequest1'
              - examples:
                - FullName: MyNamedCredential
                  Metadata:
                    label: My Named Credential
                    endpoint: arn:aws:AWS_REGION:AWS_ACCOUNT_ID
                    principalType: Anonymous
                    protocol: NoAuthentication
              contentMediaType: application/json
            example:
              FullName: MyNamedCredential
              Metadata:
                label: My Named Credential
                endpoint: arn:aws:AWS_REGION:AWS_ACCOUNT_ID
                principalType: Anonymous
                protocol: NoAuthentication
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CustomHeader:
      title: CustomHeader
      required:
      - headerName
      - headerValue
      - sequenceNumber
      type: object
      properties:
        headerName:
          type: string
          example: example_value
        headerValue:
          type: string
          example: example_value
        sequenceNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - headerName: SampleHeader
        headerValue: SampleHeaderValue
        sequenceNumber: 1
    TestCredential:
      title: TestCredential
      required:
      - value
      - encrypted
      type: object
      properties:
        value:
          type: string
          example: example_value
        encrypted:
          type: boolean
          example: true
      examples:
      - value: '000000'
        encrypted: true
    UpdateCredentialRequest:
      title: UpdateCredentialRequest
      required:
      - externalCredential
      - authenticationProtocol
      - principalName
      - principalType
      - credentials
      type: object
      properties:
        externalCredential:
          type: string
          example: example_value
        authenticationProtocol:
          type: string
          example: example_value
        principalName:
          type: string
          example: example_value
        principalType:
          type: string
          example: example_value
        credentials:
          $ref: '#/components/schemas/Credentials'
      examples:
      - externalCredential: test
        authenticationProtocol: Custom
        principalName: test
        principalType: NamedPrincipal
        credentials:
          testCredential:
            value: '000000'
            encrypted: true
    UpdateExternalCredentialRequest:
      title: UpdateExternalCredentialRequest
      required:
      - masterLabel
      - authenticationProtocol
      - principals
      - customHeaders
      type: object
      properties:
        masterLabel:
          type: string
          example: example_value
        authenticationProtocol:
          type: string
          example: example_value
        principals:
          type: array
          items:
            $ref: '#/components/schemas/Principal'
          description: ''
          example: []
        customHeaders:
          type: array
          items:
            $ref: '#/components/schemas/CustomHeader'
          description: ''
          example: []
      examples:
      - masterLabel: Sample External Credential
        authenticationProtocol: Custom
        principals:
        - principalName: SamplePrincipal
          principalType: NamedPrincipal
          sequenceNumber: 1
        customHeaders:
        - headerName: SampleHeader
          headerValue: SampleHeaderValue
          sequenceNumber: 1
    Metadata10:
      title: Metadata10
      required:
      - label
      - endpoint
      - principalType
      - protocol
      type: object
      properties:
        label:
          type: string
          example: Example Title
        endpoint:
          type: string
          example: example_value
        principalType:
          type: string
          example: example_value
        protocol:
          type: string
          example: example_value
      examples:
      - label: My Named Credential
        endpoint: arn:aws:AWS_REGION:AWS_ACCOUNT_ID
        principalType: Anonymous
        protocol: NoAuthentication
    DeleteCredentialRequest:
      title: DeleteCredentialRequest
      required:
      - externalCredential
      - principalType
      - principalName
      type: object
      properties:
        externalCredential:
          type: string
          example: example_value
        principalType:
          type: string
          example: example_value
        principalName:
          type: string
          example: example_value
      examples:
      - externalCredential: SampleExternalCredential
        principalType: NamedPrincipal
        principalName: SamplePrincipal
    ExternalCredential2:
      title: ExternalCredential2
      required:
      - developerName
      type: object
      properties:
        developerName:
          type: string
          example: example_value
      examples:
      - developerName: SampleExternalCredential
    SuccessfulUpdateExternalCredential:
      title: SuccessfulUpdateExternalCredential
      required:
      - authenticationProtocol
      - authenticationStatus
      - customHeaders
      - developerName
      - id
      - masterLabel
      - parameters
      - principals
      - relatedNamedCredentials
      - url
      type: object
      properties:
        authenticationProtocol:
          type: string
          example: example_value
        authenticationStatus:
          type: string
          example: example_value
        customHeaders:
          type: array
          items:
            $ref: '#/components/schemas/CustomHeader1'
          description: ''
          example: []
        developerName:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        masterLabel:
          type: string
          example: example_value
        parameters:
          type: array
          items:
            type: string
          description: ''
          example: []
        principals:
          type: array
          items:
            $ref: '#/components/schemas/Principal1'
          description: ''
          example: []
        relatedNamedCredentials:
          type: array
          items:
            $ref: '#/components/schemas/RelatedNamedCredential'
          description: ''
          example: []
        url:
          type: string
          example: https://www.example.com
      examples:
      - authenticationProtocol: Custom
        authenticationStatus: Unknown
        customHeaders:
        - headerName: SampleHeader
          headerValue: SampleHeaderValue
          id: 0pu2o000000KymkAAC
          sequenceNumber: 1
        developerName: SampleExternalCredential
        id: 0pt2o000000CaU0AAK
        masterLabel: Sample External Credential
        parameters: []
        principals:
        - authenticationStatus: Unknown
          id: 0pu2o000000KymjAAC
          parameters: []
          principalAccess: []
          principalName: SamplePrincipal
          principalType: NamedPrincipal
          sequenceNumber: 1
        relatedNamedCredentials:
        - developerName: SamplePrivate
          id: 0XA2o000000XaAQGA0
          masterLabel: SamplePrivateLabel
          url: /services/data/v58.0/named-credentials/named-credential-setup/SamplePrivate
        url: /services/data/v58.0/named-credentials/external-credentials/SampleExternalCredential
    Principal:
      title: Principal
      required:
      - principalName
      - principalType
      - sequenceNumber
      type: object
      properties:
        principalName:
          type: string
          example: example_value
        principalType:
          type: string
          example: example_value
        sequenceNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - principalName: SamplePrincipal
        principalType: NamedPrincipal
        sequenceNumber: 1
    SuccessfulUpdateNamedCredential:
      title: SuccessfulUpdateNamedCredential
      required:
      - calloutOptions
      - calloutUrl
      - customHeaders
      - developerName
      - externalCredentials
      - id
      - masterLabel
      - parameters
      - type
      - url
      type: object
      properties:
        calloutOptions:
          $ref: '#/components/schemas/CalloutOptions'
        calloutUrl:
          type: string
          example: https://www.example.com
        customHeaders:
          type: array
          items:
            $ref: '#/components/schemas/CustomHeader1'
          description: ''
          example: []
        developerName:
          type: string
          example: example_value
        externalCredentials:
          type: array
          items:
            $ref: '#/components/schemas/ExternalCredential1'
          description: ''
          example: []
        id:
          type: string
          example: abc123
        masterLabel:
          type: string
          example: example_value
        parameters:
          type: array
          items:
            type: string
          description: ''
          example: []
        type:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - calloutOptions:
          allowMergeFieldsInBody: false
          allowMergeFieldsInHeader: true
          generateAuthorizationHeader: true
        calloutUrl: https://api.example.com
        customHeaders:
        - headerName: SampleHeader
          headerValue: SampleValue
          id: 0pv2o000000PAv6AAG
          sequenceNumber: 1
        developerName: SamplePrivate
        externalCredentials:
        - developerName: SampleExternalCredential
          id: 0pt2o000000CaU0AAK
          masterLabel: Sample External Credential
          url: /services/data/v58.0/named-credentials/external-credentials/SampleExternalCredential
        id: 0XA2o000000XaAQGA0
        masterLabel: SamplePrivateLabel
        parameters: []
        type: SecuredEndpoint
        url: /services/data/v58.0/named-credentials/named-credential-setup/SamplePrivate
    Principal1:
      title: Principal1
      required:
      - authenticationStatus
      - id
      - parameters
      - principalAccess
      - principalName
      - principalType
      - sequenceNumber
      type: object
      properties:
        authenticationStatus:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        parameters:
          type: array
          items:
            type: string
          description: ''
          example: []
        principalAccess:
          type: array
          items:
            type: string
          description: ''
          example: []
        principalName:
          type: string
          example: example_value
        principalType:
          type: string
          example: example_value
        sequenceNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - authenticationStatus: Unknown
        id: 0pu2o000000KymjAAC
        parameters: []
        principalAccess: []
        principalName: SamplePrincipal
        principalType: NamedPrincipal
        sequenceNumber: 1
    SuccessfulGetNamedCredentialbyDeveloperName:
      title: SuccessfulGetNamedCredentialbyDeveloperName
      required:
      - calloutOptions
      - calloutUrl
      - customHeaders
      - developerName
      - externalCredentials
      - id
      - masterLabel
      - parameters
      - type
      - url
      type: object
      properties:
        calloutOptions:
          $ref: '#/components/schemas/CalloutOptions'
        calloutUrl:
          type: string
          example: https://www.example.com
        customHeaders:
          type: array
          items:
            type: string
          description: ''
          example: []
        developerName:
          type: string
          example: example_value
        externalCredentials:
          type: array
          items:
            $ref: '#/components/schemas/ExternalCredential1'
          description: ''
          example: []
        id:
          type: string
          example: abc123
        masterLabel:
          type: string
          example: example_value
        parameters:
          type: array
          items:
            type: string
          description: ''
          example: []
        type:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - calloutOptions:
          allowMergeFieldsInBody: false
          allowMergeFieldsInHeader: false
          generateAuthorizationHeader: true
        calloutUrl: https://my.example.com
        customHeaders: []
        developerName: Test
        externalCredentials:
        - developerName: Test
          id: 0pt...
          masterLabel: Test
          url: /services/data/v58.0/named-credentials/external-credentials/Test
        id: 0XA...
        masterLabel: Test
        parameters: []
        type: SecuredEndpoint
        url: /services/data/v58.0/named-credentials/named-credential-setup/Test
    Credentials:
      title: Credentials
      required:
      - testCredential
      type: object
      properties:
        testCredential:
          $ref: '#/components/schemas/TestCredential'
      examples:
      - testCredential:
          value: '000000'
          encrypted: true
    ExternalCredential1:
      title: ExternalCredential1
      required:
      - developerName
      - id
      - masterLabel
      - url
      type: object
      properties:
        developerName:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        masterLabel:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - developerName: Test
        id: 0pt...
        masterLabel: Test
        url: /services/data/v58.0/named-credentials/external-credentials/Test
    UpdatenamedcredentialRequest1:
      title: UpdatenamedcredentialRequest1
      required:
      - FullName
      - Metadata
      type: object
      properties:
        FullName:
          type: string
          example: example_value
        Metadata:
          $ref: '#/components/schemas/Metadata10'
      examples:
      - FullName: MyNamedCredential
        Metadata:
          label: My Named Credential
          endpoint: arn:aws:AWS_REGION:AWS_ACCOUNT_ID
          principalType: Anonymous
          protocol: NoAuthentication
    CalloutOptions:
      title: CalloutOptions
      required:
      - allowMergeFieldsInBody
      - allowMergeFieldsInHeader
      - generateAuthorizationHeader
      type: object
      properties:
        allowMergeFieldsInBody:
          type: boolean
          example: true
        allowMergeFieldsInHeader:
          type: boolean
          example: true
        generateAuthorizationHeader:
          type: boolean
          example: true
      examples:
      - allowMergeFieldsInBody: false
        allowMergeFieldsInHeader: false
        generateAuthorizationHeader: true
    SuccessfulGetCredential:
      title: SuccessfulGetCredential
      required:
      - authenticationProtocol
      - authenticationProtocolVariant
      - authenticationStatus
      - credentials
      - externalCredential
      - principalName
      - principalType
      type: object
      properties:
        authenticationProtocol:
          type: string
          example: example_value
        authenticationProtocolVariant:
          type: string
          example: example_value
        authenticationStatus:
          type: string
          example: example_value
        credentials:
          type: object
          example: example_value
        externalCredential:
          type: string
          example: example_value
        principalName:
          type: string
          example: example_value
        principalType:
          type: string
          example: example_value
      examples:
      - authenticationProtocol: Custom
        authenticationProtocolVariant: NoAuthentication
        authenticationStatus: Configured
        credentials: {}
        externalCredential: Test
        principalName: Test
        principalType: NamedPrincipal
    CustomHeader1:
      title: CustomHeader1
      required:
      - headerName
      - headerValue
      - id
      - sequenceNumber
      type: object
      properties:
        headerName:
          type: string
          example: example_value
        headerValue:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        sequenceNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - headerName: SampleHeader
        headerValue: SampleHeaderValue
        id: 0pu2o000000KymkAAC
        sequenceNumber: 1
    UpdateNamedCredentialRequest:
      title: UpdateNamedCredentialRequest
      required:
      - masterLabel
      - type
      - calloutUrl
      - externalCredentials
      - customHeaders
      - calloutOptions
      type: object
      properties:
        masterLabel:
          type: string
          example: example_value
        type:
          type: string
          example: example_value
        calloutUrl:
          type: string
          example: https://www.example.com
        externalCredentials:
          type: array
          items:
            $ref: '#/components/schemas/ExternalCredential2'
          description: ''
          example: []
        customHeaders:
          type: array
          items:
            $ref: '#/components/schemas/CustomHeader'
          description: ''
          example: []
        calloutOptions:
          $ref: '#/components/schemas/CalloutOptions'
      examples:
      - masterLabel: SamplePrivateLabel
        type: SecuredEndpoint
        calloutUrl: https://api.example.com
        externalCredentials:
        - developerName: SampleExternalCredential
        customHeaders:
        - headerName: SampleHeader
          headerValue: SampleValue
          sequenceNumber: 1
        calloutOptions:
          allowMergeFieldsInBody: false
          allowMergeFieldsInHeader: true
          generateAuthorizationHeader: true
    RelatedNamedCredential:
      title: RelatedNamedCredential
      required:
      - developerName
      - id
      - masterLabel
      - url
      type: object
      properties:
        developerName:
          type: string
          example: example_value
        id:
          type: string
          example: abc123
        masterLabel:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - developerName: Test
        id: 0XA...
        masterLabel: Test
        url: /services/data/v58.0/named-credentials/named-credential-setup/Test
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
