openapi: 3.2.0
info:
  title: Salesforce Individual API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Individual
paths:
  /data/v64.0/loyalty-programs/{loyaltyProgramName}/individual-member-enrollments:
    parameters: []
    post:
      tags:
      - Individual
      summary: Salesforce Individual Member Enrollments
      description: 'Standard Documentation:


        [https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_enroll_individual_member.htm](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_enroll_individual_member.htm)'
      operationId: IndividualMemberEnrollments
      parameters:
      - name: loyaltyProgramName
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/IndividualMemberEnrollmentsRequest'
              - examples:
                - enrollmentDate: '2021-01-01T00:00:00.000Z'
                  membershipNumber: Member1
                  associatedContactDetails:
                    firstName: Name1
                    lastName: Name2
                    email: ab@email.com
                    allowDuplicateRecords: 'false'
                  memberStatus: Active
                  createTransactionJournals: 'true'
                  transactionJournalStatementFrequency: Monthly
                  transactionJournalStatementMethod: Mail
                  enrollmentChannel: Email
                  canReceivePromotions: 'true'
                  canReceivePartnerPromotions: 'true'
                  membershipEndDate: '2022-01-01T00:00:00.000Z'
              contentMediaType: application/json
            example:
              enrollmentDate: '2021-01-01T00:00:00.000Z'
              membershipNumber: Member1
              associatedContactDetails:
                firstName: Name1
                lastName: Name2
                email: ab@email.com
                allowDuplicateRecords: 'false'
              memberStatus: Active
              createTransactionJournals: 'true'
              transactionJournalStatementFrequency: Monthly
              transactionJournalStatementMethod: Mail
              enrollmentChannel: Email
              canReceivePromotions: 'true'
              canReceivePartnerPromotions: 'true'
              membershipEndDate: '2022-01-01T00:00:00.000Z'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 May 2024 15:39:01 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualMemberEnrollments'
                - examples:
                  - contactId: 003J8000002Yu0Z
                    loyaltyProgramMemberId: 0lMJ8000000CaRM
                    loyaltyProgramName: NTO Insider
                    membershipNumber: Member1
                    transactionJournals:
                    - activityDate: '2020-12-31T23:00:00.000Z'
                      journalSubType: Member Enrollment
                      journalType: Accrual
                      loyaltyProgram: NTO Insider
                      loyaltyProgramMember: Member1
                      referredMember: null
                      status: Processed
                      transactionJournalId: 0lVJ8000000GmaJ
                contentMediaType: application/json;charset=UTF-8
              example:
                contactId: 003J8000002Yu0Z
                loyaltyProgramMemberId: 0lMJ8000000CaRM
                loyaltyProgramName: NTO Insider
                membershipNumber: Member1
                transactionJournals:
                - activityDate: '2020-12-31T23:00:00.000Z'
                  journalSubType: Member Enrollment
                  journalType: Accrual
                  loyaltyProgram: NTO Insider
                  loyaltyProgramMember: Member1
                  referredMember: null
                  status: Processed
                  transactionJournalId: 0lVJ8000000GmaJ
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AssociatedContactDetails:
      title: AssociatedContactDetails
      required:
      - firstName
      - lastName
      - email
      - allowDuplicateRecords
      type: object
      properties:
        firstName:
          type: string
          example: example_value
        lastName:
          type: string
          example: example_value
        email:
          type: string
          example: user@example.com
        allowDuplicateRecords:
          type: string
          example: example_value
      examples:
      - firstName: Name1
        lastName: Name2
        email: ab@email.com
        allowDuplicateRecords: 'false'
    TransactionJournal:
      title: TransactionJournal
      required:
      - activityDate
      - journalSubType
      - journalType
      - loyaltyProgram
      - loyaltyProgramMember
      - referredMember
      - status
      - transactionJournalId
      type: object
      properties:
        activityDate:
          type: string
          example: example_value
        journalSubType:
          type: string
          example: example_value
        journalType:
          type: string
          example: example_value
        loyaltyProgram:
          type: string
          example: example_value
        loyaltyProgramMember:
          type: string
          example: example_value
        referredMember:
          type:
          - string
          - 'null'
          example: example_value
        status:
          type: string
          example: example_value
        transactionJournalId:
          type: string
          example: '500123'
      examples:
      - activityDate: '2021-01-01T04:05:05.000Z'
        journalSubType: Member Enrollment
        journalType: Accrual
        loyaltyProgram: NTO Insider
        loyaltyProgramMember: Member123
        referredMember: null
        status: Processed
        transactionJournalId: 0lVJ8000000GmaE
    IndividualMemberEnrollments:
      title: IndividualMemberEnrollments
      required:
      - contactId
      - loyaltyProgramMemberId
      - loyaltyProgramName
      - membershipNumber
      - transactionJournals
      type: object
      properties:
        contactId:
          type: string
          example: '500123'
        loyaltyProgramMemberId:
          type: string
          example: '500123'
        loyaltyProgramName:
          type: string
          example: example_value
        membershipNumber:
          type: string
          example: example_value
        transactionJournals:
          type: array
          items:
            $ref: '#/components/schemas/TransactionJournal'
          description: ''
          example: []
      examples:
      - contactId: 003J8000002Yu0Z
        loyaltyProgramMemberId: 0lMJ8000000CaRM
        loyaltyProgramName: NTO Insider
        membershipNumber: Member1
        transactionJournals:
        - activityDate: '2020-12-31T23:00:00.000Z'
          journalSubType: Member Enrollment
          journalType: Accrual
          loyaltyProgram: NTO Insider
          loyaltyProgramMember: Member1
          referredMember: null
          status: Processed
          transactionJournalId: 0lVJ8000000GmaJ
    IndividualMemberEnrollmentsRequest:
      title: IndividualMemberEnrollmentsRequest
      required:
      - enrollmentDate
      - membershipNumber
      - associatedContactDetails
      - memberStatus
      - createTransactionJournals
      - transactionJournalStatementFrequency
      - transactionJournalStatementMethod
      - enrollmentChannel
      - canReceivePromotions
      - canReceivePartnerPromotions
      - membershipEndDate
      type: object
      properties:
        enrollmentDate:
          type: string
          example: example_value
        membershipNumber:
          type: string
          example: example_value
        associatedContactDetails:
          $ref: '#/components/schemas/AssociatedContactDetails'
        memberStatus:
          type: string
          example: example_value
        createTransactionJournals:
          type: string
          example: example_value
        transactionJournalStatementFrequency:
          type: string
          example: example_value
        transactionJournalStatementMethod:
          type: string
          example: example_value
        enrollmentChannel:
          type: string
          example: example_value
        canReceivePromotions:
          type: string
          example: example_value
        canReceivePartnerPromotions:
          type: string
          example: example_value
        membershipEndDate:
          type: string
          example: example_value
      examples:
      - enrollmentDate: '2021-01-01T00:00:00.000Z'
        membershipNumber: Member1
        associatedContactDetails:
          firstName: Name1
          lastName: Name2
          email: ab@email.com
          allowDuplicateRecords: 'false'
        memberStatus: Active
        createTransactionJournals: 'true'
        transactionJournalStatementFrequency: Monthly
        transactionJournalStatementMethod: Mail
        enrollmentChannel: Email
        canReceivePromotions: 'true'
        canReceivePartnerPromotions: 'true'
        membershipEndDate: '2022-01-01T00:00:00.000Z'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
