openapi: 3.2.0
info:
  title: Salesforce Conversation API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Conversation
paths:
  /data/v64.0/connect/conversation/{conversationIdentifier}/entries:
    parameters: []
    get:
      tags:
      - Conversation
      summary: Salesforce Get Conversation Entries
      description: 'Gets in-app messaging conversation entries.

        https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_conversation_entries.htm'
      operationId: Getconversationentries
      parameters:
      - name: conversationIdentifier
        in: path
        description: Conversation identifier UUID
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 10 Jan 2025 11:40:26 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=246/15000
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: sfdcedge
            X-SFDC-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 5a8f2802ad688ae208710a5df1950663
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 5a8f2802ad688ae208710a5df1950663
            X-SFDC-Edge-Cache:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: MISS
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Getconversationentries'
                - examples:
                  - conversationEntries:
                    - clientDuration: 0
                      clientTimestamp: 1736508089610
                      identifier: 06a1182e-d932-4178-9864-6de5b7b3d3fd
                      messageText: 'The Canyon Zip Line Excursion is an exhilarating adventure where you can soar over deep canyons and lush forest canopies. Here are some details:


                        - Description: Soar over deep canyons and lush forest canopies on our thrilling zip line tour.

                        - Activity Level: High

                        - Type: Adventure Activities


                        Would you like to know the available sessions for this excursion? If so, please provide the date you&#39;re interested in.'
                      relatedRecords: []
                      sender:
                        appType: chatbot
                        role: Chatbot
                        subject: 0XxKj000000xpJh
                      serverReceivedTimestamp: 1736508089657
                    - clientDuration: 0
                      clientTimestamp: 1736508081161
                      identifier: 414e8b7b-af09-4349-beee-79806657495c
                      messageText: sofiarodriguez@example.com and 10008155
                      relatedRecords:
                      - 0MwKj000007sdiM
                      sender:
                        appType: iamessage
                        role: EndUser
                        subject: v2/iamessage/UNAUTH/NA/uid:cee38146-34f1-41a2-a96c-a5c4c9b8b62b
                      serverReceivedTimestamp: 1736508081203
                    - clientDuration: 0
                      clientTimestamp: 1736508041619
                      identifier: 981246f2-7be4-4fa4-a8ea-2bb134c7f6ff
                      messageText: Could you please provide your email address and membership number so I can look up your details and get the information for you?
                      relatedRecords: []
                      sender:
                        appType: chatbot
                        role: Chatbot
                        subject: 0XxKj000000xpJh
                      serverReceivedTimestamp: 1736508041627
                    - clientDuration: 0
                      clientTimestamp: 1736508034543
                      identifier: 7db791fe-1f23-46d7-b685-7ad7b3f56f9d
                      messageText: show me more information about the canyon zip line excursion
                      relatedRecords:
                      - 0MwKj000007sdiM
                      sender:
                        appType: iamessage
                        role: EndUser
                        subject: v2/iamessage/UNAUTH/NA/uid:cee38146-34f1-41a2-a96c-a5c4c9b8b62b
                      serverReceivedTimestamp: 1736508034755
                    - clientDuration: 0
                      clientTimestamp: 1736508015523
                      identifier: e9762707-0b3c-4656-8b91-9f10d04aa313
                      messageText: Hi, I&#39;m an AI service assistant. How can I help you?
                      relatedRecords: []
                      sender:
                        appType: chatbot
                        role: Chatbot
                        subject: 0XxKj000000xpJh
                      serverReceivedTimestamp: 1736508015579
                contentMediaType: application/json;charset=UTF-8
              example:
                conversationEntries:
                - clientDuration: 0
                  clientTimestamp: 1736508089610
                  identifier: 06a1182e-d932-4178-9864-6de5b7b3d3fd
                  messageText: 'The Canyon Zip Line Excursion is an exhilarating adventure where you can soar over deep canyons and lush forest canopies. Here are some details:


                    - Description: Soar over deep canyons and lush forest canopies on our thrilling zip line tour.

                    - Activity Level: High

                    - Type: Adventure Activities


                    Would you like to know the available sessions for this excursion? If so, please provide the date you&#39;re interested in.'
                  relatedRecords: []
                  sender:
                    appType: chatbot
                    role: Chatbot
                    subject: 0XxKj000000xpJh
                  serverReceivedTimestamp: 1736508089657
                - clientDuration: 0
                  clientTimestamp: 1736508081161
                  identifier: 414e8b7b-af09-4349-beee-79806657495c
                  messageText: sofiarodriguez@example.com and 10008155
                  relatedRecords:
                  - 0MwKj000007sdiM
                  sender:
                    appType: iamessage
                    role: EndUser
                    subject: v2/iamessage/UNAUTH/NA/uid:cee38146-34f1-41a2-a96c-a5c4c9b8b62b
                  serverReceivedTimestamp: 1736508081203
                - clientDuration: 0
                  clientTimestamp: 1736508041619
                  identifier: 981246f2-7be4-4fa4-a8ea-2bb134c7f6ff
                  messageText: Could you please provide your email address and membership number so I can look up your details and get the information for you?
                  relatedRecords: []
                  sender:
                    appType: chatbot
                    role: Chatbot
                    subject: 0XxKj000000xpJh
                  serverReceivedTimestamp: 1736508041627
                - clientDuration: 0
                  clientTimestamp: 1736508034543
                  identifier: 7db791fe-1f23-46d7-b685-7ad7b3f56f9d
                  messageText: show me more information about the canyon zip line excursion
                  relatedRecords:
                  - 0MwKj000007sdiM
                  sender:
                    appType: iamessage
                    role: EndUser
                    subject: v2/iamessage/UNAUTH/NA/uid:cee38146-34f1-41a2-a96c-a5c4c9b8b62b
                  serverReceivedTimestamp: 1736508034755
                - clientDuration: 0
                  clientTimestamp: 1736508015523
                  identifier: e9762707-0b3c-4656-8b91-9f10d04aa313
                  messageText: Hi, I&#39;m an AI service assistant. How can I help you?
                  relatedRecords: []
                  sender:
                    appType: chatbot
                    role: Chatbot
                    subject: 0XxKj000000xpJh
                  serverReceivedTimestamp: 1736508015579
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Getconversationentries:
      title: Getconversationentries
      required:
      - conversationEntries
      type: object
      properties:
        conversationEntries:
          type: array
          items:
            $ref: '#/components/schemas/ConversationEntry'
          description: ''
          example: []
      examples:
      - conversationEntries:
        - clientDuration: 0
          clientTimestamp: 1736508089610
          identifier: 06a1182e-d932-4178-9864-6de5b7b3d3fd
          messageText: 'The Canyon Zip Line Excursion is an exhilarating adventure where you can soar over deep canyons and lush forest canopies. Here are some details:


            - Description: Soar over deep canyons and lush forest canopies on our thrilling zip line tour.

            - Activity Level: High

            - Type: Adventure Activities


            Would you like to know the available sessions for this excursion? If so, please provide the date you&#39;re interested in.'
          relatedRecords: []
          sender:
            appType: chatbot
            role: Chatbot
            subject: 0XxKj000000xpJh
          serverReceivedTimestamp: 1736508089657
        - clientDuration: 0
          clientTimestamp: 1736508081161
          identifier: 414e8b7b-af09-4349-beee-79806657495c
          messageText: sofiarodriguez@example.com and 10008155
          relatedRecords:
          - 0MwKj000007sdiM
          sender:
            appType: iamessage
            role: EndUser
            subject: v2/iamessage/UNAUTH/NA/uid:cee38146-34f1-41a2-a96c-a5c4c9b8b62b
          serverReceivedTimestamp: 1736508081203
        - clientDuration: 0
          clientTimestamp: 1736508041619
          identifier: 981246f2-7be4-4fa4-a8ea-2bb134c7f6ff
          messageText: Could you please provide your email address and membership number so I can look up your details and get the information for you?
          relatedRecords: []
          sender:
            appType: chatbot
            role: Chatbot
            subject: 0XxKj000000xpJh
          serverReceivedTimestamp: 1736508041627
        - clientDuration: 0
          clientTimestamp: 1736508034543
          identifier: 7db791fe-1f23-46d7-b685-7ad7b3f56f9d
          messageText: show me more information about the canyon zip line excursion
          relatedRecords:
          - 0MwKj000007sdiM
          sender:
            appType: iamessage
            role: EndUser
            subject: v2/iamessage/UNAUTH/NA/uid:cee38146-34f1-41a2-a96c-a5c4c9b8b62b
          serverReceivedTimestamp: 1736508034755
        - clientDuration: 0
          clientTimestamp: 1736508015523
          identifier: e9762707-0b3c-4656-8b91-9f10d04aa313
          messageText: Hi, I&#39;m an AI service assistant. How can I help you?
          relatedRecords: []
          sender:
            appType: chatbot
            role: Chatbot
            subject: 0XxKj000000xpJh
          serverReceivedTimestamp: 1736508015579
    Sender1:
      title: Sender1
      required:
      - appType
      - role
      - subject
      type: object
      properties:
        appType:
          type: string
          example: example_value
        role:
          type: string
          example: example_value
        subject:
          type: string
          example: example_value
      examples:
      - appType: chatbot
        role: Chatbot
        subject: 0XxKj000000xpJh
    ConversationEntry:
      title: ConversationEntry
      required:
      - clientDuration
      - clientTimestamp
      - identifier
      - messageText
      - relatedRecords
      - sender
      - serverReceivedTimestamp
      type: object
      properties:
        clientDuration:
          type: integer
          contentEncoding: int32
          example: 10
        clientTimestamp:
          type: integer
          contentEncoding: int64
          example: 10
        identifier:
          type: string
          example: example_value
        messageText:
          type: string
          example: example_value
        relatedRecords:
          type: array
          items:
            type: string
          description: ''
          example: []
        sender:
          $ref: '#/components/schemas/Sender1'
        serverReceivedTimestamp:
          type: integer
          contentEncoding: int64
          example: 10
      examples:
      - clientDuration: 0
        clientTimestamp: 1736508089610
        identifier: 06a1182e-d932-4178-9864-6de5b7b3d3fd
        messageText: 'The Canyon Zip Line Excursion is an exhilarating adventure where you can soar over deep canyons and lush forest canopies. Here are some details:


          - Description: Soar over deep canyons and lush forest canopies on our thrilling zip line tour.

          - Activity Level: High

          - Type: Adventure Activities


          Would you like to know the available sessions for this excursion? If so, please provide the date you&#39;re interested in.'
        relatedRecords: []
        sender:
          appType: chatbot
          role: Chatbot
          subject: 0XxKj000000xpJh
        serverReceivedTimestamp: 1736508089657
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
