openapi: 3.2.0
info:
  title: Salesforce Expression API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Expression
paths:
  /data/v64.0/connect/business-rules/expression-set/{expressionSetId}:
    parameters: []
    get:
      tags:
      - Expression
      summary: Salesforce Expression Set Retrieve
      description: "# Expression Set Retrieve and Delete (DELETE, GET)\n\nEndpoints to read, and delete expression set.Resource\n\n```\n/connect/business-rules/expression-set/${expressionSetId}\n\n ```\n\nResource Example\n\n```\nhttps://yourInstance.salesforce.com/services/data/v59.0/connect\n            /business-rules/expressionSet/$11Oxx0000006PcLEAU\n\n ```\n\nAvailable version\n\n58.0\n\nRequires Chatter\n\nNo\n\nHTTP methods\n\nDELETE, GET\n\nRequest body for GET\n\nRoot XML tag\n\nJSON example\n\n```\n{\n  \"name\": \"CTX Mapping ES\",\n  \"apiName\": \"CTX_Mapping_ES_1\",\n  \"description\": \"...\",\n  \"usageType\": \"Bre\",\n  \"contextDefinitions\": [\n    {\n      \"id\": \"11Oxx0000006PcLEAU\"\n    }\n  ],\n  \"versions\": [\n    {\n      \"name\": \"CTX_Mapping_ES_1 V1\",\n      \"apiName\": \"CTX_Mapping_ES_1_V1\",\n      \"description\": \"Sample CTX Mapping\",\n      \"startDate\": \"2022-11-14T20:31:47.000+0000\",\n      \"endDate\": \"2022-11-14T20:31:47.000+0000\",\n      \"versionNumber\": 1,\n      \"rank\": 1,\n      \"enabled\": true,\n      \"showExplExternally\": false,\n      \"steps\": [\n        {\n          \"name\": \"Condition1\",\n          \"description\": \"Condition step for conditions w.r.t product\",\n          \"sequenceNumber\": 1,\n          \"resultIncluded\": true,\n          \"stepType\": \"Condition\",\n          \"conditionExpression\": {\n            \"expression\": \"productName == 'iPhone' && productColor == 'Red'\",\n            \"resultParameter\": \"condition_output__1\"\n          }\n        }\n      ],\n      \"variables\": [\n        {\n          \"name\": \"productName\",\n          \"collection\": false,\n          \"dataType\": \"Text\",\n          \"description\": \"productName\",\n          \"input\": true,\n          \"output\": false,\n          \"type\": \"Variable\"\n        },\n        {\n          \"name\": \"productColor\",\n          \"collection\": false,\n          \"dataType\": \"Text\",\n          \"description\": \"productColor\",\n          \"input\": true,\n          \"output\": false,\n          \"type\": \"Variable\"\n        },\n        {\n          \"name\": \"condition_output__1\",\n          \"dataType\": \"Boolean\",\n          \"description\": \"condition_output__1\",\n          \"input\": false,\n          \"output\": true,\n          \"resultStep\": \"Condition1\",\n          \"type\": \"Variable\"\n        }\n      ]\n    }\n  ]\n}\n\n ```\n\nProperties\n\n| Name | Type | Description | Required or Optional | Available Version |\n| --- | --- | --- | --- | --- |\n| apiName | String | Unique name of the expression set. | Required | 58.0 |\n| context​Definitions | [Context Definition Input](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_requests_context_definition_input.htm) | List of context definitions in an expression set. | Optional | 58.0 |\n| description | String | Description of the expression set. | Optional | 58.0 |\n| name | String | Name of the expression set. | Required | 58.0 |\n| usage​Type | String | Usage type of the expression set.  <br>  <br>Valid values are:  <br>  <br>\\- AiAccelerator​SubscriberChurn​Prediction—Used for Industries Einstein  <br>  <br>\\- Bre—Used for Business Rules Engine  <br>  <br>\\- CustomLoyalty—Used for Loyalty Management  <br>  <br>\\- DefaultPricing—Used for Pricing Plans in Enterprise Product Catalog (EPC) by Communications Cloud  <br>  <br>\\- Qualification—Used for Industries Communications, Media, and Energy (CME)  <br>  <br>\\- RecordAlert—Used for Financial Services Cloud  <br>  <br>\\- ShipAndDebit—Used for Manufacturing Cloud  <br>  <br>\\- TierProcessing—Used for Loyalty Management  <br>  <br>\\- TransactionJournal—Used for Loyalty Management  <br>  <br>\\- WarrantyClaim—Used for Manufacturing Cloud | Required | 58.0 |\n| versions | [Expression Set Version Input](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_requests_expression_set_version.htm)\\[\\] | List of the expression set versions. | Optional | 58.0 |\n\nResponse body for GET[Expression Set Output](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_responses_expression_set_output.htm)"
      operationId: ExpressionSetRetrieve
      parameters:
      - name: expressionSetId
        in: path
        description: 'Expression Set Id: For Example 9QLHo000000LBjEOAW'
        required: true
        schema:
          type: string
          examples:
          - 9QLHo000000LBngOAG
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 09:34:42 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-RecordFound'
                - examples:
                  - apiName: myExpressionSet
                    contextDefinitions: []
                    id: 9QLHo000000LBjEOAW
                    name: myExpressionSet
                    usageType: Bre
                    versions:
                    - apiName: myExpressionSet_V1
                      description: myExpressionSet V1 Description
                      enabled: true
                      id: 9QMHo000000LBjJOAW
                      name: myExpressionSet V1
                      rank: 1
                      showExplExternally: true
                      startDate: '2023-09-06T09:27:06.000Z'
                      steps:
                      - actionType: AssignParameterValues
                        assignment:
                          assignedParameter: condition_output__1
                          expression: 'true'
                        description: my Description
                        name: myCalculation
                        resultIncluded: true
                        sequenceNumber: 1
                        shouldExposeConditionDetails: false
                        shouldExposeExecPathMsgOnly: true
                        shouldShowExplExternally: false
                        stepType: BusinessKnowledgeModel
                      variables:
                      - collection: false
                        dataType: Boolean
                        description: condition_output__1
                        input: false
                        name: condition_output__1
                        output: true
                        type: Variable
                        value: 'False'
                      - collection: false
                        dataType: Boolean
                        description: condition_output__2
                        input: false
                        name: condition_output__2
                        output: false
                        type: Variable
                        value: 'False'
                      versionNumber: 1
                contentMediaType: application/json;charset=UTF-8
              example:
                apiName: myExpressionSet
                contextDefinitions: []
                id: 9QLHo000000LBjEOAW
                name: myExpressionSet
                usageType: Bre
                versions:
                - apiName: myExpressionSet_V1
                  description: myExpressionSet V1 Description
                  enabled: true
                  id: 9QMHo000000LBjJOAW
                  name: myExpressionSet V1
                  rank: 1
                  showExplExternally: true
                  startDate: '2023-09-06T09:27:06.000Z'
                  steps:
                  - actionType: AssignParameterValues
                    assignment:
                      assignedParameter: condition_output__1
                      expression: 'true'
                    description: my Description
                    name: myCalculation
                    resultIncluded: true
                    sequenceNumber: 1
                    shouldExposeConditionDetails: false
                    shouldExposeExecPathMsgOnly: true
                    shouldShowExplExternally: false
                    stepType: BusinessKnowledgeModel
                  variables:
                  - collection: false
                    dataType: Boolean
                    description: condition_output__1
                    input: false
                    name: condition_output__1
                    output: true
                    type: Variable
                    value: 'False'
                  - collection: false
                    dataType: Boolean
                    description: condition_output__2
                    input: false
                    name: condition_output__2
                    output: false
                    type: Variable
                    value: 'False'
                  versionNumber: 1
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:29:39 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-PreviouslyDeletedRecord1'
                description: ''
                examples:
                - - errorCode: INVALID_INPUT
                    message: The expression set id is not available.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_INPUT
                message: The expression set id is not available.
        '404':
          description: Not Found
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 09:56:59 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status404-RecordNotFound1'
                description: ''
                examples:
                - - errorCode: NOT_FOUND
                    message: The requested resource does not exist
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: NOT_FOUND
                message: The requested resource does not exist
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Expression
      summary: Salesforce Expression Set Update
      description: "# Expression Set Update (PATCH)\n\nEndpoints to read, and update expression set.Resource\n\n```\n/connect/business-rules/expression-set/${expressionSetId}\n\n ```\n\nResource Example\n\n```\nhttps://yourInstance.salesforce.com/services/data/v59.0/connect\n            /business-rules/expressionSet/$11Oxx0000006PcLEAU\n\n ```\n\nAvailable version\n\n58.0\n\nRequires Chatter\n\nNo\n\nHTTP methods\n\nDELETE, GET, PATCH\n\nResponse body for GET\n\n[Expression Set Output](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_responses_expression_set_output.htm)\n\nRequest body for PATCH\n\nRoot XML tag\n\nJSON example\n\n```\n{\n  \"name\": \"CTX Mapping ES\",\n  \"apiName\": \"CTX_Mapping_ES_1\",\n  \"description\": \"...\",\n  \"usageType\": \"Bre\",\n  \"contextDefinitions\": [\n    {\n      \"id\": \"11Oxx0000006PcLEAU\"\n    }\n  ],\n  \"versions\": [\n    {\n      \"name\": \"CTX_Mapping_ES_1 V1\",\n      \"apiName\": \"CTX_Mapping_ES_1_V1\",\n      \"description\": \"Sample CTX Mapping\",\n      \"startDate\": \"2022-11-14T20:31:47.000+0000\",\n      \"endDate\": \"2022-11-14T20:31:47.000+0000\",\n      \"versionNumber\": 1,\n      \"rank\": 1,\n      \"enabled\": true,\n      \"showExplExternally\": false,\n      \"steps\": [\n        {\n          \"name\": \"Condition1\",\n          \"description\": \"Condition step for conditions w.r.t product\",\n          \"sequenceNumber\": 1,\n          \"resultIncluded\": true,\n          \"stepType\": \"Condition\",\n          \"conditionExpression\": {\n            \"expression\": \"productName == 'iPhone' && productColor == 'Red'\",\n            \"resultParameter\": \"condition_output__1\"\n          }\n        }\n      ],\n      \"variables\": [\n        {\n          \"name\": \"productName\",\n          \"collection\": false,\n          \"dataType\": \"Text\",\n          \"description\": \"productName\",\n          \"input\": true,\n          \"output\": false,\n          \"type\": \"Variable\"\n        },\n        {\n          \"name\": \"productColor\",\n          \"collection\": false,\n          \"dataType\": \"Text\",\n          \"description\": \"productColor\",\n          \"input\": true,\n          \"output\": false,\n          \"type\": \"Variable\"\n        },\n        {\n          \"name\": \"condition_output__1\",\n          \"dataType\": \"Boolean\",\n          \"description\": \"condition_output__1\",\n          \"input\": false,\n          \"output\": true,\n          \"resultStep\": \"Condition1\",\n          \"type\": \"Variable\"\n        }\n      ]\n    }\n  ]\n}\n\n ```\n\nProperties\n\n| Name | Type | Description | Required or Optional | Available Version |\n| --- | --- | --- | --- | --- |\n| apiName | String | Unique name of the expression set. | Required | 58.0 |\n| context​Definitions | [Context Definition Input](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_requests_context_definition_input.htm) | List of context definitions in an expression set. | Optional | 58.0 |\n| description | String | Description of the expression set. | Optional | 58.0 |\n| name | String | Name of the expression set. | Required | 58.0 |\n| usage​Type | String | Usage type of the expression set.<br><br>Valid values are:<br><br>- AiAccelerator​SubscriberChurn​Prediction—Used for Industries Einstein<br>    <br>- Bre—Used for Business Rules Engine<br>    <br>- CustomLoyalty—Used for Loyalty Management<br>    <br>- DefaultPricing—Used for Pricing Plans in Enterprise Product Catalog (EPC) by Communications Cloud<br>    <br>- Qualification—Used for Industries Communications, Media, and Energy (CME)<br>    <br>- RecordAlert—Used for Financial Services Cloud<br>    <br>- ShipAndDebit—Used for Manufacturing Cloud<br>    <br>- TierProcessing—Used for Loyalty Management<br>    <br>- TransactionJournal—Used for Loyalty Management<br>    <br>- WarrantyClaim—Used for Manufacturing Cloud | Required | 58.0 |\n| versions | [Expression Set Version Input](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_requests_expression_set_version.htm)\\[\\] | List of the expression set versions. | Optional | 58.0 |\n\nResponse body for PATCH\n\n[Expression Set Output](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_responses_expression_set_output.htm)"
      operationId: ExpressionSetUpdate
      parameters:
      - name: expressionSetId
        in: path
        description: 'Expression Set Id: For Example 9QLHo000000LBjEOAW'
        required: true
        schema:
          type: string
          examples:
          - 9QLHo000000LBjJOAW
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExpressionSetUpdateRequest'
              - examples:
                - apiName: myExpressionSet
                  contextDefinitions: []
                  name: myExpressionSet2
                  usageType: Bre
                  versions:
                  - apiName: myExpressionSet_V1
                    enabled: false
                    id: 9QMHo000000LBjOOAW
                    name: myExpressionSet V1
                    showExplExternally: false
                    startDate: '2023-09-06T10:35:11.000Z'
                    steps: []
                    variables: []
                    versionNumber: 1
              contentMediaType: application/json
            example:
              apiName: myExpressionSet
              contextDefinitions: []
              name: myExpressionSet2
              usageType: Bre
              versions:
              - apiName: myExpressionSet_V1
                enabled: false
                id: 9QMHo000000LBjOOAW
                name: myExpressionSet V1
                showExplExternally: false
                startDate: '2023-09-06T10:35:11.000Z'
                steps: []
                variables: []
                versionNumber: 1
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:48:19 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-SuccessfullyUpdated'
                - examples:
                  - apiName: myExpressionSet
                    contextDefinitions: []
                    id: 9QLHo000000LBjJOAW
                    name: myExpressionSet2
                    usageType: Bre
                    versions:
                    - apiName: myExpressionSet_V1
                      enabled: false
                      id: 9QMHo000000LBjOOAW
                      name: myExpressionSet V1
                      showExplExternally: false
                      startDate: '2023-09-06T10:35:11.000Z'
                      steps: []
                      variables: []
                      versionNumber: 1
                contentMediaType: application/json;charset=UTF-8
              example:
                apiName: myExpressionSet
                contextDefinitions: []
                id: 9QLHo000000LBjJOAW
                name: myExpressionSet2
                usageType: Bre
                versions:
                - apiName: myExpressionSet_V1
                  enabled: false
                  id: 9QMHo000000LBjOOAW
                  name: myExpressionSet V1
                  showExplExternally: false
                  startDate: '2023-09-06T10:35:11.000Z'
                  steps: []
                  variables: []
                  versionNumber: 1
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:44:53 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-UnrecognizedBodyField1'
                description: ''
                examples:
                - - errorCode: JSON_PARSER_ERROR
                    message: Unrecognized field "id" at [line:4, column:12]
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: JSON_PARSER_ERROR
                message: Unrecognized field "id" at [line:4, column:12]
        '404':
          description: Not Found
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:46:00 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status404-RecordNotFound1'
                description: ''
                examples:
                - - errorCode: NOT_FOUND
                    message: The requested resource does not exist
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: NOT_FOUND
                message: The requested resource does not exist
        '500':
          description: Server Error
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:43:16 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status500-ErrorNoBody1'
                description: ''
                examples:
                - - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 1895340064-166877 (-1526419893)'
                    errorCode: UNKNOWN_EXCEPTION
                contentMediaType: application/json;charset=UTF-8
              example:
              - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 1895340064-166877 (-1526419893)'
                errorCode: UNKNOWN_EXCEPTION
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/business-rules/expressionset/{expressionSetAPIName}:
    parameters: []
    post:
      tags:
      - Expression
      summary: Salesforce Expression Set Invocation
      description: "[https://developer.salesforce.com/docs/atlas.en-us.246.0.industries_reference.meta/industries_reference/connect_resources_bre_expression_set.htm](https://developer.salesforce.com/docs/atlas.en-us.246.0.industries_reference.meta/industries_reference/connect_resources_bre_expression_set.htm)\n\n**WATCH OUT**: path **expressionSet** has no dash [gjeffcock@salesforce.com](https://gjeffcock@salesforce.com)\n\n# Expression Set Invocation (POST)\n\nInvokes expression sets in Business Rule Engine.Resource\n\n```\n/connect/business-rules/expressionSet/${expressionSetName}\n\n ```\n\nResource Example\n\n```\nhttps://yourInstance.salesforce.com/services/data/vXX.X/connect\n/business-rules/expressionSet/${expressionSetName}\n\n ```\n\nAvailable version\n\n55.0\n\nRequires Chatter\n\nNo\n\nHTTP methods\n\nPOST\n\nRequest body for POST\n\nJSON example 1\n\n```\n{\n  \"inputs\": [\n    {\n      \"age\": \"25\",\n      \"state\": \"CA\"\n      \"PatientId\":\"001xx000003GYjnAAG\"\n    }\n   \n  ],\n  \"options\": {\n    \"effectiveDate\": \"2022-12-03T10:15:30Z\",\n    \"useDatesOnly\": \"true\"\n  }\n}\n\n ```\n\nJSON example 2\n\n```\n{\n  \"inputs\": [\n    {\n      \"age\": \"25\",\n      \"state\": \"CA\"\n      \"PatientId\":\"001xx000003GYjnAAG\"\n      \"__actionContextCode\":\"001xx000003GYjnAAG\"    }\n   \n  ],\n  \"options\": {\n    \"effectiveDate\": \"2022-12-03T10:15:30Z\",\n    \"useDatesOnly\": \"true\"\n  }\n}\n\n ```\n\nNote\n\nYou can use more than one actionContextCode for multiple sets of inputs, passed in a single API call.\n\nProperties\n\n| Name | Type | Description | Required or Optional | Available Version |\n| --- | --- | --- | --- | --- |\n| inputs | Map\\[\\] | List of inputs passed to an expression set. An input may contain multiple variables.<br><br>Note<br><br>If the expression set uses a field alias as a variable, append Id to the object alias to which the field alias belongs, and pass the ID of the source object linked to the object alias. | Required | 55.0 |\n| options | [Expression Set Options Input](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_requests_options.htm) | The options for executing an expression set. | Optional | 55.0 |\n\nResponse body for POST\n\n[Business Rules Result](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_responses_business_rules_result.htm)"
      operationId: ExpressionSetInvocation
      parameters:
      - name: expressionSetAPIName
        in: path
        description: The API name of an expression set is unique within your Salesforce instance.
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExpressionSetInvocationRequest'
              - examples:
                - inputs:
                  - {}
                  options: {}
              contentMediaType: application/json
            example:
              inputs:
              - {}
              options: {}
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 08:05:45 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status201-Success'
                - examples:
                  - aggregationResults:
                      results: {}
                    executionId: 33045b23-8970-4fbe-a80c-8f4302592566
                    outputs:
                    - results:
                        output: 1
                contentMediaType: application/json;charset=UTF-8
              example:
                aggregationResults:
                  results: {}
                executionId: 33045b23-8970-4fbe-a80c-8f4302592566
                outputs:
                - results:
                    output: 1
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 08:03:38 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-InvalidExpressionSetName1'
                description: ''
                examples:
                - - errorCode: INVALID_INPUT
                    message: Specify a valid expressionSetName and try again.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_INPUT
                message: Specify a valid expressionSetName and try again.
        '500':
          description: Server Error
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 07 Sep 2023 07:48:43 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status500-EmptyBodyButRecordExist1'
                description: ''
                examples:
                - - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 597330588-4312 (-1669188241)'
                    errorCode: UNKNOWN_EXCEPTION
                contentMediaType: application/json;charset=UTF-8
              example:
              - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 597330588-4312 (-1669188241)'
                errorCode: UNKNOWN_EXCEPTION
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Results:
      title: Results
      required:
      - output
      type: object
      properties:
        output:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - output: 1
    Status404-RecordNotFound1:
      title: Status404-RecordNotFound1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: NOT_FOUND
        message: The requested resource does not exist
    Status500-ErrorNoBody1:
      title: Status500-ErrorNoBody1
      required:
      - message
      - errorCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        errorCode:
          type: string
          example: example_value
      examples:
      - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 675649159-184801 (-177293139)'
        errorCode: UNKNOWN_EXCEPTION
    Output:
      title: Output
      required:
      - results
      type: object
      properties:
        results:
          $ref: '#/components/schemas/Results'
      examples:
      - results:
          output: 1
    Status201-Success:
      title: Status201-Success
      required:
      - aggregationResults
      - executionId
      - outputs
      type: object
      properties:
        aggregationResults:
          $ref: '#/components/schemas/AggregationResults'
        executionId:
          type: string
          example: '500123'
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output'
          description: ''
          example: []
      examples:
      - aggregationResults:
          results: {}
        executionId: 33045b23-8970-4fbe-a80c-8f4302592566
        outputs:
        - results:
            output: 1
    ExpressionSetInvocationRequest:
      title: ExpressionSetInvocationRequest
      required:
      - inputs
      - options
      type: object
      properties:
        inputs:
          type: array
          items:
            type: object
          description: ''
          example: []
        options:
          type: object
          example: example_value
      examples:
      - inputs:
        - {}
        options: {}
    Assignment:
      title: Assignment
      required:
      - assignedParameter
      - expression
      type: object
      properties:
        assignedParameter:
          type: string
          example: example_value
        expression:
          type: string
          example: example_value
      examples:
      - assignedParameter: condition_output__1
        expression: 'true'
    Variable:
      title: Variable
      required:
      - collection
      - dataType
      - description
      - input
      - name
      - output
      - type
      - value
      type: object
      properties:
        collection:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        description:
          type: string
          example: A sample description.
        input:
          type: boolean
          example: true
        name:
          type: string
          example: Example Title
        output:
          type: boolean
          example: true
        type:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
      examples:
      - collection: false
        dataType: Boolean
        description: condition_output__1
        input: false
        name: condition_output__1
        output: true
        type: Variable
        value: 'False'
    Step:
      title: Step
      required:
      - actionType
      - assignment
      - description
      - name
      - resultIncluded
      - sequenceNumber
      - shouldExposeConditionDetails
      - shouldExposeExecPathMsgOnly
      - shouldShowExplExternally
      - stepType
      type: object
      properties:
        actionType:
          type: string
          example: example_value
        assignment:
          $ref: '#/components/schemas/Assignment'
        description:
          type: string
          example: A sample description.
        name:
          type: string
          example: Example Title
        resultIncluded:
          type: boolean
          example: true
        sequenceNumber:
          type: integer
          contentEncoding: int32
          example: 10
        shouldExposeConditionDetails:
          type: boolean
          example: true
        shouldExposeExecPathMsgOnly:
          type: boolean
          example: true
        shouldShowExplExternally:
          type: boolean
          example: true
        stepType:
          type: string
          example: example_value
      examples:
      - actionType: AssignParameterValues
        assignment:
          assignedParameter: condition_output__1
          expression: 'true'
        description: my Description
        name: myCalculation
        resultIncluded: true
        sequenceNumber: 1
        shouldExposeConditionDetails: false
        shouldExposeExecPathMsgOnly: true
        shouldShowExplExternally: false
        stepType: BusinessKnowledgeModel
    Status400-PreviouslyDeletedRecord1:
      title: Status400-PreviouslyDeletedRecord1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_INPUT
        message: The expression set id is not available.
    Version:
      title: Version
      required:
      - apiName
      - enabled
      - id
      - name
      - showExplExternally
      - startDate
      - steps
      - variables
      - versionNumber
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        enabled:
          type: boolean
          example: true
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        showExplExternally:
          type: boolean
          example: true
        startDate:
          type: string
          example: example_value
        steps:
          type: array
          items:
            type: string
          description: ''
          example: []
        variables:
          type: array
          items:
            type: string
          description: ''
          example: []
        versionNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - apiName: myExpressionSet_V1
        enabled: false
        id: 9QMHo000000LBjOOAW
        name: myExpressionSet V1
        showExplExternally: false
        startDate: '2023-09-06T10:35:11.000Z'
        steps: []
        variables: []
        versionNumber: 1
    ExpressionSetUpdateRequest:
      title: ExpressionSetUpdateRequest
      required:
      - apiName
      - contextDefinitions
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet
        contextDefinitions: []
        name: myExpressionSet2
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          enabled: false
          id: 9QMHo000000LBjOOAW
          name: myExpressionSet V1
          showExplExternally: false
          startDate: '2023-09-06T10:35:11.000Z'
          steps: []
          variables: []
          versionNumber: 1
    Version2:
      title: Version2
      required:
      - apiName
      - description
      - enabled
      - id
      - name
      - rank
      - showExplExternally
      - startDate
      - steps
      - variables
      - versionNumber
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        description:
          type: string
          example: A sample description.
        enabled:
          type: boolean
          example: true
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        rank:
          type: integer
          contentEncoding: int32
          example: 10
        showExplExternally:
          type: boolean
          example: true
        startDate:
          type: string
          example: example_value
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
          description: ''
          example: []
        variables:
          type: array
          items:
            $ref: '#/components/schemas/Variable'
          description: ''
          example: []
        versionNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - apiName: myExpressionSet_V1
        description: myExpressionSet V1 Description
        enabled: true
        id: 9QMHo000000LBjJOAW
        name: myExpressionSet V1
        rank: 1
        showExplExternally: true
        startDate: '2023-09-06T09:27:06.000Z'
        steps:
        - actionType: AssignParameterValues
          assignment:
            assignedParameter: condition_output__1
            expression: 'true'
          description: my Description
          name: myCalculation
          resultIncluded: true
          sequenceNumber: 1
          shouldExposeConditionDetails: false
          shouldExposeExecPathMsgOnly: true
          shouldShowExplExternally: false
          stepType: BusinessKnowledgeModel
        variables:
        - collection: false
          dataType: Boolean
          description: condition_output__1
          input: false
          name: condition_output__1
          output: true
          type: Variable
          value: 'False'
        - collection: false
          dataType: Boolean
          description: condition_output__2
          input: false
          name: condition_output__2
          output: false
          type: Variable
          value: 'False'
        versionNumber: 1
    Status400-UnrecognizedBodyField1:
      title: Status400-UnrecognizedBodyField1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: JSON_PARSER_ERROR
        message: Unrecognized field "id" at [line:4, column:12]
    Status200-SuccessfullyUpdated:
      title: Status200-SuccessfullyUpdated
      required:
      - apiName
      - contextDefinitions
      - id
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet
        contextDefinitions: []
        id: 9QLHo000000LBjJOAW
        name: myExpressionSet2
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          enabled: false
          id: 9QMHo000000LBjOOAW
          name: myExpressionSet V1
          showExplExternally: false
          startDate: '2023-09-06T10:35:11.000Z'
          steps: []
          variables: []
          versionNumber: 1
    AggregationResults:
      title: AggregationResults
      required:
      - results
      type: object
      properties:
        results:
          type: object
          example: example_value
      examples:
      - results: {}
    Status200-RecordFound:
      title: Status200-RecordFound
      required:
      - apiName
      - contextDefinitions
      - id
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version2'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet
        contextDefinitions: []
        id: 9QLHo000000LBjEOAW
        name: myExpressionSet
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          description: myExpressionSet V1 Description
          enabled: true
          id: 9QMHo000000LBjJOAW
          name: myExpressionSet V1
          rank: 1
          showExplExternally: true
          startDate: '2023-09-06T09:27:06.000Z'
          steps:
          - actionType: AssignParameterValues
            assignment:
              assignedParameter: condition_output__1
              expression: 'true'
            description: my Description
            name: myCalculation
            resultIncluded: true
            sequenceNumber: 1
            shouldExposeConditionDetails: false
            shouldExposeExecPathMsgOnly: true
            shouldShowExplExternally: false
            stepType: BusinessKnowledgeModel
          variables:
          - collection: false
            dataType: Boolean
            description: condition_output__1
            input: false
            name: condition_output__1
            output: true
            type: Variable
            value: 'False'
          - collection: false
            dataType: Boolean
            description: condition_output__2
            input: false
            name: condition_output__2
            output: false
            type: Variable
            value: 'False'
          versionNumber: 1
    Status500-EmptyBodyButRecordExist1:
      title: Status500-EmptyBodyButRecordExist1
      required:
      - message
      - errorCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        errorCode:
          type: string
          example: example_value
      examples:
      - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 597330588-4312 (-1669188241)'
        errorCode: UNKNOWN_EXCEPTION
    Status400-InvalidExpressionSetName1:
      title: Status400-InvalidExpressionSetName1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_INPUT
        message: Specify a valid expressionSetName and try again.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
