openapi: 3.2.0
info:
  title: Salesforce Models API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Models
paths:
  /data/v64.0/smartdatadiscovery/predictionDefinitions/{PREDICTION_DEFINITION_ID}/models:
    parameters: []
    get:
      tags:
      - Models
      summary: Salesforce Prediction Models
      description: Get available prediction definitions.
      operationId: Predictionmodels
      parameters:
      - name: PREDICTION_DEFINITION_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 04 Mar 2021 13:48:31 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=31536002; includeSubDomains
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=86400, report-uri="https://a.forcesslreports.com/Expect-CT-report/00D5Y000001crJvm"
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Predictionmodels'
                - examples:
                  - models:
                    - createdBy:
                        id: 0055Y00000DWwAIQA1
                        name: Philippe Ozil
                        profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                      createdDate: '2021-03-04T13:37:03.000Z'
                      fieldMappingList:
                      - modelField:
                          label: Category
                          name: Category
                          type: Text
                      - modelField:
                          label: Sales
                          name: Sales
                          type: Number
                      - modelField:
                          label: Profit per Order
                          name: Profit_per_Order
                          type: Number
                      - modelField:
                          label: Sub-Category
                          name: Sub_Category
                          type: Text
                      - modelField:
                          label: Quantity
                          name: Quantity
                          type: Number
                      filters: []
                      historyUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ/histories
                      id: 1Ot5Y0000010wzNSAQ
                      isRefreshEnabled: false
                      label: superstore-orders
                      lastModifiedBy:
                        id: 0055Y00000DWwAIQA1
                        name: Philippe Ozil
                        profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                      lastModifiedDate: '2021-03-04T13:37:03.000Z'
                      model:
                        id: 1OT5Y0000010zlzWAA
                      modelType: Regression
                      name: superstore_orders
                      predictionDefinitionUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA
                      prescribableFields:
                      - customDefinitions: []
                        field:
                          label: Quantity
                          name: Quantity
                          type: Number
                      sortOrder: 0
                      status: Enabled
                      url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ
                    totalSize: 1
                    url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models
                contentMediaType: application/json;charset=UTF-8
              example:
                models:
                - createdBy:
                    id: 0055Y00000DWwAIQA1
                    name: Philippe Ozil
                    profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                  createdDate: '2021-03-04T13:37:03.000Z'
                  fieldMappingList:
                  - modelField:
                      label: Category
                      name: Category
                      type: Text
                  - modelField:
                      label: Sales
                      name: Sales
                      type: Number
                  - modelField:
                      label: Profit per Order
                      name: Profit_per_Order
                      type: Number
                  - modelField:
                      label: Sub-Category
                      name: Sub_Category
                      type: Text
                  - modelField:
                      label: Quantity
                      name: Quantity
                      type: Number
                  filters: []
                  historyUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ/histories
                  id: 1Ot5Y0000010wzNSAQ
                  isRefreshEnabled: false
                  label: superstore-orders
                  lastModifiedBy:
                    id: 0055Y00000DWwAIQA1
                    name: Philippe Ozil
                    profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
                  lastModifiedDate: '2021-03-04T13:37:03.000Z'
                  model:
                    id: 1OT5Y0000010zlzWAA
                  modelType: Regression
                  name: superstore_orders
                  predictionDefinitionUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA
                  prescribableFields:
                  - customDefinitions: []
                    field:
                      label: Quantity
                      name: Quantity
                      type: Number
                  sortOrder: 0
                  status: Enabled
                  url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ
                totalSize: 1
                url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FieldMappingList:
      title: FieldMappingList
      required:
      - modelField
      type: object
      properties:
        modelField:
          $ref: '#/components/schemas/ModelField'
      examples:
      - modelField:
          label: Category
          name: Category
          type: Text
    Model:
      title: Model
      required:
      - id
      type: object
      properties:
        id:
          type: string
          example: abc123
      examples:
      - id: 1Ot5Y0000010wzNSAQ
    PrescribableField:
      title: PrescribableField
      required:
      - customDefinitions
      - field
      type: object
      properties:
        customDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        field:
          $ref: '#/components/schemas/Field'
      examples:
      - customDefinitions: []
        field:
          label: Quantity
          name: Quantity
          type: Number
    ModelField:
      title: ModelField
      required:
      - label
      - name
      - type
      type: object
      properties:
        label:
          type: string
          example: Example Title
        name:
          type: string
          example: Example Title
        type:
          type: string
          example: example_value
      examples:
      - label: Category
        name: Category
        type: Text
    CreatedBy:
      title: CreatedBy
      required:
      - id
      - name
      - profilePhotoUrl
      type: object
      properties:
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        profilePhotoUrl:
          type: string
          example: https://www.example.com
      examples:
      - id: 0055Y00000DWwAIQA1
        name: Philippe Ozil
        profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
    Field:
      title: Field
      required:
      - label
      - name
      - type
      type: object
      properties:
        label:
          type: string
          example: Example Title
        name:
          type: string
          example: Example Title
        type:
          type: string
          example: example_value
      examples:
      - label: Quantity
        name: Quantity
        type: Number
    Predictionmodels:
      title: Predictionmodels
      required:
      - models
      - totalSize
      - url
      type: object
      properties:
        models:
          type: array
          items:
            $ref: '#/components/schemas/Model1'
          description: ''
          example: []
        totalSize:
          type: integer
          contentEncoding: int32
          example: 42
        url:
          type: string
          example: https://www.example.com
      examples:
      - models:
        - createdBy:
            id: 0055Y00000DWwAIQA1
            name: Philippe Ozil
            profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
          createdDate: '2021-03-04T13:37:03.000Z'
          fieldMappingList:
          - modelField:
              label: Category
              name: Category
              type: Text
          - modelField:
              label: Sales
              name: Sales
              type: Number
          - modelField:
              label: Profit per Order
              name: Profit_per_Order
              type: Number
          - modelField:
              label: Sub-Category
              name: Sub_Category
              type: Text
          - modelField:
              label: Quantity
              name: Quantity
              type: Number
          filters: []
          historyUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ/histories
          id: 1Ot5Y0000010wzNSAQ
          isRefreshEnabled: false
          label: superstore-orders
          lastModifiedBy:
            id: 0055Y00000DWwAIQA1
            name: Philippe Ozil
            profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
          lastModifiedDate: '2021-03-04T13:37:03.000Z'
          model:
            id: 1OT5Y0000010zlzWAA
          modelType: Regression
          name: superstore_orders
          predictionDefinitionUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA
          prescribableFields:
          - customDefinitions: []
            field:
              label: Quantity
              name: Quantity
              type: Number
          sortOrder: 0
          status: Enabled
          url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ
        totalSize: 1
        url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models
    Model1:
      title: Model1
      required:
      - createdBy
      - createdDate
      - fieldMappingList
      - filters
      - historyUrl
      - id
      - isRefreshEnabled
      - label
      - lastModifiedBy
      - lastModifiedDate
      - model
      - modelType
      - name
      - predictionDefinitionUrl
      - prescribableFields
      - sortOrder
      - status
      - url
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/CreatedBy'
        createdDate:
          type: string
          example: example_value
        fieldMappingList:
          type: array
          items:
            $ref: '#/components/schemas/FieldMappingList'
          description: ''
          example: []
        filters:
          type: array
          items:
            type: string
          description: ''
          example: []
        historyUrl:
          type: string
          example: https://www.example.com
        id:
          type: string
          example: abc123
        isRefreshEnabled:
          type: boolean
          example: true
        label:
          type: string
          example: Example Title
        lastModifiedBy:
          $ref: '#/components/schemas/LastModifiedBy'
        lastModifiedDate:
          type: string
          example: example_value
        model:
          $ref: '#/components/schemas/Model'
        modelType:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        predictionDefinitionUrl:
          type: string
          example: https://www.example.com
        prescribableFields:
          type: array
          items:
            $ref: '#/components/schemas/PrescribableField'
          description: ''
          example: []
        sortOrder:
          type: integer
          contentEncoding: int32
          example: 10
        status:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - createdBy:
          id: 0055Y00000DWwAIQA1
          name: Philippe Ozil
          profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
        createdDate: '2021-03-04T13:37:03.000Z'
        fieldMappingList:
        - modelField:
            label: Category
            name: Category
            type: Text
        - modelField:
            label: Sales
            name: Sales
            type: Number
        - modelField:
            label: Profit per Order
            name: Profit_per_Order
            type: Number
        - modelField:
            label: Sub-Category
            name: Sub_Category
            type: Text
        - modelField:
            label: Quantity
            name: Quantity
            type: Number
        filters: []
        historyUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ/histories
        id: 1Ot5Y0000010wzNSAQ
        isRefreshEnabled: false
        label: superstore-orders
        lastModifiedBy:
          id: 0055Y00000DWwAIQA1
          name: Philippe Ozil
          profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
        lastModifiedDate: '2021-03-04T13:37:03.000Z'
        model:
          id: 1OT5Y0000010zlzWAA
        modelType: Regression
        name: superstore_orders
        predictionDefinitionUrl: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA
        prescribableFields:
        - customDefinitions: []
          field:
            label: Quantity
            name: Quantity
            type: Number
        sortOrder: 0
        status: Enabled
        url: /services/data/v51.0/smartdatadiscovery/predictiondefinitions/1OR5Y0000010ws8WAA/models/1Ot5Y0000010wzNSAQ
    LastModifiedBy:
      title: LastModifiedBy
      required:
      - id
      - name
      - profilePhotoUrl
      type: object
      properties:
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        profilePhotoUrl:
          type: string
          example: https://www.example.com
      examples:
      - id: 0055Y00000DWwAIQA1
        name: Philippe Ozil
        profilePhotoUrl: https://crm-analytics-deorg-dev-ed--c.documentforce.com/profilephoto/005/T
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
