openapi: 3.2.0
info:
  title: Salesforce Search API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Search
paths:
  /data/v64.0/search:
    parameters: []
    get:
      tags:
      - Search
      summary: Salesforce Search
      description: 'Executes the specified SOSL search. The search string must be URL-encoded.


        https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_search.htm'
      operationId: Search
      parameters:
      - name: q
        in: query
        description: A SOSL statement that is properly URL-encoded.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/parameterizedSearch:
    parameters: []
    get:
      tags:
      - Search
      summary: Salesforce Parameterized Search
      description: Executes a simple RESTful search using parameters instead of a SOSL clause. Indicate parameters in a URL in the GET method. Or, use POST for more complex JSON searches.
      operationId: ParameterizedSearch
      parameters:
      - name: q
        in: query
        description: A search string that is properly URL-encoded
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/tooling/search:
    parameters: []
    get:
      tags:
      - Search
      summary: Salesforce Tooling Search
      description: Runs one or more methods within one or more Apex classes, using the asynchronous test execution mechanism. In the request body, you can specify test class names and IDs, suite names and IDs, the maximum number of failed tests to allow, and the test level, as comma-separated lists or as an array. You can also indicate whether to opt out of collecting code coverage information during the test run (available in API version 43.0 and later).
      operationId: ToolingSearch
      parameters:
      - name: q
        in: query
        description: SOSL search statement
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 11 Dec 2023 10:34:10 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=294/15000
            queryId:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: -mxbcxdoqukvy
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/ToolingSearch'
                - examples:
                  - searchRecords:
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqcAAA
                      Name: LightningSelfRegisterController
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqhAAA
                      Name: LightningSelfRegisterControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wq9AAA
                      Name: SiteRegisterControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H00000A0zYxQAJ
                      Name: PrepareSandboxTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqTAAQ
                      Name: CommunitiesSelfRegControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H000009aIwvQAE
                      Name: MicrobatchSelfRegControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H000009PEFIQA4
                      Name: PrepareSandbox
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqRAAQ
                      Name: CommunitiesLandingControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqFAAQ
                      Name: MyProfilePageControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqDAAQ
                      Name: ForgotPasswordControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wq7AAA
                      Name: SiteLoginControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H00000ANdnqQAD
                      Name: AccountTriggerHelperTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqgAAA
                      Name: LightningForgotPasswordControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqfAAA
                      Name: LightningLoginFormControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqeAAA
                      Name: LightningLoginFormController
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqVAAQ
                      Name: CommunitiesSelfRegConfirmControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqPAAQ
                      Name: CommunitiesLoginControllerTest
                    - attributes:
                        type: ApexClass
                        url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqBAAQ
                      Name: ChangePasswordControllerTest
                contentMediaType: application/json;charset=UTF-8
              example:
                searchRecords:
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqcAAA
                  Name: LightningSelfRegisterController
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqhAAA
                  Name: LightningSelfRegisterControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wq9AAA
                  Name: SiteRegisterControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H00000A0zYxQAJ
                  Name: PrepareSandboxTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqTAAQ
                  Name: CommunitiesSelfRegControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H000009aIwvQAE
                  Name: MicrobatchSelfRegControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H000009PEFIQA4
                  Name: PrepareSandbox
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqRAAQ
                  Name: CommunitiesLandingControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqFAAQ
                  Name: MyProfilePageControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqDAAQ
                  Name: ForgotPasswordControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wq7AAA
                  Name: SiteLoginControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H00000ANdnqQAD
                  Name: AccountTriggerHelperTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqgAAA
                  Name: LightningForgotPasswordControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqfAAA
                  Name: LightningLoginFormControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqeAAA
                  Name: LightningLoginFormController
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqVAAQ
                  Name: CommunitiesSelfRegConfirmControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqPAAQ
                  Name: CommunitiesLoginControllerTest
                - attributes:
                    type: ApexClass
                    url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqBAAQ
                  Name: ChangePasswordControllerTest
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Attributes4:
      title: Attributes4
      required:
      - type
      - url
      type: object
      properties:
        type:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - type: Account
        url: /services/data/v58.0/sobjects/Account/001...
    SearchRecord:
      title: SearchRecord
      required:
      - attributes
      - Name
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Attributes4'
        Name:
          type: string
          example: Example Title
      examples:
      - attributes:
          type: ApexClass
          url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqcAAA
        Name: LightningSelfRegisterController
    ToolingSearch:
      title: ToolingSearch
      required:
      - searchRecords
      type: object
      properties:
        searchRecords:
          type: array
          items:
            $ref: '#/components/schemas/SearchRecord'
          description: ''
          example: []
      examples:
      - searchRecords:
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqcAAA
          Name: LightningSelfRegisterController
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqhAAA
          Name: LightningSelfRegisterControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wq9AAA
          Name: SiteRegisterControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H00000A0zYxQAJ
          Name: PrepareSandboxTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqTAAQ
          Name: CommunitiesSelfRegControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H000009aIwvQAE
          Name: MicrobatchSelfRegControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H000009PEFIQA4
          Name: PrepareSandbox
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqRAAQ
          Name: CommunitiesLandingControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqFAAQ
          Name: MyProfilePageControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqDAAQ
          Name: ForgotPasswordControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wq7AAA
          Name: SiteLoginControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p4H00000ANdnqQAD
          Name: AccountTriggerHelperTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqgAAA
          Name: LightningForgotPasswordControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqfAAA
          Name: LightningLoginFormControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqeAAA
          Name: LightningLoginFormController
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqVAAQ
          Name: CommunitiesSelfRegConfirmControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqPAAQ
          Name: CommunitiesLoginControllerTest
        - attributes:
            type: ApexClass
            url: /services/data/v59.0/tooling/sobjects/ApexClass/01p580000090wqBAAQ
          Name: ChangePasswordControllerTest
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
