openapi: 3.2.0
info:
  title: Salesforce Amend API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Amend
paths:
  /data/v64.0/asset-management/assets/collection/actions/initiate-amend-quantity:
    parameters: []
    post:
      tags:
      - Amend
      summary: Salesforce Initiate Amend Quantity
      operationId: InitiateAmendQuantity
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InitiateAmendQuantityRequest'
              - examples:
                - assetIds:
                    assetIdArray:
                    - '{{assetID}}'
                  startDate: '2023-08-18T00:00:00.000Z'
                  quantityChange: 5
                  amendmentOutputType: order
              contentMediaType: application/json
            example:
              assetIds:
                assetIdArray:
                - '{{assetID}}'
              startDate: '2023-08-18T00:00:00.000Z'
              quantityChange: 5
              amendmentOutputType: order
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AssetIds:
      title: AssetIds
      required:
      - assetIdArray
      type: object
      properties:
        assetIdArray:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - assetIdArray:
        - '{{assetID}}'
    InitiateAmendQuantityRequest:
      title: InitiateAmendQuantityRequest
      required:
      - assetIds
      - startDate
      - quantityChange
      - amendmentOutputType
      type: object
      properties:
        assetIds:
          $ref: '#/components/schemas/AssetIds'
        startDate:
          type: string
          example: example_value
        quantityChange:
          type: integer
          contentEncoding: int32
          example: 10
        amendmentOutputType:
          type: string
          example: example_value
      examples:
      - assetIds:
          assetIdArray:
          - '{{assetID}}'
        startDate: '2023-08-18T00:00:00.000Z'
        quantityChange: 5
        amendmentOutputType: order
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
