openapi: 3.2.0
info:
  title: Salesforce Member API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Member
paths:
  /data/v64.0/loyalty-programs/{loyaltyProgramName}/members:
    parameters: []
    get:
      tags:
      - Member
      summary: Salesforce Member Profile
      description: 'Standard Documentation:


        [https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_member_profile.htm](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_member_profile.htm)'
      operationId: MemberProfile
      parameters:
      - name: memberId
        in: query
        description: The ID of the loyalty program member.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: '500123'
      - name: membershipNumber
        in: query
        description: The membership number of the loyalty program member.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: programCurrencyName
        in: query
        description: 'The name of the loyalty program currency associated with the member.

          Use this parameter to get the details of the member’s points-related information for a specific currency.'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: loyaltyProgramName
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 May 2024 16:16:23 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/MemberProfile'
                - examples:
                  - additionalLoyaltyProgramMemberFields: {}
                    associatedAccount: null
                    associatedContact:
                      contactId: 003J8000002Yu0ZIAS
                      email: ab@email.com
                      firstName: Name1
                      lastName: Name2
                    canReceivePartnerPromotions: true
                    canReceivePromotions: true
                    enrollmentChannel: Email
                    enrollmentDate: '2021-01-01T00:00:00.000Z'
                    groupCreatedByMember: null
                    groupName: null
                    lastActivityDate: null
                    loyaltyProgramMemberId: 0lMJ8000000CaRMMA0
                    loyaltyProgramName: NTO Insider
                    memberCurrencies:
                    - additionalLoyaltyMemberCurrencyFields:
                        Level_Before_Reset__c: null
                      escrowPointsBalance: 0
                      expirablePoints: 0
                      lastAccrualProcessedDate: null
                      lastEscrowProcessedDate: null
                      lastExpirationProcessRunDate: null
                      lastPointsAggregationDate: null
                      lastPointsResetDate: null
                      loyaltyMemberCurrencyName: NTO Qualifying Points
                      loyaltyProgramCurrencyId: 0lcJ8000000CaR7IAK
                      loyaltyProgramCurrencyName: null
                      memberCurrencyId: 0lzJ8000000CaRMIA0
                      nextQualifyingPointsResetDate: '2024-12-31T00:00:00.000Z'
                      pointsBalance: 0
                      qualifyingPointsBalanceBeforeReset: 0
                      totalEscrowPointsAccrued: 0
                      totalEscrowRolloverPoints: 0
                      totalPointsAccrued: 0
                      totalPointsExpired: 0
                      totalPointsRedeemed: 0
                    memberStatus: Active
                    memberTiers:
                    - additionalLoyaltyMemberTierFields: {}
                      areTierBenefitsAssigned: false
                      loyaltyMemberTierId: 0lyJ8000000CaRMIA0
                      loyaltyMemberTierName: Bronze
                      tierChangeReason: null
                      tierChangeReasonType: null
                      tierEffectiveDate: '2021-01-01T00:00:00.000Z'
                      tierExpirationDate: null
                      tierGroupId: 0ltJ8000000CaR8IAK
                      tierGroupName: null
                      tierId: 0lgJ80000008OI5IAM
                      tierSequenceNumber: 10
                    memberType: Individual
                    membershipEndDate: '2022-01-01T00:00:00.000Z'
                    membershipLastRenewalDate: null
                    membershipNumber: Member1
                    referredBy: null
                    relatedCorporateMembershipNumber: null
                    transactionJournalStatementFrequency: Monthly
                    transactionJournalStatementLastGeneratedDate: null
                    transactionJournalStatementMethod: Mail
                contentMediaType: application/json;charset=UTF-8
              example:
                additionalLoyaltyProgramMemberFields: {}
                associatedAccount: null
                associatedContact:
                  contactId: 003J8000002Yu0ZIAS
                  email: ab@email.com
                  firstName: Name1
                  lastName: Name2
                canReceivePartnerPromotions: true
                canReceivePromotions: true
                enrollmentChannel: Email
                enrollmentDate: '2021-01-01T00:00:00.000Z'
                groupCreatedByMember: null
                groupName: null
                lastActivityDate: null
                loyaltyProgramMemberId: 0lMJ8000000CaRMMA0
                loyaltyProgramName: NTO Insider
                memberCurrencies:
                - additionalLoyaltyMemberCurrencyFields:
                    Level_Before_Reset__c: null
                  escrowPointsBalance: 0
                  expirablePoints: 0
                  lastAccrualProcessedDate: null
                  lastEscrowProcessedDate: null
                  lastExpirationProcessRunDate: null
                  lastPointsAggregationDate: null
                  lastPointsResetDate: null
                  loyaltyMemberCurrencyName: NTO Qualifying Points
                  loyaltyProgramCurrencyId: 0lcJ8000000CaR7IAK
                  loyaltyProgramCurrencyName: null
                  memberCurrencyId: 0lzJ8000000CaRMIA0
                  nextQualifyingPointsResetDate: '2024-12-31T00:00:00.000Z'
                  pointsBalance: 0
                  qualifyingPointsBalanceBeforeReset: 0
                  totalEscrowPointsAccrued: 0
                  totalEscrowRolloverPoints: 0
                  totalPointsAccrued: 0
                  totalPointsExpired: 0
                  totalPointsRedeemed: 0
                memberStatus: Active
                memberTiers:
                - additionalLoyaltyMemberTierFields: {}
                  areTierBenefitsAssigned: false
                  loyaltyMemberTierId: 0lyJ8000000CaRMIA0
                  loyaltyMemberTierName: Bronze
                  tierChangeReason: null
                  tierChangeReasonType: null
                  tierEffectiveDate: '2021-01-01T00:00:00.000Z'
                  tierExpirationDate: null
                  tierGroupId: 0ltJ8000000CaR8IAK
                  tierGroupName: null
                  tierId: 0lgJ80000008OI5IAM
                  tierSequenceNumber: 10
                memberType: Individual
                membershipEndDate: '2022-01-01T00:00:00.000Z'
                membershipLastRenewalDate: null
                membershipNumber: Member1
                referredBy: null
                relatedCorporateMembershipNumber: null
                transactionJournalStatementFrequency: Monthly
                transactionJournalStatementLastGeneratedDate: null
                transactionJournalStatementMethod: Mail
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/loyalty/programs/{loyaltyProgramName}/members/{membershipNumber}/vouchers:
    parameters: []
    get:
      tags:
      - Member
      summary: Salesforce Member Vouchers
      description: '[Member Vouchers](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_member_vouchers.htm)


        NOTE:


        In the Pre-request. Script Tab, make changes in the variables value accordingly with the real Process Name to invoke.'
      operationId: MemberVouchers
      parameters:
      - name: loyaltyProgramName
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: membershipNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 22 May 2024 16:34:18 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/MemberVouchers'
                - examples:
                  - voucherCount: 0
                    vouchers: []
                contentMediaType: application/json;charset=UTF-8
              example:
                voucherCount: 0
                vouchers: []
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MemberVouchers:
      title: MemberVouchers
      required:
      - voucherCount
      - vouchers
      type: object
      properties:
        voucherCount:
          type: integer
          contentEncoding: int32
          example: 42
        vouchers:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - voucherCount: 0
        vouchers: []
    MemberProfile:
      title: MemberProfile
      required:
      - additionalLoyaltyProgramMemberFields
      - associatedAccount
      - associatedContact
      - canReceivePartnerPromotions
      - canReceivePromotions
      - enrollmentChannel
      - enrollmentDate
      - groupCreatedByMember
      - groupName
      - lastActivityDate
      - loyaltyProgramMemberId
      - loyaltyProgramName
      - memberCurrencies
      - memberStatus
      - memberTiers
      - memberType
      - membershipEndDate
      - membershipLastRenewalDate
      - membershipNumber
      - referredBy
      - relatedCorporateMembershipNumber
      - transactionJournalStatementFrequency
      - transactionJournalStatementLastGeneratedDate
      - transactionJournalStatementMethod
      type: object
      properties:
        additionalLoyaltyProgramMemberFields:
          type: object
          example: example_value
        associatedAccount:
          type:
          - string
          - 'null'
          example: 42
        associatedContact:
          $ref: '#/components/schemas/AssociatedContact'
        canReceivePartnerPromotions:
          type: boolean
          example: true
        canReceivePromotions:
          type: boolean
          example: true
        enrollmentChannel:
          type: string
          example: example_value
        enrollmentDate:
          type: string
          example: example_value
        groupCreatedByMember:
          type:
          - string
          - 'null'
          example: example_value
        groupName:
          type:
          - string
          - 'null'
          example: example_value
        lastActivityDate:
          type:
          - string
          - 'null'
          example: example_value
        loyaltyProgramMemberId:
          type: string
          example: '500123'
        loyaltyProgramName:
          type: string
          example: example_value
        memberCurrencies:
          type: array
          items:
            $ref: '#/components/schemas/MemberCurrency'
          description: ''
          example: []
        memberStatus:
          type: string
          example: example_value
        memberTiers:
          type: array
          items:
            $ref: '#/components/schemas/MemberTier'
          description: ''
          example: []
        memberType:
          type: string
          example: example_value
        membershipEndDate:
          type: string
          example: example_value
        membershipLastRenewalDate:
          type:
          - string
          - 'null'
          example: example_value
        membershipNumber:
          type: string
          example: example_value
        referredBy:
          type:
          - string
          - 'null'
          example: example_value
        relatedCorporateMembershipNumber:
          type:
          - string
          - 'null'
          example: example_value
        transactionJournalStatementFrequency:
          type: string
          example: example_value
        transactionJournalStatementLastGeneratedDate:
          type:
          - string
          - 'null'
          example: example_value
        transactionJournalStatementMethod:
          type: string
          example: example_value
      examples:
      - additionalLoyaltyProgramMemberFields: {}
        associatedAccount: null
        associatedContact:
          contactId: 003J8000002Yu0ZIAS
          email: ab@email.com
          firstName: Name1
          lastName: Name2
        canReceivePartnerPromotions: true
        canReceivePromotions: true
        enrollmentChannel: Email
        enrollmentDate: '2021-01-01T00:00:00.000Z'
        groupCreatedByMember: null
        groupName: null
        lastActivityDate: null
        loyaltyProgramMemberId: 0lMJ8000000CaRMMA0
        loyaltyProgramName: NTO Insider
        memberCurrencies:
        - additionalLoyaltyMemberCurrencyFields:
            Level_Before_Reset__c: null
          escrowPointsBalance: 0
          expirablePoints: 0
          lastAccrualProcessedDate: null
          lastEscrowProcessedDate: null
          lastExpirationProcessRunDate: null
          lastPointsAggregationDate: null
          lastPointsResetDate: null
          loyaltyMemberCurrencyName: NTO Qualifying Points
          loyaltyProgramCurrencyId: 0lcJ8000000CaR7IAK
          loyaltyProgramCurrencyName: null
          memberCurrencyId: 0lzJ8000000CaRMIA0
          nextQualifyingPointsResetDate: '2024-12-31T00:00:00.000Z'
          pointsBalance: 0
          qualifyingPointsBalanceBeforeReset: 0
          totalEscrowPointsAccrued: 0
          totalEscrowRolloverPoints: 0
          totalPointsAccrued: 0
          totalPointsExpired: 0
          totalPointsRedeemed: 0
        memberStatus: Active
        memberTiers:
        - additionalLoyaltyMemberTierFields: {}
          areTierBenefitsAssigned: false
          loyaltyMemberTierId: 0lyJ8000000CaRMIA0
          loyaltyMemberTierName: Bronze
          tierChangeReason: null
          tierChangeReasonType: null
          tierEffectiveDate: '2021-01-01T00:00:00.000Z'
          tierExpirationDate: null
          tierGroupId: 0ltJ8000000CaR8IAK
          tierGroupName: null
          tierId: 0lgJ80000008OI5IAM
          tierSequenceNumber: 10
        memberType: Individual
        membershipEndDate: '2022-01-01T00:00:00.000Z'
        membershipLastRenewalDate: null
        membershipNumber: Member1
        referredBy: null
        relatedCorporateMembershipNumber: null
        transactionJournalStatementFrequency: Monthly
        transactionJournalStatementLastGeneratedDate: null
        transactionJournalStatementMethod: Mail
    MemberCurrency:
      title: MemberCurrency
      required:
      - additionalLoyaltyMemberCurrencyFields
      - escrowPointsBalance
      - expirablePoints
      - lastAccrualProcessedDate
      - lastEscrowProcessedDate
      - lastExpirationProcessRunDate
      - lastPointsAggregationDate
      - lastPointsResetDate
      - loyaltyMemberCurrencyName
      - loyaltyProgramCurrencyId
      - loyaltyProgramCurrencyName
      - memberCurrencyId
      - nextQualifyingPointsResetDate
      - pointsBalance
      - qualifyingPointsBalanceBeforeReset
      - totalEscrowPointsAccrued
      - totalEscrowRolloverPoints
      - totalPointsAccrued
      - totalPointsExpired
      - totalPointsRedeemed
      type: object
      properties:
        additionalLoyaltyMemberCurrencyFields:
          $ref: '#/components/schemas/AdditionalLoyaltyMemberCurrencyFields'
        escrowPointsBalance:
          type: integer
          contentEncoding: int32
          example: 10
        expirablePoints:
          type: integer
          contentEncoding: int32
          example: 10
        lastAccrualProcessedDate:
          type:
          - string
          - 'null'
          example: example_value
        lastEscrowProcessedDate:
          type:
          - string
          - 'null'
          example: example_value
        lastExpirationProcessRunDate:
          type:
          - string
          - 'null'
          example: example_value
        lastPointsAggregationDate:
          type:
          - string
          - 'null'
          example: example_value
        lastPointsResetDate:
          type:
          - string
          - 'null'
          example: example_value
        loyaltyMemberCurrencyName:
          type: string
          example: example_value
        loyaltyProgramCurrencyId:
          type: string
          example: '500123'
        loyaltyProgramCurrencyName:
          type:
          - string
          - 'null'
          example: example_value
        memberCurrencyId:
          type: string
          example: '500123'
        nextQualifyingPointsResetDate:
          type: string
          example: example_value
        pointsBalance:
          type: integer
          contentEncoding: int32
          example: 10
        qualifyingPointsBalanceBeforeReset:
          type: integer
          contentEncoding: int32
          example: 10
        totalEscrowPointsAccrued:
          type: integer
          contentEncoding: int32
          example: 42
        totalEscrowRolloverPoints:
          type: integer
          contentEncoding: int32
          example: 42
        totalPointsAccrued:
          type: integer
          contentEncoding: int32
          example: 42
        totalPointsExpired:
          type: integer
          contentEncoding: int32
          example: 42
        totalPointsRedeemed:
          type: integer
          contentEncoding: int32
          example: 42
      examples:
      - additionalLoyaltyMemberCurrencyFields:
          Level_Before_Reset__c: null
        escrowPointsBalance: 0
        expirablePoints: 0
        lastAccrualProcessedDate: null
        lastEscrowProcessedDate: null
        lastExpirationProcessRunDate: null
        lastPointsAggregationDate: null
        lastPointsResetDate: null
        loyaltyMemberCurrencyName: NTO Qualifying Points
        loyaltyProgramCurrencyId: 0lcJ8000000CaR7IAK
        loyaltyProgramCurrencyName: null
        memberCurrencyId: 0lzJ8000000CaRMIA0
        nextQualifyingPointsResetDate: '2024-12-31T00:00:00.000Z'
        pointsBalance: 0
        qualifyingPointsBalanceBeforeReset: 0
        totalEscrowPointsAccrued: 0
        totalEscrowRolloverPoints: 0
        totalPointsAccrued: 0
        totalPointsExpired: 0
        totalPointsRedeemed: 0
    MemberTier:
      title: MemberTier
      required:
      - additionalLoyaltyMemberTierFields
      - areTierBenefitsAssigned
      - loyaltyMemberTierId
      - loyaltyMemberTierName
      - tierChangeReason
      - tierChangeReasonType
      - tierEffectiveDate
      - tierExpirationDate
      - tierGroupId
      - tierGroupName
      - tierId
      - tierSequenceNumber
      type: object
      properties:
        additionalLoyaltyMemberTierFields:
          type: object
          example: example_value
        areTierBenefitsAssigned:
          type: boolean
          example: true
        loyaltyMemberTierId:
          type: string
          example: '500123'
        loyaltyMemberTierName:
          type: string
          example: example_value
        tierChangeReason:
          type:
          - string
          - 'null'
          example: example_value
        tierChangeReasonType:
          type:
          - string
          - 'null'
          example: example_value
        tierEffectiveDate:
          type: string
          example: example_value
        tierExpirationDate:
          type:
          - string
          - 'null'
          example: example_value
        tierGroupId:
          type: string
          example: '500123'
        tierGroupName:
          type:
          - string
          - 'null'
          example: example_value
        tierId:
          type: string
          example: '500123'
        tierSequenceNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - additionalLoyaltyMemberTierFields: {}
        areTierBenefitsAssigned: false
        loyaltyMemberTierId: 0lyJ8000000CaRMIA0
        loyaltyMemberTierName: Bronze
        tierChangeReason: null
        tierChangeReasonType: null
        tierEffectiveDate: '2021-01-01T00:00:00.000Z'
        tierExpirationDate: null
        tierGroupId: 0ltJ8000000CaR8IAK
        tierGroupName: null
        tierId: 0lgJ80000008OI5IAM
        tierSequenceNumber: 10
    AssociatedContact:
      title: AssociatedContact
      required:
      - contactId
      - email
      - firstName
      - lastName
      type: object
      properties:
        contactId:
          type: string
          example: '500123'
        email:
          type: string
          example: user@example.com
        firstName:
          type: string
          example: example_value
        lastName:
          type: string
          example: example_value
      examples:
      - contactId: 003J8000002Yu0ZIAS
        email: ab@email.com
        firstName: Name1
        lastName: Name2
    AdditionalLoyaltyMemberCurrencyFields:
      title: AdditionalLoyaltyMemberCurrencyFields
      required:
      - Level_Before_Reset__c
      type: object
      properties:
        Level_Before_Reset__c:
          type:
          - string
          - 'null'
          example: example_value
      examples:
      - Level_Before_Reset__c: null
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
