openapi: 3.2.0
info:
  title: Salesforce Approvals API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Approvals
paths:
  /data/v64.0/process/approvals:
    parameters: []
    get:
      tags:
      - Approvals
      summary: Salesforce Process Approvals
      description: 'Returns a list of all approval processes. Can also be used to submit a particular record if that entity supports an approval process and one has already been defined. Records can be approved and rejected if the current user is an assigned approver. When using a POST request to do bulk approvals, the requests that succeed are committed and the requests that don’t succeed send back an error.

        https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_process_approvals.htm'
      operationId: ProcessApprovals
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Approvals
      summary: Salesforce Process Approvals Submit
      description: 'Returns a list of all approval processes. Can also be used to submit a particular record if that entity supports an approval process and one has already been defined. Records can be approved and rejected if the current user is an assigned approver. When using a POST request to do bulk approvals, the requests that succeed are committed and the requests that don’t succeed send back an error.

        https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_process_approvals.htm'
      operationId: ProcessApprovalsSubmit
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ProcessApprovalsSubmitRequest'
              - examples:
                - actionType: string
                  contextActorId: ID
                  contextId: ID
                  comments: string
                  nextApproverIds: ID[]
                  processDefinitionNameOrId: string
                  skipEntryCriteria: boolean
              contentMediaType: application/json
            example:
              actionType: string
              contextActorId: ID
              contextId: ID
              comments: string
              nextApproverIds: ID[]
              processDefinitionNameOrId: string
              skipEntryCriteria: boolean
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProcessApprovalsSubmitRequest:
      title: ProcessApprovalsSubmitRequest
      required:
      - actionType
      - contextActorId
      - contextId
      - comments
      - nextApproverIds
      - processDefinitionNameOrId
      - skipEntryCriteria
      type: object
      properties:
        actionType:
          type: string
          example: example_value
        contextActorId:
          type: string
          example: '500123'
        contextId:
          type: string
          example: '500123'
        comments:
          type: string
          example: example_value
        nextApproverIds:
          type: string
          example: example_value
        processDefinitionNameOrId:
          type: string
          example: '500123'
        skipEntryCriteria:
          type: string
          example: example_value
      examples:
      - actionType: string
        contextActorId: ID
        contextId: ID
        comments: string
        nextApproverIds: ID[]
        processDefinitionNameOrId: string
        skipEntryCriteria: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
