openapi: 3.2.0
info:
  title: Salesforce Get API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Get
paths:
  /services/oauth2/userinfo:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get User Info
      description: This requests uses an access token to get user information from Salesforce using the standard `/userinfo` endpoint.
      operationId: GetUserInfo
      parameters:
      - name: Authorization
        in: header
        description: Replace <token> with your access token
        required: true
        schema:
          type: string
          examples:
          - Bearer <Token>
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/query/:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Job Info Query
      operationId: GetJobInfoQuery
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 17 Nov 2023 16:13:43 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=2/15000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulGetJobInfoQuery'
                - examples:
                  - id: 750...
                    operation: insert
                    object: Account
                    createdById: 005...
                    createdDate: <datetime>
                    systemModstamp: <datetime>
                    state: Open
                    concurrencyMode: Parallel
                    contentType: CSV
                    apiVersion: 58
                    jobType: Classic
                    retries: 0
                    totalProcessingTime: 0
                    apiActiveProcessingTime: 0
                    apexProcessingTime: 0
                contentMediaType: application/json;charset=UTF-8
              example:
                id: 750...
                operation: insert
                object: Account
                createdById: 005...
                createdDate: <datetime>
                systemModstamp: <datetime>
                state: Open
                concurrencyMode: Parallel
                contentType: CSV
                apiVersion: 58
                jobType: Classic
                retries: 0
                totalProcessingTime: 0
                apiActiveProcessingTime: 0
                apexProcessingTime: 0
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/query//results:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Job Query Result
      operationId: GetJobQueryResult
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      - name: Accept
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - test/csv
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/query//resultPages:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Parallel Results for a Query Job
      description: Retrieves a set of up to 5 job results pages for parallel download.
      operationId: GetParallelResultsforaQueryJob
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      - name: Accept
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        default:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/GetParallelResultsforaQueryJob'
                - examples:
                  - resultPages:
                    - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=aBcDeFg4N
                    - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=HiJkLmN4N
                    - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=oPQrStU4N
                    - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=vWxYzz4N
                    - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=NiKmABC4N
                    nextRecordsUrl: /jobs/query/750R0000000zxr8IAA/resultpages?locator=YcApWm4N
                    done: false
                contentMediaType: application/json
              example:
                resultPages:
                - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=aBcDeFg4N
                - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=HiJkLmN4N
                - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=oPQrStU4N
                - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=vWxYzz4N
                - resultLink: /jobs/query/750R0000000zxr8IAA/results?locator=NiKmABC4N
                nextRecordsUrl: /jobs/query/750R0000000zxr8IAA/resultpages?locator=YcApWm4N
                done: false
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/ingest/:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Job Info
      operationId: GetJobInfo
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 15:03:34 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=8/15000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulGetJobInfo'
                - examples:
                  - id: 750...
                    operation: insert
                    object: Asset
                    createdById: 005...
                    createdDate: <datetime>
                    systemModstamp: <datetime>
                    state: JobComplete
                    concurrencyMode: Parallel
                    contentType: CSV
                    apiVersion: 58
                    jobType: V2Ingest
                    lineEnding: LF
                    columnDelimiter: COMMA
                    numberRecordsProcessed: 1
                    numberRecordsFailed: 1
                    retries: 0
                    totalProcessingTime: 100
                    apiActiveProcessingTime: 43
                    apexProcessingTime: 0
                contentMediaType: application/json;charset=UTF-8
              example:
                id: 750...
                operation: insert
                object: Asset
                createdById: 005...
                createdDate: <datetime>
                systemModstamp: <datetime>
                state: JobComplete
                concurrencyMode: Parallel
                contentType: CSV
                apiVersion: 58
                jobType: V2Ingest
                lineEnding: LF
                columnDelimiter: COMMA
                numberRecordsProcessed: 1
                numberRecordsFailed: 1
                retries: 0
                totalProcessingTime: 100
                apiActiveProcessingTime: 43
                apexProcessingTime: 0
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/ingest//successfulResults:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Job Successful Record Results
      operationId: GetJobSuccessfulRecordResults
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 15:04:15 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=12/15000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            text/csv:
              schema:
                type: string
                examples:
                - '"sf__Id","sf__Created",Name

                  '
                contentMediaType: text/csv
              example: '"sf__Id","sf__Created",Name

                '
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/ingest//unprocessedrecords:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Job Unprocessed Record Results
      operationId: GetJobUnprocessedRecordResults
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 15:04:51 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=15/15000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            text/csv:
              schema:
                type: string
                examples:
                - 'Name

                  '
                contentMediaType: text/csv
              example: 'Name

                '
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/connect/business-rules/decision-table/definitions/{decisionTableId}:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Table
      description: "# Decision Table Definitions ( GET)\n\nGet details of a decision table definition.\n\nResource\n\n```\n/connect/business-rules/decision-table/definitions/${decisionTableId}\n\n ```\n\nResource Example\n\n```\nhttps://yourInstance.salesforce.com/services/data/v59.0/connect/business-rules/decision-table/definitions/0lDxx00000002Ur\n\n ```\n\nAvailable version\n\n58.0\n\nRequires Chatter\n\nNo\n\nHTTP methods\n\nGET\n\nResponse body for GET\n\n[Decision Table Output](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_responses_decision_table_output.htm)\n\n# Decision Table Output\n\nOutput representation of the decision table details.JSON example for GET, POST, and PATCH\n\n```\n{\n   \"code\":\"200\",\n   \"decisionTable\":{\n      \"collectOperator\":\"Count\",\n      \"conditionCriteria\":\"1 OR 2 OR 3\",\n      \"conditionType\":\"Any\",\n      \"decisionResultPolicy\":\"UniqueValues\",\n      \"description\":\"Eligiblity of Products using Qualification Rules\",\n      \"id\":\"0lDxx00000000BJ\",\n      \"parameters\":[\n         {\n            \"fieldName\":\"IsDeleted\",\n            \"isGroupByField\":false,\n            \"isPriority\":false,\n            \"operator\":\"Equals\",\n            \"sequence\":1,\n            \"usage\":\"Input\"\n         },\n         {\n            \"fieldName\":\"CreatedById\",\n            \"isGroupByField\":false,\n            \"isPriority\":false,\n            \"usage\":\"Output\"\n         },\n         {\n            \"fieldName\":\"Title\",\n            \"isGroupByField\":false,\n            \"isPriority\":false,\n            \"operator\":\"Equals\",\n            \"sequence\":3,\n            \"usage\":\"Input\"\n         },\n         {\n            \"fieldName\":\"Id\",\n            \"isGroupByField\":false,\n            \"isPriority\":false,\n            \"operator\":\"Equals\",\n            \"sequence\":2,\n            \"usage\":\"Input\"\n         }\n      ],\n      \"setupName\":\"Product Qualificiation eligibility3\",\n      \"sourceCriteria\":[\n         \n      ],\n      \"sourceObject\":\"AccountFeed\",\n      \"sourceType\":\"SingleSobject\",\n      \"sourceconditionLogic\":\"1 AND 2 AND 3\",\n      \"status\":\"Draft\"\n   },\n   \"isSuccess\":true,\n   \"message\":\"\"\n}\n\n ```\n\nJSON example for DELETE\n\n```\n{\n   \"code\":\"200\",\n   \"isSuccess\":true,\n   \"message\":\"\"\n}\n\n ```\n\n| Property Name | Type | Description | Filter Group and Version | Available Version |\n| --- | --- | --- | --- | --- |\n| code | String | Response code from the API request. | Small, 58.0 | 58.0 |\n| decisionTable | [Decision Table Definition Output](https://developer.salesforce.com/docs/atlas.en-us.industries_reference.meta/industries_reference/connect_responses_decision_table_definition_output.htm) | Details of the decision table definition associated with the decision table. | Small, 58.0 | 58.0 |\n| isSuccess | Boolean | Indicates whether the API request is successful (true) or not (false). | Small, 58.0 | 58.0 |\n| message | String | Error message when the API request fails. | Small, 58.0 | 58.0 |"
      operationId: GetTable
      parameters:
      - name: decisionTableId
        in: path
        description: Decision Table Id
        required: true
        schema:
          type: string
          examples:
          - 0lDHo0000008Po3
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 13:05:06 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status200-Success'
                - examples:
                  - code: '200'
                    decisionTable:
                      conditionCriteria: 1 OR 2 OR 3
                      conditionType: Any
                      description: Eligiblity of Products using Qualification Rules
                      id: 0lDHo0000008Pnt
                      parameters:
                      - fieldName: IsDeleted
                        isGroupByField: false
                        operator: Equals
                        sequence: 1
                        usage: Input
                      - fieldName: CreatedById
                        isGroupByField: false
                        usage: Output
                      - fieldName: Title
                        isGroupByField: false
                        operator: Equals
                        sequence: 3
                        usage: Input
                      - fieldName: Id
                        isGroupByField: false
                        operator: Equals
                        sequence: 2
                        usage: Input
                      setupName: Product Qualificiation eligibility
                      sourceCriteria: []
                      sourceObject: AccountFeed
                      status: Active
                    isSuccess: true
                    message: ''
                contentMediaType: application/json;charset=UTF-8
              example:
                code: '200'
                decisionTable:
                  conditionCriteria: 1 OR 2 OR 3
                  conditionType: Any
                  description: Eligiblity of Products using Qualification Rules
                  id: 0lDHo0000008Pnt
                  parameters:
                  - fieldName: IsDeleted
                    isGroupByField: false
                    operator: Equals
                    sequence: 1
                    usage: Input
                  - fieldName: CreatedById
                    isGroupByField: false
                    usage: Output
                  - fieldName: Title
                    isGroupByField: false
                    operator: Equals
                    sequence: 3
                    usage: Input
                  - fieldName: Id
                    isGroupByField: false
                    operator: Equals
                    sequence: 2
                    usage: Input
                  setupName: Product Qualificiation eligibility
                  sourceCriteria: []
                  sourceObject: AccountFeed
                  status: Active
                isSuccess: true
                message: ''
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 13:20:33 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-InstanceNotFound1'
                description: ''
                examples:
                - - errorCode: INVALID_ID_FIELD
                    message: We couldn’t find a record with that ID. Specify a valid decisionTableId and try again.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_ID_FIELD
                message: We couldn’t find a record with that ID. Specify a valid decisionTableId and try again.
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/einstein/ai-evaluations/runs/{runId}:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Test Status
      description: Generates a response based on the specified prompt template and input parameters ([documentation](https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_prompt_template.htm)).
      operationId: Getteststatus
      parameters:
      - name: runId
        in: path
        description: Evaluation ID
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 10 Sep 2025 13:46:26 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: CookieConsentPolicy=0:1; path=/; expires=Thu, 10-Sep-2026 13:46:26 GMT; Max-Age=31536000; secure
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=183/5000000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: sfdcedge
            X-SFDC-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 9c6b1b17f16e5e4b538e836eb8def249
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 9c6b1b17f16e5e4b538e836eb8def249
            X-SFDC-Edge-Cache:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: MISS
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Getteststatus'
                - examples:
                  - startTime: '2025-09-10T13:46:14.000Z'
                    status: IN_PROGRESS
                contentMediaType: application/json
              example:
                startTime: '2025-09-10T13:46:14.000Z'
                status: IN_PROGRESS
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/einstein/ai-evaluations/runs/{runId}/results:
    parameters: []
    get:
      tags:
      - Get
      summary: Salesforce Get Test Results
      description: Generates a response based on the specified prompt template and input parameters ([documentation](https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/connect_resources_prompt_template.htm)).
      operationId: Gettestresults
      parameters:
      - name: runId
        in: path
        description: Evaluation ID
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 10 Sep 2025 13:48:41 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: keep-alive
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: CookieConsentPolicy=0:1; path=/; expires=Thu, 10-Sep-2026 13:48:38 GMT; Max-Age=31536000; secure
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=185/5000000
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: sfdcedge
            X-SFDC-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 238f419aa5f27f4e5a4cb714c7dfde45
            X-Request-Id:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 238f419aa5f27f4e5a4cb714c7dfde45
            X-SFDC-Edge-Cache:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: MISS
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Gettestresults'
                - examples:
                  - endTime: '2025-09-10T13:48:31.000Z'
                    startTime: '2025-09-10T13:46:14.000Z'
                    status: COMPLETED
                    subjectName: Employee_agent_tests
                    testCases:
                    - endTime: '2025-09-10T13:46:30.000Z'
                      generatedData:
                        actionsSequence: '[]'
                        invokedActions: '[[]]'
                        outcome: To check the weather forecast at the resort, please provide the date you&#39;d like to check.
                        sessionId: 019933e0-8597-70de-912b-359082a322b2
                        topic: Customer_Service_Assistant_16jAU0000003zGf
                      inputs:
                        contextVariables: {}
                        conversationHistory: []
                        utterance: What&#39;s the weather forecast at the resort?
                      startTime: '2025-09-10T13:46:14.000Z'
                      status: COMPLETED
                      testNumber: 1
                      testResults:
                      - actualValue: '[]'
                        endTime: '2025-09-10T13:46:31.000Z'
                        errorCode: 0
                        expectedValue: '[]'
                        metricLabel: actions_assertion
                        name: actions_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: To check the weather forecast at the resort, please provide the date you&#39;d like to check.
                        endTime: '2025-09-10T13:46:31.000Z'
                        errorCode: 0
                        expectedValue: Please provide a future date to check the weather forecast.
                        metricExplainability: The BOT RESPONSE correctly prompts the user for the necessary information (a future date) to provide the weather forecast, aligning well with the EXPECTED RESPONSE. It is clear and does not include irrelevant information.
                        metricLabel: output_validation
                        name: output_validation
                        result: PASS
                        score: 5
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: Customer_Service_Assistant_16jAU0000003zGf
                        endTime: '2025-09-10T13:46:31.000Z'
                        errorCode: 0
                        expectedValue: Customer_Service_Assistant
                        metricLabel: topic_assertion
                        name: topic_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:31.000Z'
                        errorCode: 0
                        metricExplainability: The answer is incomplete as it does not provide the weather forecast at the resort, instead it asks for the date to check the forecast.
                        metricLabel: completeness
                        name: completeness
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:31.000Z'
                        errorCode: 0
                        metricExplainability: The answer is easy to understand, and it does not contain any significant grammar errors. The answer is also relevant to the question asked.
                        metricLabel: coherence
                        name: coherence
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:31.000Z'
                        errorCode: 0
                        metricLabel: conciseness
                        name: conciseness
                        result: PASS
                        score: 5
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:31.000Z'
                        errorCode: 0
                        metricLabel: output_latency_milliseconds
                        name: output_latency_milliseconds
                        score: 2352
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                    - endTime: '2025-09-10T13:46:40.000Z'
                      generatedData:
                        actionsSequence: '[&#39;Check_Weather_179AU00000038U5&#39;]'
                        citations: '[ ]'
                        invokedActions: '[[{&quot;function&quot;:{&quot;name&quot;:&quot;Check_Weather_179AU00000038U5&quot;,&quot;input&quot;:{&quot;dateToCheck&quot;:&quot;2025-01-01&quot;},&quot;output&quot;:{}},&quot;executionLatency&quot;:539}]]'
                        outcome: 'Hmm, it looks like I wasn’t able to retrieve the weather forecast for January 1st, 2025. The system I’d normally use to check this information didn’t respond as expected.


                          You might want to try checking a weather app or website closer to the date for the most accurate forecast. Let me know if there’s anything else I can help with! (Session ID: 019933e0-858f-7170-9bd7-5564c5e4c85a)'
                        sessionId: 019933e0-858f-7170-9bd7-5564c5e4c85a
                        topic: Customer_Service_Assistant_16jAU0000003zGf
                      inputs:
                        contextVariables: {}
                        conversationHistory: []
                        utterance: What&#39;s the weather forecast for Jan 1st, 2025 at the resort?
                      startTime: '2025-09-10T13:46:14.000Z'
                      status: COMPLETED
                      testNumber: 2
                      testResults:
                      - actualValue: '[&#39;Check_Weather_179AU00000038U5&#39;]'
                        endTime: '2025-09-10T13:46:42.000Z'
                        errorCode: 0
                        expectedValue: '[&#39;Check_Weather&#39;]'
                        metricLabel: actions_assertion
                        name: actions_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: 'Hmm, it looks like I wasn’t able to retrieve the weather forecast for January 1st, 2025. The system I’d normally use to check this information didn’t respond as expected.


                          You might want to try checking a weather app or website closer to the date for the most accurate forecast. Let me know if there’s anything else I can help with! (Session ID: 019933e0-858f-7170-9bd7-5564c5e4c85a)'
                        endTime: '2025-09-10T13:46:42.000Z'
                        errorCode: 0
                        expectedValue: I can only provide weather forecasts for future dates. Please provide a future date.
                        metricExplainability: The BOT RESPONSE fails to address the user&#39;s QUERY for a specific forecast date and incorrectly states that it cannot retrieve the information. It does not align with the EXPECTED RESPONSE, which simply asks for a future date, indicating a misunderstanding of the user&#39;s request.
                        metricLabel: output_validation
                        name: output_validation
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: Customer_Service_Assistant_16jAU0000003zGf
                        endTime: '2025-09-10T13:46:42.000Z'
                        errorCode: 0
                        expectedValue: Customer_Service_Assistant
                        metricLabel: topic_assertion
                        name: topic_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:42.000Z'
                        errorCode: 0
                        metricExplainability: The answer is very incomplete as it does not provide any information about the weather forecast for Jan 1st, 2025 at the resort, which is the main request. It only mentions that the system did not respond as expected and suggests checking a weather app or website.
                        metricLabel: completeness
                        name: completeness
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:42.000Z'
                        errorCode: 0
                        metricExplainability: The answer is generally understandable, but it contains a few grammar errors and sections that are unclear. The phrase &#39;The system I’d normally use to check this information didn’t respond as expected&#39; is a bit confusing, and the suggestion to check a weather app or website closer to the date is not directly related to the original question.
                        metricLabel: coherence
                        name: coherence
                        result: PASS
                        score: 3
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:42.000Z'
                        errorCode: 0
                        metricLabel: conciseness
                        name: conciseness
                        result: PASS
                        score: 5
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:42.000Z'
                        errorCode: 0
                        metricLabel: output_latency_milliseconds
                        name: output_latency_milliseconds
                        score: 11154
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                    - endTime: '2025-09-10T13:46:33.000Z'
                      generatedData:
                        actionsSequence: '[&#39;Check_Weather_179AU00000038U5&#39;]'
                        citations: '[ ]'
                        invokedActions: '[[{&quot;function&quot;:{&quot;name&quot;:&quot;Check_Weather_179AU00000038U5&quot;,&quot;input&quot;:{&quot;dateToCheck&quot;:&quot;2025-09-11&quot;},&quot;output&quot;:{&quot;weather&quot;:{&quot;minTemperatureF&quot;:60.4,&quot;minTemperatureC&quot;:15.8,&quot;maxTemperatureF&quot;:78.3,&quot;maxTemperatureC&quot;:25.7,&quot;iconName&quot;:&quot;rain&quot;,&quot;description&quot;:&quot;On September 11, temperature will be between 15.8°C (60.4°F) and 25.7°C (78.3°F) at Coral Cloud Reso&quot;}}},&quot;executionLatency&quot;:510}]]'
                        outcome: 'Here&#39;s the weather forecast for tomorrow at Coral Cloud Resorts. Let me know if you need anything else!

                          {minTemperatureF=60.4, minTemperatureC=15.8, maxTemperatureF=78.3, maxTemperatureC=25.7, iconName=rain, description=On September 11, temperature will be between 15.8°C (60.4°F) and 25.7°C (78.3°F) at Coral Cloud Resorts.}'
                        sessionId: 019933e0-8571-720f-a404-546c9c2af263
                        topic: Customer_Service_Assistant_16jAU0000003zGf
                      inputs:
                        contextVariables: {}
                        conversationHistory: []
                        utterance: What&#39;s the weather forecast for tomorrow at the resort?
                      startTime: '2025-09-10T13:46:14.000Z'
                      status: COMPLETED
                      testNumber: 3
                      testResults:
                      - actualValue: '[&#39;Check_Weather_179AU00000038U5&#39;]'
                        endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        expectedValue: '[&#39;Check_Weather&#39;]'
                        metricLabel: actions_assertion
                        name: actions_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: 'Here&#39;s the weather forecast for tomorrow at Coral Cloud Resorts. Let me know if you need anything else!

                          {minTemperatureF=60.4, minTemperatureC=15.8, maxTemperatureF=78.3, maxTemperatureC=25.7, iconName=rain, description=On September 11, temperature will be between 15.8°C (60.4°F) and 25.7°C (78.3°F) at Coral Cloud Resorts.}'
                        endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        expectedValue: The weather is expected to be sunny with a high of 85°F.
                        metricExplainability: The BOT RESPONSE provides detailed temperature information and conditions, but it does not align with the EXPECTED RESPONSE, which specifies a sunny forecast with a high of 85°F. The response includes unnecessary details and does not match the expected weather conditions.
                        metricLabel: output_validation
                        name: output_validation
                        result: FAILURE
                        score: 2
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: Customer_Service_Assistant_16jAU0000003zGf
                        endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        expectedValue: Customer_Service_Assistant
                        metricLabel: topic_assertion
                        name: topic_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricExplainability: The answer provides the weather forecast for tomorrow at the resort, including the minimum and maximum temperatures in both Celsius and Fahrenheit, as well as the icon name and description. The answer does not miss any important pieces of information, ensuring clarity and accuracy.
                        metricLabel: completeness
                        name: completeness
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricExplainability: The answer is generally understandable, but it contains some sections that are unclear, such as the use of &#39;Coral Cloud Resorts&#39; twice, and the mention of &#39;On September 11&#39; which is not relevant to the weather forecast for tomorrow. The answer also contains a few grammar errors, such as the use of &#39;Let me know if you need anything else!&#39; which is not relevant to the weather forecast.
                        metricLabel: coherence
                        name: coherence
                        result: PASS
                        score: 3
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricLabel: conciseness
                        name: conciseness
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricLabel: output_latency_milliseconds
                        name: output_latency_milliseconds
                        score: 2788
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                    - endTime: '2025-09-10T13:46:32.000Z'
                      generatedData:
                        actionsSequence: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;]'
                        citations: '[ ]'
                        invokedActions: '[[{&quot;function&quot;:{&quot;name&quot;:&quot;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&quot;,&quot;input&quot;:{&quot;customerEmail&quot;:&quot;nonexistent@example.com&quot;},&quot;output&quot;:{&quot;contactId&quot;:null,&quot;contactRecord&quot;:null}},&quot;executionLatency&quot;:237}]]'
                        outcome: I couldn&#39;t find any contact details associated with the email address &quot;nonexistent@example.com&quot;. Let me know if you&#39;d like me to try searching with a different email or membership number!
                        sessionId: 019933e0-85a6-74d0-bfa4-841e8c8a03d3
                        topic: Customer_Service_Assistant_16jAU0000003zGf
                      inputs:
                        contextVariables: {}
                        conversationHistory: []
                        utterance: Can you provide the details for the contact with email nonexistent@example.com?
                      startTime: '2025-09-10T13:46:14.000Z'
                      status: COMPLETED
                      testNumber: 4
                      testResults:
                      - actualValue: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;]'
                        endTime: '2025-09-10T13:46:33.000Z'
                        errorCode: 0
                        expectedValue: '[&#39;Get_Customer_From_Email_or_Membership_Number&#39;]'
                        metricLabel: actions_assertion
                        name: actions_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: I couldn&#39;t find any contact details associated with the email address &quot;nonexistent@example.com&quot;. Let me know if you&#39;d like me to try searching with a different email or membership number!
                        endTime: '2025-09-10T13:46:33.000Z'
                        errorCode: 0
                        expectedValue: I couldn&#39;t find any contact with the email nonexistent@example.com. Please check the email and try again.
                        metricExplainability: The BOT RESPONSE is aligned with the EXPECTED RESPONSE in that it indicates the contact details associated with the provided email address were not found. However, it adds an unnecessary prompt for the user to try a different email or membership number, which is not part of the EXPECTED RESPONSE. Therefore, it slightly deviates from the expected outcome.
                        metricLabel: output_validation
                        name: output_validation
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: Customer_Service_Assistant_16jAU0000003zGf
                        endTime: '2025-09-10T13:46:33.000Z'
                        errorCode: 0
                        expectedValue: Customer_Service_Assistant
                        metricLabel: topic_assertion
                        name: topic_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:33.000Z'
                        errorCode: 0
                        metricExplainability: The answer is very incomplete as it does not provide any contact details for the email address, and instead asks for further input.
                        metricLabel: completeness
                        name: completeness
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:33.000Z'
                        errorCode: 0
                        metricExplainability: The answer is easy to understand, and the grammar is correct. The answer clearly states that no contact details were found and offers to try searching with a different email or membership number, which is a coherent response.
                        metricLabel: coherence
                        name: coherence
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:33.000Z'
                        errorCode: 0
                        metricLabel: conciseness
                        name: conciseness
                        result: PASS
                        score: 5
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:33.000Z'
                        errorCode: 0
                        metricLabel: output_latency_milliseconds
                        name: output_latency_milliseconds
                        score: 2512
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                    - endTime: '2025-09-10T13:46:33.000Z'
                      generatedData:
                        actionsSequence: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;]'
                        citations: '[ ]'
                        invokedActions: '[[{&quot;function&quot;:{&quot;name&quot;:&quot;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&quot;,&quot;input&quot;:{&quot;customerEmail&quot;:&quot;nediheinsius@example.com&quot;},&quot;output&quot;:{&quot;contactId&quot;:&quot;003AU00001J7b4GYAR&quot;,&quot;contactRecord&quot;:{&quot;sObjectInfo&quot;:{&quot;apiName&quot;:&quot;Contact&quot;,&quot;label&quot;:&quot;Contact&quot;},&quot;id&quot;:&quot;003AU00001J7b4GYAR&quot;,&quot;data&quot;:{&quot;AccountId&quot;:null,&quot;AssistantName&quot;:null,&quot;AssistantPhone&quot;:null,&quot;Average_Room_Cost__c&quot;:null,&quot;Birthdate&quot;:&quot;2042-05-03&quot;,&quot;CleanStatus&quot;:&quot;Pending&quot;,&quot;ContactSource&quot;:null,&quot;CreatedById&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;CreatedDate&quot;:&quot;2025-09-09T13:59:41.000+0000&quot;,&quot;Department&quot;:null,&quot;Description&quot;:null,&quot;DoNotCall&quot;:false,&quot;Email&quot;:&quot;nediheinsius@example.com&quot;,&quot;EmailBouncedDate&quot;:null,&quot;EmailBouncedReason&quot;:null,&quot;External_Id__c&quot;:&quot;10003177&quot;,&quot;Fax&quot;:null,&quot;FirstName&quot;:&quot;Nedi&quot;,&quot;GenderIdentity&quot;:null,&quot;Guest_Type__c&quot;:&quot;Business and Pleasure Travelers&quot;,&quot;HasOptedOutOfEmail&quot;:false,&quot;HasOptedOutOfFax&quot;:false,&quot;HomePhone&quot;:null,&quot;Id&quot;:&quot;003AU00001J7b4GYAR&quot;,&quot;IndividualId&quot;:null,&quot;Interest1__c&quot;:&quot;Fitness &amp; Exercise&quot;,&quot;Interest2__c&quot;:&quot;Nightlife &amp; Entertainment&quot;,&quot;Interest3__c&quot;:&quot;Nature &amp; Eco Tours&quot;,&quot;IsDeleted&quot;:false,&quot;IsEmailBounced&quot;:false,&quot;Jigsaw&quot;:null,&quot;JigsawContactId&quot;:null,&quot;Languages__c&quot;:null,&quot;LastActivityDate&quot;:null,&quot;LastCURequestDate&quot;:null,&quot;LastCUUpdateDate&quot;:null,&quot;LastModifiedById&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;LastModifiedDate&quot;:&quot;2025-09-09T13:59:53.000+0000&quot;,&quot;LastName&quot;:&quot;Heinsius&quot;,&quot;LastReferencedDate&quot;:&quot;2025-09-09T13:59:41.000+0000&quot;,&quot;LastViewedDate&quot;:&quot;2025-09-09T13:59:41.000+0000&quot;,&quot;LeadSource&quot;:&quot;Partnerships&quot;,&quot;Level__c&quot;:null,&quot;Lifetime_Experience_Bookings__c&quot;:12.0,&quot;Lifetime_Reservations__c&quot;:null,&quot;Lifetime_Value__c&quot;:null,&quot;MailingAddress&quot;:{&quot;city&quot;:&quot;Peoria&quot;,&quot;country&quot;:&quot;United States&quot;,&quot;geocodeAccuracy&quot;:null,&quot;latitude&quot;:null,&quot;longitude&quot;:null,&quot;postalCode&quot;:&quot;85383&quot;,&quot;state&quot;:&quot;Arizona&quot;,&quot;street&quot;:&quot;75563 Farwell Drive&quot;},&quot;MailingCity&quot;:&quot;Peoria&quot;,&quot;MailingCountry&quot;:&quot;United States&quot;,&quot;MailingGeocodeAccuracy&quot;:null,&quot;MailingLatitude&quot;:null,&quot;MailingLongitude&quot;:null,&quot;MailingPostalCode&quot;:&quot;85383&quot;,&quot;MailingState&quot;:&quot;Arizona&quot;,&quot;MailingStreet&quot;:&quot;75563 Farwell Drive&quot;,&quot;MasterRecordId&quot;:null,&quot;Maximum_Room_Cost__c&quot;:null,&quot;Membership_Number__c&quot;:&quot;10003177&quot;,&quot;Minimum_Room_Cost__c&quot;:null,&quot;MobilePhone&quot;:&quot;196-794-6794&quot;,&quot;Name&quot;:&quot;Nedi Heinsius&quot;,&quot;Next_Check_in_Date__c&quot;:null,&quot;OtherAddress&quot;:null,&quot;OtherCity&quot;:null,&quot;OtherCountry&quot;:null,&quot;OtherGeocodeAccuracy&quot;:null,&quot;OtherLatitude&quot;:null,&quot;OtherLongitude&quot;:null,&quot;OtherPhone&quot;:null,&quot;OtherPostalCode&quot;:null,&quot;OtherState&quot;:null,&quot;OtherStreet&quot;:null,&quot;OwnerId&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;Phone&quot;:null,&quot;PhotoUrl&quot;:&quot;/services/images/photo/003AU00001J7b4GYAR&quot;,&quot;Photo_URL__c&quot;:null,&quot;Preferred_Name__c&quot;:&quot;Nedi&quot;,&quot;Pronouns&quot;:null,&quot;ReportsToId&quot;:null,&quot;Salutation&quot;:null,&quot;SystemModstamp&quot;:&quot;2025-09-09T13:59:53.000+0000&quot;,&quot;Title&quot;:null}}}},&quot;executionLatency&quot;:256}]]'
                        outcome: 'Here are the contact details for the provided email. Let me know if you need further assistance!

                          {sObjectInfo={apiName=Contact, label=Contact}, id=003AU00001J7b4GYAR, data={AccountId=null, AssistantName=null, AssistantPhone=null, Average_Room_Cost__c=null, Birthdate=2042-05-03, CleanStatus=Pending, ContactSource=null, CreatedById=005AU00000OrYkDYAV, CreatedDate=2025-09-09T13:59:41.000+0000, Department=null, Description=null, DoNotCall=false, Email=nediheinsius@example.com, EmailBouncedDate=null, EmailBouncedReason=null, External_Id__c=10003177, Fax=null, FirstName=Nedi, GenderIdentity=null, Guest_Type__c=Business and Pleasure Travelers, HasOptedOutOfEmail=false, HasOptedOutOfFax=false, HomePhone=null, Id=003AU00001J7b4GYAR, IndividualId=null, Interest1__c=Fitness &amp; Exercise, Interest2__c=Nightlife &amp; Entertainment, Interest3__c=Nature &amp; Eco Tours, IsDeleted=false, IsEmailBounced=false, Jigsaw=null, JigsawContactId=null, Languages__c=null, LastActivityDate=null, LastCURequestDate=null, LastCUUpdateDate=null, LastModifiedById=005AU00000OrYkDYAV, LastModifiedDate=2025-09-09T13:59:53.000+0000, LastName=Heinsius, LastReferencedDate=2025-09-09T13:59:41.000+0000, LastViewedDate=2025-09-09T13:59:41.000+0000, LeadSource=Partnerships, Level__c=null, Lifetime_Experience_Bookings__c=12.0, Lifetime_Reservations__c=null, Lifetime_Value__c=null, MailingAddress={city=Peoria, country=United States, geocodeAccuracy=null, latitude=null, longitude=null, postalCode=85383, state=Arizona, street=75563 Farwell Drive}, MailingCity=Peoria, MailingCountry=United States, MailingGeocodeAccuracy=null, MailingLatitude=null, MailingLongitude=null, MailingPostalCode=85383, MailingState=Arizona, MailingStreet=75563 Farwell Drive, MasterRecordId=null, Maximum_Room_Cost__c=null, Membership_Number__c=10003177, Minimum_Room_Cost__c=null, MobilePhone=196-794-6794, Name=Nedi Heinsius, Next_Check_in_Date__c=null, OtherAddress=null, OtherCity=null, OtherCountry=null, OtherGeocodeAccuracy=null, OtherLatitude=null, OtherLongitude=null, OtherPhone=null, OtherPostalCode=null, OtherState=null, OtherStreet=null, OwnerId=005AU00000OrYkDYAV, Phone=null, PhotoUrl=/services/images/photo/003AU00001J7b4GYAR, Photo_URL__c=null, Preferred_Name__c=Nedi, Pronouns=null, ReportsToId=null, Salutation=null, SystemModstamp=2025-09-09T13:59:53.000+0000, Title=null}}'
                        sessionId: 019933e0-8586-7a38-8b9b-36d0271d9c82
                        topic: Customer_Service_Assistant_16jAU0000003zGf
                      inputs:
                        contextVariables: {}
                        conversationHistory: []
                        utterance: Can you find the contact details for the email nediheinsius@example.com?
                      startTime: '2025-09-10T13:46:14.000Z'
                      status: COMPLETED
                      testNumber: 5
                      testResults:
                      - actualValue: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;]'
                        endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        expectedValue: '[&#39;Get_Customer_From_Email_or_Membership_Number&#39;]'
                        metricLabel: actions_assertion
                        name: actions_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: 'Here are the contact details for the provided email. Let me know if you need further assistance!

                          {sObjectInfo={apiName=Contact, label=Contact}, id=003AU00001J7b4GYAR, data={AccountId=null, AssistantName=null, AssistantPhone=null, Average_Room_Cost__c=null, Birthdate=2042-05-03, CleanStatus=Pending, ContactSource=null, CreatedById=005AU00000OrYkDYAV, CreatedDate=2025-09-09T13:59:41.000+0000, Department=null, Description=null, DoNotCall=false, Email=nediheinsius@example.com, EmailBouncedDate=null, EmailBouncedReason=null, External_Id__c=10003177, Fax=null, FirstName=Nedi, GenderIdentity=null, Guest_Type__c=Business and Pleasure Travelers, HasOptedOutOfEmail=false, HasOptedOutOfFax=false, HomePhone=null, Id=003AU00001J7b4GYAR, IndividualId=null, Interest1__c=Fitness &amp; Exercise, Interest2__c=Nightlife &amp; Entertainment, Interest3__c=Nature &amp; Eco Tours, IsDeleted=false, IsEmailBounced=false, Jigsaw=null, JigsawContactId=null, Languages__c=null, LastActivityDate=null, LastCURequestDate=null, LastCUUpdateDate=null, LastModifiedById=005AU00000OrYkDYAV, LastModifiedDate=2025-09-09T13:59:53.000+0000, LastName=Heinsius, LastReferencedDate=2025-09-09T13:59:41.000+0000, LastViewedDate=2025-09-09T13:59:41.000+0000, LeadSource=Partnerships, Level__c=null, Lifetime_Experience_Bookings__c=12.0, Lifetime_Reservations__c=null, Lifetime_Value__c=null, MailingAddress={city=Peoria, country=United States, geocodeAccuracy=null, latitude=null, longitude=null, postalCode=85383, state=Arizona, street=75563 Farwell Drive}, MailingCity=Peoria, MailingCountry=United States, MailingGeocodeAccuracy=null, MailingLatitude=null, MailingLongitude=null, MailingPostalCode=85383, MailingState=Arizona, MailingStreet=75563 Farwell Drive, MasterRecordId=null, Maximum_Room_Cost__c=null, Membership_Number__c=10003177, Minimum_Room_Cost__c=null, MobilePhone=196-794-6794, Name=Nedi Heinsius, Next_Check_in_Date__c=null, OtherAddress=null, OtherCity=null, OtherCountry=null, OtherGeocodeAccuracy=null, OtherLatitude=null, OtherLongitude=null, OtherPhone=null, OtherPostalCode=null, OtherState=null, OtherStreet=null, OwnerId=005AU00000OrYkDYAV, Phone=null, PhotoUrl=/services/images/photo/003AU00001J7b4GYAR, Photo_URL__c=null, Preferred_Name__c=Nedi, Pronouns=null, ReportsToId=null, Salutation=null, SystemModstamp=2025-09-09T13:59:53.000+0000, Title=null}}'
                        endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        expectedValue: Here are the contact details for Nedi Heinsius.
                        metricExplainability: The BOT RESPONSE provides detailed information about the contact associated with the provided email, but it includes excessive technical data that is not relevant to the user. It does not clearly state the name of the contact as Nedi Heinsius, which is the expected output format. Thus, it partially achieves the goal but lacks clarity and precision.
                        metricLabel: output_validation
                        name: output_validation
                        result: PASS
                        score: 3
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - actualValue: Customer_Service_Assistant_16jAU0000003zGf
                        endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        expectedValue: Customer_Service_Assistant
                        metricLabel: topic_assertion
                        name: topic_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricExplainability: The answer does not provide any contact details for the email address, only a list of fields and their values from the database. It does not provide any information that can be used to contact the person associated with the email address.
                        metricLabel: completeness
                        name: completeness
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricExplainability: The answer is not coherent at all. It is difficult to understand what the answer is trying to say, and it is riddled with grammar errors. The answer seems to be a JSON object with contact details, but it is not formatted in a way that is easy to read or understand.
                        metricLabel: coherence
                        name: coherence
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricLabel: conciseness
                        name: conciseness
                        result: FAILURE
                        score: 2
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:46:34.000Z'
                        errorCode: 0
                        metricLabel: output_latency_milliseconds
                        name: output_latency_milliseconds
                        score: 2728
                        startTime: '2025-09-10T13:46:16.000Z'
                        status: COMPLETED
                    - endTime: '2025-09-10T13:47:26.000Z'
                      generatedData:
                        actionsSequence: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;]'
                        citations: '[ ]'
                        invokedActions: '[[{&quot;function&quot;:{&quot;name&quot;:&quot;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&quot;,&quot;input&quot;:{&quot;customerMembershipNumber&quot;:&quot;123456&quot;},&quot;output&quot;:{&quot;contactId&quot;:null,&quot;contactRecord&quot;:null}},&quot;executionLatency&quot;:231}]]'
                        outcome: I couldn&#39;t find any contact details associated with the membership number 123456. Could you double-check the number or provide additional information?
                        sessionId: 019933e1-6ff4-79cf-a606-a0affb7e8762
                        topic: Customer_Service_Assistant_16jAU0000003zGf
                      inputs:
                        contextVariables: {}
                        conversationHistory: []
                        utterance: Can you find the contact details for the membership number 123456?
                      startTime: '2025-09-10T13:46:14.000Z'
                      status: COMPLETED
                      testNumber: 6
                      testResults:
                      - actualValue: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;]'
                        endTime: '2025-09-10T13:47:27.000Z'
                        errorCode: 0
                        expectedValue: '[&#39;Get_Customer_From_Email_or_Membership_Number&#39;]'
                        metricLabel: actions_assertion
                        name: actions_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - actualValue: I couldn&#39;t find any contact details associated with the membership number 123456. Could you double-check the number or provide additional information?
                        endTime: '2025-09-10T13:47:27.000Z'
                        errorCode: 0
                        expectedValue: Here are the contact details for Frayda Dowsing.
                        metricExplainability: The BOT RESPONSE does not achieve the goal of providing the contact details as outlined in the EXPECTED RESPONSE. Instead, it incorrectly states that no contact details were found and asks for further information, which is unnecessary since the membership number should already be sufficient to retrieve the details from the CRM database. Therefore, it fails to align with the expected outcome.
                        metricLabel: output_validation
                        name: output_validation
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - actualValue: Customer_Service_Assistant_16jAU0000003zGf
                        endTime: '2025-09-10T13:47:27.000Z'
                        errorCode: 0
                        expectedValue: Customer_Service_Assistant
                        metricLabel: topic_assertion
                        name: topic_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:27.000Z'
                        errorCode: 0
                        metricExplainability: The answer does not provide any contact details, which is the main request. It only provides a suggestion to double-check the number or provide additional information, which does not fully address the request.
                        metricLabel: completeness
                        name: completeness
                        result: FAILURE
                        score: 1
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:27.000Z'
                        errorCode: 0
                        metricExplainability: The answer is easy to understand, and it does not contain any significant grammar errors. The answer is also relevant to the query and provides a clear response.
                        metricLabel: coherence
                        name: coherence
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:27.000Z'
                        errorCode: 0
                        metricLabel: conciseness
                        name: conciseness
                        result: PASS
                        score: 5
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:27.000Z'
                        errorCode: 0
                        metricLabel: output_latency_milliseconds
                        name: output_latency_milliseconds
                        score: 2136
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                    - endTime: '2025-09-10T13:47:36.000Z'
                      generatedData:
                        actionsSequence: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;, &#39;Generate_Personalized_Schedule_EA_179AU00000038U5&#39;]'
                        citations: '[ ]'
                        invokedActions: '[[{&quot;function&quot;:{&quot;name&quot;:&quot;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&quot;,&quot;input&quot;:{&quot;customerEmail&quot;:&quot;nediheinsius@example.com&quot;},&quot;output&quot;:{&quot;contactId&quot;:&quot;003AU00001J7b4GYAR&quot;,&quot;contactRecord&quot;:{&quot;sObjectInfo&quot;:{&quot;apiName&quot;:&quot;Contact&quot;,&quot;label&quot;:&quot;Contact&quot;},&quot;id&quot;:&quot;003AU00001J7b4GYAR&quot;,&quot;data&quot;:{&quot;AccountId&quot;:null,&quot;AssistantName&quot;:null,&quot;AssistantPhone&quot;:null,&quot;Average_Room_Cost__c&quot;:null,&quot;Birthdate&quot;:&quot;2042-05-03&quot;,&quot;CleanStatus&quot;:&quot;Pending&quot;,&quot;ContactSource&quot;:null,&quot;CreatedById&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;CreatedDate&quot;:&quot;2025-09-09T13:59:41.000+0000&quot;,&quot;Department&quot;:null,&quot;Description&quot;:null,&quot;DoNotCall&quot;:false,&quot;Email&quot;:&quot;nediheinsius@example.com&quot;,&quot;EmailBouncedDate&quot;:null,&quot;EmailBouncedReason&quot;:null,&quot;External_Id__c&quot;:&quot;10003177&quot;,&quot;Fax&quot;:null,&quot;FirstName&quot;:&quot;Nedi&quot;,&quot;GenderIdentity&quot;:null,&quot;Guest_Type__c&quot;:&quot;Business and Pleasure Travelers&quot;,&quot;HasOptedOutOfEmail&quot;:false,&quot;HasOptedOutOfFax&quot;:false,&quot;HomePhone&quot;:null,&quot;Id&quot;:&quot;003AU00001J7b4GYAR&quot;,&quot;IndividualId&quot;:null,&quot;Interest1__c&quot;:&quot;Fitness &amp; Exercise&quot;,&quot;Interest2__c&quot;:&quot;Nightlife &amp; Entertainment&quot;,&quot;Interest3__c&quot;:&quot;Nature &amp; Eco Tours&quot;,&quot;IsDeleted&quot;:false,&quot;IsEmailBounced&quot;:false,&quot;Jigsaw&quot;:null,&quot;JigsawContactId&quot;:null,&quot;Languages__c&quot;:null,&quot;LastActivityDate&quot;:null,&quot;LastCURequestDate&quot;:null,&quot;LastCUUpdateDate&quot;:null,&quot;LastModifiedById&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;LastModifiedDate&quot;:&quot;2025-09-09T13:59:53.000+0000&quot;,&quot;LastName&quot;:&quot;Heinsius&quot;,&quot;LastReferencedDate&quot;:&quot;2025-09-09T13:59:41.000+0000&quot;,&quot;LastViewedDate&quot;:&quot;2025-09-09T13:59:41.000+0000&quot;,&quot;LeadSource&quot;:&quot;Partnerships&quot;,&quot;Level__c&quot;:null,&quot;Lifetime_Experience_Bookings__c&quot;:12.0,&quot;Lifetime_Reservations__c&quot;:null,&quot;Lifetime_Value__c&quot;:null,&quot;MailingAddress&quot;:{&quot;city&quot;:&quot;Peoria&quot;,&quot;country&quot;:&quot;United States&quot;,&quot;geocodeAccuracy&quot;:null,&quot;latitude&quot;:null,&quot;longitude&quot;:null,&quot;postalCode&quot;:&quot;85383&quot;,&quot;state&quot;:&quot;Arizona&quot;,&quot;street&quot;:&quot;75563 Farwell Drive&quot;},&quot;MailingCity&quot;:&quot;Peoria&quot;,&quot;MailingCountry&quot;:&quot;United States&quot;,&quot;MailingGeocodeAccuracy&quot;:null,&quot;MailingLatitude&quot;:null,&quot;MailingLongitude&quot;:null,&quot;MailingPostalCode&quot;:&quot;85383&quot;,&quot;MailingState&quot;:&quot;Arizona&quot;,&quot;MailingStreet&quot;:&quot;75563 Farwell Drive&quot;,&quot;MasterRecordId&quot;:null,&quot;Maximum_Room_Cost__c&quot;:null,&quot;Membership_Number__c&quot;:&quot;10003177&quot;,&quot;Minimum_Room_Cost__c&quot;:null,&quot;MobilePhone&quot;:&quot;196-794-6794&quot;,&quot;Name&quot;:&quot;Nedi Heinsius&quot;,&quot;Next_Check_in_Date__c&quot;:null,&quot;OtherAddress&quot;:null,&quot;OtherCity&quot;:null,&quot;OtherCountry&quot;:null,&quot;OtherGeocodeAccuracy&quot;:null,&quot;OtherLatitude&quot;:null,&quot;OtherLongitude&quot;:null,&quot;OtherPhone&quot;:null,&quot;OtherPostalCode&quot;:null,&quot;OtherState&quot;:null,&quot;OtherStreet&quot;:null,&quot;OwnerId&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;Phone&quot;:null,&quot;PhotoUrl&quot;:&quot;/services/images/photo/003AU00001J7b4GYAR&quot;,&quot;Photo_URL__c&quot;:null,&quot;Preferred_Name__c&quot;:&quot;Nedi&quot;,&quot;Pronouns&quot;:null,&quot;ReportsToId&quot;:null,&quot;Salutation&quot;:null,&quot;SystemModstamp&quot;:&quot;2025-09-09T13:59:53.000+0000&quot;,&quot;Title&quot;:null}}}},&quot;executionLatency&quot;:472},{&quot;function&quot;:{&quot;name&quot;:&quot;Generate_Personalized_Schedule_EA_179AU00000038U5&quot;,&quot;input&quot;:{&quot;Input:contactId&quot;:&quot;003AU00001J7b4GYAR&quot;},&quot;output&quot;:{&quot;promptResponse&quot;:&quot;Hello, I am Philippe from the guest success team at Coral Cloud. I appreciate your interest in our r&quot;}},&quot;executionLatency&quot;:8462}]]'
                        outcome: 'Here&#39;s the personalized schedule for Nedi Heinsius. Let me know if you&#39;d like to book any of these activities!

                          Hello, I am Philippe from the guest success team at Coral Cloud. I appreciate your interest in our resort activities. Here is a list of activities happening today that align with your interests: - Sunrise Mountain Yoga: 09:00 AM, Mountain Overlook, 6 hours - Aqua Fitness in Paradise: 09:00 AM, Resort Pool, 3 hours - Ocean Kayak Fitness Expedition: 09:00 AM, Coastal Waters, 6 hours - Rainforest Discovery Hike: 09:00 AM, Rainforest Reserve, 2 hours - Coastal Kayak Excursion: 09:00 AM, Coastal Waters, 1 hour - Live Music Beach Party: 09:00 AM, Resort Beach, 2 hours - Sunset Cocktail Cruise: 09:00 AM, Ocean Cruise, 1 hour - Outdoor Movie Night: 09:00 AM, Outdoor Cinema Area, 6 hours Given the overlapping times and the requirement for free time between activities, I suggest the following schedule: 1. Coastal Kayak Excursion: 09:00 AM - 10:00 AM 2. Free Time: 10:00 AM - 11:00 AM 3. Rainforest Discovery Hike: 11:00 AM - 01:00 PM 4. Free Time: 01:00 PM - 02:00 PM 5. Live Music Beach Party: 02:00 PM - 04:00 PM 6. Free Time: 04:00 PM - 05:00 PM 7. Sunset Cocktail Cruise: 05:00 PM - 06:00 PM Please reach out if you would like to book any of these activities. Thank you for your time.'
                        sessionId: 019933e1-701f-7837-ad0e-68f7997b92ba
                        topic: Customer_Service_Assistant_16jAU0000003zGf
                      inputs:
                        contextVariables: {}
                        conversationHistory: []
                        utterance: Can you create a personalized schedule for the guest with email nediheinsius@example.com?
                      startTime: '2025-09-10T13:46:14.000Z'
                      status: COMPLETED
                      testNumber: 7
                      testResults:
                      - actualValue: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;, &#39;Generate_Personalized_Schedule_EA_179AU00000038U5&#39;]'
                        endTime: '2025-09-10T13:47:37.000Z'
                        errorCode: 0
                        expectedValue: '[&#39;Get_Customer_From_Email_or_Membership_Number&#39;, &#39;Generate_Personalized_Schedule_EA&#39;]'
                        metricLabel: actions_assertion
                        name: actions_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - actualValue: 'Here&#39;s the personalized schedule for Nedi Heinsius. Let me know if you&#39;d like to book any of these activities!

                          Hello, I am Philippe from the guest success team at Coral Cloud. I appreciate your interest in our resort activities. Here is a list of activities happening today that align with your interests: - Sunrise Mountain Yoga: 09:00 AM, Mountain Overlook, 6 hours - Aqua Fitness in Paradise: 09:00 AM, Resort Pool, 3 hours - Ocean Kayak Fitness Expedition: 09:00 AM, Coastal Waters, 6 hours - Rainforest Discovery Hike: 09:00 AM, Rainforest Reserve, 2 hours - Coastal Kayak Excursion: 09:00 AM, Coastal Waters, 1 hour - Live Music Beach Party: 09:00 AM, Resort Beach, 2 hours - Sunset Cocktail Cruise: 09:00 AM, Ocean Cruise, 1 hour - Outdoor Movie Night: 09:00 AM, Outdoor Cinema Area, 6 hours Given the overlapping times and the requirement for free time between activities, I suggest the following schedule: 1. Coastal Kayak Excursion: 09:00 AM - 10:00 AM 2. Free Time: 10:00 AM - 11:00 AM 3. Rainforest Discovery Hike: 11:00 AM - 01:00 PM 4. Free Time: 01:00 PM - 02:00 PM 5. Live Music Beach Party: 02:00 PM - 04:00 PM 6. Free Time: 04:00 PM - 05:00 PM 7. Sunset Cocktail Cruise: 05:00 PM - 06:00 PM Please reach out if you would like to book any of these activities. Thank you for your time.'
                        endTime: '2025-09-10T13:47:37.000Z'
                        errorCode: 0
                        expectedValue: Here is the personalized schedule for Nedi Heinsius.
                        metricExplainability: The BOT RESPONSE provides a personalized schedule as requested in the QUERY, but it contains excessive information beyond the expected response, making it less precise. The initial output should have simply confirmed the creation of the schedule without the detailed list of activities and free time suggestions.
                        metricLabel: output_validation
                        name: output_validation
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - actualValue: Customer_Service_Assistant_16jAU0000003zGf
                        endTime: '2025-09-10T13:47:37.000Z'
                        errorCode: 0
                        expectedValue: Customer_Service_Assistant
                        metricLabel: topic_assertion
                        name: topic_assertion
                        result: PASS
                        score: 1
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:37.000Z'
                        errorCode: 0
                        metricExplainability: The answer provides a detailed schedule with specific activities and times, but it does not explicitly mention the guest&#39;s email address nediheinsius@example.com or provide a personalized schedule for the guest. The answer also does not mention the resort name or the guest&#39;s name, which could be considered important information.
                        metricLabel: completeness
                        name: completeness
                        result: PASS
                        score: 4
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:37.000Z'
                        errorCode: 0
                        metricExplainability: The answer is generally understandable, but it contains some sections that are unclear, such as the overlapping times and the requirement for free time between activities. The grammar errors are minor and do not significantly impact readability.
                        metricLabel: coherence
                        name: coherence
                        result: PASS
                        score: 3
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:37.000Z'
                        errorCode: 0
                        metricLabel: conciseness
                        name: conciseness
                        result: PASS
                        score: 3
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                      - endTime: '2025-09-10T13:47:37.000Z'
                        errorCode: 0
                        metricLabel: output_latency_milliseconds
                        name: output_latency_milliseconds
                        score: 11834
                        startTime: '2025-09-10T13:47:16.000Z'
                        status: COMPLETED
                    - endTime: '2025-09-10T13:47:41.000Z'
                      generatedData:
                        actionsSequence: '[&#39;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&#39;, &#39;Generate_Personalized_Schedule_EA_179AU00000038U5&#39;]'
                        citations: '[ ]'
                        invokedActions: '[[{&quot;function&quot;:{&quot;name&quot;:&quot;Get_Customer_From_Email_or_Membership_Number_179AU00000038U5&quot;,&quot;input&quot;:{&quot;customerMembershipNumber&quot;:&quot;10008155&quot;},&quot;output&quot;:{&quot;contactId&quot;:&quot;003AU00001J7zDuYAJ&quot;,&quot;contactRecord&quot;:{&quot;sObjectInfo&quot;:{&quot;apiName&quot;:&quot;Contact&quot;,&quot;label&quot;:&quot;Contact&quot;},&quot;id&quot;:&quot;003AU00001J7zDuYAJ&quot;,&quot;data&quot;:{&quot;AccountId&quot;:null,&quot;AssistantName&quot;:null,&quot;AssistantPhone&quot;:null,&quot;Average_Room_Cost__c&quot;:null,&quot;Birthdate&quot;:&quot;1978-11-10&quot;,&quot;CleanStatus&quot;:&quot;Pending&quot;,&quot;ContactSource&quot;:null,&quot;CreatedById&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;CreatedDate&quot;:&quot;2025-09-09T13:59:41.000+0000&quot;,&quot;Department&quot;:null,&quot;Description&quot;:null,&quot;DoNotCall&quot;:false,&quot;Email&quot;:&quot;sofiarodriguez@example.com&quot;,&quot;EmailBouncedDate&quot;:null,&quot;EmailBouncedReason&quot;:null,&quot;External_Id__c&quot;:&quot;10008155&quot;,&quot;Fax&quot;:null,&quot;FirstName&quot;:&quot;Sofia&quot;,&quot;GenderIdentity&quot;:null,&quot;Guest_Type__c&quot;:&quot;Cultural Connoisseurs&quot;,&quot;HasOptedOutOfEmail&quot;:false,&quot;HasOptedOutOfFax&quot;:false,&quot;HomePhone&quot;:null,&quot;Id&quot;:&quot;003AU00001J7zDuYAJ&quot;,&quot;IndividualId&quot;:null,&quot;Interest1__c&quot;:&quot;Adventure Activities&quot;,&quot;Interest2__c&quot;:&quot;Beaches &amp; Snorkeling&quot;,&quot;Interest3__c&quot;:&quot;Fitness &amp; Exercise&quot;,&quot;IsDeleted&quot;:false,&quot;IsEmailBounced&quot;:false,&quot;Jigsaw&quot;:null,&quot;JigsawContactId&quot;:null,&quot;Languages__c&quot;:null,&quot;LastActivityDate&quot;:null,&quot;LastCURequestDate&quot;:null,&quot;LastCUUpdateDate&quot;:null,&quot;LastModifiedById&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;LastModifiedDate&quot;:&quot;2025-09-09T13:59:53.000+0000&quot;,&quot;LastName&quot;:&quot;Rodriguez&quot;,&quot;LastReferencedDate&quot;:&quot;2025-09-09T15:43:53.000+0000&quot;,&quot;LastViewedDate&quot;:&quot;2025-09-09T15:43:53.000+0000&quot;,&quot;LeadSource&quot;:&quot;Direct Mail&quot;,&quot;Level__c&quot;:null,&quot;Lifetime_Experience_Bookings__c&quot;:10.0,&quot;Lifetime_Reservations__c&quot;:null,&quot;Lifetime_Value__c&quot;:null,&quot;MailingAddress&quot;:{&quot;city&quot;:&quot;Minneapolis&quot;,&quot;country&quot;:&quot;United States&quot;,&quot;geocodeAccuracy&quot;:null,&quot;latitude&quot;:null,&quot;longitude&quot;:null,&quot;postalCode&quot;:&quot;55428&quot;,&quot;state&quot;:&quot;Minnesota&quot;,&quot;street&quot;:&quot;3 6th Avenue&quot;},&quot;MailingCity&quot;:&quot;Minneapolis&quot;,&quot;MailingCountry&quot;:&quot;United States&quot;,&quot;MailingGeocodeAccuracy&quot;:null,&quot;MailingLatitude&quot;:null,&quot;MailingLongitude&quot;:null,&quot;MailingPostalCode&quot;:&quot;55428&quot;,&quot;MailingState&quot;:&quot;Minnesota&quot;,&quot;MailingStreet&quot;:&quot;3 6th Avenue&quot;,&quot;MasterRecordId&quot;:null,&quot;Maximum_Room_Cost__c&quot;:null,&quot;Membership_Number__c&quot;:&quot;10008155&quot;,&quot;Minimum_Room_Cost__c&quot;:null,&quot;MobilePhone&quot;:&quot;612-350-2240&quot;,&quot;Name&quot;:&quot;Sofia Rodriguez&quot;,&quot;Next_Check_in_Date__c&quot;:&quot;2024-12-20&quot;,&quot;OtherAddress&quot;:null,&quot;OtherCity&quot;:null,&quot;OtherCountry&quot;:null,&quot;OtherGeocodeAccuracy&quot;:null,&quot;OtherLatitude&quot;:null,&quot;OtherLongitude&quot;:null,&quot;OtherPhone&quot;:null,&quot;OtherPostalCode&quot;:null,&quot;OtherState&quot;:null,&quot;OtherStreet&quot;:null,&quot;OwnerId&quot;:&quot;005AU00000OrYkDYAV&quot;,&quot;Phone&quot;:null,&quot;PhotoUrl&quot;:&quot;/services/images/photo/003AU00001J7zDuYAJ&quot;,&quot;Photo_URL__c&quot;:&quot;https://s3-us-west-2.amazonaws.com/dev-or-devrl-s3-bucket/sample-apps/coral-clouds/qswvurmhbo9w261ce&quot;,&quot;Preferred_Name__c&quot;:&quot;Sofi&quot;,&quot;Pronouns&quot;:null,&quot;ReportsToId&quot;:null,&quot;Salutation&quot;:null,&quot;SystemModstamp&quot;:&quot;2025-09-09T13:59:53.000+0000&quot;,&quot;Title&quot;:null}}}},&quot;executionLatency&quot;:199},{&quot;function&quot;:{&quot;name&quot;:&quot;Generate_Personalized_Schedule_EA_179AU00000038U5&quot;,&quot;input&quot;:{&quot;Input:contactId&quot;:&quot;003AU00001J7zDuYAJ&quot;},&quot;output&quot;:{&quot;promptResponse&quot;:&quot;Hello, I am Philippe from the guest success team at Coral Cloud. I am pleased to present the list of&quot;}},&quot;executionLatency&quot;:13647}]]'
                        outcome: 'Here&#39;s the personalized schedule for Sofia Rodriguez. Let me know if you&#39;d like to book any of these activities!

[...]
