openapi: 3.2.0
info:
  title: Salesforce Eligible API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Eligible
paths:
  /data/v64.0/global-promotions-management/eligible-promotions:
    parameters: []
    post:
      tags:
      - Eligible
      summary: Salesforce Eligible Promotions
      description: '[Eligible Promotions](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_eligible_promotions.htm)


        NOTE:


        In the Pre-request. Script Tab, make changes in the variables value accordingly with the real Process Name to invoke.'
      operationId: EligiblePromotions
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EligiblePromotionsRequest'
              - examples:
                - cart:
                    cartDetails:
                    - activityStartDate: '2023-06-14T12:45:19.000Z'
                      contactId: 003xx000004WjzAAAS
                      transactionAmount: 499
                      currencyISOCode: INR
                      cartLineDetails:
                      - cartLineProductId: 01txx0000006iTsAAI
                        cartLineItemQuantity: 3
                        cartLineItemAmount: 499
                        cartLineProductCatalogId: 0ZSSB0000002d8X4AQ
              contentMediaType: application/json
            example:
              cart:
                cartDetails:
                - activityStartDate: '2023-06-14T12:45:19.000Z'
                  contactId: 003xx000004WjzAAAS
                  transactionAmount: 499
                  currencyISOCode: INR
                  cartLineDetails:
                  - cartLineProductId: 01txx0000006iTsAAI
                    cartLineItemQuantity: 3
                    cartLineItemAmount: 499
                    cartLineProductCatalogId: 0ZSSB0000002d8X4AQ
        required: true
      responses:
        default:
          description: ''
          headers: {}
          content: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CartDetail:
      title: CartDetail
      required:
      - activityStartDate
      - contactId
      - transactionAmount
      - currencyISOCode
      - cartLineDetails
      type: object
      properties:
        activityStartDate:
          type: string
          example: example_value
        contactId:
          type: string
          example: '500123'
        transactionAmount:
          type: integer
          contentEncoding: int32
          example: 10
        currencyISOCode:
          type: string
          example: example_value
        cartLineDetails:
          type: array
          items:
            $ref: '#/components/schemas/CartLineDetail'
          description: ''
          example: []
      examples:
      - activityStartDate: '2023-06-14T12:45:19.000Z'
        contactId: 003xx000004WjzAAAS
        transactionAmount: 499
        currencyISOCode: INR
        cartLineDetails:
        - cartLineProductId: 01txx0000006iTsAAI
          cartLineItemQuantity: 3
          cartLineItemAmount: 499
          cartLineProductCatalogId: 0ZSSB0000002d8X4AQ
    CartLineDetail:
      title: CartLineDetail
      required:
      - cartLineProductId
      - cartLineItemQuantity
      - cartLineItemAmount
      - cartLineProductCatalogId
      type: object
      properties:
        cartLineProductId:
          type: string
          example: '500123'
        cartLineItemQuantity:
          type: integer
          contentEncoding: int32
          example: 10
        cartLineItemAmount:
          type: integer
          contentEncoding: int32
          example: 10
        cartLineProductCatalogId:
          type: string
          example: '500123'
      examples:
      - cartLineProductId: 01txx0000006iTsAAI
        cartLineItemQuantity: 3
        cartLineItemAmount: 499
        cartLineProductCatalogId: 0ZSSB0000002d8X4AQ
    EligiblePromotionsRequest:
      title: EligiblePromotionsRequest
      required:
      - cart
      type: object
      properties:
        cart:
          $ref: '#/components/schemas/Cart'
      examples:
      - cart:
          cartDetails:
          - activityStartDate: '2023-06-14T12:45:19.000Z'
            contactId: 003xx000004WjzAAAS
            transactionAmount: 499
            currencyISOCode: INR
            cartLineDetails:
            - cartLineProductId: 01txx0000006iTsAAI
              cartLineItemQuantity: 3
              cartLineItemAmount: 499
              cartLineProductCatalogId: 0ZSSB0000002d8X4AQ
    Cart:
      title: Cart
      required:
      - cartDetails
      type: object
      properties:
        cartDetails:
          type: array
          items:
            $ref: '#/components/schemas/CartDetail'
          description: ''
          example: []
      examples:
      - cartDetails:
        - activityStartDate: '2023-06-14T12:45:19.000Z'
          contactId: 003xx000004WjzAAAS
          transactionAmount: 499
          currencyISOCode: INR
          cartLineDetails:
          - cartLineProductId: 01txx0000006iTsAAI
            cartLineItemQuantity: 3
            cartLineItemAmount: 499
            cartLineProductCatalogId: 0ZSSB0000002d8X4AQ
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
