openapi: 3.2.0
info:
  title: Salesforce Creation API
  description: Find the resources you need to start building.
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Creation
paths:
  /data/v64.0/connect/business-rules/expression-set:
    parameters: []
    post:
      tags:
      - Creation
      summary: Salesforce Expression Set Creation
      description: 'https://developer.salesforce.com/docs/atlas.en-us.246.0.industries_reference.meta/industries_reference/connect_resources_bre_create_expression_set.htm


        # Expression Set Creation (POST)


        Creates an expression set in Business Rules Engine. An expression set performs a series of calculations by using lookup tables and user-defined variables and constants.Resource


        ```

        /connect/business-rules/expression-set


        ```


        Resource Example


        ```

        https://yourInstance.salesforce.com/services/data/v59.0/connect

        /business-rules/expression-set


        ```


        Available version


        58.0


        Requires Chatter


        No


        HTTP methods


        POST


        Request body for POST


        Root XML tag


        JSON example


        ```

        {

        "name": "CTX Mapping ES",

        "apiName": "CTX_Mapping_ES_1",

        "description": "...",

        "usageType": "Bre",

        "contextDefinitions": [

        {

        "id": "11Oxx0000006PcLEAU"

        }

        ],

        "versions": [

        {

        "name": "CTX_Mapping_ES_1 V1",

        "apiName": "CTX_Mapping_ES_1_V1",

        "description": "Sample CTX Mapping",

        "startDate": "2022-11-14T20:31:47.000+0000",

        "endDate": "2022-11-14T20:31:47.000+0000",

        "versionNumber": 1,

        "rank": 1,

        "enabled": true,

        "showExplExternally": false,

        "steps": [

        {

        "name": "Condition1",

        "description": "Condition step for conditions w.r.t product",

        "sequenceNumber": 1,

        "resultIncluded": true,

        "stepType": "Condition",

        "conditionExpression": {

        "expression": "productName == ''iPhone'' && productColor == ''Red''",

        "resultParameter": "condition_output__1"

        }

        }

        ],

        "variables": [

        {

        "name": "productName",

        "collection": false,

        "dataType": "Text",

        "description": "productName",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "productColor",

        "collection": false,

        "dataType": "Text",

        "description": "productColor",

        "input": true,

        "output": false,

        "type": "Variable"

        },

        {

        "name": "condition_output__1",

        "dataType": "Boolean",

        "description": "condition_output__1",

        "input": false,

        "output": true,

        "resultStep": "Condition1",

        "type": "Variable"

        }

        ]

        }

        ]

        }


        ```


        Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | apiName | String | Unique name of the expression set. | Required | 58.0 |

        | context​Definitions | Context Definition Input | List of context definitions in an expression set. | Optional | 58.0 |

        | description | String | Description of the expression set. | Optional | 58.0 |

        | name | String | Name of the expression set. | Required | 58.0 |

        | usage​Type | String | Usage type of the expression set.


        Valid values are:


        - AiAccelerator​SubscriberChurn​Prediction—Used for Industries Einstein


        - Bre—Used for Business Rules Engine


        - CustomLoyalty—Used for Loyalty Management


        - DefaultPricing—Used for Pricing Plans in Enterprise Product Catalog (EPC) by Communications Cloud


        - Qualification—Used for Industries Communications, Media, and Energy (CME)


        - RecordAlert—Used for Financial Services Cloud


        - ShipAndDebit—Used for Manufacturing Cloud


        - TierProcessing—Used for Loyalty Management


        - TransactionJournal—Used for Loyalty Management


        - WarrantyClaim—Used for Manufacturing Cloud | Required | 58.0 |

        | versions | Expression Set Version Input\[\] | List of the expression set versions. | Optional | 58.0 |


        Response body for POST


        Expression Set Output'
      operationId: ExpressionSetCreation
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExpressionSetCreationRequest'
              - examples:
                - apiName: myExpressionSet2
                  contextDefinitions: []
                  name: myExpressionSet3
                  usageType: Bre
                  versions:
                  - apiName: myExpressionSet_V1
                    enabled: false
                    id: 9QMHo000000LBjOOAW
                    name: myExpressionSet V1
                    showExplExternally: false
                    startDate: '2023-09-06T10:35:11.000Z'
                    steps: []
                    variables: []
                    versionNumber: 1
              contentMediaType: application/json
            example:
              apiName: myExpressionSet2
              contextDefinitions: []
              name: myExpressionSet3
              usageType: Bre
              versions:
              - apiName: myExpressionSet_V1
                enabled: false
                id: 9QMHo000000LBjOOAW
                name: myExpressionSet V1
                showExplExternally: false
                startDate: '2023-09-06T10:35:11.000Z'
                steps: []
                variables: []
                versionNumber: 1
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:35:10 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status201-SuccessCreatedOnlyMandatoryFields'
                - examples:
                  - apiName: myExpressionSet
                    contextDefinitions: []
                    id: 9QLHo000000LBjJOAW
                    name: myExpressionSet
                    usageType: Bre
                    versions:
                    - apiName: myExpressionSet_V1
                      enabled: false
                      id: 9QMHo000000LBjOOAW
                      name: myExpressionSet V1
                      showExplExternally: false
                      startDate: '2023-09-06T10:35:11.000Z'
                      steps: []
                      variables: []
                      versionNumber: 1
                contentMediaType: application/json;charset=UTF-8
              example:
                apiName: myExpressionSet
                contextDefinitions: []
                id: 9QLHo000000LBjJOAW
                name: myExpressionSet
                usageType: Bre
                versions:
                - apiName: myExpressionSet_V1
                  enabled: false
                  id: 9QMHo000000LBjOOAW
                  name: myExpressionSet V1
                  showExplExternally: false
                  startDate: '2023-09-06T10:35:11.000Z'
                  steps: []
                  variables: []
                  versionNumber: 1
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:31:10 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-MissingMandatoryBodyField1'
                description: ''
                examples:
                - - errorCode: INVALID_INPUT
                    message: Specify a value for name parameter and try again.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_INPUT
                message: Specify a value for name parameter and try again.
        '500':
          description: Server Error
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 06 Sep 2023 10:21:45 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status500-ErrorNoBody1'
                description: ''
                examples:
                - - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 675649159-184801 (-177293139)'
                    errorCode: UNKNOWN_EXCEPTION
                contentMediaType: application/json;charset=UTF-8
              example:
              - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 675649159-184801 (-177293139)'
                errorCode: UNKNOWN_EXCEPTION
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/global-promotions-management/promotions:
    parameters: []
    post:
      tags:
      - Creation
      summary: Salesforce Promotions Creation
      description: 'Promotions Creation


        NOTE:


        In the Pre-request. Script Tab, make changes in the variables value accordingly with the real Process Name to invoke.'
      operationId: PromotionsCreation
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PromotionsCreationRequest'
              - examples:
                - name: Free Beverage
                  startDateTime: '2023-06-30T00:00:00.000Z'
                  displayName: Free Beverage
                  priorityNumber: 1
                  description: Buy 2 Get 1 free
                  endDateTime: '2023-12-30T00:00:00.000Z'
                  objective: To increase sales
                  loyaltyProgram:
                    name: Program-001
                  additionalFieldValues:
                    attributes:
                      promotionLocation__c: HYD
                  promotionLimits:
                    perLineItemLimit: 10
                    vouchersLimit: 100
                    vouchersPerCustomerLimit: 5
                    perCartLimit: 5
                    usePerCustomerLimit: 5
                    liabilityLimit: 10000
                    loyaltyProgramCurrency:
                      id: 0lcSB00000001TxYAI
                    pointsPerCustomerLimit: 5
                  promotionEligibility:
                    eligibleProductCategories:
                    - id: 0ZGSB0000002td74AA
                    eligibleProducts:
                    - name: Coke
                    eligibleChannels:
                    - channelType: Offline
                      store:
                        name: test Store
                      retailLocationGroup:
                        name: test
                    eligibleCustomerEvents:
                      event: MemberBirthday
                      eventPeriodUnit: Date
                    eligibleEnrollmentPeriod:
                      isEnrollmentRequired: true
                      enrollmentStartDate: '2023-06-30T00:00:00.000Z'
                      enrollmentEndDate: '2023-12-30T00:00:00.000Z'
                    eligibleLoyaltyTiers:
                    - tierGroup:
                        name: Group-001
                        id: 0ltSB00000000T3YAI
                      tier:
                        name: Silver
                        id: 0lgSB00000000srYAA
              contentMediaType: application/json
            example:
              name: Free Beverage
              startDateTime: '2023-06-30T00:00:00.000Z'
              displayName: Free Beverage
              priorityNumber: 1
              description: Buy 2 Get 1 free
              endDateTime: '2023-12-30T00:00:00.000Z'
              objective: To increase sales
              loyaltyProgram:
                name: Program-001
              additionalFieldValues:
                attributes:
                  promotionLocation__c: HYD
              promotionLimits:
                perLineItemLimit: 10
                vouchersLimit: 100
                vouchersPerCustomerLimit: 5
                perCartLimit: 5
                usePerCustomerLimit: 5
                liabilityLimit: 10000
                loyaltyProgramCurrency:
                  id: 0lcSB00000001TxYAI
                pointsPerCustomerLimit: 5
              promotionEligibility:
                eligibleProductCategories:
                - id: 0ZGSB0000002td74AA
                eligibleProducts:
                - name: Coke
                eligibleChannels:
                - channelType: Offline
                  store:
                    name: test Store
                  retailLocationGroup:
                    name: test
                eligibleCustomerEvents:
                  event: MemberBirthday
                  eventPeriodUnit: Date
                eligibleEnrollmentPeriod:
                  isEnrollmentRequired: true
                  enrollmentStartDate: '2023-06-30T00:00:00.000Z'
                  enrollmentEndDate: '2023-12-30T00:00:00.000Z'
                eligibleLoyaltyTiers:
                - tierGroup:
                    name: Group-001
                    id: 0ltSB00000000T3YAI
                  tier:
                    name: Silver
                    id: 0lgSB00000000srYAA
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Attributes14:
      title: Attributes14
      required:
      - promotionLocation__c
      type: object
      properties:
        promotionLocation__c:
          type: string
          example: example_value
      examples:
      - promotionLocation__c: HYD
    Version:
      title: Version
      required:
      - apiName
      - enabled
      - id
      - name
      - showExplExternally
      - startDate
      - steps
      - variables
      - versionNumber
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        enabled:
          type: boolean
          example: true
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        showExplExternally:
          type: boolean
          example: true
        startDate:
          type: string
          example: example_value
        steps:
          type: array
          items:
            type: string
          description: ''
          example: []
        variables:
          type: array
          items:
            type: string
          description: ''
          example: []
        versionNumber:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - apiName: myExpressionSet_V1
        enabled: false
        id: 9QMHo000000LBjOOAW
        name: myExpressionSet V1
        showExplExternally: false
        startDate: '2023-09-06T10:35:11.000Z'
        steps: []
        variables: []
        versionNumber: 1
    LoyaltyProgramCurrency:
      title: LoyaltyProgramCurrency
      required:
      - id
      type: object
      properties:
        id:
          type: string
          example: abc123
      examples:
      - id: 0lcSB00000001TxYAI
    EligibleCustomerEvents:
      title: EligibleCustomerEvents
      required:
      - event
      - eventPeriodUnit
      type: object
      properties:
        event:
          type: string
          example: example_value
        eventPeriodUnit:
          type: string
          example: example_value
      examples:
      - event: MemberBirthday
        eventPeriodUnit: Date
    EligibleLoyaltyTier:
      title: EligibleLoyaltyTier
      required:
      - tierGroup
      - tier
      type: object
      properties:
        tierGroup:
          $ref: '#/components/schemas/TierGroup'
        tier:
          $ref: '#/components/schemas/Tier'
      examples:
      - tierGroup:
          name: Group-001
          id: 0ltSB00000000T3YAI
        tier:
          name: Silver
          id: 0lgSB00000000srYAA
    Status500-ErrorNoBody1:
      title: Status500-ErrorNoBody1
      required:
      - message
      - errorCode
      type: object
      properties:
        message:
          type: string
          example: example_value
        errorCode:
          type: string
          example: example_value
      examples:
      - message: 'An unexpected error occurred. Please include this ErrorId if you contact support: 675649159-184801 (-177293139)'
        errorCode: UNKNOWN_EXCEPTION
    Tier:
      title: Tier
      required:
      - name
      - id
      type: object
      properties:
        name:
          type: string
          example: Example Title
        id:
          type: string
          example: abc123
      examples:
      - name: Silver
        id: 0lgSB00000000srYAA
    EligibleEnrollmentPeriod:
      title: EligibleEnrollmentPeriod
      required:
      - isEnrollmentRequired
      - enrollmentStartDate
      - enrollmentEndDate
      type: object
      properties:
        isEnrollmentRequired:
          type: boolean
          example: true
        enrollmentStartDate:
          type: string
          example: example_value
        enrollmentEndDate:
          type: string
          example: example_value
      examples:
      - isEnrollmentRequired: true
        enrollmentStartDate: '2023-06-30T00:00:00.000Z'
        enrollmentEndDate: '2023-12-30T00:00:00.000Z'
    Store:
      title: Store
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: Example Title
      examples:
      - name: test Store
    Status201-SuccessCreatedOnlyMandatoryFields:
      title: Status201-SuccessCreatedOnlyMandatoryFields
      required:
      - apiName
      - contextDefinitions
      - id
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        id:
          type: string
          example: abc123
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet
        contextDefinitions: []
        id: 9QLHo000000LBjJOAW
        name: myExpressionSet
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          enabled: false
          id: 9QMHo000000LBjOOAW
          name: myExpressionSet V1
          showExplExternally: false
          startDate: '2023-09-06T10:35:11.000Z'
          steps: []
          variables: []
          versionNumber: 1
    PromotionLimits:
      title: PromotionLimits
      required:
      - perLineItemLimit
      - vouchersLimit
      - vouchersPerCustomerLimit
      - perCartLimit
      - usePerCustomerLimit
      - liabilityLimit
      - loyaltyProgramCurrency
      - pointsPerCustomerLimit
      type: object
      properties:
        perLineItemLimit:
          type: integer
          contentEncoding: int32
          example: 10
        vouchersLimit:
          type: integer
          contentEncoding: int32
          example: 10
        vouchersPerCustomerLimit:
          type: integer
          contentEncoding: int32
          example: 10
        perCartLimit:
          type: integer
          contentEncoding: int32
          example: 10
        usePerCustomerLimit:
          type: integer
          contentEncoding: int32
          example: 10
        liabilityLimit:
          type: integer
          contentEncoding: int32
          example: 10
        loyaltyProgramCurrency:
          $ref: '#/components/schemas/LoyaltyProgramCurrency'
        pointsPerCustomerLimit:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - perLineItemLimit: 10
        vouchersLimit: 100
        vouchersPerCustomerLimit: 5
        perCartLimit: 5
        usePerCustomerLimit: 5
        liabilityLimit: 10000
        loyaltyProgramCurrency:
          id: 0lcSB00000001TxYAI
        pointsPerCustomerLimit: 5
    PromotionsCreationRequest:
      title: PromotionsCreationRequest
      required:
      - name
      - startDateTime
      - displayName
      - priorityNumber
      - description
      - endDateTime
      - objective
      - loyaltyProgram
      - additionalFieldValues
      - promotionLimits
      - promotionEligibility
      type: object
      properties:
        name:
          type: string
          example: Example Title
        startDateTime:
          type: string
          example: '2026-01-15T10:30:00Z'
        displayName:
          type: string
          example: example_value
        priorityNumber:
          type: integer
          contentEncoding: int32
          example: 10
        description:
          type: string
          example: A sample description.
        endDateTime:
          type: string
          example: '2026-01-15T10:30:00Z'
        objective:
          type: string
          example: example_value
        loyaltyProgram:
          $ref: '#/components/schemas/LoyaltyProgram'
        additionalFieldValues:
          $ref: '#/components/schemas/AdditionalFieldValues'
        promotionLimits:
          $ref: '#/components/schemas/PromotionLimits'
        promotionEligibility:
          $ref: '#/components/schemas/PromotionEligibility'
      examples:
      - name: Free Beverage
        startDateTime: '2023-06-30T00:00:00.000Z'
        displayName: Free Beverage
        priorityNumber: 1
        description: Buy 2 Get 1 free
        endDateTime: '2023-12-30T00:00:00.000Z'
        objective: To increase sales
        loyaltyProgram:
          name: Program-001
        additionalFieldValues:
          attributes:
            promotionLocation__c: HYD
        promotionLimits:
          perLineItemLimit: 10
          vouchersLimit: 100
          vouchersPerCustomerLimit: 5
          perCartLimit: 5
          usePerCustomerLimit: 5
          liabilityLimit: 10000
          loyaltyProgramCurrency:
            id: 0lcSB00000001TxYAI
          pointsPerCustomerLimit: 5
        promotionEligibility:
          eligibleProductCategories:
          - id: 0ZGSB0000002td74AA
          eligibleProducts:
          - name: Coke
          eligibleChannels:
          - channelType: Offline
            store:
              name: test Store
            retailLocationGroup:
              name: test
          eligibleCustomerEvents:
            event: MemberBirthday
            eventPeriodUnit: Date
          eligibleEnrollmentPeriod:
            isEnrollmentRequired: true
            enrollmentStartDate: '2023-06-30T00:00:00.000Z'
            enrollmentEndDate: '2023-12-30T00:00:00.000Z'
          eligibleLoyaltyTiers:
          - tierGroup:
              name: Group-001
              id: 0ltSB00000000T3YAI
            tier:
              name: Silver
              id: 0lgSB00000000srYAA
    AdditionalFieldValues:
      title: AdditionalFieldValues
      required:
      - attributes
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Attributes14'
      examples:
      - attributes:
          promotionLocation__c: HYD
    EligibleProductCategory:
      title: EligibleProductCategory
      required:
      - id
      type: object
      properties:
        id:
          type: string
          example: abc123
      examples:
      - id: 0ZGSB0000002td74AA
    ExpressionSetCreationRequest:
      title: ExpressionSetCreationRequest
      required:
      - apiName
      - contextDefinitions
      - name
      - usageType
      - versions
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        contextDefinitions:
          type: array
          items:
            type: string
          description: ''
          example: []
        name:
          type: string
          example: Example Title
        usageType:
          type: string
          example: example_value
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
          description: ''
          example: []
      examples:
      - apiName: myExpressionSet2
        contextDefinitions: []
        name: myExpressionSet3
        usageType: Bre
        versions:
        - apiName: myExpressionSet_V1
          enabled: false
          id: 9QMHo000000LBjOOAW
          name: myExpressionSet V1
          showExplExternally: false
          startDate: '2023-09-06T10:35:11.000Z'
          steps: []
          variables: []
          versionNumber: 1
    EligibleChannel:
      title: EligibleChannel
      required:
      - channelType
      - store
      - retailLocationGroup
      type: object
      properties:
        channelType:
          type: string
          example: example_value
        store:
          $ref: '#/components/schemas/Store'
        retailLocationGroup:
          $ref: '#/components/schemas/RetailLocationGroup'
      examples:
      - channelType: Offline
        store:
          name: test Store
        retailLocationGroup:
          name: test
    Status400-MissingMandatoryBodyField1:
      title: Status400-MissingMandatoryBodyField1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_INPUT
        message: Specify a value for name parameter and try again.
    PromotionEligibility:
      title: PromotionEligibility
      required:
      - eligibleProductCategories
      - eligibleProducts
      - eligibleChannels
      - eligibleCustomerEvents
      - eligibleEnrollmentPeriod
      - eligibleLoyaltyTiers
      type: object
      properties:
        eligibleProductCategories:
          type: array
          items:
            $ref: '#/components/schemas/EligibleProductCategory'
          description: ''
          example: []
        eligibleProducts:
          type: array
          items:
            $ref: '#/components/schemas/EligibleProduct'
          description: ''
          example: []
        eligibleChannels:
          type: array
          items:
            $ref: '#/components/schemas/EligibleChannel'
          description: ''
          example: []
        eligibleCustomerEvents:
          $ref: '#/components/schemas/EligibleCustomerEvents'
        eligibleEnrollmentPeriod:
          $ref: '#/components/schemas/EligibleEnrollmentPeriod'
        eligibleLoyaltyTiers:
          type: array
          items:
            $ref: '#/components/schemas/EligibleLoyaltyTier'
          description: ''
          example: []
      examples:
      - eligibleProductCategories:
        - id: 0ZGSB0000002td74AA
        eligibleProducts:
        - name: Coke
        eligibleChannels:
        - channelType: Offline
          store:
            name: test Store
          retailLocationGroup:
            name: test
        eligibleCustomerEvents:
          event: MemberBirthday
          eventPeriodUnit: Date
        eligibleEnrollmentPeriod:
          isEnrollmentRequired: true
          enrollmentStartDate: '2023-06-30T00:00:00.000Z'
          enrollmentEndDate: '2023-12-30T00:00:00.000Z'
        eligibleLoyaltyTiers:
        - tierGroup:
            name: Group-001
            id: 0ltSB00000000T3YAI
          tier:
            name: Silver
            id: 0lgSB00000000srYAA
    TierGroup:
      title: TierGroup
      required:
      - name
      - id
      type: object
      properties:
        name:
          type: string
          example: Example Title
        id:
          type: string
          example: abc123
      examples:
      - name: Group-001
        id: 0ltSB00000000T3YAI
    LoyaltyProgram:
      title: LoyaltyProgram
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: Example Title
      examples:
      - name: Program-001
    EligibleProduct:
      title: EligibleProduct
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: Example Title
      examples:
      - name: Coke
    RetailLocationGroup:
      title: RetailLocationGroup
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: Example Title
      examples:
      - name: test
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
