openapi: 3.2.0
info:
  title: Salesforce Identifiers API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Identifiers
paths:
  //:
    parameters: []
    get:
      tags:
      - Identifiers
      summary: Salesforce Id Token
      operationId: IDToken
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 15:56:09 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulIDToken'
                - examples:
                  - id: https://login.salesforce.com/id/00D.../005...
                    asserted_user: true
                    user_id: 005...
                    organization_id: 00D...
                    username: <username>
                    nick_name: <nickname>
                    display_name: <display_name>
                    email: <email>
                    email_verified: true
                    first_name: <firstname>
                    last_name: <lastname>
                    timezone: Europe/Paris
                    photos:
                      picture: https://<my_domain>/profilephoto/005/F
                      thumbnail: https://<my_domain>/profilephoto/005/T
                    addr_street: null
                    addr_city: null
                    addr_state: null
                    addr_country: FR
                    addr_zip: null
                    mobile_phone: null
                    mobile_phone_verified: false
                    is_lightning_login_user: false
                    status:
                      created_date: null
                      body: null
                    urls:
                      enterprise: https://<my_domain>/services/Soap/c/{version}/00D...
                      metadata: https://<my_domain>/services/Soap/m/{version}/00D...
                      partner: https://<my_domain>/services/Soap/u/{version}/00D...
                      rest: https://<my_domain>/services/data/v{version}/
                      sobjects: https://<my_domain>/services/data/v{version}/sobjects/
                      search: https://<my_domain>/services/data/v{version}/search/
                      query: https://<my_domain>/services/data/v{version}/query/
                      recent: https://<my_domain>/services/data/v{version}/recent/
                      tooling_soap: https://<my_domain>/services/Soap/T/{version}/00D...
                      tooling_rest: https://<my_domain>/services/data/v{version}/tooling/
                      profile: https://<my_domain>/0052o00000DOJ1PAAX
                      feeds: https://<my_domain>/services/data/v{version}/chatter/feeds
                      groups: https://<my_domain>/services/data/v{version}/chatter/groups
                      users: https://<my_domain>/services/data/v{version}/chatter/users
                      feed_items: https://<my_domain>/services/data/v{version}/chatter/feed-items
                      feed_elements: https://<my_domain>/services/data/v{version}/chatter/feed-elements
                      custom_domain: https://<my_domain>
                    active: true
                    user_type: STANDARD
                    language: en_US
                    locale: fr_FR_EURO
                    utcOffset: 3600000
                    last_modified_date: <date_time>
                    is_app_installed: true
                contentMediaType: application/json;charset=UTF-8
              example:
                id: https://login.salesforce.com/id/00D.../005...
                asserted_user: true
                user_id: 005...
                organization_id: 00D...
                username: <username>
                nick_name: <nickname>
                display_name: <display_name>
                email: <email>
                email_verified: true
                first_name: <firstname>
                last_name: <lastname>
                timezone: Europe/Paris
                photos:
                  picture: https://<my_domain>/profilephoto/005/F
                  thumbnail: https://<my_domain>/profilephoto/005/T
                addr_street: null
                addr_city: null
                addr_state: null
                addr_country: FR
                addr_zip: null
                mobile_phone: null
                mobile_phone_verified: false
                is_lightning_login_user: false
                status:
                  created_date: null
                  body: null
                urls:
                  enterprise: https://<my_domain>/services/Soap/c/{version}/00D...
                  metadata: https://<my_domain>/services/Soap/m/{version}/00D...
                  partner: https://<my_domain>/services/Soap/u/{version}/00D...
                  rest: https://<my_domain>/services/data/v{version}/
                  sobjects: https://<my_domain>/services/data/v{version}/sobjects/
                  search: https://<my_domain>/services/data/v{version}/search/
                  query: https://<my_domain>/services/data/v{version}/query/
                  recent: https://<my_domain>/services/data/v{version}/recent/
                  tooling_soap: https://<my_domain>/services/Soap/T/{version}/00D...
                  tooling_rest: https://<my_domain>/services/data/v{version}/tooling/
                  profile: https://<my_domain>/0052o00000DOJ1PAAX
                  feeds: https://<my_domain>/services/data/v{version}/chatter/feeds
                  groups: https://<my_domain>/services/data/v{version}/chatter/groups
                  users: https://<my_domain>/services/data/v{version}/chatter/users
                  feed_items: https://<my_domain>/services/data/v{version}/chatter/feed-items
                  feed_elements: https://<my_domain>/services/data/v{version}/chatter/feed-elements
                  custom_domain: https://<my_domain>
                active: true
                user_type: STANDARD
                language: en_US
                locale: fr_FR_EURO
                utcOffset: 3600000
                last_modified_date: <date_time>
                is_app_installed: true
      deprecated: false
      servers:
      - url: https://id
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Urls:
      title: Urls
      required:
      - enterprise
      - metadata
      - partner
      - rest
      - sobjects
      - search
      - query
      - recent
      - tooling_soap
      - tooling_rest
      - profile
      - feeds
      - groups
      - users
      - feed_items
      - feed_elements
      - custom_domain
      type: object
      properties:
        enterprise:
          type: string
          example: example_value
        metadata:
          type: string
          example: example_value
        partner:
          type: string
          example: example_value
        rest:
          type: string
          example: example_value
        sobjects:
          type: string
          example: example_value
        search:
          type: string
          example: example_value
        query:
          type: string
          example: example_value
        recent:
          type: string
          example: example_value
        tooling_soap:
          type: string
          example: example_value
        tooling_rest:
          type: string
          example: example_value
        profile:
          type: string
          example: example_value
        feeds:
          type: string
          example: example_value
        groups:
          type: string
          example: example_value
        users:
          type: string
          example: example_value
        feed_items:
          type: string
          example: example_value
        feed_elements:
          type: string
          example: example_value
        custom_domain:
          type: string
          example: example_value
      examples:
      - enterprise: https://<my_domain>/services/Soap/c/{version}/00D...
        metadata: https://<my_domain>/services/Soap/m/{version}/00D...
        partner: https://<my_domain>/services/Soap/u/{version}/00D...
        rest: https://<my_domain>/services/data/v{version}/
        sobjects: https://<my_domain>/services/data/v{version}/sobjects/
        search: https://<my_domain>/services/data/v{version}/search/
        query: https://<my_domain>/services/data/v{version}/query/
        recent: https://<my_domain>/services/data/v{version}/recent/
        tooling_soap: https://<my_domain>/services/Soap/T/{version}/00D...
        tooling_rest: https://<my_domain>/services/data/v{version}/tooling/
        profile: https://<my_domain>/0052o00000DOJ1PAAX
        feeds: https://<my_domain>/services/data/v{version}/chatter/feeds
        groups: https://<my_domain>/services/data/v{version}/chatter/groups
        users: https://<my_domain>/services/data/v{version}/chatter/users
        feed_items: https://<my_domain>/services/data/v{version}/chatter/feed-items
        feed_elements: https://<my_domain>/services/data/v{version}/chatter/feed-elements
        custom_domain: https://<my_domain>
    Photos:
      title: Photos
      required:
      - picture
      - thumbnail
      type: object
      properties:
        picture:
          type: string
          example: example_value
        thumbnail:
          type: string
          example: example_value
      examples:
      - picture: https://<file_domain>/profilephoto/005/F
        thumbnail: https://<file_domain>/profilephoto/005/T
    SuccessfulIDToken:
      title: SuccessfulIDToken
      required:
      - id
      - asserted_user
      - user_id
      - organization_id
      - username
      - nick_name
      - display_name
      - email
      - email_verified
      - first_name
      - last_name
      - timezone
      - photos
      - addr_street
      - addr_city
      - addr_state
      - addr_country
      - addr_zip
      - mobile_phone
      - mobile_phone_verified
      - is_lightning_login_user
      - status
      - urls
      - active
      - user_type
      - language
      - locale
      - utcOffset
      - last_modified_date
      - is_app_installed
      type: object
      properties:
        id:
          type: string
          example: abc123
        asserted_user:
          type: boolean
          example: true
        user_id:
          type: string
          example: '500123'
        organization_id:
          type: string
          example: '500123'
        username:
          type: string
          example: example_value
        nick_name:
          type: string
          example: example_value
        display_name:
          type: string
          example: example_value
        email:
          type: string
          example: user@example.com
        email_verified:
          type: boolean
          example: user@example.com
        first_name:
          type: string
          example: example_value
        last_name:
          type: string
          example: example_value
        timezone:
          type: string
          example: example_value
        photos:
          $ref: '#/components/schemas/Photos'
        addr_street:
          type:
          - string
          - 'null'
          example: example_value
        addr_city:
          type:
          - string
          - 'null'
          example: example_value
        addr_state:
          type:
          - string
          - 'null'
          example: example_value
        addr_country:
          type: string
          example: 42
        addr_zip:
          type:
          - string
          - 'null'
          example: example_value
        mobile_phone:
          type:
          - string
          - 'null'
          example: example_value
        mobile_phone_verified:
          type: boolean
          example: true
        is_lightning_login_user:
          type: boolean
          example: true
        status:
          $ref: '#/components/schemas/Status'
        urls:
          $ref: '#/components/schemas/Urls'
        active:
          type: boolean
          example: true
        user_type:
          type: string
          example: example_value
        language:
          type: string
          example: example_value
        locale:
          type: string
          example: example_value
        utcOffset:
          type: integer
          contentEncoding: int32
          example: 10
        last_modified_date:
          type: string
          example: example_value
        is_app_installed:
          type: boolean
          example: true
      examples:
      - id: https://login.salesforce.com/id/00D.../005...
        asserted_user: true
        user_id: 005...
        organization_id: 00D...
        username: <username>
        nick_name: <nickname>
        display_name: <display_name>
        email: <email>
        email_verified: true
        first_name: <firstname>
        last_name: <lastname>
        timezone: Europe/Paris
        photos:
          picture: https://<my_domain>/profilephoto/005/F
          thumbnail: https://<my_domain>/profilephoto/005/T
        addr_street: null
        addr_city: null
        addr_state: null
        addr_country: FR
        addr_zip: null
        mobile_phone: null
        mobile_phone_verified: false
        is_lightning_login_user: false
        status:
          created_date: null
          body: null
        urls:
          enterprise: https://<my_domain>/services/Soap/c/{version}/00D...
          metadata: https://<my_domain>/services/Soap/m/{version}/00D...
          partner: https://<my_domain>/services/Soap/u/{version}/00D...
          rest: https://<my_domain>/services/data/v{version}/
          sobjects: https://<my_domain>/services/data/v{version}/sobjects/
          search: https://<my_domain>/services/data/v{version}/search/
          query: https://<my_domain>/services/data/v{version}/query/
          recent: https://<my_domain>/services/data/v{version}/recent/
          tooling_soap: https://<my_domain>/services/Soap/T/{version}/00D...
          tooling_rest: https://<my_domain>/services/data/v{version}/tooling/
          profile: https://<my_domain>/0052o00000DOJ1PAAX
          feeds: https://<my_domain>/services/data/v{version}/chatter/feeds
          groups: https://<my_domain>/services/data/v{version}/chatter/groups
          users: https://<my_domain>/services/data/v{version}/chatter/users
          feed_items: https://<my_domain>/services/data/v{version}/chatter/feed-items
          feed_elements: https://<my_domain>/services/data/v{version}/chatter/feed-elements
          custom_domain: https://<my_domain>
        active: true
        user_type: STANDARD
        language: en_US
        locale: fr_FR_EURO
        utcOffset: 3600000
        last_modified_date: <date_time>
        is_app_installed: true
    Status:
      title: Status
      required:
      - created_date
      - body
      type: object
      properties:
        created_date:
          type:
          - string
          - 'null'
          example: example_value
        body:
          type:
          - string
          - 'null'
          example: example_value
      examples:
      - created_date: null
        body: null
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
