openapi: 3.2.0
info:
  title: Salesforce Suggested API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Suggested
paths:
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/suggestedArticles:
    parameters: []
    get:
      tags:
      - Suggested
      summary: Salesforce Sobject Suggested Articles
      description: Returns a list of suggested Salesforce Knowledge articles for a case, work order, or work order line item.
      operationId: SObjectSuggestedArticles
      parameters:
      - name: description
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: A sample description.
      - name: language
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: subject
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
