openapi: 3.2.0
info:
  title: Salesforce Accounts API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Accounts
paths:
  /data/v64.0/graphql:
    parameters: []
    post:
      tags:
      - Accounts
      summary: Salesforce Accounts
      operationId: Accounts
      parameters:
      - name: X-Chatter-Entity-Encoding
        in: header
        description: ''
        required: true
        schema:
          type: boolean
          examples:
          - false
        example: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 06 Oct 2023 09:03:56 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Accounts'
                - examples:
                  - data:
                      uiapi:
                        query:
                          Account:
                            edges:
                            - node:
                                Id: 0014H00002x6HUhQAM
                                Name:
                                  value: ACME Inc.
                            - node:
                                Id: 0014H00002LbR7QQAV
                                Name:
                                  value: ABC Computing
                            - node:
                                Id: 00158000006QBOqAAO
                                Name:
                                  value: GenePoint
                            - node:
                                Id: 00158000006QBOoAAO
                                Name:
                                  value: United Oil & Gas, Belgium
                            - node:
                                Id: 00158000006QBOpAAO
                                Name:
                                  value: United Oil & Gas, Singapore
                            - node:
                                Id: 00158000006QBOgAAO
                                Name:
                                  value: Edge Communications
                            - node:
                                Id: 00158000006QBOhAAO
                                Name:
                                  value: Burlington Textiles Corp of America
                    errors: []
                contentMediaType: application/json;charset=UTF-8
              example:
                data:
                  uiapi:
                    query:
                      Account:
                        edges:
                        - node:
                            Id: 0014H00002x6HUhQAM
                            Name:
                              value: ACME Inc.
                        - node:
                            Id: 0014H00002LbR7QQAV
                            Name:
                              value: ABC Computing
                        - node:
                            Id: 00158000006QBOqAAO
                            Name:
                              value: GenePoint
                        - node:
                            Id: 00158000006QBOoAAO
                            Name:
                              value: United Oil & Gas, Belgium
                        - node:
                            Id: 00158000006QBOpAAO
                            Name:
                              value: United Oil & Gas, Singapore
                        - node:
                            Id: 00158000006QBOgAAO
                            Name:
                              value: Edge Communications
                        - node:
                            Id: 00158000006QBOhAAO
                            Name:
                              value: Burlington Textiles Corp of America
                errors: []
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Name:
      title: Name
      required:
      - value
      type: object
      properties:
        value:
          type: string
          example: example_value
      examples:
      - value: ACME Inc.
    Accounts:
      title: Accounts
      required:
      - data
      - errors
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Data'
        errors:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - data:
          uiapi:
            query:
              Account:
                edges:
                - node:
                    Id: 0014H00002x6HUhQAM
                    Name:
                      value: ACME Inc.
                - node:
                    Id: 0014H00002LbR7QQAV
                    Name:
                      value: ABC Computing
                - node:
                    Id: 00158000006QBOqAAO
                    Name:
                      value: GenePoint
                - node:
                    Id: 00158000006QBOoAAO
                    Name:
                      value: United Oil & Gas, Belgium
                - node:
                    Id: 00158000006QBOpAAO
                    Name:
                      value: United Oil & Gas, Singapore
                - node:
                    Id: 00158000006QBOgAAO
                    Name:
                      value: Edge Communications
                - node:
                    Id: 00158000006QBOhAAO
                    Name:
                      value: Burlington Textiles Corp of America
        errors: []
    Account7:
      title: Account7
      required:
      - edges
      type: object
      properties:
        edges:
          type: array
          items:
            $ref: '#/components/schemas/Edge'
          description: ''
          example: []
      examples:
      - edges:
        - node:
            Id: 0014H00002x6HUhQAM
            Name:
              value: ACME Inc.
        - node:
            Id: 0014H00002LbR7QQAV
            Name:
              value: ABC Computing
        - node:
            Id: 00158000006QBOqAAO
            Name:
              value: GenePoint
        - node:
            Id: 00158000006QBOoAAO
            Name:
              value: United Oil & Gas, Belgium
        - node:
            Id: 00158000006QBOpAAO
            Name:
              value: United Oil & Gas, Singapore
        - node:
            Id: 00158000006QBOgAAO
            Name:
              value: Edge Communications
        - node:
            Id: 00158000006QBOhAAO
            Name:
              value: Burlington Textiles Corp of America
    Data:
      title: Data
      required:
      - uiapi
      type: object
      properties:
        uiapi:
          $ref: '#/components/schemas/Uiapi'
      examples:
      - uiapi:
          query:
            Account:
              edges:
              - node:
                  Id: 0014H00002x6HUhQAM
                  Name:
                    value: ACME Inc.
              - node:
                  Id: 0014H00002LbR7QQAV
                  Name:
                    value: ABC Computing
              - node:
                  Id: 00158000006QBOqAAO
                  Name:
                    value: GenePoint
              - node:
                  Id: 00158000006QBOoAAO
                  Name:
                    value: United Oil & Gas, Belgium
              - node:
                  Id: 00158000006QBOpAAO
                  Name:
                    value: United Oil & Gas, Singapore
              - node:
                  Id: 00158000006QBOgAAO
                  Name:
                    value: Edge Communications
              - node:
                  Id: 00158000006QBOhAAO
                  Name:
                    value: Burlington Textiles Corp of America
    Uiapi:
      title: Uiapi
      required:
      - query
      type: object
      properties:
        query:
          $ref: '#/components/schemas/Query'
      examples:
      - query:
          Account:
            edges:
            - node:
                Id: 0014H00002x6HUhQAM
                Name:
                  value: ACME Inc.
            - node:
                Id: 0014H00002LbR7QQAV
                Name:
                  value: ABC Computing
            - node:
                Id: 00158000006QBOqAAO
                Name:
                  value: GenePoint
            - node:
                Id: 00158000006QBOoAAO
                Name:
                  value: United Oil & Gas, Belgium
            - node:
                Id: 00158000006QBOpAAO
                Name:
                  value: United Oil & Gas, Singapore
            - node:
                Id: 00158000006QBOgAAO
                Name:
                  value: Edge Communications
            - node:
                Id: 00158000006QBOhAAO
                Name:
                  value: Burlington Textiles Corp of America
    Edge:
      title: Edge
      required:
      - node
      type: object
      properties:
        node:
          $ref: '#/components/schemas/Node'
      examples:
      - node:
          Id: 0014H00002x6HUhQAM
          Name:
            value: ACME Inc.
    Node:
      title: Node
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          example: abc123
        Name:
          $ref: '#/components/schemas/Name'
      examples:
      - Id: 0014H00002x6HUhQAM
        Name:
          value: ACME Inc.
    Query:
      title: Query
      required:
      - Account
      type: object
      properties:
        Account:
          $ref: '#/components/schemas/Account7'
      examples:
      - Account:
          edges:
          - node:
              Id: 0014H00002x6HUhQAM
              Name:
                value: ACME Inc.
          - node:
              Id: 0014H00002LbR7QQAV
              Name:
                value: ABC Computing
          - node:
              Id: 00158000006QBOqAAO
              Name:
                value: GenePoint
          - node:
              Id: 00158000006QBOoAAO
              Name:
                value: United Oil & Gas, Belgium
          - node:
              Id: 00158000006QBOpAAO
              Name:
                value: United Oil & Gas, Singapore
          - node:
              Id: 00158000006QBOgAAO
              Name:
                value: Edge Communications
          - node:
              Id: 00158000006QBOhAAO
              Name:
                value: Burlington Textiles Corp of America
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
