openapi: 3.2.0
info:
  title: Salesforce Connect API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Connect
paths:
  /.well-known/openid-configuration:
    parameters: []
    get:
      tags:
      - Connect
      summary: Salesforce Openid Connect Discovery Endpoint
      operationId: OpenIDConnectDiscoveryEndpoint
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 15:53:35 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Access-Control-Allow-Credentials:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 'false'
            Access-Control-Allow-Origin:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: '*'
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulOpenIDConnectDiscoveryEndpoint'
                - examples:
                  - end_session_endpoint: https://<my_domain>/services/auth/idp/oidc/logout
                    frontchannel_logout_supported: true
                    frontchannel_logout_session_supported: false
                    issuer: https://<my_domain>
                    authorization_endpoint: https://<my_domain>/services/oauth2/authorize
                    token_endpoint: https://<my_domain>/services/oauth2/token
                    revocation_endpoint: https://<my_domain>/services/oauth2/revoke
                    userinfo_endpoint: https://<my_domain>/services/oauth2/userinfo
                    jwks_uri: https://<my_domain>/id/keys
                    registration_endpoint: https://<my_domain>/services/oauth2/register
                    introspection_endpoint: https://<my_domain>/services/oauth2/introspect
                    scopes_supported:
                    - cdp_ingest_api
                    - custom_permissions
                    - cdp_segment_api
                    - content
                    - cdp_api
                    - chatbot_api
                    - cdp_identityresolution_api
                    - interaction_api
                    - wave_api
                    - web
                    - cdp_calculated_insight_api
                    - einstein_gpt_api
                    - offline_access
                    - id
                    - api
                    - eclair_api
                    - email
                    - pardot_api
                    - lightning
                    - visualforce
                    - cdp_query_api
                    - sfap_api
                    - address
                    - openid
                    - profile
                    - cdp_profile_api
                    - refresh_token
                    - phone
                    - user_registration_api
                    - pwdless_login_api
                    - chatter_api
                    - full
                    - forgot_password
                    response_types_supported:
                    - code
                    - token
                    - token id_token
                    subject_types_supported:
                    - public
                    id_token_signing_alg_values_supported:
                    - RS256
                    display_values_supported:
                    - page
                    - popup
                    - touch
                    token_endpoint_auth_methods_supported:
                    - client_secret_post
                    - client_secret_basic
                    - private_key_jwt
                    claims_supported:
                    - active
                    - address
                    - email
                    - email_verified
                    - family_name
                    - given_name
                    - is_app_installed
                    - language
                    - locale
                    - name
                    - nickname
                    - organization_id
                    - phone_number
                    - phone_number_verified
                    - photos
                    - picture
                    - preferred_username
                    - profile
                    - sub
                    - updated_at
                    - urls
                    - user_id
                    - user_type
                    - zoneinfo
                contentMediaType: application/json;charset=UTF-8
              example:
                end_session_endpoint: https://<my_domain>/services/auth/idp/oidc/logout
                frontchannel_logout_supported: true
                frontchannel_logout_session_supported: false
                issuer: https://<my_domain>
                authorization_endpoint: https://<my_domain>/services/oauth2/authorize
                token_endpoint: https://<my_domain>/services/oauth2/token
                revocation_endpoint: https://<my_domain>/services/oauth2/revoke
                userinfo_endpoint: https://<my_domain>/services/oauth2/userinfo
                jwks_uri: https://<my_domain>/id/keys
                registration_endpoint: https://<my_domain>/services/oauth2/register
                introspection_endpoint: https://<my_domain>/services/oauth2/introspect
                scopes_supported:
                - cdp_ingest_api
                - custom_permissions
                - cdp_segment_api
                - content
                - cdp_api
                - chatbot_api
                - cdp_identityresolution_api
                - interaction_api
                - wave_api
                - web
                - cdp_calculated_insight_api
                - einstein_gpt_api
                - offline_access
                - id
                - api
                - eclair_api
                - email
                - pardot_api
                - lightning
                - visualforce
                - cdp_query_api
                - sfap_api
                - address
                - openid
                - profile
                - cdp_profile_api
                - refresh_token
                - phone
                - user_registration_api
                - pwdless_login_api
                - chatter_api
                - full
                - forgot_password
                response_types_supported:
                - code
                - token
                - token id_token
                subject_types_supported:
                - public
                id_token_signing_alg_values_supported:
                - RS256
                display_values_supported:
                - page
                - popup
                - touch
                token_endpoint_auth_methods_supported:
                - client_secret_post
                - client_secret_basic
                - private_key_jwt
                claims_supported:
                - active
                - address
                - email
                - email_verified
                - family_name
                - given_name
                - is_app_installed
                - language
                - locale
                - name
                - nickname
                - organization_id
                - phone_number
                - phone_number_verified
                - photos
                - picture
                - preferred_username
                - profile
                - sub
                - updated_at
                - urls
                - user_id
                - user_type
                - zoneinfo
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /services/oauth2/introspect:
    parameters: []
    post:
      tags:
      - Connect
      summary: Salesforce Openid Connect Token Introspection Endpoint
      operationId: OpenIDConnectTokenIntrospectionEndpoint
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/x-www-form-urlencoded
          type: string
          examples:
          - application/x-www-form-urlencoded
        example: example_value
      - name: Accept
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - application/json
        example: example_value
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - token
              - token_type_hint
              - client_id
              - client_secret
              type: object
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  examples:
                  - access_token
                client_id:
                  type: string
                  examples:
                  - '{{vault:salesforce-consumer-key}}'
                client_secret:
                  type: string
              contentMediaType: application/x-www-form-urlencoded
            examples:
              OpenidconnecttokenintrospectionendpointRequestExample:
                summary: Default OpenIDConnectTokenIntrospectionEndpoint request
                x-microcks-default: true
                value:
                  token: CAUQAA
                  token_type_hint: CAUQAA
                  client_id: '500123'
                  client_secret: example_value
        required: false
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 15:54:42 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: string
                examples:
                - "{\n    \"active\": true,\n    \"scope\": \"<scope_list>\",\n    \"client_id\": \"<client_id>\",\n    \"username\": \"<username>\",\n    \"sub\": \"https://login.salesforce.com/id/00D.../005...\",\n    \"token_type\": \"access_token\",\n    \"exp\": <timestamp>,\n    \"iat\": <timestamp>,\n    \"nbf\": <timestamp>\n}"
                contentMediaType: application/json;charset=UTF-8
              example: "{\n    \"active\": true,\n    \"scope\": \"<scope_list>\",\n    \"client_id\": \"<client_id>\",\n    \"username\": \"<username>\",\n    \"sub\": \"https://login.salesforce.com/id/00D.../005...\",\n    \"token_type\": \"access_token\",\n    \"exp\": <timestamp>,\n    \"iat\": <timestamp>,\n    \"nbf\": <timestamp>\n}"
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SuccessfulOpenIDConnectDiscoveryEndpoint:
      title: SuccessfulOpenIDConnectDiscoveryEndpoint
      required:
      - end_session_endpoint
      - frontchannel_logout_supported
      - frontchannel_logout_session_supported
      - issuer
      - authorization_endpoint
      - token_endpoint
      - revocation_endpoint
      - userinfo_endpoint
      - jwks_uri
      - registration_endpoint
      - introspection_endpoint
      - scopes_supported
      - response_types_supported
      - subject_types_supported
      - id_token_signing_alg_values_supported
      - display_values_supported
      - token_endpoint_auth_methods_supported
      - claims_supported
      type: object
      properties:
        end_session_endpoint:
          type: string
          example: example_value
        frontchannel_logout_supported:
          type: boolean
          example: true
        frontchannel_logout_session_supported:
          type: boolean
          example: true
        issuer:
          type: string
          example: example_value
        authorization_endpoint:
          type: string
          example: example_value
        token_endpoint:
          type: string
          example: CAUQAA
        revocation_endpoint:
          type: string
          example: example_value
        userinfo_endpoint:
          type: string
          example: example_value
        jwks_uri:
          type: string
          example: example_value
        registration_endpoint:
          type: string
          example: example_value
        introspection_endpoint:
          type: string
          example: example_value
        scopes_supported:
          type: array
          items:
            type: string
          description: ''
          example: []
        response_types_supported:
          type: array
          items:
            type: string
          description: ''
          example: []
        subject_types_supported:
          type: array
          items:
            type: string
          description: ''
          example: []
        id_token_signing_alg_values_supported:
          type: array
          items:
            type: string
          description: ''
          example: CAUQAA
        display_values_supported:
          type: array
          items:
            type: string
          description: ''
          example: []
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
          description: ''
          example: CAUQAA
        claims_supported:
          type: array
          items:
            type: string
          description: ''
          example: []
      examples:
      - end_session_endpoint: https://<my_domain>/services/auth/idp/oidc/logout
        frontchannel_logout_supported: true
        frontchannel_logout_session_supported: false
        issuer: https://<my_domain>
        authorization_endpoint: https://<my_domain>/services/oauth2/authorize
        token_endpoint: https://<my_domain>/services/oauth2/token
        revocation_endpoint: https://<my_domain>/services/oauth2/revoke
        userinfo_endpoint: https://<my_domain>/services/oauth2/userinfo
        jwks_uri: https://<my_domain>/id/keys
        registration_endpoint: https://<my_domain>/services/oauth2/register
        introspection_endpoint: https://<my_domain>/services/oauth2/introspect
        scopes_supported:
        - cdp_ingest_api
        - custom_permissions
        - cdp_segment_api
        - content
        - cdp_api
        - chatbot_api
        - cdp_identityresolution_api
        - interaction_api
        - wave_api
        - web
        - cdp_calculated_insight_api
        - einstein_gpt_api
        - offline_access
        - id
        - api
        - eclair_api
        - email
        - pardot_api
        - lightning
        - visualforce
        - cdp_query_api
        - sfap_api
        - address
        - openid
        - profile
        - cdp_profile_api
        - refresh_token
        - phone
        - user_registration_api
        - pwdless_login_api
        - chatter_api
        - full
        - forgot_password
        response_types_supported:
        - code
        - token
        - token id_token
        subject_types_supported:
        - public
        id_token_signing_alg_values_supported:
        - RS256
        display_values_supported:
        - page
        - popup
        - touch
        token_endpoint_auth_methods_supported:
        - client_secret_post
        - client_secret_basic
        - private_key_jwt
        claims_supported:
        - active
        - address
        - email
        - email_verified
        - family_name
        - given_name
        - is_app_installed
        - language
        - locale
        - name
        - nickname
        - organization_id
        - phone_number
        - phone_number_verified
        - photos
        - picture
        - preferred_username
        - profile
        - sub
        - updated_at
        - urls
        - user_id
        - user_type
        - zoneinfo
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
