openapi: 3.2.0
info:
  title: Salesforce Games API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Games
paths:
  /data/v64.0/game/participant/{participantId}/games:
    parameters: []
    get:
      tags:
      - Games
      summary: Salesforce Games
      description: '[Games](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_gamification.htm)


        NOTE:


        In the Pre-request. Script Tab, make changes in the variables value accordingly with the real Process Name to invoke.'
      operationId: Games
      parameters:
      - name: participantId
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
