openapi: 3.2.0
info:
  title: Salesforce Tabs API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Tabs
paths:
  /data/v64.0/tabs:
    parameters: []
    get:
      tags:
      - Tabs
      summary: Salesforce Tabs
      description: 'f a survey field can be translated or is already translated into a particular language, you can add or change the translated value of the survey field.


        https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/request_survey_translate_add_change.htm'
      operationId: Tabs
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 27 Sep 2023 15:29:05 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=6/15000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tab'
                description: ''
                examples:
                - - colors:
                    - color: 5867E8
                      context: primary
                      theme: theme4
                    - color: 236FBD
                      context: primary
                      theme: theme3
                    custom: false
                    iconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts32.png
                    icons:
                    - contentType: image/png
                      height: 32
                      theme: theme3
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts32.png
                      width: 32
                    - contentType: image/png
                      height: 16
                      theme: theme3
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts16.png
                      width: 16
                    - contentType: image/svg+xml
                      height: 0
                      theme: theme4
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account.svg
                      width: 0
                    - contentType: image/png
                      height: 60
                      theme: theme4
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_60.png
                      width: 60
                    - contentType: image/png
                      height: 120
                      theme: theme4
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                      width: 120
                    label: Accounts
                    miniIconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts16.png
                    name: standard-Account
                    sobjectName: Account
                    url: https://nto-df17-demo-dev-ed.my.salesforce.com/001/o
                  - colors:
                    - color: '056764'
                      context: primary
                      theme: theme4
                    - color: '056764'
                      context: primary
                      theme: theme3
                    custom: false
                    iconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench32.png
                    icons:
                    - contentType: image/png
                      height: 32
                      theme: theme3
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench32.png
                      width: 32
                    - contentType: image/png
                      height: 16
                      theme: theme3
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench16.png
                      width: 16
                    label: Active Scratch Orgs
                    miniIconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench16.png
                    name: standard-ActiveScratchOrg
                    sobjectName: ActiveScratchOrg
                    url: https://nto-df17-demo-dev-ed.my.salesforce.com/2AS/o
                  - colors:
                    - color: 06A59A
                      context: primary
                      theme: theme4
                    - color: A55647
                      context: primary
                      theme: theme3
                    custom: false
                    iconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports32.png
                    icons:
                    - contentType: image/png
                      height: 32
                      theme: theme3
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports32.png
                      width: 32
                    - contentType: image/png
                      height: 16
                      theme: theme3
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports16.png
                      width: 16
                    - contentType: image/svg+xml
                      height: 0
                      theme: theme4
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/report.svg
                      width: 0
                    - contentType: image/png
                      height: 60
                      theme: theme4
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/report_60.png
                      width: 60
                    - contentType: image/png
                      height: 120
                      theme: theme4
                      url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/report_120.png
                      width: 120
                    label: Reports
                    miniIconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports16.png
                    name: standard-report
                    sobjectName: Report
                    url: https://nto-df17-demo-dev-ed.my.salesforce.com/00O/o
                contentMediaType: application/json;charset=UTF-8
              example:
              - colors:
                - color: 5867E8
                  context: primary
                  theme: theme4
                - color: 236FBD
                  context: primary
                  theme: theme3
                custom: false
                iconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts32.png
                icons:
                - contentType: image/png
                  height: 32
                  theme: theme3
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts32.png
                  width: 32
                - contentType: image/png
                  height: 16
                  theme: theme3
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts16.png
                  width: 16
                - contentType: image/svg+xml
                  height: 0
                  theme: theme4
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account.svg
                  width: 0
                - contentType: image/png
                  height: 60
                  theme: theme4
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_60.png
                  width: 60
                - contentType: image/png
                  height: 120
                  theme: theme4
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                  width: 120
                label: Accounts
                miniIconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts16.png
                name: standard-Account
                sobjectName: Account
                url: https://nto-df17-demo-dev-ed.my.salesforce.com/001/o
              - colors:
                - color: '056764'
                  context: primary
                  theme: theme4
                - color: '056764'
                  context: primary
                  theme: theme3
                custom: false
                iconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench32.png
                icons:
                - contentType: image/png
                  height: 32
                  theme: theme3
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench32.png
                  width: 32
                - contentType: image/png
                  height: 16
                  theme: theme3
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench16.png
                  width: 16
                label: Active Scratch Orgs
                miniIconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/wrench16.png
                name: standard-ActiveScratchOrg
                sobjectName: ActiveScratchOrg
                url: https://nto-df17-demo-dev-ed.my.salesforce.com/2AS/o
              - colors:
                - color: 06A59A
                  context: primary
                  theme: theme4
                - color: A55647
                  context: primary
                  theme: theme3
                custom: false
                iconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports32.png
                icons:
                - contentType: image/png
                  height: 32
                  theme: theme3
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports32.png
                  width: 32
                - contentType: image/png
                  height: 16
                  theme: theme3
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports16.png
                  width: 16
                - contentType: image/svg+xml
                  height: 0
                  theme: theme4
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/report.svg
                  width: 0
                - contentType: image/png
                  height: 60
                  theme: theme4
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/report_60.png
                  width: 60
                - contentType: image/png
                  height: 120
                  theme: theme4
                  url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/report_120.png
                  width: 120
                label: Reports
                miniIconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/reports16.png
                name: standard-report
                sobjectName: Report
                url: https://nto-df17-demo-dev-ed.my.salesforce.com/00O/o
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Color:
      title: Color
      required:
      - color
      - context
      - theme
      type: object
      properties:
        color:
          type: string
          example: example_value
        context:
          type: string
          example: example_value
        theme:
          type: string
          example: example_value
      examples:
      - color: 5867E8
        context: primary
        theme: theme4
    Tab:
      title: Tab
      required:
      - colors
      - custom
      - iconUrl
      - icons
      - label
      - miniIconUrl
      - name
      - sobjectName
      - url
      type: object
      properties:
        colors:
          type: array
          items:
            $ref: '#/components/schemas/Color'
          description: ''
          example: []
        custom:
          type: boolean
          example: true
        iconUrl:
          type: string
          example: https://www.example.com
        icons:
          type: array
          items:
            $ref: '#/components/schemas/Icon'
          description: ''
          example: []
        label:
          type: string
          example: Example Title
        miniIconUrl:
          type: string
          example: https://www.example.com
        name:
          type: string
          example: Example Title
        sobjectName:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
      examples:
      - colors:
        - color: 5867E8
          context: primary
          theme: theme4
        - color: 236FBD
          context: primary
          theme: theme3
        custom: false
        iconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts32.png
        icons:
        - contentType: image/png
          height: 32
          theme: theme3
          url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts32.png
          width: 32
        - contentType: image/png
          height: 16
          theme: theme3
          url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts16.png
          width: 16
        - contentType: image/svg+xml
          height: 0
          theme: theme4
          url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account.svg
          width: 0
        - contentType: image/png
          height: 60
          theme: theme4
          url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_60.png
          width: 60
        - contentType: image/png
          height: 120
          theme: theme4
          url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
          width: 120
        label: Accounts
        miniIconUrl: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts16.png
        name: standard-Account
        sobjectName: Account
        url: https://nto-df17-demo-dev-ed.my.salesforce.com/001/o
    Icon:
      title: Icon
      required:
      - contentType
      - height
      - theme
      - url
      - width
      type: object
      properties:
        contentType:
          type: string
          example: example_value
        height:
          type: integer
          contentEncoding: int32
          example: 10
        theme:
          type: string
          example: example_value
        url:
          type: string
          example: https://www.example.com
        width:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - contentType: image/png
        height: 32
        theme: theme3
        url: https://nto-df17-demo-dev-ed.my.salesforce.com/img/icon/accounts32.png
        width: 32
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
