openapi: 3.2.0
info:
  title: Salesforce Execution API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Execution
paths:
  /data/v64.0/connect/realtime/loyalty/programs/{loyaltyProgramName}:
    parameters: []
    post:
      tags:
      - Execution
      summary: Salesforce Transaction Journals Execution
      description: 'Standard Documentation:


        [https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_loyalty_program_realtime.htm](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_loyalty_program_realtime.htm)'
      operationId: TransactionJournalsExecution
      parameters:
      - name: loyaltyProgramName
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TransactionJournalsExecutionRequest'
              - examples:
                - transactionJournals:
                  - ActivityDate: '2023-11-27T12:45:19.000Z'
                    JournalTypeId: 0lERM00000001Bb2AI
                    LoyaltyProgramId: 0lpRM00000002YTYAY
                    MemberId: 0lMRM0000002Fmu2AE
                    Status: Pending
                    appliedPromotions:
                    - promotionId: 0c8RM0000004FiXYAU
                      rewards:
                      - rewardType: Discount
                        discountAmount: 15
                      - rewardType: Points
                        loyaltyProgramCurrencyName: Coins
                        points: 100
                        relatedInformation: Test
                        notes: Test
                      - rewardType: Voucher
                        voucherDefinitionName: 10% Discount Voucher
                        voucherExpirationDate: '2023-12-15T00:00:00.000Z'
                        voucherEffectiveDate: '2023-11-29T00:00:00.000Z'
                        notes: Test
                      - rewardType: Badge
                        loyaltyProgramBadgeName: Gen AI Badge
                        memberBadgeStatus: Active
                        badgeValidityEndDate: '2023-12-15T00:00:00.000Z'
                        reason: Test
                      - rewardType: Game
                        gameDefinitionName: TestGame
              contentMediaType: application/json
            example:
              transactionJournals:
              - ActivityDate: '2023-11-27T12:45:19.000Z'
                JournalTypeId: 0lERM00000001Bb2AI
                LoyaltyProgramId: 0lpRM00000002YTYAY
                MemberId: 0lMRM0000002Fmu2AE
                Status: Pending
                appliedPromotions:
                - promotionId: 0c8RM0000004FiXYAU
                  rewards:
                  - rewardType: Discount
                    discountAmount: 15
                  - rewardType: Points
                    loyaltyProgramCurrencyName: Coins
                    points: 100
                    relatedInformation: Test
                    notes: Test
                  - rewardType: Voucher
                    voucherDefinitionName: 10% Discount Voucher
                    voucherExpirationDate: '2023-12-15T00:00:00.000Z'
                    voucherEffectiveDate: '2023-11-29T00:00:00.000Z'
                    notes: Test
                  - rewardType: Badge
                    loyaltyProgramBadgeName: Gen AI Badge
                    memberBadgeStatus: Active
                    badgeValidityEndDate: '2023-12-15T00:00:00.000Z'
                    reason: Test
                  - rewardType: Game
                    gameDefinitionName: TestGame
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Reward:
      title: Reward
      required:
      - rewardType
      type: object
      properties:
        rewardType:
          type: string
          example: example_value
        discountAmount:
          type: integer
          contentEncoding: int32
          example: 42
        loyaltyProgramCurrencyName:
          type: string
          example: example_value
        points:
          type: integer
          contentEncoding: int32
          example: 10
        relatedInformation:
          type: string
          example: example_value
        notes:
          type: string
          example: example_value
        voucherDefinitionName:
          type: string
          example: example_value
        voucherExpirationDate:
          type: string
          example: example_value
        voucherEffectiveDate:
          type: string
          example: example_value
        loyaltyProgramBadgeName:
          type: string
          example: example_value
        memberBadgeStatus:
          type: string
          example: example_value
        badgeValidityEndDate:
          type: string
          example: example_value
        reason:
          type: string
          example: example_value
        gameDefinitionName:
          type: string
          example: example_value
      examples:
      - rewardType: Discount
        discountAmount: 15
    AppliedPromotion:
      title: AppliedPromotion
      required:
      - promotionId
      - rewards
      type: object
      properties:
        promotionId:
          type: string
          example: '500123'
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/Reward'
          description: ''
          example: []
      examples:
      - promotionId: 0c8RM0000004FiXYAU
        rewards:
        - rewardType: Discount
          discountAmount: 15
        - rewardType: Points
          loyaltyProgramCurrencyName: Coins
          points: 100
          relatedInformation: Test
          notes: Test
        - rewardType: Voucher
          voucherDefinitionName: 10% Discount Voucher
          voucherExpirationDate: '2023-12-15T00:00:00.000Z'
          voucherEffectiveDate: '2023-11-29T00:00:00.000Z'
          notes: Test
        - rewardType: Badge
          loyaltyProgramBadgeName: Gen AI Badge
          memberBadgeStatus: Active
          badgeValidityEndDate: '2023-12-15T00:00:00.000Z'
          reason: Test
        - rewardType: Game
          gameDefinitionName: TestGame
    TransactionJournalsExecutionRequest:
      title: TransactionJournalsExecutionRequest
      required:
      - transactionJournals
      type: object
      properties:
        transactionJournals:
          type: array
          items:
            $ref: '#/components/schemas/TransactionJournal3'
          description: ''
          example: []
      examples:
      - transactionJournals:
        - ActivityDate: '2023-11-27T12:45:19.000Z'
          JournalTypeId: 0lERM00000001Bb2AI
          LoyaltyProgramId: 0lpRM00000002YTYAY
          MemberId: 0lMRM0000002Fmu2AE
          Status: Pending
          appliedPromotions:
          - promotionId: 0c8RM0000004FiXYAU
            rewards:
            - rewardType: Discount
              discountAmount: 15
            - rewardType: Points
              loyaltyProgramCurrencyName: Coins
              points: 100
              relatedInformation: Test
              notes: Test
            - rewardType: Voucher
              voucherDefinitionName: 10% Discount Voucher
              voucherExpirationDate: '2023-12-15T00:00:00.000Z'
              voucherEffectiveDate: '2023-11-29T00:00:00.000Z'
              notes: Test
            - rewardType: Badge
              loyaltyProgramBadgeName: Gen AI Badge
              memberBadgeStatus: Active
              badgeValidityEndDate: '2023-12-15T00:00:00.000Z'
              reason: Test
            - rewardType: Game
              gameDefinitionName: TestGame
    TransactionJournal3:
      title: TransactionJournal3
      required:
      - ActivityDate
      - JournalTypeId
      - LoyaltyProgramId
      - MemberId
      - Status
      - appliedPromotions
      type: object
      properties:
        ActivityDate:
          type: string
          example: example_value
        JournalTypeId:
          type: string
          example: '500123'
        LoyaltyProgramId:
          type: string
          example: '500123'
        MemberId:
          type: string
          example: '500123'
        Status:
          type: string
          example: example_value
        appliedPromotions:
          type: array
          items:
            $ref: '#/components/schemas/AppliedPromotion'
          description: ''
          example: []
      examples:
      - ActivityDate: '2023-11-27T12:45:19.000Z'
        JournalTypeId: 0lERM00000001Bb2AI
        LoyaltyProgramId: 0lpRM00000002YTYAY
        MemberId: 0lMRM0000002Fmu2AE
        Status: Pending
        appliedPromotions:
        - promotionId: 0c8RM0000004FiXYAU
          rewards:
          - rewardType: Discount
            discountAmount: 15
          - rewardType: Points
            loyaltyProgramCurrencyName: Coins
            points: 100
            relatedInformation: Test
            notes: Test
          - rewardType: Voucher
            voucherDefinitionName: 10% Discount Voucher
            voucherExpirationDate: '2023-12-15T00:00:00.000Z'
            voucherEffectiveDate: '2023-11-29T00:00:00.000Z'
            notes: Test
          - rewardType: Badge
            loyaltyProgramBadgeName: Gen AI Badge
            memberBadgeStatus: Active
            badgeValidityEndDate: '2023-12-15T00:00:00.000Z'
            reason: Test
          - rewardType: Game
            gameDefinitionName: TestGame
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
