openapi: 3.2.0
info:
  title: Salesforce Invoke API
  description: Find the resources you need to start building.
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Invoke
paths:
  /data/v64.0/connect/business-rules/decision-table/lookup/{decisionTableId}:
    parameters: []
    post:
      tags:
      - Invoke
      summary: Salesforce Invoke
      description: '# Invoke Decision Tables


        Invoke a decision table by passing multiple input conditions within the same request.Resource


        ```

        /connect/business-rules/decision-table/lookup/${decisionTableId}


        ```


        Resource example


        ```

        https://yourInstance.salesforce.com/services/data/v59.0/connect

        /business-rules/decision-table/lookup/${0lDD2000000004NMAQ}


        ```


        Available version


        58.0


        Requires Chatter


        No


        HTTP methods


        POST


        Request body for POST


        JSON example


        ```

        {

        "datasetLinkName" : "transactionMapping",

        “conditions” :[

        {

        “conditionsList”: [

        {

        "fieldName": "Product__c",

        "value": "Nike",

        "operator": "Matches" //Operator is optional

        },

        {

        "fieldName": "Price__c",

        "value": 1000,

        "operator": "GreaterThan"

        }

        ]

        },

        {

        “conditionsList”: [

        {

        "fieldName": "Product__c",

        "value": "Adidas",

        "operator": "Matches" //Operator is optional

        },

        {

        "fieldName": "Price__c",

        "value": 1500,

        "operator": "GreaterThan"

        }

        ]


        ```


        Properties


        | Name | Type | Description | Required or Optional | Available Version |

        | --- | --- | --- | --- | --- |

        | conditions | Decision Table Condition List | The list of decision table conditions on which the decision table executes and provides outcomes. | Required | 58.0 |

        | datasetLinkName | String | The API name of the dataset link provided as an input for the decision table execution. | Optional | 58.0 |


        Response body for POST


        Decision Table Bulk Outcome


        # Decision Table Bulk Outcome


        Output representation of the decision table bulk look-up.


        | Property Name | Type | Description | Filter Group and Version | Available Version |

        | --- | --- | --- | --- | --- |

        | outputs | Decision Table Outcome | List of the output of the Decision Table bulk lookup. | Small, 58.0 | 58.0 |'
      operationId: Invoke
      parameters:
      - name: decisionTableId
        in: path
        description: Decision Table Id
        required: true
        schema:
          type: string
          examples:
          - 0lDHo0000008Po3
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InvokeRequest'
              - examples:
                - datasetLinkName: transactionMapping
                  conditions:
                  - conditionsList:
                    - fieldName: Product__c
                      value: Nike
                      operator: Matches
                    - fieldName: Price__c
                      value: 1000
                      operator: GreaterThan
                  - conditionsList:
                    - fieldName: Product__c
                      value: Adidas
                      operator: Matches
                    - fieldName: Price__c
                      value: 1500
                      operator: GreaterThan
              contentMediaType: application/json
            example:
              datasetLinkName: transactionMapping
              conditions:
              - conditionsList:
                - fieldName: Product__c
                  value: Nike
                  operator: Matches
                - fieldName: Price__c
                  value: 1000
                  operator: GreaterThan
              - conditionsList:
                - fieldName: Product__c
                  value: Adidas
                  operator: Matches
                - fieldName: Price__c
                  value: 1500
                  operator: GreaterThan
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 14:17:24 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status201-Error'
                - examples:
                  - outputs:
                    - errorCode: 400
                      errorMessage: Specify valid name for Data set Link
                      outcomeList: []
                      outcomeType: null
                      successStatus: false
                    - errorCode: 400
                      errorMessage: Specify valid name for Data set Link
                      outcomeList: []
                      outcomeType: null
                      successStatus: false
                contentMediaType: application/json;charset=UTF-8
              example:
                outputs:
                - errorCode: 400
                  errorMessage: Specify valid name for Data set Link
                  outcomeList: []
                  outcomeType: null
                  successStatus: false
                - errorCode: 400
                  errorMessage: Specify valid name for Data set Link
                  outcomeList: []
                  outcomeType: null
                  successStatus: false
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 14:16:11 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status400-InvalidOperation1'
                description: ''
                examples:
                - - errorCode: INVALID_OPERATION
                    message: Can't execute decision table which is not in Active state.
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: INVALID_OPERATION
                message: Can't execute decision table which is not in Active state.
        '404':
          description: Not Found
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Tue, 19 Sep 2023 14:11:45 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status404-NotFound1'
                description: ''
                examples:
                - - errorCode: NOT_FOUND
                    message: The requested resource does not exist
                contentMediaType: application/json;charset=UTF-8
              example:
              - errorCode: NOT_FOUND
                message: The requested resource does not exist
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Status404-NotFound1:
      title: Status404-NotFound1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: NOT_FOUND
        message: The requested resource does not exist
    Status400-InvalidOperation1:
      title: Status400-InvalidOperation1
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
      examples:
      - errorCode: INVALID_OPERATION
        message: Can't execute decision table which is not in Active state.
    Status201-Error:
      title: Status201-Error
      required:
      - outputs
      type: object
      properties:
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output4'
          description: ''
          example: []
      examples:
      - outputs:
        - errorCode: 400
          errorMessage: Specify valid name for Data set Link
          outcomeList: []
          outcomeType: null
          successStatus: false
        - errorCode: 400
          errorMessage: Specify valid name for Data set Link
          outcomeList: []
          outcomeType: null
          successStatus: false
    InvokeRequest:
      title: InvokeRequest
      required:
      - datasetLinkName
      - conditions
      type: object
      properties:
        datasetLinkName:
          type: string
          example: example_value
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          description: ''
          example: []
      examples:
      - datasetLinkName: transactionMapping
        conditions:
        - conditionsList:
          - fieldName: Product__c
            value: Nike
            operator: Matches
          - fieldName: Price__c
            value: 1000
            operator: GreaterThan
        - conditionsList:
          - fieldName: Product__c
            value: Adidas
            operator: Matches
          - fieldName: Price__c
            value: 1500
            operator: GreaterThan
    ConditionsList:
      title: ConditionsList
      required:
      - fieldName
      - value
      - operator
      type: object
      properties:
        fieldName:
          type: string
          example: example_value
        value:
          oneOf:
          - type: string
          - type: integer
            contentEncoding: int32
          example: example_value
        operator:
          type: string
          example: example_value
      examples:
      - fieldName: Product__c
        value: Nike
        operator: Matches
    Condition:
      title: Condition
      required:
      - conditionsList
      type: object
      properties:
        conditionsList:
          type: array
          items:
            $ref: '#/components/schemas/ConditionsList'
          description: ''
          example: []
      examples:
      - conditionsList:
        - fieldName: Product__c
          value: Nike
          operator: Matches
        - fieldName: Price__c
          value: 1000
          operator: GreaterThan
    Output4:
      title: Output4
      required:
      - errorCode
      - errorMessage
      - outcomeList
      - outcomeType
      - successStatus
      type: object
      properties:
        errorCode:
          type: integer
          contentEncoding: int32
          example: 10
        errorMessage:
          type: string
          example: example_value
        outcomeList:
          type: array
          items:
            type: string
          description: ''
          example: []
        outcomeType:
          type:
          - string
          - 'null'
          example: example_value
        successStatus:
          type: boolean
          example: true
      examples:
      - errorCode: 400
        errorMessage: Specify valid name for Data set Link
        outcomeList: []
        outcomeType: null
        successStatus: false
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
