openapi: 3.2.0
info:
  title: Salesforce Blobs API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Blobs
paths:
  /data/v64.0/sobjects/{SOBJECT_API_NAME}/{RECORD_ID}/{BLOB_FIELD}:
    parameters: []
    get:
      tags:
      - Blobs
      summary: Salesforce Sobject Blob Retrieve
      description: Retrieves the specified blob field from an individual record.
      operationId: SObjectBlobRetrieve
      parameters:
      - name: SOBJECT_API_NAME
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: RECORD_ID
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: '500123'
      - name: BLOB_FIELD
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: application/json
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
