openapi: 3.2.0
info:
  title: Salesforce Favorite API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Favorite
paths:
  /data/v64.0/ui-api/favorites/{FAVORITE_ID}:
    parameters: []
    get:
      tags:
      - Favorite
      summary: Salesforce Get a Favorite
      description: Get a favorite.
      operationId: GetaFavorite
      parameters:
      - name: FAVORITE_ID
        in: path
        description: The ID of a favorite
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 06 Oct 2023 10:04:41 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/GetaFavorite'
                - examples:
                  - accessCount: 1
                    iconColor: 5867E8
                    iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                    id: 0MV4H0000004qIeWAI
                    lastAccessDate: '2023-10-06T10:03:32.000Z'
                    name: AllAccountsListView
                    objectType: Account
                    sortOrder: 1
                    subtitle: Accounts
                    target: 00B58000002ssinEAA
                    targetType: ListView
                contentMediaType: application/json;charset=UTF-8
              example:
                accessCount: 1
                iconColor: 5867E8
                iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                id: 0MV4H0000004qIeWAI
                lastAccessDate: '2023-10-06T10:03:32.000Z'
                name: AllAccountsListView
                objectType: Account
                sortOrder: 1
                subtitle: Accounts
                target: 00B58000002ssinEAA
                targetType: ListView
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Favorite
      summary: Salesforce Update a Favorite
      description: Update a Favorite
      operationId: UpdateaFavorite
      parameters:
      - name: FAVORITE_ID
        in: path
        description: The ID of a favorite
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateaFavoriteRequest'
              - examples:
                - name: Red Accounts
                  sortOrder: 1
              contentMediaType: application/json
            example:
              name: Red Accounts
              sortOrder: 1
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 06 Oct 2023 10:06:33 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/UpdateaFavorite'
                - examples:
                  - accessCount: 1
                    iconColor: 5867E8
                    iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                    id: 0MV4H0000004qIeWAI
                    lastAccessDate: '2023-10-06T10:03:32.000Z'
                    name: AllAccountsListViewFavoriteRenamed
                    objectType: Account
                    sortOrder: 1
                    subtitle: Accounts
                    target: 00B58000002ssinEAA
                    targetType: ListView
                contentMediaType: application/json;charset=UTF-8
              example:
                accessCount: 1
                iconColor: 5867E8
                iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                id: 0MV4H0000004qIeWAI
                lastAccessDate: '2023-10-06T10:03:32.000Z'
                name: AllAccountsListViewFavoriteRenamed
                objectType: Account
                sortOrder: 1
                subtitle: Accounts
                target: 00B58000002ssinEAA
                targetType: ListView
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/ui-api/favorites/{FAVORITE_ID}/usage:
    parameters: []
    patch:
      tags:
      - Favorite
      summary: Salesforce Update Usage of a Favorite
      description: Update the usage of an individual favorite, for example, the last time and number of times the favorite was clicked.
      operationId: UpdateUsageofaFavorite
      parameters:
      - name: FAVORITE_ID
        in: path
        description: The ID of a favorite
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Fri, 06 Oct 2023 10:09:03 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/UpdateUsageofaFavorite'
                - examples:
                  - accessCount: 2
                    iconColor: 5867E8
                    iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                    id: 0MV4H0000004qIeWAI
                    lastAccessDate: '2023-10-06T10:09:03.304Z'
                    name: RenamedAllAcountsListView
                    objectType: Account
                    sortOrder: 1
                    subtitle: Accounts
                    target: 00B58000002ssinEAA
                    targetType: ListView
                contentMediaType: application/json;charset=UTF-8
              example:
                accessCount: 2
                iconColor: 5867E8
                iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
                id: 0MV4H0000004qIeWAI
                lastAccessDate: '2023-10-06T10:09:03.304Z'
                name: RenamedAllAcountsListView
                objectType: Account
                sortOrder: 1
                subtitle: Accounts
                target: 00B58000002ssinEAA
                targetType: ListView
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UpdateaFavoriteRequest:
      title: UpdateaFavoriteRequest
      required:
      - name
      - sortOrder
      type: object
      properties:
        name:
          type: string
          example: Example Title
        sortOrder:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - name: Red Accounts
        sortOrder: 1
    GetaFavorite:
      title: GetaFavorite
      required:
      - accessCount
      - iconColor
      - iconUrl
      - id
      - lastAccessDate
      - name
      - objectType
      - sortOrder
      - subtitle
      - target
      - targetType
      type: object
      properties:
        accessCount:
          type: integer
          contentEncoding: int32
          example: 42
        iconColor:
          type: string
          example: example_value
        iconUrl:
          type: string
          example: https://www.example.com
        id:
          type: string
          example: abc123
        lastAccessDate:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        objectType:
          type: string
          example: example_value
        sortOrder:
          type: integer
          contentEncoding: int32
          example: 10
        subtitle:
          type: string
          example: example_value
        target:
          type: string
          example: example_value
        targetType:
          type: string
          example: example_value
      examples:
      - accessCount: 1
        iconColor: 5867E8
        iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
        id: 0MV4H0000004qIeWAI
        lastAccessDate: '2023-10-06T10:03:32.000Z'
        name: AllAccountsListView
        objectType: Account
        sortOrder: 1
        subtitle: Accounts
        target: 00B58000002ssinEAA
        targetType: ListView
    UpdateUsageofaFavorite:
      title: UpdateUsageofaFavorite
      required:
      - accessCount
      - iconColor
      - iconUrl
      - id
      - lastAccessDate
      - name
      - objectType
      - sortOrder
      - subtitle
      - target
      - targetType
      type: object
      properties:
        accessCount:
          type: integer
          contentEncoding: int32
          example: 42
        iconColor:
          type: string
          example: example_value
        iconUrl:
          type: string
          example: https://www.example.com
        id:
          type: string
          example: abc123
        lastAccessDate:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        objectType:
          type: string
          example: example_value
        sortOrder:
          type: integer
          contentEncoding: int32
          example: 10
        subtitle:
          type: string
          example: example_value
        target:
          type: string
          example: example_value
        targetType:
          type: string
          example: example_value
      examples:
      - accessCount: 2
        iconColor: 5867E8
        iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
        id: 0MV4H0000004qIeWAI
        lastAccessDate: '2023-10-06T10:09:03.304Z'
        name: RenamedAllAcountsListView
        objectType: Account
        sortOrder: 1
        subtitle: Accounts
        target: 00B58000002ssinEAA
        targetType: ListView
    UpdateaFavorite:
      title: UpdateaFavorite
      required:
      - accessCount
      - iconColor
      - iconUrl
      - id
      - lastAccessDate
      - name
      - objectType
      - sortOrder
      - subtitle
      - target
      - targetType
      type: object
      properties:
        accessCount:
          type: integer
          contentEncoding: int32
          example: 42
        iconColor:
          type: string
          example: example_value
        iconUrl:
          type: string
          example: https://www.example.com
        id:
          type: string
          example: abc123
        lastAccessDate:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        objectType:
          type: string
          example: example_value
        sortOrder:
          type: integer
          contentEncoding: int32
          example: 10
        subtitle:
          type: string
          example: example_value
        target:
          type: string
          example: example_value
        targetType:
          type: string
          example: example_value
      examples:
      - accessCount: 1
        iconColor: 5867E8
        iconUrl: https://pozil-dev-ed.my.salesforce.com/img/icon/t4v35/standard/account_120.png
        id: 0MV4H0000004qIeWAI
        lastAccessDate: '2023-10-06T10:03:32.000Z'
        name: AllAccountsListViewFavoriteRenamed
        objectType: Account
        sortOrder: 1
        subtitle: Accounts
        target: 00B58000002ssinEAA
        targetType: ListView
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
