openapi: 3.2.0
info:
  title: Salesforce Requests API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Requests
paths:
  /data/v64.0/async/specifications/oas3:
    parameters: []
    post:
      tags:
      - Requests
      summary: Salesforce Request Openapi Schema
      description: Requests an Open API document for the selected SObject REST API resources.
      operationId: RequestOpenAPISchema
      parameters: []
      requestBody:
        description: ''
        content:
          text/plain:
            schema:
              type: string
              examples:
              - "{\n    \"resources\": [\n        YOUR_SOBJECT_SELECTORS\n    ]\n}"
              contentMediaType: text/plain
            example: "{\n    \"resources\": [\n        YOUR_SOBJECT_SELECTORS\n    ]\n}"
        required: true
      responses:
        '202':
          description: Accepted
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 26 Feb 2024 13:50:18 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=9/15000
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/GenerateOpenAPISchema'
                - examples:
                  - href: /v59.0/async/specifications/oas3/NTByNEgwMDAwMDAwMDAx
                contentMediaType: application/json;charset=UTF-8
              example:
                href: /v59.0/async/specifications/oas3/NTByNEgwMDAwMDAwMDAx
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GenerateOpenAPISchema:
      title: GenerateOpenAPISchema
      required:
      - href
      type: object
      properties:
        href:
          type: string
          example: example_value
      examples:
      - href: /v59.0/async/specifications/oas3/NTByNEgwMDAwMDAwMDAx
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
