openapi: 3.2.0
info:
  title: Salesforce Abort API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Abort
paths:
  /data/v64.0/jobs/query/:
    parameters: []
    patch:
      tags:
      - Abort
      summary: Salesforce Abort a Job Query
      operationId: AbortaJobQuery
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AbortaJobQueryRequest'
              - examples:
                - state: Aborted
              contentMediaType: application/json
            example:
              state: Aborted
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 15:10:26 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=29/15000
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/AbortaJobQuery'
                - examples:
                  - id: 750...
                    operation: query
                    object: Account
                    createdById: 005...
                    createdDate: <datetime>
                    systemModstamp: <datetime>
                    state: Aborted
                    concurrencyMode: Parallel
                    contentType: CSV
                    apiVersion: 58
                contentMediaType: application/json;charset=UTF-8
              example:
                id: 750...
                operation: query
                object: Account
                createdById: 005...
                createdDate: <datetime>
                systemModstamp: <datetime>
                state: Aborted
                concurrencyMode: Parallel
                contentType: CSV
                apiVersion: 58
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data/v64.0/jobs/ingest/:
    parameters: []
    patch:
      tags:
      - Abort
      summary: Salesforce Close or Abort a Job
      operationId: CloseorAbortaJob
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CloseorAbortaJobRequest'
              - examples:
                - state: UploadComplete
              contentMediaType: application/json
            example:
              state: UploadComplete
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 20 Nov 2023 15:00:44 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Sforce-Limit-Info:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: api-usage=2/15000
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/SuccessfulCloseorAbortaJob'
                - examples:
                  - id: 750...
                    operation: insert
                    object: Account
                    createdById: 005...
                    createdDate: <datetime>
                    systemModstamp: <datetime>
                    state: UploadComplete
                    concurrencyMode: Parallel
                    contentType: CSV
                    apiVersion: 58
                contentMediaType: application/json;charset=UTF-8
              example:
                id: 750...
                operation: insert
                object: Account
                createdById: 005...
                createdDate: <datetime>
                systemModstamp: <datetime>
                state: UploadComplete
                concurrencyMode: Parallel
                contentType: CSV
                apiVersion: 58
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AbortaJobQuery:
      title: AbortaJobQuery
      required:
      - id
      - operation
      - object
      - createdById
      - createdDate
      - systemModstamp
      - state
      - concurrencyMode
      - contentType
      - apiVersion
      type: object
      properties:
        id:
          type: string
          example: abc123
        operation:
          type: string
          example: example_value
        object:
          type: string
          example: example_value
        createdById:
          type: string
          example: '500123'
        createdDate:
          type: string
          example: example_value
        systemModstamp:
          type: string
          example: example_value
        state:
          type: string
          example: example_value
        concurrencyMode:
          type: string
          example: example_value
        contentType:
          type: string
          example: example_value
        apiVersion:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - id: 750...
        operation: query
        object: Account
        createdById: 005...
        createdDate: <datetime>
        systemModstamp: <datetime>
        state: Aborted
        concurrencyMode: Parallel
        contentType: CSV
        apiVersion: 58
    SuccessfulCloseorAbortaJob:
      title: SuccessfulCloseorAbortaJob
      required:
      - id
      - operation
      - object
      - createdById
      - createdDate
      - systemModstamp
      - state
      - concurrencyMode
      - contentType
      - apiVersion
      type: object
      properties:
        id:
          type: string
          example: abc123
        operation:
          type: string
          example: example_value
        object:
          type: string
          example: example_value
        createdById:
          type: string
          example: '500123'
        createdDate:
          type: string
          example: example_value
        systemModstamp:
          type: string
          example: example_value
        state:
          type: string
          example: example_value
        concurrencyMode:
          type: string
          example: example_value
        contentType:
          type: string
          example: example_value
        apiVersion:
          type: integer
          contentEncoding: int32
          example: 10
      examples:
      - id: 750...
        operation: insert
        object: Account
        createdById: 005...
        createdDate: <datetime>
        systemModstamp: <datetime>
        state: UploadComplete
        concurrencyMode: Parallel
        contentType: CSV
        apiVersion: 58
    AbortaJobQueryRequest:
      title: AbortaJobQueryRequest
      required:
      - state
      type: object
      properties:
        state:
          type: string
          example: example_value
      examples:
      - state: Aborted
    CloseorAbortaJobRequest:
      title: CloseorAbortaJobRequest
      required:
      - state
      type: object
      properties:
        state:
          type: string
          example: example_value
      examples:
      - state: UploadComplete
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
