openapi: 3.2.0
info:
  title: Salesforce Client API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Client
paths:
  /services/oauth2/register:
    parameters: []
    post:
      tags:
      - Client
      summary: Salesforce Openid Connect Dynamic Client Registration Endpoint
      operationId: OpenIDConnectDynamicClientRegistrationEndpoint
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - application/json
        example: example_value
      - name: Authorization
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - Bearer {{init_access_token}}
        example: example_value
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OpenIDConnectDynamicClientRegistrationEndpointRequest'
              - examples:
                - redirect_uris:
                  - http://localhost
                  response_types:
                  - code
                  - token
                  - id_token
                  grant_types:
                  - authorization_code
                  - implicit
                  - refresh_token
                  application_type: web
                  contacts:
                  - abc@sf.com
                  - ve7jtb@example.org
                  client_name: Example Olivier
              contentMediaType: application/json
            example:
              redirect_uris:
              - http://localhost
              response_types:
              - code
              - token
              - id_token
              grant_types:
              - authorization_code
              - implicit
              - refresh_token
              application_type: web
              contacts:
              - abc@sf.com
              - ve7jtb@example.org
              client_name: Example Olivier
        required: true
      responses:
        '201':
          description: Created
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 16 Nov 2023 16:04:08 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Expires:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Thu, 01 Jan 1970 00:00:00 GMT
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                type: string
                examples:
                - "{\n    \"client_id\": \"<client_id>\",\n    \"client_secret\": \"<client_secret>\",\n    \"registration_access_token\": \"<token>\",\n    \"registration_client_uri\": \"https://login.salesforce.com/services/oauth2/register/<client_id>\",\n    \"client_id_issued_at\": <timestamp>,\n    \"client_secret_expires_at\": 0,\n    \"token_endpoint_auth_method\": \"client_secret_post\",\n    \"redirect_uris\": [\n        \"http://localhost\"\n    ],\n    \"response_types\": [\n        \"code\",\n        \"token\",\n        \"id_token\"\n    ],\n    \"grant_types\": [\n        \"authorization_code\",\n        \"hybrid_auth_code\",\n        \"implicit\",\n        \"refresh_token\"\n    ],\n    \"contacts\": [\n        \"abc@sf.com\"\n    ],\n    \"client_name\": \"Sample Customer\",\n    \"scopes\": [\n        \"openid\",\n        \"refresh_token\",\n        \"id\",\n        \"api\"\n    ]\n}"
                contentMediaType: application/json;charset=UTF-8
              example: "{\n    \"client_id\": \"<client_id>\",\n    \"client_secret\": \"<client_secret>\",\n    \"registration_access_token\": \"<token>\",\n    \"registration_client_uri\": \"https://login.salesforce.com/services/oauth2/register/<client_id>\",\n    \"client_id_issued_at\": <timestamp>,\n    \"client_secret_expires_at\": 0,\n    \"token_endpoint_auth_method\": \"client_secret_post\",\n    \"redirect_uris\": [\n        \"http://localhost\"\n    ],\n    \"response_types\": [\n        \"code\",\n        \"token\",\n        \"id_token\"\n    ],\n    \"grant_types\": [\n        \"authorization_code\",\n        \"hybrid_auth_code\",\n        \"implicit\",\n        \"refresh_token\"\n    ],\n    \"contacts\": [\n        \"abc@sf.com\"\n    ],\n    \"client_name\": \"Sample Customer\",\n    \"scopes\": [\n        \"openid\",\n        \"refresh_token\",\n        \"id\",\n        \"api\"\n    ]\n}"
      deprecated: false
      security: []
      servers:
      - url: https://login.salesforce.com
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OpenIDConnectDynamicClientRegistrationEndpointRequest:
      title: OpenIDConnectDynamicClientRegistrationEndpointRequest
      required:
      - redirect_uris
      - response_types
      - grant_types
      - application_type
      - contacts
      - client_name
      type: object
      properties:
        redirect_uris:
          type: array
          items:
            type: string
          description: ''
          example: []
        response_types:
          type: array
          items:
            type: string
          description: ''
          example: []
        grant_types:
          type: array
          items:
            type: string
          description: ''
          example: []
        application_type:
          type: string
          example: example_value
        contacts:
          type: array
          items:
            type: string
          description: ''
          example: []
        client_name:
          type: string
          example: example_value
      examples:
      - redirect_uris:
        - http://localhost
        response_types:
        - code
        - token
        - id_token
        grant_types:
        - authorization_code
        - implicit
        - refresh_token
        application_type: web
        contacts:
        - abc@sf.com
        - ve7jtb@example.org
        client_name: Example Olivier
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
