openapi: 3.2.0
info:
  title: Salesforce Clone API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Clone
paths:
  /data/v64.0/ui-api/record-defaults/clone/{RECORD_ID}:
    parameters: []
    get:
      tags:
      - Clone
      summary: Salesforce Get Default Values to Clone a Record
      description: 'Get the default layout information, object information, and data for cloning a record. After getting the default values, make a request to POST /ui-api/records to create the record.

        The response contains the default field values for a record cloned from the record specified in <RECORD_ID>, optionally of the specified recordTypeId.


        It also contains the corresponding layout information for edit mode. In the Salesforce user interface, an admin with “Customize Application” permission can mark a field as required in a layout. When you’re building UI, to determine which fields to mark as required in a layout for edit mode, use the RecordLayoutItem.required property.


        The response contains object metadata for the object type of the record specified in <RECORD_ID> and for any nested objects. For example, /ui-api/record-defaults/clone/001d000000AtfRIAAZ is a request to clone an Account record. It returns object metadata for Account and User, because the OwnerId field on the Account object contains a reference to the User object.'
      operationId: GetDefaultValuestoCloneaRecord
      parameters:
      - name: RECORD_ID
        in: path
        description: Record ID
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Wed, 27 Sep 2023 16:01:45 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: 1; mode=block
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GetDefaultValuestoCloneaRecord'
              examples:
                Getdefaultvaluestoclonearecord200Example:
                  summary: Default GetDefaultValuestoCloneaRecord 200 response
                  x-microcks-default: true
                  value:
                    layout:
                      eTag: example_value
                      id: abc123
                      layoutType: example_value
                      mode: example_value
                      objectApiName: example_value
                      recordTypeId: '500123'
                      saveOptions:
                      - {}
                      sections:
                      - {}
                    objectInfos: {}
                    record:
                      apiName: example_value
                      childRelationships: example_value
                      eTag: example_value
                      id: abc123
                      lastModifiedById: '500123'
                      lastModifiedDate: example_value
                      recordTypeId: '500123'
                      recordTypeInfo: example_value
                      systemModstamp: example_value
                      weakEtag: 10
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ShippingLatitude1:
      title: ShippingLatitude1
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type: string
          example: example_value
        compoundFieldName:
          type: string
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: ShippingLatitude
        calculated: false
        compound: false
        compoundComponentName: Latitude
        compoundFieldName: ShippingAddress
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Double
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Shipping Latitude
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 18
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 15
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: true
    UserPermissionsSiteforceContributorUser:
      title: UserPermissionsSiteforceContributorUser
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: UserPermissionsSiteforceContributorUser
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Site.com Contributor User
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: false
        unique: false
        updateable: true
    UserPermissionsWorkDotComUserFeature:
      title: UserPermissionsWorkDotComUserFeature
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: UserPermissionsWorkDotComUserFeature
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: WDC User
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: false
        unique: false
        updateable: true
    CreatedById2:
      title: CreatedById2
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceToInfo'
          description: ''
          example: []
        relationshipName:
          type: string
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: CreatedById
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: Reference
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Created By ID
        length: 18
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: true
        referenceTargetField: null
        referenceToInfos:
        - apiName: User
          nameFields:
          - FirstName
          - LastName
          - Name
        relationshipName: CreatedBy
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    IsExtIndicatorVisible:
      title: IsExtIndicatorVisible
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: IsExtIndicatorVisible
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Show external indicator
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    UserPreferencesShowPostalCodeToExternalUsers:
      title: UserPreferencesShowPostalCodeToExternalUsers
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: UserPreferencesShowPostalCodeToExternalUsers
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: ShowPostalCodeToExternalUsers
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: false
        unique: false
        updateable: true
    JigsawCompanyId1:
      title: JigsawCompanyId1
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type: string
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: JigsawCompanyId
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: String
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Jigsaw Company ID
        length: 20
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: JigsawCompany
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    UserPreferencesReverseOpenActivitiesView:
      title: UserPreferencesReverseOpenActivitiesView
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: UserPreferencesReverseOpenActivitiesView
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: ReverseOpenActivitiesView
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: false
        unique: false
        updateable: true
    MediumBannerPhotoUrl:
      title: MediumBannerPhotoUrl
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: MediumBannerPhotoUrl
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: Url
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Url for Android banner photo
        length: 1024
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    BadgeText:
      title: BadgeText
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: BadgeText
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: String
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: User Photo badge text overlay
        length: 80
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    OutOfOfficeMessage:
      title: OutOfOfficeMessage
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: OutOfOfficeMessage
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: String
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Out of office message
        length: 40
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    LastPasswordChangeDate:
      title: LastPasswordChangeDate
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: LastPasswordChangeDate
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: DateTime
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Last Password Change or Reset
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    ContactId:
      title: ContactId
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceToInfo'
          description: ''
          example: []
        relationshipName:
          type: string
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: ContactId
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Reference
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Contact ID
        length: 18
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: true
        referenceTargetField: null
        referenceToInfos:
        - apiName: Contact
          nameFields:
          - FirstName
          - LastName
          - Name
        relationshipName: Contact
        required: false
        scale: 0
        searchPrefilterable: true
        sortable: true
        unique: false
        updateable: true
    FirstName1:
      title: FirstName1
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type: string
          example: example_value
        compoundFieldName:
          type: string
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type: string
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: FirstName
        calculated: false
        compound: false
        compoundComponentName: FirstName
        compoundFieldName: Name
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: String
        extraTypeInfo: PersonName
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: First Name
        length: 40
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: true
    Website1:
      title: Website1
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: Website
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Url
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Website
        length: 255
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: true
    BannerPhotoId:
      title: BannerPhotoId
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceToInfo'
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: BannerPhotoId
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: false
        custom: false
        dataType: Reference
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Photo ID
        length: 18
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: true
        referenceTargetField: null
        referenceToInfos:
        - apiName: Photo
          nameFields: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: false
    UserPreferencesHasCelebrationBadge:
      title: UserPreferencesHasCelebrationBadge
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: UserPreferencesHasCelebrationBadge
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: HasCelebrationBadge
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: false
        unique: false
        updateable: true
    BillingCountry1:
      title: BillingCountry1
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type: string
          example: example_value
        compoundFieldName:
          type: string
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: BillingCountry
        calculated: false
        compound: false
        compoundComponentName: Country
        compoundFieldName: BillingAddress
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: String
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Billing Country
        length: 80
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: true
    Industry2:
      title: Industry2
      required:
      - displayValue
      - value
      type: object
      properties:
        displayValue:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
      examples:
      - displayValue: Agriculture
        value: Agriculture
    YearStarted1:
      title: YearStarted1
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: YearStarted
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: String
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: Year Started
        length: 4
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: false
        scale: 0
        searchPrefilterable: false
        sortable: true
        unique: false
        updateable: true
    UserPreferencesHideMailAppEAPUserGuidance:
      title: UserPreferencesHideMailAppEAPUserGuidance
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: UserPreferencesHideMailAppEAPUserGuidance
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: HideMailAppEAPUserGuidance
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: false
        unique: false
        updateable: true
    UserPreferencesApexPagesDeveloperMode:
      title: UserPreferencesApexPagesDeveloperMode
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
          type: boolean
          example: true
        htmlFormatted:
          type: boolean
          example: true
        inlineHelpText:
          type:
          - string
          - 'null'
          example: example_value
        label:
          type: string
          example: Example Title
        length:
          type: integer
          contentEncoding: int32
          example: 10
        nameField:
          type: boolean
          example: true
        polymorphicForeignKey:
          type: boolean
          example: true
        precision:
          type: integer
          contentEncoding: int32
          example: 10
        reference:
          type: boolean
          example: true
        referenceTargetField:
          type:
          - string
          - 'null'
          example: example_value
        referenceToInfos:
          type: array
          items:
            type: string
          description: ''
          example: []
        relationshipName:
          type:
          - string
          - 'null'
          example: example_value
        required:
          type: boolean
          example: true
        scale:
          type: integer
          contentEncoding: int32
          example: 10
        searchPrefilterable:
          type: boolean
          example: true
        sortable:
          type: boolean
          example: true
        unique:
          type: boolean
          example: true
        updateable:
          type: boolean
          example: true
      examples:
      - apiName: UserPreferencesApexPagesDeveloperMode
        calculated: false
        compound: false
        compoundComponentName: null
        compoundFieldName: null
        controllerName: null
        controllingFields: []
        createable: true
        custom: false
        dataType: Boolean
        extraTypeInfo: null
        filterable: true
        filteredLookupInfo: null
        highScaleNumber: false
        htmlFormatted: false
        inlineHelpText: null
        label: ApexPagesDeveloperMode
        length: 0
        nameField: false
        polymorphicForeignKey: false
        precision: 0
        reference: false
        referenceTargetField: null
        referenceToInfos: []
        relationshipName: null
        required: true
        scale: 0
        searchPrefilterable: false
        sortable: false
        unique: false
        updateable: true
    MasterRecordId2:
      title: MasterRecordId2
      required:
      - apiName
      - calculated
      - compound
      - compoundComponentName
      - compoundFieldName
      - controllerName
      - controllingFields
      - createable
      - custom
      - dataType
      - extraTypeInfo
      - filterable
      - filteredLookupInfo
      - highScaleNumber
      - htmlFormatted
      - inlineHelpText
      - label
      - length
      - nameField
      - polymorphicForeignKey
      - precision
      - reference
      - referenceTargetField
      - referenceToInfos
      - relationshipName
      - required
      - scale
      - searchPrefilterable
      - sortable
      - unique
      - updateable
      type: object
      properties:
        apiName:
          type: string
          example: example_value
        calculated:
          type: boolean
          example: true
        compound:
          type: boolean
          example: true
        compoundComponentName:
          type:
          - string
          - 'null'
          example: example_value
        compoundFieldName:
          type:
          - string
          - 'null'
          example: example_value
        controllerName:
          type:
          - string
          - 'null'
          example: example_value
        controllingFields:
          type: array
          items:
            type: string
          description: ''
          example: []
        createable:
          type: boolean
          example: true
        custom:
          type: boolean
          example: true
        dataType:
          type: string
          example: example_value
        extraTypeInfo:
          type:
          - string
          - 'null'
          example: example_value
        filterable:
          type: boolean
          example: true
        filteredLookupInfo:
          type:
          - string
          - 'null'
          example: example_value
        highScaleNumber:
[...]
