openapi: 3.2.0
info:
  title: Salesforce Summaries API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Summaries
paths:
  /data/v64.0/loyalty/programs/{loyaltyProgramName}/members/{membershipNumber}/transaction-ledger-summary:
    parameters: []
    get:
      tags:
      - Summaries
      summary: Salesforce Transaction Ledger Summary
      description: 'Standard Documentation:


        [https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_transaction_ledger.htm](https://developer.salesforce.com/docs/atlas.en-us.loyalty.meta/loyalty/connect_resources_transaction_ledger.htm)'
      operationId: TransactionLedgerSummary
      parameters:
      - name: loyaltyProgramName
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      - name: membershipNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Mon, 27 May 2024 19:37:52 GMT
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: max-age=63072000; includeSubDomains
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: nosniff
            X-Robots-Tag:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: none
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: no-cache,must-revalidate,max-age=0,no-store,private
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: gzip
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    contentMediaType: text/plain
                  example: chunked
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/TransactionLedgerSummary'
                - examples:
                  - message: null
                    status: true
                    transactionJournalCount: 1
                    transactionJournals:
                    - activityDate: '2021-01-01T04:05:05.000Z'
                      additionalTransactionJournalAttributes: []
                      journalSubTypeName: Member Enrollment
                      journalTypeName: Accrual
                      pointsChange: []
                      transactionJournalId: 0lVJ8000000GmaEMAS
                      transactionJournalNumber: 00000008
                contentMediaType: application/json;charset=UTF-8
              example:
                message: null
                status: true
                transactionJournalCount: 1
                transactionJournals:
                - activityDate: '2021-01-01T04:05:05.000Z'
                  additionalTransactionJournalAttributes: []
                  journalSubTypeName: Member Enrollment
                  journalTypeName: Accrual
                  pointsChange: []
                  transactionJournalId: 0lVJ8000000GmaEMAS
                  transactionJournalNumber: 00000008
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TransactionJournal2:
      title: TransactionJournal2
      required:
      - activityDate
      - additionalTransactionJournalAttributes
      - journalSubTypeName
      - journalTypeName
      - pointsChange
      - transactionJournalId
      - transactionJournalNumber
      type: object
      properties:
        activityDate:
          type: string
          example: example_value
        additionalTransactionJournalAttributes:
          type: array
          items:
            type: string
          description: ''
          example: []
        journalSubTypeName:
          type: string
          example: example_value
        journalTypeName:
          type: string
          example: example_value
        pointsChange:
          type: array
          items:
            type: string
          description: ''
          example: []
        transactionJournalId:
          type: string
          example: '500123'
        transactionJournalNumber:
          type: string
          example: example_value
      examples:
      - activityDate: '2021-01-01T04:05:05.000Z'
        additionalTransactionJournalAttributes: []
        journalSubTypeName: Member Enrollment
        journalTypeName: Accrual
        pointsChange: []
        transactionJournalId: 0lVJ8000000GmaEMAS
        transactionJournalNumber: 00000008
    TransactionLedgerSummary:
      title: TransactionLedgerSummary
      required:
      - message
      - status
      - transactionJournalCount
      - transactionJournals
      type: object
      properties:
        message:
          type:
          - string
          - 'null'
          example: example_value
        status:
          type: boolean
          example: true
        transactionJournalCount:
          type: integer
          contentEncoding: int32
          example: 42
        transactionJournals:
          type: array
          items:
            $ref: '#/components/schemas/TransactionJournal2'
          description: ''
          example: []
      examples:
      - message: null
        status: true
        transactionJournalCount: 1
        transactionJournals:
        - activityDate: '2021-01-01T04:05:05.000Z'
          additionalTransactionJournalAttributes: []
          journalSubTypeName: Member Enrollment
          journalTypeName: Accrual
          pointsChange: []
          transactionJournalId: 0lVJ8000000GmaEMAS
          transactionJournalNumber: 00000008
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
