openapi: 3.2.0
info:
  title: Salesforce Completion API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Completion
paths:
  /data/v64.0/tooling/completions:
    parameters: []
    get:
      tags:
      - Completion
      summary: Salesforce Tooling Completion
      description: Retrieves available code completions of the referenced type for Apex system method symbols (type=apex). Available from API version 28.0 or later.
      operationId: ToolingCompletion
      parameters:
      - name: type
        in: query
        description: apex or visualforce
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: example_value
      - name: Accept
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - application/json
        example: example_value
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
