openapi: 3.2.0
info:
  title: Salesforce Call API
  description: 'Find the resources you need to start building. '
  contact: {}
  version: '1.0'
servers:
- url: https://login.salesforce.com
  variables: {}
- url: https://id
  variables: {}
- url: https://services
  variables: {}
- url: '{{url}}{{site}}/services/oauth2'
  variables:
    url:
      default: DefaultParameterValue
    site:
      default: DefaultParameterValue
security:
- oauth2:
  - api
tags:
- name: Call
paths:
  /Soap/u/64.0:
    parameters: []
    post:
      tags:
      - Call
      summary: Salesforce Publish Multiple Events With Soap Call
      operationId: PublishmultipleeventswithSOAPcall
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        schema:
          const: text/xml
          type: string
          examples:
          - text/xml
        example: example_value
      - name: charset
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - UTF-8
        example: example_value
      - name: SOAPAction
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - create
        example: example_value
      - name: Accept
        in: header
        description: ''
        required: true
        schema:
          type: string
          examples:
          - text/xml
        example: example_value
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              allOf:
              - $ref: '#/components/schemas/Envelope'
              - xml:
                  name: Envelope
                  attribute: false
                  wrapped: false
                examples:
                - "<Envelope>\n\n  <SOAP-ENV:Header xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\n    <ns2:SessionHeader xmlns:ns2=\"urn:partner.soap.sforce.com\">\n\n      <ns2:sessionId></ns2:sessionId>\n\n    </ns2:SessionHeader>\n\n  </SOAP-ENV:Header>\n\n  <SOAP-ENV:Body xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\n    <ns2:create xmlns:ns2=\"urn:partner.soap.sforce.com\">\n\n      <ns2:sObjects>\n\n        <ns1:type xmlns:ns1=\"urn:sobject.partner.soap.sforce.com\">Carbon_Comparison__e</ns1:type>\n\n        <Annual_Mileage__c>12000</Annual_Mileage__c>\n\n        <Current_Vehicle__c>Fast car 1</Current_Vehicle__c>\n\n        <Model_Year__c>2019</Model_Year__c>\n\n      </ns2:sObjects>\n\n      <ns2:sObjects>\n\n        <ns1:type xmlns:ns1=\"urn:sobject.partner.soap.sforce.com\">Carbon_Comparison__e</ns1:type>\n\n        <Annual_Mileage__c>12000</Annual_Mileage__c>\n\n        <Current_Vehicle__c>Fast car 2</Current_Vehicle__c>\n\n        <Model_Year__c>2019</Model_Year__c>\n\n      </ns2:sObjects>\n\n    </ns2:create>\n\n  </SOAP-ENV:Body>\n\n</Envelope>"
              contentMediaType: application/xml
            example: "<Envelope>\n\n  <SOAP-ENV:Header xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\n    <ns2:SessionHeader xmlns:ns2=\"urn:partner.soap.sforce.com\">\n\n      <ns2:sessionId></ns2:sessionId>\n\n    </ns2:SessionHeader>\n\n  </SOAP-ENV:Header>\n\n  <SOAP-ENV:Body xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\n    <ns2:create xmlns:ns2=\"urn:partner.soap.sforce.com\">\n\n      <ns2:sObjects>\n\n        <ns1:type xmlns:ns1=\"urn:sobject.partner.soap.sforce.com\">Carbon_Comparison__e</ns1:type>\n\n        <Annual_Mileage__c>12000</Annual_Mileage__c>\n\n        <Current_Vehicle__c>Fast car 1</Current_Vehicle__c>\n\n        <Model_Year__c>2019</Model_Year__c>\n\n      </ns2:sObjects>\n\n      <ns2:sObjects>\n\n        <ns1:type xmlns:ns1=\"urn:sobject.partner.soap.sforce.com\">Carbon_Comparison__e</ns1:type>\n\n        <Annual_Mileage__c>12000</Annual_Mileage__c>\n\n        <Current_Vehicle__c>Fast car 2</Current_Vehicle__c>\n\n        <Model_Year__c>2019</Model_Year__c>\n\n      </ns2:sObjects>\n\n    </ns2:create>\n\n  </SOAP-ENV:Body>\n\n</Envelope>"
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: https://services
        variables: {}
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Header4:
      title: Header4
      required:
      - SessionHeader
      type: object
      properties:
        SessionHeader:
          allOf:
          - $ref: '#/components/schemas/SessionHeader'
          - xml:
              name: SessionHeader
              namespace: urn:partner.soap.sforce.com
              prefix: ns2
              attribute: false
              wrapped: false
          example: example_value
      xml:
        name: Header
        namespace: http://schemas.xmlsoap.org/soap/envelope/
        prefix: SOAP-ENV
        attribute: false
        wrapped: false
    Body16:
      title: Body16
      required:
      - create
      type: object
      properties:
        create:
          allOf:
          - $ref: '#/components/schemas/create'
          - xml:
              name: create
              namespace: urn:partner.soap.sforce.com
              prefix: ns2
              attribute: false
              wrapped: false
          example: example_value
      xml:
        name: Body
        namespace: http://schemas.xmlsoap.org/soap/envelope/
        prefix: SOAP-ENV
        attribute: false
        wrapped: false
    sObjects:
      title: sObjects
      required:
      - type
      - Annual_Mileage__c
      - Current_Vehicle__c
      - Model_Year__c
      type: object
      properties:
        type:
          type: string
          xml:
            name: type
            namespace: urn:sobject.partner.soap.sforce.com
            prefix: ns1
            attribute: false
            wrapped: false
          example: example_value
        Annual_Mileage__c:
          type: integer
          contentEncoding: int32
          xml:
            name: Annual_Mileage__c
            namespace: ''
            attribute: false
            wrapped: false
          example: 10
        Current_Vehicle__c:
          type: string
          xml:
            name: Current_Vehicle__c
            namespace: ''
            attribute: false
            wrapped: false
          example: example_value
        Model_Year__c:
          type: integer
          contentEncoding: int32
          xml:
            name: Model_Year__c
            namespace: ''
            attribute: false
            wrapped: false
          example: 10
      xml:
        name: sObjects
        namespace: urn:partner.soap.sforce.com
        prefix: ns2
        attribute: false
        wrapped: false
    create:
      title: create
      required:
      - sObjects
      type: object
      properties:
        sObjects:
          type: array
          items:
            $ref: '#/components/schemas/sObjects'
          description: ''
          xml:
            namespace: urn:partner.soap.sforce.com
            prefix: ns2
            attribute: false
            wrapped: false
          example: []
      xml:
        name: create
        namespace: urn:partner.soap.sforce.com
        prefix: ns2
        attribute: false
        wrapped: false
    SessionHeader:
      title: SessionHeader
      required:
      - sessionId
      type: object
      properties:
        sessionId:
          type: string
          xml:
            name: sessionId
            namespace: urn:partner.soap.sforce.com
            prefix: ns2
            attribute: false
            wrapped: false
          example: '500123'
      xml:
        name: SessionHeader
        namespace: urn:partner.soap.sforce.com
        prefix: ns2
        attribute: false
        wrapped: false
    Envelope:
      title: Envelope
      required:
      - Header
      - Body
      type: object
      properties:
        Header:
          allOf:
          - $ref: '#/components/schemas/Header4'
          - xml:
              name: Header
              namespace: http://schemas.xmlsoap.org/soap/envelope/
              prefix: SOAP-ENV
              attribute: false
              wrapped: false
          example: example_value
        Body:
          allOf:
          - $ref: '#/components/schemas/Body16'
          - xml:
              name: Body
              namespace: http://schemas.xmlsoap.org/soap/envelope/
              prefix: SOAP-ENV
              attribute: false
              wrapped: false
          example: example_value
      xml:
        name: Envelope
        namespace: http://schemas.xmlsoap.org/soap/envelope/
        prefix: SOAP-ENV
        attribute: false
        wrapped: false
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: '{DefaultParameterValue}{DefaultParameterValue}/services/oauth2/authorize'
          scopes:
            api: ''
